/* CSS HEX */
--royal-blue-dark: #142c66ff;
--floral-white: #fffcf2ff;
--pale-silver: #ccc5b9ff;
--flame: #eb5e28ff;
--sinopia: #ba5a31ff;

/* CSS HSL */
--royal-blue-dark: hsla(222, 67%, 24%, 1);
--floral-white: hsla(46, 100%, 97%, 1);
--pale-silver: hsla(38, 16%, 76%, 1);
--flame: hsla(17, 83%, 54%, 1);
--sinopia: hsla(18, 58%, 46%, 1);

/* SCSS HEX */
$royal-blue-dark: #142c66ff;
$floral-white: #fffcf2ff;
$pale-silver: #ccc5b9ff;
$flame: #eb5e28ff;
$sinopia: #ba5a31ff;

/* SCSS HSL */
$royal-blue-dark: hsla(222, 67%, 24%, 1);
$floral-white: hsla(46, 100%, 97%, 1);
$pale-silver: hsla(38, 16%, 76%, 1);
$flame: hsla(17, 83%, 54%, 1);
$sinopia: hsla(18, 58%, 46%, 1);

/* SCSS RGB */
$royal-blue-dark: rgba(20, 44, 102, 1);
$floral-white: rgba(255, 252, 242, 1);
$pale-silver: rgba(204, 197, 185, 1);
$flame: rgba(235, 94, 40, 1);
$sinopia: rgba(186, 90, 49, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #142c66ff,
  #fffcf2ff,
  #ccc5b9ff,
  #eb5e28ff,
  #ba5a31ff
);
$gradient-right: linear-gradient(
  90deg,
  #142c66ff,
  #fffcf2ff,
  #ccc5b9ff,
  #eb5e28ff,
  #ba5a31ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #142c66ff,
  #fffcf2ff,
  #ccc5b9ff,
  #eb5e28ff,
  #ba5a31ff
);
$gradient-left: linear-gradient(
  270deg,
  #142c66ff,
  #fffcf2ff,
  #ccc5b9ff,
  #eb5e28ff,
  #ba5a31ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #142c66ff,
  #fffcf2ff,
  #ccc5b9ff,
  #eb5e28ff,
  #ba5a31ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #142c66ff,
  #fffcf2ff,
  #ccc5b9ff,
  #eb5e28ff,
  #ba5a31ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #142c66ff,
  #fffcf2ff,
  #ccc5b9ff,
  #eb5e28ff,
  #ba5a31ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #142c66ff,
  #fffcf2ff,
  #ccc5b9ff,
  #eb5e28ff,
  #ba5a31ff
);
$gradient-radial: radial-gradient(
  #142c66ff,
  #fffcf2ff,
  #ccc5b9ff,
  #eb5e28ff,
  #ba5a31ff
);
