input[type=number] {
  width: 5em;
  text-align: center;
}

.snowball-chart {
	width: 90%;
	height: 300px;
}

span.input-dollar {
	position: relative;
	left: 20px;
	font-family: Arial;
	font-weight: normal;
	font-size: small;
}

input.input-dollar {
	padding-left: 24px;
}
