@font-face {
	font-family: 'RalewayLight';
	src: url('../fonts/RalewayLight/RalewayLight.eot');
	src: url('../fonts/RalewayLight/RalewayLight.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/RalewayLight/RalewayLight.woff') format('woff'),
		 url('../fonts/RalewayLight/RalewayLight.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'RalewayRegular';
	src: url('../fonts/RalewayRegular/RalewayRegular.eot');
	src: url('../fonts/RalewayRegular/RalewayRegular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/RalewayRegular/RalewayRegular.woff') format('woff'),
		 url('../fonts/RalewayRegular/RalewayRegular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

