/*
Error: File to import not found or unreadable: layout/content.
       Load paths:
         Compass::SpriteImporter
         /Users/miriamtocino/Projects/miriam-tocino/_sass
         /Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets
         /Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass
         /Library/Ruby/Gems/2.0.0/gems/sassy-maps-0.4.0/sass
         /Library/Ruby/Gems/2.0.0/gems/breakpoint-2.5.0/stylesheets
        on line 21 of /Users/miriamtocino/Projects/miriam-tocino/_sass/./main.scss

16: @import "base/type";
17: 
18: // Layout CSS
19: @import "layout/wrapper";
20: @import "layout/header";
21: @import "layout/content";
22: @import "layout/aside";
23: @import "layout/footer";
24: 
25: // Modules CSS
26: 

Backtrace:
/Users/miriamtocino/Projects/miriam-tocino/_sass/./main.scss:21
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/import_node.rb:66:in `rescue in import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/import_node.rb:45:in `import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/import_node.rb:28:in `imported_file'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/import_node.rb:37:in `css_import?'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:301:in `visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `block in with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:115:in `with_frame'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `with_base'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:52:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/root_node.rb:36:in `css_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/engine.rb:268:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.1/lib/compass/sass_compiler.rb:40:in `compile!'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.1/lib/compass/commands/update_project.rb:49:in `perform'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Library/Ruby/Gems/2.0.0/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/miriamtocino/Projects/miriam-tocino/_plugins/generator_scss.rb:23:in `block in generate'
/Users/miriamtocino/Projects/miriam-tocino/_plugins/generator_scss.rb:22:in `chdir'
/Users/miriamtocino/Projects/miriam-tocino/_plugins/generator_scss.rb:22:in `generate'
/Library/Ruby/Gems/2.0.0/gems/jekyll-2.4.0/lib/jekyll/site.rb:251:in `block in generate'
/Library/Ruby/Gems/2.0.0/gems/jekyll-2.4.0/lib/jekyll/site.rb:250:in `each'
/Library/Ruby/Gems/2.0.0/gems/jekyll-2.4.0/lib/jekyll/site.rb:250:in `generate'
/Library/Ruby/Gems/2.0.0/gems/jekyll-2.4.0/lib/jekyll/site.rb:45:in `process'
/Library/Ruby/Gems/2.0.0/gems/jekyll-2.4.0/lib/jekyll/command.rb:28:in `process_site'
/Library/Ruby/Gems/2.0.0/gems/jekyll-watch-1.1.1/lib/jekyll/watcher.rb:41:in `block in listen_handler'
/Library/Ruby/Gems/2.0.0/gems/listen-2.7.9/lib/listen/listener.rb:276:in `call'
/Library/Ruby/Gems/2.0.0/gems/listen-2.7.9/lib/listen/listener.rb:276:in `_process_changes'
/Library/Ruby/Gems/2.0.0/gems/listen-2.7.9/lib/listen/listener.rb:233:in `block in _wait_for_changes'
/Library/Ruby/Gems/2.0.0/gems/listen-2.7.9/lib/listen/listener.rb:216:in `loop'
/Library/Ruby/Gems/2.0.0/gems/listen-2.7.9/lib/listen/listener.rb:216:in `_wait_for_changes'
/Library/Ruby/Gems/2.0.0/gems/listen-2.7.9/lib/listen/listener.rb:312:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: layout/content.\A        Load paths:\A          Compass::SpriteImporter\A          /Users/miriamtocino/Projects/miriam-tocino/_sass\A          /Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets\A          /Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass\A          /Library/Ruby/Gems/2.0.0/gems/sassy-maps-0.4.0/sass\A          /Library/Ruby/Gems/2.0.0/gems/breakpoint-2.5.0/stylesheets\A         on line 21 of /Users/miriamtocino/Projects/miriam-tocino/_sass/./main.scss\A \A 16: @import \"base/type\";\A 17: \A 18: // Layout CSS\A 19: @import \"layout/wrapper\";\A 20: @import \"layout/header\";\A 21: @import \"layout/content\";\A 22: @import \"layout/aside\";\A 23: @import \"layout/footer\";\A 24: \A 25: // Modules CSS\A 26: "; }
