/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.portfolio__item-image {
		display: none;
	}
	.portfolio__item-description {
		font-size: 8px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.filter-items {
		padding: 10px 5px 0;
	}
	.filter-label {
		margin: 0 3px 10px;
	}
	.inside .content {
		padding: 50px 5% 40px;
	}
	.content_header img {
		width: 180px;
		height: 180px;
		margin-bottom: 20px;
	}
	.form_contacts form {
		padding: 15px;
	}
	.portfolio__item-description {
		font-size: 12px;
		padding: 0 15px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.portfolio__item--description {
		font-size: 8px;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
