#spring {
	border: 4px double black;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.measure {
	text-align: center;
}

#springTable {
	width: 500px !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

#springTable td {
	width: 50%;
}
