
//
// IMPORTS
//

@import "_reset";
@import "_variables";
@import "_highlights"; 
// TODO - Tempted to move this to the end of the file, so that it shows up at the end of the .css. Or remove it entirely and find a better way to include highlighting. 

//
// BASE RULES
//

html {
  font-size: 100%;
}

body {
  max-width: 740px;
	margin: 0 auto;
	
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: 500;
  
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;
}
  
h1 {  
  font-weight: 400;
  font-size: 35px;
  @include mobile {
    font-size: 32px;
  }
}

h2 {  
  font-size: 26px;
  @include mobile {
    font-size: 24px;
  }
}

h3 {  
  font-size: 22px;
  @include mobile {
    font-size: 20px;
  }
}

h4 {  
  font-size: 18px;
  font-weight: 600;
}

h5 {  
  font-size: 18px;
  color: $gray;
  font-weight: 600;
}

p {
  margin: 15px 0;
}

a {
  text-decoration: none;
	cursor: pointer;
  color: $blue;
  &:hover, &:active {
    text-decoration: underline;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

img {
  max-width: 100%;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lighterGray;
}
::selection {
  color: $black;
  background: $lighterGray;
}


//
// LAYOUT / SECTIONS
//

//
// .masthead
//

.masthead {
  margin: 20px 0 30px;
  padding-bottom: 20px;
  border-bottom: 1px dotted $lightGray;
}

.avatar {
  float: left;
  width: 70px;

  margin-right: 15px;
  border-radius: 5px;
}

.site-name {
  float: left;

  font-family: $helveticaNeue; 
  font-weight: 300;
  font-size: 31px;
  letter-spacing: 1px;
  @include mobile {
    font-size: 22px;
  }

  text-decoration: none;
  cursor: pointer;
  color: $darkGray;
  &:hover, &:active {
    text-decoration: none;
  }
}

.site-description {
  float: left;
  font-size: 16px;
  margin: 0;
  margin-top: -5px;
}

nav {
  float: right;
  margin-top: -25px; // @TODO - containers for nav and content blocks in header

  font-family: $helveticaNeue; 
  font-size: 18px;
  @include mobile {
    font-size: 18px;
  }

  // nav has it's own link highlighting
  a {
    margin-left: 25px;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
    color: $darkGray;

    &:hover, &:active {
      text-decoration: none;
      cursor: pointer;
      color: $darkGray;
    }
  }
}

.logo, nav {
  @include mobile {
    float: none;
    width: 100%;
    text-align: center;
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lighterGray;
}

.post { 
  blockquote {
    border-left: 2px solid $gray;
    font-size: 22px;
    font-style: italic;
    margin: 1.8em .8em;
    padding: 0.1em 1em;
    color: $gray;
  }
}

footer {
  // border-top: 1px $lightGray solid;
  padding: 20px 0;
}
