
//
// IMPORTS
//

@import "_reset";
@import "_variables";
@import "_highlights"; 
// TODO - Tempted to move this to the end of the file, so that it shows up at the end of the .css. Or remove it entirely and find a better way to include highlighting. 

//
// BASE RULES
//

html {
  font-size: 100%;
}

body {
  max-width: 680px;
	margin: 0 auto;
	
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: 400;
  
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;
}
  
h1 {  
  font-size: 2.2rem;
  @include mobile {
    font-size: 2.2rem;
  }
}

h2 {  
  letter-spacing: 1px;
  font-weight: 300;

  font-size: 1.7rem;
  @include mobile {
    font-size: 1.5rem;
  }
}

h3 {  
  font-weight: 600;

  font-size: 1.2rem;
  @include mobile {
    font-size: 1.2rem;
  }
}

h4 {  
  font-size: 1rem;
  @include mobile {
    font-size: 1rem;
  }
}

p {
  margin: 15px 0;
}

a {
  text-decoration: none;
	cursor: pointer;
  color: $blue;
  &:hover, &:active {
    text-decoration: underline;
  }
}

ul {
  padding-left: 30px;
  list-style-type: disc;
}

img {
  max-width: 100%;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lighterGray;
}
::selection {
  color: $black;
  background: $lighterGray;
}


//
// LAYOUT / SECTIONS
//

.logo {
  float: left;

  a {
    text-decoration: none;
    cursor: pointer;
    color: $darkGray;
    &:hover, &:active {
      color: $blue;
    }
  }
}

.avatar {
  border-radius: 6px;
}

nav {
  float: right;

  font-family: $helveticaNeue; 
  font-size: 1.1rem;
  @include mobile {
    font-size: 1rem;
  }

  // nav has it's own link highlighting
  a {
    margin-left: 25px;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
    color: $gray;

    &:hover, &:active {
      text-decoration: none;
      cursor: pointer;
      color: $darkGray;
      &:hover, &:active {
        color: $blue;
      }
    }
  }
}

.logo, nav {
  @include mobile {
    float: none;
    width: 100%;
    text-align: center;
  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lighterGray;
}

.post { 
  blockquote {
    border-left: 2px solid $gray;
    font-size: 1.2em;
    font-style: italic;
    margin: 1.8em .8em;
    padding: 0.1em 1em;
    color: $gray;
  }
}

footer {
  // border-top: 1px $lightGray solid;
  padding: 1rem 0;
}
