<!-- Navigation Bar -->
<nav id="footer-nav" class="home navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="pull-left text-left">
    </div>
    <div class="pull-right text-right copyright-text">
    </div>
  </div>
</nav>
