<div class="controls">{{!<label>カテゴリー:</label>}}
    <button class="filter btn btn-default" data-filter="all">すべて</button>
    <button class="filter btn btn-default" data-filter=".pfpaper">紙面</button>
    <button class="filter btn btn-default" data-filter=".pflogo">ロゴ</button>
    <button class="filter btn btn-default" data-filter=".pfdessin">デッサン</button>
  <!--<label>順番:</label>-->
  <button class="sort btn btn-default btn-xs" data-sort="myorder:asc">Asc</button>
  <button class="sort btn btn-default btn-xs" data-sort="myorder:desc">Desc</button>
</div>


