/* leny/kouto-swiss
 *
 * /src/stylus/base/code.styl - Base code styles
 *
 * coded by leny@flatLand!
 * started at 26/12/2016
 */

pre
    padding 1rem
    overflow auto
    -webkit-overflow-scrolling touch
    background tint( #fff1cc, 95% )
    border 1px solid shade( #ffe399, 15% )
    border-radius 3px
    font-size 1.2rem
    code
        color #008a67
