/* leny/kouto-swiss
 *
 * /src/stylus/base/root.styl - Root tags
 *
 * coded by leny@flatLand!
 * started at 07/12/2016
 */

html
    background white
    font normal 62.5%/1.33 font-stack( "System" )
