		<footer id="footer" class="universe filled grey">
			<div class="content">
					<div class="filled grey">
					<h5>Credits</h5>
					<h6 class="oswald">Disseny: <a href="http://isardmiralles.com/" target="_blank">Isard Miralles</a></h6>
					<h6 class="oswald">Foto Portada: <a href="http://cristianmartin.tumbl.com/" target="_blank">Cristian Martin</a></h6>
					</div>
			</div>
			<hr>
			<div class="foot content ">
				<h4 class="cinzel"><a href="www.oldsteam.com">www.OldSteam.com</a></h4>
				<p>
					Content created by...
					footer 
				</p>
			</div><!-- /.content -->
		</footer>