$dark-grey: #333;
$light-grey: #e0e0e0;
$white: #ffffff;
$yellow: #febc37;
$pink: #d83751;
$sky: #2eb5fb;
$bg-head: $light-grey;

@mixin mobile {
  @media screen and (max-width: 529px) {
    @content;
  }
}
// Mobile tablet
@mixin tablet {
  @media only screen and (min-width: 530px) and (max-width: 949px) {
    @content;
  }
}
@mixin mobile-small-land {
  @media only screen and (max-width: 529px) and (orientation: landscape) {
    @content;
  }
}
