{% assign google_fonts = site.google_fonts %}
{% capture style_url %}{{ 'assets/css/hydejack-9.1.6.css' | relative_url }}{% endcapture %}
{% capture icons_url %}{{ 'assets/icomoon/style.css' | relative_url }}{% endcapture %}
{% if google_fonts %}
  {% capture fonts_url %}{{ site.google_fonts_url | default:'https://fonts.googleapis.com' }}/css?family={{ google_fonts | uri_escape }}&display=swap{% endcapture %}
{% endif %}

<link rel="preload" as="style" href="{{ style_url }}" id="_stylePreload">
<link rel="preload" as="style" href="{{ icons_url }}" id="_iconsPreload">
{% if google_fonts %}<link rel="preload" as="style" href="{{ fonts_url }}" id="_fontsPreload">{% endif %}

<script>
  setRel('_stylePreload');
  setRel('_iconsPreload');
  /*{% if google_fonts %}*/setRel('_fontsPreload');/*{% endif %}*/
</script>
<noscript>
  <link rel="stylesheet" href="{{ style_url }}">
  <link rel="stylesheet" href="{{ icons_url }}">
  {% if google_fonts %}<link rel="stylesheet" href="{{ fonts_url }}">{% endif %}
</noscript>