/* leny/kouto-swiss
 *
 * /src/stylus/components/about.styl - About Component
 *
 * coded by leny@flatLand!
 * started at 07/12/2016
 */

.about
    display flex
    flex-direction column
    justify-content center
    width 26rem
    &__title
        margin-top 0
        margin-bottom 3rem
        font-size 1.4rem
        color primary
        text-align center
    &__sources
        margin-bottom .5rem
    &__version
        // …
