/* leny/kouto-swiss
 *
 * /src/stylus/components/footer.styl - Footer component
 *
 * coded by leny@flatLand!
 * started at 26/12/2016
 */

.footer
    margin 0 1rem
    border-top .1rem solid primary
    font-style italic

+media-query( screen, min-width 960px )
    .footer
        margin 0
