---
layout: default
---

<div class="container">
  <p class="notice">learning something new everyday</p>
  <ul class="til-lists">
    {% include backToTopButton.html %} {% for post in site.categories.til %}
    <li class="til-list">
      <a href="{{ site.baseurl }}{{ post.url }}"
        >{{ post.title }}
        <ul class="tag">
          {% for tag in post.tags %}
          <li>
            {{ tag }}
          </li>
          {% endfor %}
        </ul></a
      >
    </li>
    {% endfor %}
  </ul>
</div>
