<div class="pub-list-item" style="margin-bottom: 1rem">
  <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>

  {{/* APA Style */}}
  {{ if eq (site.Params.publications.citation_style | default "apa") "apa" }}

  <span class="article-metadata li-cite-author">
    {{ partial "page_metadata_authors" . }}
  </span>
  ({{- .Date.Format "2006" -}}).
  <a href="{{ .RelPermalink }}">{{ .Title }}</a>.
  {{ if .Params.publication_short }}
  {{- .Params.publication_short | markdownify -}}.
  {{ else if .Params.publication }}
  {{- .Params.publication | markdownify -}}.
  {{ end }}
  <p>{{ partial "page_links" (dict "page" . "is_list" 1) }}</p>

  {{/* MLA Style */}}
  {{ else }}

  <span class="article-metadata li-cite-author">
    {{ partial "page_metadata_authors" . }}.
  </span>
  <a href="{{ .RelPermalink }}">{{ .Title }}</a>.
  {{ if .Params.publication_short }}
  {{- .Params.publication_short | markdownify -}},
  {{ else if .Params.publication }}
  {{- .Params.publication | markdownify -}},
  {{ end }}
  {{- .Date.Format "2006" -}}.
  <p>{{ partial "page_links" (dict "page" . "is_list" 1) }}</p>

  {{ end }}
</div>
