<nav class="navbar navbar-default navbar-fixed-top" id="navbar-main">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      {{ if or .Site.Menus.main .IsTranslated }}
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">{{ i18n "toggle_navigation" }}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{ end }}
      <a class="navbar-brand" href="{{ "/" | relLangURL }}">
        {{- if .Site.Params.logo -}}
        <img src="{{ printf "/img/%s" .Site.Params.logo | relURL }}" alt="{{ .Site.Title }}">
        {{- else -}}
        {{- .Site.Title -}}
        {{- end -}}
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">

      <!-- Left Nav Bar -->
      {{ $align_right := .Site.Params.menus.align_right | default true }}
      <ul class="nav navbar-nav {{ if $align_right }}navbar-right{{ else }}navbar-left{{ end }}">
        {{ range .Site.Menus.main }}

        {{ if .HasChildren }}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
            {{ .Pre }}
            <span>{{ .Name }}</span>
            {{ .Post }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {{ range .Children }}
            <li class="nav-item">
              <a href="{{ .URL | relLangURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}>
                {{ .Pre }}
                <span>{{ .Name }}</span>
                {{ .Post }}
              </a>
            </li>
            {{ end }}
          </ul>
        </li>

        {{ else }}
        
        {{/* Set target for link. */}}
        {{ $.Scratch.Set "target" "" }}
        {{ if gt (len .URL) 4 }}
          {{ if eq "http" (slicestr .URL 0 4) }}
            {{ $.Scratch.Set "target" " target=\"_blank\" rel=\"noopener\"" }}
          {{ end }}
        {{ end }}

        <li class="nav-item">
          <a href="{{ .URL | relLangURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}{{ ($.Scratch.Get "target") | safeHTMLAttr }}>
            {{ .Pre }}
            <span>{{ .Name }}</span>
            {{ .Post }}
          </a>
        </li>

        {{ end }}
        {{ end }}
      {{ if and .IsTranslated (not $align_right) }}
      </ul>
      {{ end }}

      {{ if .IsTranslated }}
      {{ if not $align_right }}
      <ul class="nav navbar-nav navbar-right">
      {{ end }}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
            <i class="fa fa-globe" aria-hidden="true"></i>
            <span>{{ index .Site.Data.i18n.languages .Lang }}</span>
          </a>
          <ul class="dropdown-menu">
            {{ range .Translations }}
            <li class="nav-item">
              <a href="{{ .URL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}>
                <span>{{ index .Site.Data.i18n.languages .Lang }}</span>
              </a>
            </li>
            {{ end }}
          </ul>
        </li>
        {{ end }}
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
