<div class="pub-list-item card-simple" itemscope itemtype="http://schema.org/CreativeWork">

  {{ if .Params.image_preview }}
    {{ .Scratch.Set "image" .Params.image_preview }}
  {{ else if .Params.header.image }}
    {{ .Scratch.Set "image" .Params.header.image }}
  {{ end }}
  {{ if .Scratch.Get "image" }}
  <div>
    <a href="{{ .Permalink }}">
      {{ $img_src := urls.Parse (.Scratch.Get "image") }}
      {{ if $img_src.Scheme }}
        <img src="{{ .Scratch.Get "image" }}" class="article-banner" itemprop="image">
      {{ else }}
        <img src="{{ "/img/" | relURL }}{{ .Scratch.Get "image" }}" class="article-banner" itemprop="image">
      {{ end }}
    </a>
  </div>
  {{ end }}

  <h3 class="article-title" itemprop="name">
    <a href="{{ .Permalink }}" itemprop="url">{{ .Title }}</a>
  </h3>

  <div class="pub-abstract" itemprop="text">
    {{ if .Params.abstract_short }}
    {{ .Params.abstract_short | markdownify }}
    {{ else }}
    {{ .Params.abstract | markdownify}}
    {{ end }}
  </div>

  <div class="pub-authors" itemprop="author">
    {{ with .Params.authors }}
    {{ delimit . ", " | markdownify }}
    {{ end }}
  </div>

  <div class="pub-publication">
    {{ if .Params.publication_short }}
    {{ .Params.publication_short | markdownify }},
    {{ else if .Params.publication }}
    {{ .Params.publication | markdownify }},
    {{ end }}
    {{ .Date.Format "2006" }}
  </div>

  <div class="pub-links">
    {{ partial "publication_links" (dict "content" . "is_list" 1) }}
  </div>

</div>
