::selection
  background: #FF905B

::-moz-selection
  background: #FF905B

img::selection
  background: transparent

img::-moz-selection
  background: transparent

body
  -webkit-tap-highlight-color: #FF905B
