				<div class="col-3">
				{% for child in page.root %}
				  {% if child.children %}
				  	<h3 class="universe din-moveFromTopFade filled red">{{ child.title }}</h3>
				  	<p class="lead universe">Last publication on {{ page.updated | date("M d, Y") }}</p>
					{% for child in slice(child.children, 0, 3) %}
					  <div class="cell universe">
						{% if child.thumb %}
						<figure class="level-10 din-scaleUp">
							<a href="{{ child.url }}" title="{{ child.title }}"><img src="{{ child.thumb.url }}" alt="{{ child.title }}"></a>
						</figure>
						{% endif %}
						<h4><a href="{{ child.url }}" title="{{ child.title }}">{{ child.title }}</a></h4> 
						<h4 class="price din-moveFromTopFade">{{ child.price }}</h4>
					  </div>
					{% endfor %}
				  {% endif %}
				  <hr>
				  <div class="button-centered din-zoomIn delay-200">
				  	<a class="button round flat soft-red symbol-add" href="{{ child.url }}" title="{{ child.title }}">More {{ child.title }}</a>
				<hr class="line soft">
				  </div>
				{% endfor %}
				</div>