	<article class="cell-3">
		<img src="{{ site.baseurl }}/hipertextos/svg/html5.svg" class="cover-icon">
		<h4>Web</h4>
		<h6><small>HTML5 & CSS3</small></h6>
		<h6>Un Disseny exclusiu per a cada projecte.</h6>
		<p>Disseny, Edició i Publicació de pàgines Web.</p>
	</article>
	<article class="cell-3">
		<img src="{{ site.baseurl }}/hipertextos/svg/diamond.svg" class="cover-icon">
		<h4>Branding</h4>
		<h6><small>Imatge Coorporativa</small></h6>
		<h6>Disseny i creació de marca identitària</h6>
		<p>Disseny, Edició i Publicació de pàgines Web.</p>
	</article>
	<article class="cell-3">
		<img src="{{ site.baseurl }}/hipertextos/svg/photos.svg" class="cover-icon">
		<h4>Gràfics</h4>
		<h6><small>Ilustració & retoc fotogràfic</small></h6>
		<h6>Més de 20 anys d'experiència</h6>
		<p>Disseny, Edició i Publicació de pàgines Web.</p>
	</article>
	<article class="cell-3">
		<img src="{{ site.baseurl }}/hipertextos/svg/printer.svg" class="cover-icon">
		<h4>Imprimir</h4>
		<h6><small>Treballs per a imprempta</small></h6>
		<h6>Si es per imprimir, ho puc dissenyar</h6>
		<p>Disseny, Edició i Publicació de pàgines Web.</p>
	</article>