	<article class="cell-3">
		<img src="{{ site.baseurl }}/hipertextos/svg/html5.svg" class="cover-icon" alt="Web logo">
		<h4>Web</h4>
		<h5><small>HTML5 & CSS3</small></h5>
			<p><em>Disseny exclusiu per projecte.</em></p>
		<section class="cover-justify">
			<p>Edició Web, Gestió de domini i allotjament, Posicionamient SEO, Estadístiques, Publicitat a la Xarxa i e-mail marketing.</p>
		</section>
	</article>
	<article class="cell-3">
		<img src="{{ site.baseurl }}/hipertextos/svg/diamond.svg" class="cover-icon" alt="Branding logo">
		<h4>Branding</h4>
		<h5><small>Imatge Coorporativa</small></h5>
			<p><em>Creació de marca identitària</em></p>
		<section class="cover-justify">
			<p>La Clau és el “Branding”, el poder de la marca com element diferenciador. L'eina perfecta per a definir i comunicar objectius.</p>
		</section>
	</article>
	<article class="cell-3">
		<img src="{{ site.baseurl }}/hipertextos/svg/photos.svg" class="cover-icon" alt="Gràfics logo">
		<h4>Gràfics</h4>
		<h5><small>Ilustració & retoc fotogràfic</small></h5>
			<p><em>Més de 20 anys d'experiència</em></p>
		<section class="cover-justify">
			<p>Creacions plàstiques i digitals, color, retòc fotogràfic, matte Painting i animacions per a format audio-visual.</p>
		</section>
	</article>
	<article class="cell-3">
		<img src="{{ site.baseurl }}/hipertextos/svg/printer.svg" class="cover-icon" alt="Imprimir logo">
		<h4>Imprimir</h4>
		<h5><small>Treballs per a imprempta</small></h5>
			<p><em>Tot tipus d'impressions</em></p>
			<section class="cover-justify">
			<p>Edició, Impressió i distribució de Cartells, Targetes, papelería corporativa, flyers i grans formats.</p>
		</section>
</article>