	<section class="thumb-3">
		<h4>Disseny Web</h4>
		<h5><small>HTML5 & CSS3</small></h5>
		<h6>100% Responsive</h6>
		<h6>100% Original</h6>
	</section>
	<section class="thumb-3">
		<h4>Branding</h4>
		<h5><small>Creació de Marca Identitaria</small></h5>
		<h6>100% Original</h6>
		<h6>100% Profesional</h6>
	</section>
	<section class="thumb-3">
		<h4>Matte Painting</h4>
		<h5><small>Photoshop CC</small></h5>
		<h6>100% Original</h6>
		<h6>100% Profesional</h6>
	</section>
	<section class="thumb-3">
		<h4>Impressions</h4>
		<h5><small>Disseny per a imprempta</small></h5>
		<h6>Cartells</h6>
		<h6>Targetes</h6>
	</section>
