		<nav id="page-nav" class="nav-scroll">
			<div class="anm-fadeIn delay-200">
					<a href="{{ site.baseurl }}/serveis/web/" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/edicioweb.jpg" alt="Edició Web"><br>Edició Web</a>
					<a href="{{ site.baseurl }}/serveis/social/" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/socialmedia.jpg" alt="Social Media"><br>Xarxes Socials</a>
					<a href="{{ site.baseurl }}/serveis/shop/" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/vendaonline.jpg" alt="Venda en linea"><br>Venda en Linea</a>
					<a href="{{ site.baseurl }}/serveis/identitat/" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/identitat.jpg" alt="Imatge Corporativa"><br>Identitat</a>
					<a href="{{ site.baseurl }}/serveis/seo/" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/seo.jpg" alt="SEO Optimització cercadors"><br>SEO</a>
					<a href="{{ site.baseurl }}/serveis/auditoria/" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/auditoria.jpg" alt="Auditoria Web & Re-Branding"><br>Auditoria</a>
					<a href="{{ site.baseurl }}/serveis/marketing/" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/marketing.jpg" alt="Publicitat i Marketing"><br>Marketing</a>
					<a href="{{ site.baseurl }}/serveis/packaging/" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/packaging.jpg" alt="Packaging per a productes"><br>Packaging</a>
					<a href="{{ site.baseurl }}/serveis/muralisme/" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/muralisme.jpg" alt="Pintura mural i transformació d'espais"><br>Muralisme</a>
					<a href="{{ site.baseurl }}/serveis/textos/" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/textos.jpg" alt="Edició de textos professionals"><br>Textos</a>
					<a href="{{ site.baseurl }}/serveis/illustracio/" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/illustracio.jpg" alt="Il·lustració i grafísmes"><br>Il·lustració</a>
					<a href="{{ site.baseurl }}/serveis/video/" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/ediciovideo.jpg" alt="Edició de video"><br>Edició Video</a>
			 </div>
		</nav>
		
		
		
