		<nav id="page-nav" class="nav-scroll anm-zoomIn delay-600">
			<div>
					<a href="url" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/edicioweb.jpg" alt="Edició Web"><br>Edició Web</a>
					<a href="url" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/socialmedia.jpg" alt="Social Media"><br>Social Media</a>
					<a href="url" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/vendaonline.jpg" alt="Venda en linea"><br>Venda en Linea</a>
					<a href="url" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/branding.jpg" alt="Branding"><br>Branding</a>
					<a href="url" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/identitat.jpg" alt="Imatge Corporativa"><br>Identitat</a>
					<a href="url" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/logos.jpg" alt="Icones & Logotips"><br>Logos</a>
					<a href="url" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/seo.jpg" alt="SEO Optimització cercadors"><br>SEO</a>
					<a href="url" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/marketing.jpg" alt="Marketing & vendes"><br>Marketing</a>
					<a href="url" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/publicitat.jpg" alt="Publicitat impresa & digital"><br>Publicitat</a>
					<a href="url" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/auditoria.jpg" alt="Auditoria Web & Re-Branding"><br>Auditoria</a>
					<a href="url" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/publitramesa.jpg" alt="Propaganda en paper"><br>Publitramesa</a>
					<a href="url" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/emailing.jpg" alt="campanyes per mail"><br>eMailing</a>
					<a href="url" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/packaging.jpg" alt="Packaging per a productes"><br>Packaging</a>
					<a href="url" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/imprimibles.jpg" alt="Imprimibles copisteria"><br>Imprimibles</a>
					<a href="url" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/muralisme.jpg" alt="Pintura mural i transformació d'espais"><br>Muralisme</a>
					<a href="url" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/textos.jpg" alt="Edició de textos professionals"><br>Textos</a>
					<a href="url" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/illustracio.jpg" alt="Il·lustració i grafísmes"><br>Il·lustració</a>
					<a href="url" title="txt"><img src="{{ site.baseurl }}/hipertextos/serveis/ediciovideo.jpg" alt="Edició de video"><br>Edició Video</a>
			 </div>
		</nav>
		
		
		
