			<nav id="site-nav" class="nav-smart">
				<div>
					<input type="checkbox" id="mobnav" name="mobnav" aria-hidden="true" hidden> 
					<strong><label for="mobnav">Menú<mark></mark></label></strong>
					<div hidden>
					<a href="{{ site.baseurl }}/serveis/" title="Serveis Gráfics"  class="navlink">Serveis</a>	
					<a href="{{ site.baseurl }}/media/" title="Treballs i creacions gràfiques"  class="navlink">Portfoli</a>
					<a href="{{ site.baseurl }}/" class="Pàgina Principal" title="Home"><b>{{ site.name }}</b></a>
					<a href="{{ site.baseurl }}/blog/" title="Blog personal" class="navlink">Blog</a>
					<a href="{{ site.baseurl }}/about/" title="Informació i Contacte"  class="navlink">Contacte</a>		
					</div>
				 </div>
			</nav>