			<nav id="post-nav" class="nav-post">
				<div>
					<a class="site-logo" href="{{ site.baseurl }}/" title="Videos Manguis: Inicio"><img src="{{ site.avatar }}" alt="Videos Manguis logo">
						<i id="sitename">{{ site.name }}.net</i></a>
					<a href="{{ site.baseurl }}{{ page.url }}" title="{{ page.title }}">{{ page.url }}</a>
					  {% if page.next.url %}
					    <a href="{{page.next.url}}" class="siguiente" rel="Siguiente Post {{ page.next.title }}" title="{{ page.next.title }}">Siguiente &raquo;</a>
					  {% endif %}
					  {% if page.previous.url %}
					    <a href="{{page.previous.url}}" class="anterior" rel="Anterior Post {{ page.previous.title }}" title="{{ page.previous.title }}">&laquo; Anterior</a>
					  {% endif %}					
				 </div>
			</nav>