<nav class="nav-sticky top flat black {{ page.default_menu_style }}" id="menu">
		<a href="http://agenda.oldsteam.com" title="Agenda de Concerts"  class="navlink">Agenda</a>
		{% for child in page.root %}
		<a href="{{ child.url }}" title="{{ child.title }}" class="navlink current">{{ child.title }}</a>
		{% endfor %}
		<a href="{{ page.root_path }}" class="home" title="Home">Old Steam</a>
		<a href="{{ page.root_path }}pages/about/" title="Contacta amb nosaltres"  class="navlink">Contacte</a>	
		<a href="#subs" title="About"  class="navlink">Seguir</a>	
		<hr class="visible-phone">
</nav>