<nav class="nav-sticky top flat black" id="menu">
		<a href="{{ site.baseurl }}/blog/" title="Agenda de Concerts"  class="navlink">Agenda</a>
		<a href="{{ site.baseurl }}/media/" title="Videos, fotos i cartells" class="navlink">Media</a>
		<a href="{{ site.baseurl }}/" class="home" title="Home"><b>{{ site.name }}</b></a>
		<a href="{{ site.baseurl }}/about/" title="Contacta amb nosaltres"  class="navlink">Contacte</a>	
		<a href="#subs" title="About"  class="navlink">Seguir</a>	
		<hr class="visible-phone">
</nav>