			<nav id="site-nav" class="nav-smart">
				<div>
					<input type="checkbox" id="mobnav" name="mobnav" aria-hidden="true" hidden> 
					<strong><label for="mobnav">Menú<mark></mark></label></strong>
					<div hidden>
					<a href="{{ site.baseurl }}/serveis/" title="Serveis Gráfics">Serveis</a>	
					<a href="{{ site.baseurl }}/portfoli/" title="Treballs i creacions gràfiques">Portfoli</a>
					<a href="{{ site.baseurl }}/" title="Pàgina Principal" id="current-nav"><b>{{ site.name }}</b></a>
					<a href="{{ site.baseurl }}/blog/" title="Blog personal">Blog</a>
					<a href="{{ site.baseurl }}/contacte/" title="Informació i Contacte">Contacte</a>	
					</div>
				 </div>
			</nav>