# Blog
_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json

# Python
.venv

# doit stuffs
.doit.db*

# Jupyter notebook
.ipynb_checkpoints

# Intermediate outputs when blogging with Jupyter notebooks
_code/**/*.ipynb
_code/**/*_files
_code/**/*.md

