## STOP REFERRER SPAM 
RewriteCond %{HTTP_REFERER} semalt\.com [NC,OR] 
RewriteCond %{HTTP_REFERER} buttons-for-website\.com [NC] 
RewriteRule .* - [F]

ErrorDocument 404 /404.md

# Prevent access to .txt & .yml files
RedirectMatch 404 \.(txt|yml)$

RewriteEngine On
RewriteCond %{HTTP_HOST} !^isardmiralles\.com$ [NC]
RewriteRule ^(.*)$ http://isardmiralles.com/$1 [R=301,L]
