---
layout: default
---

  	{% include partials/navigation/nav-section.html %}
<main id="main" role="main"  class="filled hard-grey">
	<div class="posts">
  	{% for post in site.posts %}
    	<article class="post cell-8 pushed-2">
      	<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>

      	<div class="entry">
        {{ post.excerpt }}
      	</div>

      	<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    	</article>
  	{% endfor %}
	</div>
</main>