---
layout: post-rtl
title: کتاب های من
permalink: /fa/
---
### لیست کتاب های من
۱-	آخرین سخنرانی – راندی پاش

۲-	۱۹۸۴ – جورج اورول

۳- مزرعه حیوانات – جورج اورول

۴-	صد سال تنهایی

۵-	کتاب سرزمین عجایب بی‌رحم و ته دنیا – موراکامی

۶-	از دو که حرف می‌زنم، از چه حرف می‌زنم – موراکامی

۷- شرکت سهامی آدم های مصنوعی – رد برادبری

۸- وقتی نیچه گریست – اروین دی یالوم

۹-	مامان و معنی زندگی – اروین دی یالوم

۱۰- تاریخچه مختصر زمان – استیون هاوکینگ

۱۱- خدا بزرگ نیست – کریستفر هیچنز


<!------->
<!--layout: default-->
<!------->

<!--<div class="posts">-->
<!--  {% for post in site.posts %}-->
<!--   {% if site.posts == "book" %}-->
<!--   <article class="post">-->

<!--      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>-->

<!--      <div class="entry">-->
<!--        {{ post.excerpt }}-->
<!--      </div>-->

<!--      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>-->
<!--    </article>-->
<!--   {% endif%}-->
<!--  {% endfor %}-->
<!--</div>-->
