/* ==========================================================================
#CONTACT PAGE
========================================================================== */
/* an adaptation of http://tympanus.net/codrops/2015/01/08/inspiration-text-input-effects/ */

#contactform, .form {
    margin-top: 2rem;
}
.field {
    border: none;
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 0 1em 0 0;
    /* this is almost a third, on my own site I use calc(33% - 0.66rem) for width */
    width: 30%;
    vertical-align: top;
    overflow: hidden;
    font-family: "adelle-sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.field:nth-child(3) {
    margin-right: 0;
}
.input {
    position: relative;
    display: block;
    float: right;
    border: none;
    border-radius: 0;
    -webkit-appearance: none; /* for box shadows to show on iOS */
    width: 100%;
    background: transparent;
    padding: 0.5em;
    margin-bottom: 2em;
    z-index: 100;
    opacity: 0;
    height: 2rem;
}

textarea.input {
    resize: none;
    padding-bottom: 0;
}

.input:focus {
    outline: none;
}

.label {
    display: inline-block;
    float: right;
    color: hsla(221,72%,55%,1);
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    position: absolute;
    text-align: left;
    padding: 0.5em 0;
    pointer-events: none;
    font-size: 1em;
}
.label::before,
.label::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}
.label::before {
    height: 100%;
    background: #fff;
    top: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}
.label::after {
    height: 2px;
    background: hsla(221,72%,55%,1);
    top: 100%;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.label-content {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: -webkit-transform 0.3s, color 0.3s;
    transition: transform 0.3s, color 0.3s;
}

.input:focus,
.input--filled .input {
    opacity: 1;
    -webkit-transition: opacity 0s 0.3s;
    transition: opacity 0s 0.3s;
}

.input:focus + .label::before,
.input--filled .label::before {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.input:focus + .label::after,
.input--filled .label::after {
    opacity: 0;
}

.input:focus + .label .label-content,
.input--filled .label .label-content {
    color: #cbc4c6;
    -webkit-transform: translate3d(0, 2.1em, 0) scale3d(0.65, 0.65, 1);
    transform: translate3d(0, 2.1em, 0) scale3d(0.65, 0.65, 1);
}

.button, input[type=submit] {
    -webkit-appearance: none;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5em;
    color: #fff;
    background-color: hsla(221,72%,55%,1);
    transition: all 0.3s ease-out;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.18),0 2px 10px 0 rgba(0,0,0,0.15);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.18),0 2px 10px 0 rgba(0,0,0,0.15);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.18),0 2px 10px 0 rgba(0,0,0,0.15);
}
.button:hover, .button:focus, .button:active {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.23),0 4px 15px 0 rgba(0,0,0,0.20);
    -moz-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.23),0 4px 15px 0 rgba(0,0,0,0.20);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.23),0 4px 15px 0 rgba(0,0,0,0.20);
}