#roadmap {
  display: none;
  border: 1px solid #c2b7a3;
  padding: 10px;
}

#header {
  display: flex;
  flex-grow: 3;
}

#menu {
  padding: 10px;
  align-self: flex-end;
  flex-grow: 1;
  margin-bottom: 25px;
  border: 1px solid #c2b7a3
}

#hideout-network {
  background-color: #0e0e0e;
  height: 100%;
  width: 100%;
  flex-grow: 3;
  display: flex;
}

.vis-network {
  flex-grow: 1;
  flex-basis: 75%;
}

#hideout-infobox {
  background-color: #0e0e0e;
  border: 1px solid #c2b7a3;
  width: 15%;
  padding: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#node-info {
  align-self: flex-start;
  flex-basis: 90%;
}

#infobox-footer {
  flex-basis: 10%;
  align-self: flex-end;
}

.container {
  display: flex;
  justify-content: center;
}

body {
  background-color: #0e0e0e;
  font-family: sans-serif;
  color: lightgrey;
}

a {
  text-decoration: none;
  color: #9a8866;
  background: none;
}
