---
layout: default
---
	{% include partials/head.html %}
    {% include partials/navigation/nav.html %}
    <main id="page-main" role="main" class="home-page">
			<section id="covers" class="anm-fadeIn delay-1500">
			{% include partials/navigation/covers.html %}
			</section>
			<hr>
			<section id="home-video">
				<div class="thumb-6 pushed-3">
					<figure>
						<div>
							<iframe width="1280" height="720" src="https://www.youtube.com/embed/{{ site.home_video }}?rel=0" frameborder="0" allowfullscreen></iframe>
						</div>
					</figure>
				</div>
			</section>
    </main>
