---
layout: default
title: Media
permalink: /media/
---

  	{% include partials/navigation/nav-section.html %}
<header class="flat black">
<h1 class="absolute anm-fadeOut delay-500">Media</h1>
<div class="cell-6 pushed-3 anm-fadeIn delay-600">
	<div class="youtube"><object><iframe width="560" height="315" src="https://www.youtube.com/embed/oevn35Mrxzk" frameborder="0" allowfullscreen></iframe></object></div>
</div>
	<hr>
</header>
<div id="main" role="main"  class="layout">
	<div id="columns" class="cell-8 pushed-2">
		<div id="viewer" class="listed">
			<article class="">					
    			<h2 class="article-title thin">Cartells</h2>
    			<hr>
    			<div class="mosaic-imagens">
{% assign image_files = site.static_files | where: "image", true %}
{% for image in image_files %}
  <figure class="imagens">
    <a href="{{ site.baseurl }}/_assets/_cartells/{{ file.name }}"><img class="button-icon flat white squared" src="{{ site.baseurl }}/_assets/_cartells/{{ file.name }}" alt="{{ image.basename }}"></a>
  </figure>
{% endfor %}	
				<hr>
		    	</div>
			</article>
			<article class="">					
    			<h2 class="article-title thin">Fotografíes</h2>
    			<hr>
    			<div class="mosaic-imagens">		
{% for image in image_files %}
  <figure class="imagens">
    <a href="{{ site.baseurl }}/_assets/_fotos/{{ image.name }}"><img class="button-icon flat white squared" src="{{ site.baseurl }}/_assets/_fotos/{{ image.name }}" alt="{{ image.basename }}"></a>
  </figure>
{% endfor %}
				<hr>
		    	</div>
			</article>
		</div><!-- /#viewer -->
	</div>
</div>