---
layout: gallery
title: Media
permalink: /media/
---

    <main id="page-main" role="main" class="medias">
	<div id="layout" class="listed">
    			<h3 class="anm-moveFromLeftFade delay-2000"><u>Cartells & Fotografíes</u></h3>
			<section class="anm-fadeIn delay-2000">					
	{% assign image_files = site.static_files | where: "image", true %}
	{% for image in image_files %}
	<article>
    	<a href="{{ site.baseurl }}/assets/fotos/{{ image.name }}" data-lightbox="roadtrip"><img class="imagens" src="{{ site.baseurl }}/assets/fotos/{{ image.name }}" alt="{{ image.basename }}"></a>
	</article>
	{% endfor %}
			</section>
			<hr>

	</div><!-- /#Layout -->
	<div>
			<section id="follows">
			<h4>Seguir!</h4>
			{% include partials/suscribe.html %}
    		</section>
	</div>
	</main>
