<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
</style>

html {
  font-size: 100%;
}

body {
  background: #F5B7B1;
  font-family: 'Roboto Slab', serif;
  color: #333;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}
.entry {
  text-align: justify;
  font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  color: #222;
  font-weight: bold;
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;
}
@media screen and (max-width: 640px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
}
h1 a {
  color: inherit;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: #666;
}

p {
  margin: 15px 0;
  color: #1C2833;
  text-indent: 5px;
  text-align: justify;
}

a {
  color: #4183C4;
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:active {
  color: #707B7C;
}
.post blockquote {
  margin: 1.8em .8em;
  border-left: 3px solid #BA4A00;
  padding: 0.1em 1em;
  color: #34495E;
  font-size: 22px;
  font-style: bold;
}
