---
layout: default
permalink: /resume/
---
{% assign resume = site.data.resume %}
<div class="resume">
  <header>{% assign b = resume.basics %}
    <div class="item">
      <div class="left left-header">
        <h1>{{ b.name }}</h1>
        <h2 class="title">{{ b.label }}</h2>
      </div>
      <div class="right right-header">
        <section class="resume-contact">
          <div class="email">
            <span class="contact-label">Email:</span>
            <a href="mailto:{{ site.author.email }}">
              {{ b.email }}
              <div class="mini-icon">
                {% include svg-icon.html icon=site.data.icons.email %}
              </div>
            </a>
          </div>
          <div class="website">
            <span class="contact-label">Website:</span>
            <a href="{{ b.website }}">
              {{ b.website }}
              <div class="mini-icon">
                {% include svg-icon.html icon=site.data.icons.web %}
              </div>
            </a>
          </div>
          {% for p in b.profiles %}
          <div class="network">
            <a href="{{ p.url }}">
              <span class="contact-label">{{ p.network }}:</span>
              {{ p.username }}
              <div class="mini-icon">
              {% case p.network %}
              {% when 'GitHub' %}
              {% include svg-icon.html icon=site.data.icons.github %}
              {% when 'LinkedIn' %}
              {% include svg-icon.html icon=site.data.icons.linkedin %}
              {% endcase %}
              </div>
            </a>
          </div>
          {% endfor %}
          <div class="location">
            <span class="contact-label">Location:</span>
            {{ b.location.city }}, {{ b.location.region }}, {{ b.location.countryCode }}
            <div class="mini-icon">
              {% include svg-icon.html icon=site.data.icons.location %}
            </div>
          </div>
        </section>
      </div>
    </div>
  </header>
  <section class="skills">
    <h2>Technical Skills</h2>
    {% for s in resume.skills %}
    <div class="item">
      <div class="left">
        {{ s.name }}:
      </div>
      <div class="right">
        <strong>
          {{ s.keywords | join: ", "}}
        </strong>
      </div>
    </div>
    {% endfor %}
  </section>
  <section class="summary">
    <h2>Summary</h2>
    <p>{{ resume.basics.summary }}</p>
  </section>
  <section class="education">
    <h2>Education</h2>
    {% for e in resume.education %}
    <div class="item">
      <div class="left">
        <div class="institution">
          <strong>
            {{ e.institution }}
          </strong>
        </div>
        <div class="studyType">
          {{ e.studyType }}
        </div>
      </div>
      <div class="right">
        <div class="right-detail">
          {{ e.area }}
        </div>
        <div class="date">
          <span class="startDate">
            {{ e.startDate | date: "%b %Y" }}
          </span>
          {% if e.endDate %}
          <span class="endDate">
            - {{ e.endDate | date: "%b %Y" }}
          </span>
          {% else %}
          <span class="endDate">
            - Present
          </span>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
  <section class="experience">
    <h2>Experience</h2>
    {% for w in resume.work %}
    <div class="item">
      <div class="left">
        <div class="company">
          <strong>
            {{ w.company }}
          </strong>
        </div>
        <div class="position">
          {{ w.position }}
        </div>
      </div>
      <div class="right">
        <div class="right-detail">
          {{ w.summary }}
        </div>
        <div class="date">
          <span class="startDate">
            {{ w.startDate | date: "%b %Y" }}
          </span>
          {% if w.endDate %}
          <span class="endDate">
            - {{ w.endDate | date: "%b %Y" }}
          </span>
          {% else %}
          <span class="endDate">
            - Present
          </span>
          {% endif %}
        </div>
      </div>
    </div>
    <ul>
      {% for h in w.highlights %}
      <li>{{ h }}</li>
      {% endfor %}
    </ul>
    {% endfor %}
  </section>
  <section class="awards">
    <h2>Awards, Scholarships, &amp; Achievements</h2>
    {% for a in resume.awards %}
    <div class="item">
      <div class="left">
        <div class="title">
          <strong>
            {{ a.title }}
          </strong>
        </div>
        <div class="award-summary">
          {{ a.summary }}
        </div>
      </div>
      <div class="right">
        <div class="right-detail">
          {{ a.awarder }}
        </div>
        <div class="date">
          {{ a.date | date: "%b %Y" }}
        </div>
      </div>
    </div>
    {% endfor %}
  </section>
  <section class="interests">
    <h2>Interests</h2>
    {% for i in resume.interests %}
    <div class="interest">
      <strong>{{ i.name }}: </strong>{{ i.keywords | join: ', ' }}
    </div>
    {% endfor %}
  </section>
  {% assign commit = 'c2558cda142b5d9223d101b87a4bb5207eca92d3' %}
  <p class="download">Download as:
      <a target="_blank" href="https://rawgit.com/mark-berger/resume/{{commit}}/out/resume.pdf">PDF</a>,
      <a target="_blank" href="https://rawgit.com/mark-berger/resume/{{commit}}/out/resume.html">HTML</a>,
      <a target="_blank" href="https://rawgit.com/mark-berger/resume/{{commit}}/out/resume.txt">Plain Text</a>,
      <a target="_blank" href="https://rawgit.com/mark-berger/resume/{{commit}}/out/resume.md">Markdown</a>, or
      <a target="_blank" href="https://rawgit.com/mark-berger/resume/{{commit}}/out/resume.tex">LaTeX</a>.
      Autogenerated by a <a href="https://github.com/mark-berger/resume">script</a>.
  </p>
</div>
