---
layout:   listing
title:    Reviews
description: "Review of tabletop games, video games, toys, and anything else I find interesting."
---
<h1>Reviews</h1>
<p>
  Often times I'll get things for review that don't really fit well on Purple Pawn. Sometimes it's digital games, toys, or even gaming accessories. You'll find a collection of these reviews here.
</p>
</p>
<div class="posts clearfix">
  {% for post in site.posts %}
    {% if post.category contains 'review' %}
      <article class="post">
        <div class="eyebrow">{{ post.date | date: "%d %b %Y" }} {% if post.category %} in <a href="/category/#{{ post.category | slugify }}">{{ post.category }}</a> {% endif %}</div>
        {% if post.featured %}
          <a href="{{ site.baseurl }}{{ post.url }}"><img src="/images/featured/{{ post.featured }}"/></a>
        {% endif %}
        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

        <div class="entry">
          {% if post.featured %}
            <a href="{{ site.baseurl }}{{ post.url }}" class="small-link">Read details</a>
          {% else %}
            <p>  {{ post.content | strip_html| truncatewords:20}}</p>
            <a href="{{ site.baseurl }}{{ post.url }}" class="small-link">Read details</a>
          {% endif %}
        </div>
      </article>
    {% endif %}
  {% endfor %}
</div>
