---
layout: search
title: Ricerca
---

<div class="row">
    <div class="col-md-12">Qui puoi vedere i risultati di una ricerca fatta nelle nostre segnalazioni</div>
</div>

<div class="row">
    <div class="col-lg-7 col-lg-offset-3">
        <div class="input-group">
            <form class="form-inline global-search" role="form" action="/searchissues" method="get">
                <div class="form-group-lg col-xs-12">
                    <label for="label">Categoria</label>
                    <select class="form-control" id="labelchoice" name="label"><option value=""></option></select>
                </div>
                <div class="form-group-lg col-xs-12">
                    <label class="search-box" for="search-box">Cosa Stai Cercando?</label>
                    <input type="text" class="form-control" id="search-box" name="query" placeholder="">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
<div id="search-results"></div>
</div>
</div>

<script>

function urldecode(str) {
   return decodeURIComponent((str+'').replace(/\+/g, '%20'));
}


labelset=new Set();
window.store = {};
    {% assign filteredissues = site.data.issuesjson %}
    {% for member in filteredissues %}
    for (var lab of "{{member.issue.labels | join: ','}}".split(',')) {
            labelset.add(lab);
    }
window.store["{{site.url}}/issues/{{member.number}}"]={
        "title": urldecode("{{ member.title | strip_html | url_encode }}"),
        "label": "{{member.issue.labels | join: ','}}",
        {% if member.issue.data.descrizione != blank %}
        "content": urldecode("{{ member.issue.data.descrizione | url_encode }}"),
        {% else %}
        "content": "",
        {% endif %}
        {% if member.issue.created_at != blank %}
        "date": "{{member.issue.created_at | date: '%-d/%m/%Y' }}",
        {% endif %}
        "url": "{{site.url}}/issues/{{member.number}}",
        "state": "{{member.state}}"
};
    {% endfor %}
    var dropdown = document.getElementById("labelchoice");
    if (dropdown) {
            for (lab of labelset.values()) {
                    var option = document.createElement("option");
                    option.text = lab;
                    dropdown.add(option);
            }
    }

</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.5/elasticlunr.min.js"></script>
<script type="text/javascript" src="../js/lunr.stemmer.support.min.js"></script>
<script type="text/javascript" src="../js/lunr.it.min.js"></script>
<script type="text/javascript" src="../js/search.js"></script>
