---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

p a{
  color: inherit !important;
  opacity: 0.6;
  text-decoration: underline;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

img {
  max-width: 100%;
}

blockquote {
  border-left: 2px solid $gray;
  padding: 0.1em 1em;
  color: $gray;
  font-style: italic;
}


.mdi::before {
  font-size: 24px;
  line-height: 14px;
}

.btn .mdi::before {
  position: relative;
  top: 4px;
}

.btn-xs .mdi::before {
  font-size: 18px;
  top: 3px;
}

.btn-sm .mdi::before {
  font-size: 18px;
  top: 3px;
}

.dropdown-menu .mdi {
  width: 18px;
}

.dropdown-menu .mdi::before {
  position: relative;
  top: 4px;
  left: -8px;
}

.nav .mdi::before {
  position: relative;
  top: 4px;
}

.navbar .navbar-toggle .mdi::before {
  position: relative;
  top: 4px;
  color: #FFF;
}

.breadcrumb .mdi::before {
  position: relative;
  top: 4px;
}

.breadcrumb a:hover {
  text-decoration: none;
}

.breadcrumb a:hover span {
  text-decoration: underline;
}

.alert .mdi::before {
  position: relative;
  top: 4px;
  margin-right: 2px;
}

.input-group-addon .mdi::before {
  position: relative;
  top: 3px;
}

.navbar-brand .mdi::before {
  position: relative;
  top: 2px;
  margin-right: 2px;
}

.list-group-item .mdi::before {
  position: relative;
  top: 3px;
  left: -3px
}


#Avatar {
  width: 35%;
  max-width: 500px;
  min-width: 200px;
  padding: 10px;
}

.entry {
  max-width: 500px;
}

#postTable th {
  width: 100px;
}

#postTable .btn {
  white-space: inherit;
  text-align:left;
  width: auto !important;
}

#postTable .btn-group {
  padding:5px;
}

#postTable .btn-link {
  color:grey;
}
#postTable .btn-link:hover {
  color:inherit;
  cursor:default;
  text-decoration:none;
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
