---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: rgb(245,245,245);
  font: 18px/1.4 $helvetica;
  color: $darkGray;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

/* .wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
} */

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  /* font-family: $helveticaNeue; */
  /* line-height: 93px; */

  font-weight: 300;
  letter-spacing: 1px;
  font-family: AvenirNext-UltraLight;
  font-size: 68px;
  color: $white;

  @include mobile {
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

}

.site-description {
  /* margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px; */
  font-weight: 300;
  font-family: AvenirNext-UltraLight;
  font-size: 29px;
  color: $white;
  margin: 0;

  @include mobile {
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.top.top-home {
  position: relative;

  .gradient {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    /* box-gradient: */
    background: #7990AB;
    background-image: -webkit-linear-gradient(225deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);background-image: linear-gradient(-135deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
  }
}

.top.top-blog, .top-work {
  position: relative;
  flex: 1 0 auto;

  .gradient {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    /* box-gradient: */
    /* background: rgba(252,252,252,1); */
    /* background-image: -webkit-linear-gradient(225deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);background-image: linear-gradient(-135deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%); */
  }
}

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  /* background: transparent; */
  /* opacity: 0.1; */
  padding: 10px 40px 10px 10px;

  background: rgba(255,255,255,0.10);
  text-transform: uppercase;


  @include mobile {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
  }

  a {
    margin-left: 20px;
    font-weight: 300;
    letter-spacing: 2px;

    font-family: AvenirNext-Regular;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 1.66px;
    line-height: 22px;
  }

  a.current {
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 3px;
    padding: 5px 10px;
  }
}

.hero {
  padding: 150px 0;
  .btn-work {
    background: transparent;
    text-transform: uppercase;
    margin: 50px 0;
    padding: 10px 30px;

    /* Button Background: */
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    border-radius: 4px;

    @include mobile {
      width: 90%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &:hover {
      border: 1px solid rgba(255,255,255,0.7);
      a {
        color: rgba(255,255,255,0.8);
      }
    }

    a {
      font-family: AvenirNext-Medium;
      font-size: 18px;
      font-weight: 300;
      color: rgba(0,0,0,0.4);
      letter-spacing: 1.66px;
    }
  } // btn-work
}



.block-featured-work {
  z-index:2;
  width: 100%;

  .container h3 {
    font-family: AvenirNext-Medium;
    font-size: 24px;
    font-weight: 300;
    color: rgba(0,0,0,0.5);
    letter-spacing: 1.66px;
    text-transform: uppercase;
    padding: 40px;
    margin-top: 25px;
  }

  .container.main {
    padding: 0;
    margin-top: -100px;
    background: $white;
    border-radius: 6px;
		box-shadow: 0 2px 0 0 #e5e5e5;
    border: 1px solid rgba(151,151,151,0.1);
  }
}

.featured-work-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding-bottom: 40px;
  margin-bottom: 25px;

  .hexagon {
    position: relative;
    width: 170px;
    height: 98.15px;
    margin: 49.07px 0;
  }

  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 85px solid transparent;
    border-right: 85px solid transparent;
  }

  .hexagon1:before {
    bottom: 100%;
    border-bottom: 49.07px solid #A4D7EF;
  }

  .hexagon1:after {
    top: 100%;
    width: 0;
    border-top: 49.07px solid #A4D7EF;
  }

  .hexagon2:before {
    bottom: 100%;
    border-bottom: 49.07px solid #FFBDAB;
  }

  .hexagon2:after {
    top: 100%;
    width: 0;
    border-top: 49.07px solid #FFBDAB;
  }

  .hexagon3:before {
    bottom: 100%;
    border-bottom: 49.07px solid #A3F3C5;
  }

  .hexagon3:after {
    top: 100%;
    width: 0;
    border-top: 49.07px solid #A3F3C5;
  }

  .hexagon1 { background: #A4D7EF; }
  .hexagon2 { background: #FFBDAB; }
  .hexagon3 { background: #A3F3C5; }
}

.card {
  padding:1.5rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:0 1rem 1rem;
  border-radius:3px;
  user-select:none;
  animation:fly-in-from-left .5s 1s ease both;
  transform-origin:top left;

  h1 {
    font-size: 28px;
    font-weight: 200;
  }
    strong {
      font-weight: 300;
      color: #539D00;
    }

  p {
    font-size: 16px;
    line-height: 2.5;
    color: gray;
    font-weight: 400;
    width: 90%;

    @include mobile {
      width: 100%;
      font-size: 15px;
      line-height: 2;
    }
  }
}
.card:nth-child(even){
  animation-name: fly-in-from-right;
  animation-delay: 0.5s;
 transform-origin: top right;
}

@keyframes fly-in-from-left {
  from {
    transform: translateY(15rem);
    opacity: 0;
  }
}

@keyframes fly-in-from-right {
  from {
    transform: translateY(15rem);
    opacity: 0;
  }
}

//
// .main
//

.container.posts {
  padding: 0;
  margin: 40px auto;
  background: $white;
  border-radius: 6px;
  box-shadow: 0 2px 0 0 #e5e5e5;
  border: 1px solid rgba(151,151,151,0.1);

  .latest-post-title {
    padding-bottom: 0;
  }

  .latest-post-date {
    padding: 0 40px;
    color: rgba(0,0,0,0.7);
    font-family: AvenirNext-Medium;
    font-size: 14px;
  }
}

.container h3 {
  font-family: AvenirNext-Medium;
  font-size: 24px;
  font-weight: 300;
  color: rgba(0,0,0,0.5);
  letter-spacing: 1.66px;
  text-transform: uppercase;
  padding: 40px;
  margin-top: 25px;

  a {
    color: inherit;
  }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  width: 100%;
  padding: 0 40px 40px 40px;
  margin-bottom: 25px;

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 40px;
  border-top: 1px solid rgb(248,248,248);
  background: rgb(253,253,253);
  /* flex: none; */
}

footer {
  padding: 10px 0;
  font-size: 14px;
  color: rgba(0,0,0,0.6);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    flex: 1;
    flex-direction: row;
    margin-bottom: 2%;
  }

  .contact-container {
    flex: 1;
    flex-direction: row;

    a {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

} // footer

/* blog */

.blog-page-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 40px auto 0;
  max-width: 90%;

  @include mobile {
    max-width: 90%;
    margin-top: 20px;
  }
}

.container.blog {
  max-width: initial; // cancel default

  width: 48%;
  margin: 0 auto 2%;
  min-width: 0;

  display: flex;
  flex-direction: column;
  padding: 10px;

  @include mobile {
    min-width: 100%;
    margin-bottom: 5%;
  }

  .post-title {
    padding: 0 5%;
  }

  .post-date {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    padding-left: 5%;
  }

  .post {
    margin-bottom: auto;
    padding: 0 5% 5%;

    p {
      font-size: 16px;
      margin: 10px 0;
    }
  }

}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
