---
---

//
// IMPORTS
//

@import "_reset";
@import "_variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  font: 18px/1.4 $muli;
  color: $armadillo;
  padding: 0;
  margin: 0;
  background: url(../images/background.jpg);
  width: 100%;
  display: table;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $gothamMedium;
  color: $armadillo;
  font-weight: bold;  
  line-height: 1.2;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}
  
h1 {  
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {  
  font-size: 24px;
}

h3 {  
  font-size: 20px;
}

h4 {  
  font-size: 18px;
  color: $gray;
}

a {
  color: $downy;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $downy;
  }
}

.paddingbottom{
  padding-bottom: 20px;
  display: block;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.date {
  font-style: italic;
  font-size: 80%;
}

sup, sub{
  font-size: .6em;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* mika.ph General Rules */

#cover a, #welcome a, .fadeout {
opacity: 1;
transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;
}

#cover a, #welcome a:hover, .fadeout:hover {
opacity: 0.8;
transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;
}

.fadein {
opacity: 0.8;
transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;
}

.fadein:hover {
opacity: 1;
transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;
}

p{
  width: $itemWidth;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 0;
  padding-bottom: $paddingHeight;
  line-height: 1.6em;
}

h1{
  padding-bottom: $paddingHeight;
  width: $itemWidth;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: $satin-linen;
}

hr{
  height:1px; 
  border:none; 
  color:$white; 
  background-color:$white;
  opacity: 0.2;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

/* Navigation */

#logo{
position: absolute;
text-align: center;
width: 100px;
background: url(../images/logo-no-text.svg);
background-size: 100px 100px;
margin-top: 30px;
margin-left: 50%;
left: -50px;
opacity: 0.8;
z-index: 100;
}

#mikalogo{
background: url(../images/logo-text.svg);
background-size: 100px 100px;
width: 100px;
height: 100px;
display: block; 
opacity: 0.2;
transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;
z-index: 100;
}

#mikalogo:hover {
opacity: 1;
transition: opacity .25s ease-in-out;
-moz-transition: opacity .25s ease-in-out;
-webkit-transition: opacity .25s ease-in-out;
z-index: 100;
}

#leftnav{
position: absolute;
margin-left: 50%;
width: 300px;
left: -400px;
text-align: right;  
padding-top:70px;
z-index: 100;
}

#leftnav a, #rightnav a{
text-transform: uppercase;
text-decoration: none;
color: $satin-linen;
font-size: 80%;
line-height: 2em;
}

#leftnav a{
  padding-left: 50px;
}

#rightnav a{
  padding-right: 50px;
}

#rightnav{
position: absolute;
margin-left: 50%;
width: 300px;
left: 100px;  
padding-top:70px;
text-align: left;
z-index: 100;
}

#mobnav_button{
  display: none;
}

#mobnav{
  padding-top: 76px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.6s ease 0s;
}

.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
  text-transform: uppercase;
  color: $satin-linen;
  opacity: 0.8;
  font-size: 80%;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.10em;
  background: $satin-linen;
  box-shadow: 
    0 0.25em 0 0 $satin-linen,
    0 0.5em 0 0 $satin-linen;
}

//
// .main
//


#main{
  position: relative;
  width: 100%;
}

.posts{
  padding-top: 76px;
}

.posts > .post {
  margin-top: 0px;
  padding-bottom: 2em;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  
}

.post {   
  color: $satin-linen;
  border-bottom: 1px solid rgb(111, 202, 207);
  border-bottom: 1px solid rgba(255, 255, 255, .2);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  min-height: 500px; 

  h1{
    padding-top: 114px;
  }

  p{
    text-align: center;
  }


  .comments {
    margin-top: 10px;
  }

  .read-more a{
    text-transform: uppercase;
    font-size: 15px;
  }

}

.resume{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 600px;
  display: block;
}

.resume-item{
  float: left;
  display: block;
}

.read-more{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: $itemWidth;
}

.cover{
  min-height: 500px;
  h1{
    padding-top: 114px;
  }
  p{
    color: $satin-linen;
    text-align: center;
  }
}


  blockquote {
    background: $eastern-blue;
    margin: 1em 1em 2em 1em;
    border: 2px solid $satin-linen;
    outline: 4px solid $eastern-blue;
    padding: 80px;
    color: $satin-linen;
    font-size: 22px;
  }

  .salmon{
    background: $salmon;
    outline: 4px solid $salmon;
  }

.entry{
  background: $satin-linen;
  color: $armadillo;
  text-align: center;
  padding-top: 50px;
  h1{
    color: $armadillo;
  }
  a{
    color: $eastern-blue;
  }
  h2, h3{
    text-align: left;
    margin-left: auto;
    margin-right: auto; 
    width: $itemWidth;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
  }
}

.sidenote{
  float: left;
  margin: 0 0 0 -12em;
  line-height: normal;
  padding-right: 10px;
  width: 170px;
  padding-left: 20px;
  padding-right: 20px;
  width: 150px;
  font-size: 0.7em;
  line-height: 1.2em;
  color: $biloba;
  a{
    
    text-decoration: underline;
    margin-bottom: 20px;
  }
}

.wrapper-footer {
  margin-top: 20px;
}

footer {
  padding: $paddingHeight 0;
  text-align: center;
}

/* Social */

.social{
  padding-top:20px;
  padding-bottom: 20px;
}

.stButton .stButton_gradient {
height: 24px !important;
}

.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices {
height: 24px !important;
}


/* Disqus */

#disqus_thread{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Phone */


@media screen and (max-width: 600px) { 
#logo{
margin-top: 10px;
left: -30px;
}

#logo, #mikalogo, #mikalogo:hover{
background-size: 60px 60px;
width: 60px;
height: 60px;
}

#leftnav, #rightnav{
display:none;
}


#mobnav_button{
  position: absolute;
  top: 30px;
  right: 10px;
  display: block;
  cursor: pointer;
  z-index: 10;
}

#mobnav ul{
  text-align: center;
  width: 100%;
  margin-left: 0;
  padding-left: 0;
  li{
    a{
      text-transform: uppercase;
      color: $satin-linen;
      line-height: 2em;
      opacity: 0.8;
      display: block;
    }

    list-style-type: none;
    border-bottom: 1px solid rgb(111, 202, 207);
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  }
}

#header{
width:$mobWidth;
margin-top: 80px;
h1{
  line-height: 1em;
}
}

.cover{
  h1, p{
    width: $mobWidth;
    margin-left: auto;
    margin-right: auto;
  }
}

.posts{
  padding-top: 0px;
}

.post{
  h1{
  width: $mobWidth;
  padding-bottom: 20px;
  padding-top: 74px;
}

p{
  width: $mobWidth;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 24px;
  line-height: 1.6em;
}
}

.read-more{
  width: $mobWidth;
}

.entry{
padding-top: 50px;
h1,h2,h3{
  width: $mobWidth;
  padding-bottom: 20px;
}

p{
  width: $mobWidth;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 24px;
  line-height: 1.6em;
}
img{
  padding-top: 20px;
  padding-bottom: 20px;
}
}

.fullwidth{
  width: 100%;
}

blockquote{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
  border: none;
  outline: none;
}

.salmon{
  outline: none;
}

.sidenote{
  display: none;
}

#disqus_thread{
  width: $mobWidth;
  margin-left: auto;
  margin-right: auto;
}

}




// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";