/*
Syntax error: Invalid CSS after "-": expected number or function, was "--"
        on line 1 of /Users/mika/hailmika.github.io/style.scss

1: ---
2: ---
3: 
4: //
5: // IMPORTS
6: //

Backtrace:
/Users/mika/hailmika.github.io/style.scss:1
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/scss/parser.rb:1145:in `expected'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/scss/parser.rb:1083:in `expected'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/scss/parser.rb:1065:in `expr!'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/scss/parser.rb:921:in `term'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/scss/parser.rb:896:in `expr'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/scss/parser.rb:670:in `simple_selector_sequence'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/scss/parser.rb:639:in `_selector'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/scss/parser.rb:618:in `selector'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/scss/parser.rb:602:in `selector_sequence'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/scss/parser.rb:527:in `ruleset'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/scss/parser.rb:552:in `block_child'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/scss/parser.rb:542:in `block_contents'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/scss/parser.rb:27:in `parse'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/engine.rb:342:in `_to_tree'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/engine.rb:315:in `_render'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/engine.rb:262:in `render'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `each'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:235:in `watch'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/plugin.rb:107:in `method_missing'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/exec.rb:455:in `watch_or_update'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/exec.rb:318:in `process_result'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/exec.rb:41:in `parse'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/lib/sass/exec.rb:21:in `parse!'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.2.10/bin/sass:9:in `<top (required)>'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/bin/sass:23:in `load'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/bin/sass:23:in `<main>'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/bin/ruby_executable_hooks:15:in `eval'
/Users/mika/.rvm/gems/ruby-2.0.0-p353/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"-\": expected number or function, was \"--\"\A         on line 1 of /Users/mika/hailmika.github.io/style.scss\A \A 1: ---\A 2: ---\A 3: \A 4: //\A 5: // IMPORTS\A 6: //"; }
