---
layout: default
title: Team
permalink: /team/
---

<div class="posts">
  <div class="post">
  {% for member in site.team %}
    {% assign mod = forloop.index | modulo: 3 %}
    {{ mod }}:{{post.title}}
    {% if mod == 1 %}
      <div>
        <p>{{ member.content | markdownify }}</p>
        <h2>{{ member.name }}</h2>
        <h3>{{ member.position }}</h3>
      </div>
    {% elsif mod == 2 %}
      <div class="middle">
        <p>{{ member.content | markdownify }}</p>
        <h2>{{ member.name }}</h2>
        <h3>{{ member.position }}</h3>
      </div>
    {% else %}
      <div>
        <p>{{ member.content | markdownify }}</p>
        <h2>{{ member.name }}</h2>
        <h3>{{ member.position }}</h3>
      </div>
      <hr>
    {% endif %}
  {% endfor %}
  </div>
</div>


