//  STACK OVERFLOW CAREERS
//  Product UI Style Guide
//  Designed & managed by the Stack Exchange Design Team
//
//  Created September 11, 2014
//  Updated September 11, 2014
//
//  http://careers.stackoveflow.com
//
//  WEBFONTS: MERRIWEATHER SANS
//
//  ============================================================================
@fontURL-merriweather: "../lib/fonts/merriweathersans";
@fontBold: "semi-bold";
@fontNormal: "light";
@fontLight: "extra-thin";

@font-face{
  font-family: "merriweather";
  src:url("@{fontURL-merriweather}/@{fontBold}.eot"); // IE9+
  src:url("@{fontURL-merriweather}/@{fontBold}.eot") format("embedded-opentype"),
  url("@{fontURL-merriweather}/@{fontBold}.woff") format("woff"),
  url("@{fontURL-merriweather}/@{fontBold}.ttf") format("truetype"),
  url("@{fontURL-merriweather}/@{fontBold}.svg") format("svg");
  font-weight:700;
  font-style:normal;
}
@font-face{
  font-family: "merriweather";
  src:url("@{fontURL-merriweather}/@{fontBold}-italic.eot"); // IE9+
  src:url("@{fontURL-merriweather}/@{fontBold}-italic.eot") format("embedded-opentype"),
  url("@{fontURL-merriweather}/@{fontBold}-italic.woff") format("woff"),
  url("@{fontURL-merriweather}/@{fontBold}-italic.ttf") format("truetype"),
  url("@{fontURL-merriweather}/@{fontBold}-italic.svg") format("svg");
  font-weight:700;
  font-style:italic;
}
@font-face{
  font-family: "merriweather";
  src:url("@{fontURL-merriweather}/@{fontNormal}.eot"); // IE9+
  src:url("@{fontURL-merriweather}/@{fontNormal}.eot") format("embedded-opentype"),
  url("@{fontURL-merriweather}/@{fontNormal}.woff") format("woff"),
  url("@{fontURL-merriweather}/@{fontNormal}.ttf") format("truetype"),
  url("@{fontURL-merriweather}/@{fontNormal}.svg") format("svg");
  font-weight:400;
  font-style:normal;
}
@font-face{
  font-family: "merriweather";
  src:url("@{fontURL-merriweather}/@{fontNormal}-italic.eot"); // IE9+
  src:url("@{fontURL-merriweather}/@{fontNormal}-italic.eot") format("embedded-opentype"),
  url("@{fontURL-merriweather}/@{fontNormal}-italic.woff") format("woff"),
  url("@{fontURL-merriweather}/@{fontNormal}-italic.ttf") format("truetype"),
  url("@{fontURL-merriweather}/@{fontNormal}-italic.svg") format("svg");
  font-weight:400;
  font-style:italic;
}
@font-face{
  font-family: "merriweather";
  src:url("@{fontURL-merriweather}/@{fontLight}.eot"); // IE9+
  src:url("@{fontURL-merriweather}/@{fontLight}.eot") format("embedded-opentype"),
  url("@{fontURL-merriweather}/@{fontLight}.woff") format("woff"),
  url("@{fontURL-merriweather}/@{fontLight}.ttf") format("truetype"),
  url("@{fontURL-merriweather}/@{fontLight}.svg") format("svg");
  font-weight:200;
  font-style:normal;
}
@font-face{
  font-family: "merriweather";
  src:url("@{fontURL-merriweather}/@{fontLight}-italic.eot"); // IE9+
  src:url("@{fontURL-merriweather}/@{fontLight}-italic.eot") format("embedded-opentype"),
  url("@{fontURL-merriweather}/@{fontLight}-italic.woff") format("woff"),
  url("@{fontURL-merriweather}/@{fontLight}-italic.ttf") format("truetype"),
  url("@{fontURL-merriweather}/@{fontLight}-italic.svg") format("svg");
  font-weight:200;
  font-style:italic;
}