<script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_tracking_id = "hendrixjoseph-20";
amzn_assoc_ad_mode = "search";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_default_search_phrase = "{{ include.search }}";
amzn_assoc_default_category = "{{ include.category }}";
amzn_assoc_linkid = "35205f6d21da82f6ff56400a8e69bf93";
amzn_assoc_search_bar = "false";
amzn_assoc_title = "Shop Related Products";
amzn_assoc_default_browse_node = "1064954";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>