{% capture page_url %}
  {% if include.url %}
    {{ site.url }}{{ include.url }}
  {% else %}
    {{ site.url }}{{ page.url }}
  {% endif %}
{% endcapture %}
{% capture page_id %}
  {% if include.url %}
    {{ include.url }}
  {% else %}
    {{ page.url }}
  {% endif %}
{% endcapture %}
{% capture url %}{{ page_url  | strip_newlines | strip | uri_escape }}{% endcapture %}
{% capture text %}{% if include.text %}{{ include.text }}{% elsif page.title %}{{ page.title }}{% endif %}{% endcapture %}

<div class="share-block">
<a href="https://www.facebook.com/dialog/share?app_id={{ site.fb-app-id }}&display=page&href={{ url }}" target="_blank">
	<div class="share facebook">
		<i class="fab fa-facebook-f" aria-hidden="true"></i>
		<span class="mobile-hide full-name">share</span>
	</div>
</a>
<a href="https://twitter.com/intent/tweet?url={{ url }}&via={{ site.footer-links.twitter }}{% if text %}&text={{ text | url_encode }}{% endif %}{% if page.hashtags %}&hashtags={% for hashtag in hashtags %}{{ hashtag }}{% unless forloop.last %},{% endenless %}{% endfor %}{% endif %}" target="_blank">
	<div class="share twitter">
		<i class="fab fa-twitter" aria-hidden="true"></i>
		<span class="mobile-hide full-name">tweet</span>
	</div>
</a>
<a href="https://www.linkedin.com/shareArticle?url={{ url }}&source={{ site.name | uri_escape }}" target="_blank">
	<div class="share linkedin">
		<i class="fab fa-linkedin" aria-hidden="true"></i>
		<span class="mobile-hide full-name">share</span>
	</div>
</a>
<a href="https://plus.google.com/share?url={{ url }}" target="_blank">
	<div class="share googleplus">
		<i class="fab fa-google-plus-g" aria-hidden="true"></i>
		<span class="mobile-hide full-name">share</span>
	</div>
</a>
<a href="http://www.reddit.com/submit?url={{ url }}" target="_blank">
	<div class="share reddit">
		<i class="fab fa-reddit-alien" aria-hidden="true"></i>
		<span class="mobile-hide full-name">share</span>
	</div>
</a>
<a href="https://mix.com/mixit?url={{ url }}" target="_blank">
	<div class="share mix">
		<i class="fab fa-mix" aria-hidden="true"></i>
		<span class="mobile-hide full-name">mixit</span>
	</div>
</a>
</div>
