{% capture page_url | strip_newlines | strip %}
  {% if include.url %}
    {{ site.url }}{{ include.url }}
  {% elsif page.facebook_post %}
    {{ page.facebook_post }}
  {% else %}
    {{ site.url }}{{ page.url }}
  {% endif %}
{% endcapture %}
{% capture url %}{{ page_url  | strip_newlines | strip | uri_escape }}{% endcapture %}

<script>
function intToString(integer) {
	if(integer === 0) {
		return "";
	} else if(integer < 1000) {
		return integer;
	} else if(integer < 1000000) {
	    return Math.round(integer / 1000) + "k";
	} else {
		return Math.round(integer / 1000000) + "m";
	}
}

  $( document ).ready(function() {
    social.facebook.count("{{ url | uri_escape }}", function(count) {
      $(".share.facebook .count").append(intToString(count.share_count));
    });
  });
</script>

<div class="share-block">
<a href="https://www.facebook.com/sharer/sharer.php?u={{ url }}" target="_blank">
	<div class="share facebook">facebook<span class="count"></span></div>
</a>
<a href="https://twitter.com/home?status={{ url }}" target="_blank">
	<div class="share twitter">twitter<span class="count"></span></div>
</a>
<a href="https://www.linkedin.com/shareArticle?url={{ url }}" target="_blank">
	<div class="share linkedin">LinkedIn<span class="count"></span></div>
</a>
<a href="http://www.reddit.com/submit?url={{ url }}" target="_blank">
	<div class="share reddit">reddit<span class="count"></span></div>
</a>
<a href="http://www.stumbleupon.com/likecontent?url={{ url }}" target="_blank">
	<div class="share stumbleupon">stumbleupon<span class="count"></span></div>
</a>
</div>
