{% capture page_url %}
  {% if include.url %}
    {{ site.url }}{{ include.url }}
  {% else %}
    {{ site.url }}{{ page.url }}
  {% endif %}
{% endcapture %}
{% capture page_id %}
  {% if include.url %}
    {{ include.url }}
  {% else %}
    {{ page.url }}
  {% endif %}
{% endcapture %}
{% capture url %}{{ page_url  | strip_newlines | strip | uri_escape }}{% endcapture %}
{% capture id %}{{ page_id | remove: '/' | replace: '_', '-' | strip }}{% endcapture %}

<script>
$( document ).ready(function() {
	social.facebook.count("{{ url }}", function(count) {
		$("#{{ id }} .facebook .count").append(intToString(count.share_count));
	});
	
	social.reddit.process("hendrixjoseph.github.io", function(result) {
		var c = result.find("{{ url }}");
		
		$("#{{ id }} .reddit .count").append(intToString(c.score));
	});
});
</script>

<div id="{{ id }}" class="share-block">
<a href="https://www.facebook.com/sharer/sharer.php?u={{ url }}" target="_blank">
	<div class="share facebook">f<span class="mobile-hide">acebook</span><span class="count"></span></div>
</a>
<a href="https://twitter.com/home?status={{ url }}" target="_blank">
	<div class="share twitter">t<span class="mobile-hide">witter</span><span class="count"></span></div>
</a>
<a href="https://www.linkedin.com/shareArticle?url={{ url }}" target="_blank">
	<div class="share linkedin"><span class="mobile-hide">Linked</span>In<span class="count"></span></div>
</a>
<a href="http://www.reddit.com/submit?url={{ url }}" target="_blank">
	<div class="share reddit">r<span class="mobile-hide">eddit</span><span class="count"></span></div>
</a>
<a href="http://www.stumbleupon.com/likecontent?url={{ url }}" target="_blank">
	<div class="share stumbleupon">s<span class="mobile-hide">tumble</span>u<span class="mobile-hide">pon</span><span class="count"></span></div>
</a>
</div>
