.nav--topnav {
	position: fixed;
	z-index: 1;
	top: 0; left: 0;

	.js & {
		top: -100%;
	}

	display: block;
	width: 100%;
	height: $topnav-height;
	box-shadow: 0 0 3px $gray;

	background: WHITE;
	text-align: center;
	font-family: $helveticaNeue;

	transition: top .3s linear;

	a {
		color: $purple;
		font-weight: 300;
		line-height: $topnav-height;
	}

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	li {
		display: inline-block;
		padding: 0;
		margin: 0 15px;
	}
}

.nav--banner {
	list-style: none;
	text-align: center;
	padding: 0; margin: 0;

	li {
		display: inline-block;

		&:first-of-type a:after { // About
			background-color: $purple;
		}

		&:nth-of-type(2n) a:after { // Portfolio
			background-color: $blue;
		}

		&:last-of-type a:after { // Blog
			background-color: $green;
		}
	}

	a {
		display: block;
		color: WHITE;
		font-size: 1.2em;
		letter-spacing: 5px;
		margin: 0 10px;
		text-transform: capitalize;

		position: relative;

		&:hover {
			color: WHITE;
			&:after {
				transform: scalex(1);
			}
		}

		&:after {
			background-color: white;
			content: '';
			display: block;
			width: 100%;
			transform: scaleX(0);
			height: 3px;
			margin: 0 auto;

			transition: transform .1s linear;
		}
	}
}
