.portfolio-items {
  list-style-type: none;
  padding: 0;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  li {
    min-width: 285px;
  }
}
.portfolio-item {
  position: relative;
  display: block;
  color: WHITE;
  background: black;
  height: 250px;
  width: 250px;
  overflow: hidden;
  
  margin: 7px auto;
  
  border: 10px solid LIGHTGRAY;
  
  h3, img {
    position: absolute;
  }
  
  img {
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.2s ease-in-out;
  }
  
  h3 {
    z-index: 1;
    width: 100%;
    display: none;
    text-align: center;
    
    top: 45%;
    transform: translateY(-50%);
    
    &:before, &:after {
      content: '';
      display: block;
      width: 60%;
      margin: 10px auto;
      height: 2px;
      background: WHITE;
    }
  }
  
  &:hover {
    img {
      opacity: 0.5;
    }
    h3 {
      display: block;
    }
  }
}
