main.main
    margin-top 30px;
    margin-bottom: 30px;

.search_box
    display none
    header 
        margin-top: 20px;
        margin-bottom: 20px;
        h3
            font-size: 18px
            font-weight: bold