// Global vars

ks-no-conflict ?= false

// Default browsers version's for support
ks-support-ie = ks-support-ie-default = 8
ks-support-firefox = ks-support-firefox-default = 30
ks-support-chrome = ks-support-chrome-default = 30
ks-support-safari = ks-support-safari-default = 6
ks-support-opera = ks-support-opera-default = 20
ks-support-ios-safari = ks-support-ios-safari-default = 6
ks-support-opera-mini = ks-support-opera-mini-default = false
ks-support-android-browser = ks-support-android-browser-default = false
ks-support-blackberry-browser = ks-support-blackberry-browser-default = false
ks-support-opera-mobile = ks-support-opera-mobile-default = false
ks-support-android-chrome = ks-support-android-chrome-default = false
ks-support-android-firefox = ks-support-android-firefox-default = false
ks-support-ie-mobile = ks-support-ie-mobile-default = false

ks-support-ignore-features = ()

ks-support-media-queries = true
