Package: cc.cu.iosrepo.ccquickpro8
Version: 1.0-4
Section: Tweaks
Maintainer: IT STAR <itstar4tech@gmail.com>
Depends: firmware (>= 8.0), mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.2)
Conflicts: com.cunstuck.ccquick, com.danyl.cccontrols, vn.gsm.ccquickpro, org.thebigboss.ccquickpro
Architecture: iphoneos-arm
Installed-Size: 1112
Description: shortcuts ေတြနဲ႕ အျခား အသံုး၀င္တဲ့ အပိုင္းေတြကို Control Center မွၾထည့္မယ္။
Name: CCQuick Pro for iOS8
Depiction: http://cydia.vn/depic/t5544/
Homepage: http://iosrepo.cu.cc/
Icon: file:///Library/PreferenceBundles/CCQuick.bundle/CCQuickIcon@2x.png
Tag: cydia::commercial, purpose::extension, ios7support::1, ios8support::1
