@import 'kouto-swiss'

body
    font-size: em( 12, 24 )
    font-size: em( 16, 24 )
    font-size: em( 24, 24 )
    font-size: em( 12, 16 )
    font-size: em( 12, 10 )
    font-size: em( 12px, 24px )
    font-size: em( 16px, 24px )
    font-size: em( 24px, 24px )
    font-size: em( 12px, 16px )
    font-size: em( 12px, 10px )

body
    font-size: em( 12 )
    font-size: em( 16 )
    font-size: em( 24 )
