@import 'kouto-swiss'

redTriad = triad( red )
greenTriad = triad( green )
blueTriad = triad( blue )
blackTriad = triad( black )

body
    background: redTriad[0]
    background: redTriad[1]
    background: greenTriad[0]
    background: greenTriad[1]
    background: blueTriad[0]
    background: blueTriad[1]
    background: blackTriad[0]
    background: blackTriad[1]
