@import 'kouto-swiss'

div
    font-size: golden-ratio( 16px, -2 )
    font-size: golden-ratio( 16px, -1 )
    font-size: golden-ratio( 16px, 0 )
    font-size: golden-ratio( 16px, 1 )
    font-size: golden-ratio( 16px, 2 )

div
    font-size: golden-ratio( 1em, -2 )
    font-size: golden-ratio( 1em, -1 )
    font-size: golden-ratio( 1em, 0 )
    font-size: golden-ratio( 1em, 1 )
    font-size: golden-ratio( 1em, 2 )
