@import 'kouto-swiss'

redAnalogous = analogous( red )
greenAnalogous = analogous( green )
blueAnalogous = analogous( blue )
blackAnalogous = analogous( black )

body
    background: redAnalogous[0]
    background: redAnalogous[1]
    background: greenAnalogous[0]
    background: greenAnalogous[1]
    background: blueAnalogous[0]
    background: blueAnalogous[1]
    background: blackAnalogous[0]
    background: blackAnalogous[1]
