@import 'kouto-swiss'

button
    animation: none 0s ease 0s 1 normal none
    animation-delay: 0
    animation-direction: normal
    animation-duration: 0
    animation-fill-mode: none
    animation-iteration-count: 1
    animation-name: none
    animation-play-state: running
    animation-timing-function: ease

button
    appearance: none

button
    backface-visibility: visible

button
    background-clip: border-box
    background-origin: padding-box
    background-size: auto auto

button
    border-image-source: none
    border-image-slice: 100%
    border-image-width: 1
    border-image-outset: 0s
    border-image-repeat: stretch
    border-image: none 100% 1 0s stretch

button
    box-shadow: none

button
    box-sizing: content-box

button
    clip-path: none

button
    column-count: auto
    column-fill: balance
    column-gap: normal
    column-rule: medium none black
    column-rule-color: black
    column-rule-style: medium
    column-rule-width: medium
    column-span: none
    column-width: auto
    columns: auto auto

button
    grid: none
    grid-area: none
    grid-auto-columns: auto
    grid-auto-flow: none
    grid-auto-position: 1 / 1
    grid-auto-rows: auto
    grid-column: none
    grid-column-end: auto
    grid-column-start: auto
    grid-row: none
    grid-row-end: auto
    grid-row-start: auto
    grid-template: none
    grid-template-areas: none
    grid-template-columns: none
    grid-template-rows: none

button
    hyphens: manual

ks-support-ie = 12

button
    hyphens: manual

ks-support-ie = ks-support-ie-default

button
    justify-content: auto

button
    mask: border-box

button
    opacity: .5
    opacity: 1
    opacity: inherit

button
    order: 3

button
    perspective: none
    perspective-origin: 50% 50%

button
    transition: 0s 0s all ease
    transition-delay: 0s
    transition-duration: 0s
    transition-property: all
    transition-timing-function: ease

button
    user-select: none

ks-vendors-prefixes = o ms webkit moz

button
    backface-visibility: visible

ks-vendors-prefixes = recommended

button
    backface-visibility: visible

ks-vendors-prefixes = false

button
    backface-visibility: visible

ks-vendors-prefixes = recommended

button
    backface-visibility: visible

button
    vendor( "columns", auto auto, feature: "multicolumn" )

button
    vendor( "columns", auto auto, prefixes: webkit moz ms o )

button
    vendor( "columns", auto auto, prefixes: webkit moz ms o, official: false )

ks-support-ignore-features = "css3-boxsizing" "css-animation"

button
    animation: none 0s ease 0s 1 normal none
    box-sizing: content-box
    box-sizing: content-box !important

button
    appearance: none !important
