@import 'kouto-swiss'

div
    triangle( up, 10px, red )

div
    triangle( down, 20px, blue, red )

div
    triangle( left, 5px, rgba( 12, 23, 45, .7 ) )

div
    triangle( right, 1px, white )

div
    triangle( up-left, 10px, red )

div
    triangle( up-right, 10px, red )

div
    triangle( down-left, 10px, red )

div
    triangle( down-right, 10px, red, blue )
