@import 'kouto-swiss'

button
    clearfix()
    width: 22px

section
    clear: none
    clear: left
    clear: right
    clear: both

div
    width: 100%
    clear: fix

header
    width: 100%
    clear: fix()

ks-support-ie = 7

div
    width: 100%
    clear: fix

ks-support-ie = ks-support-ie-default

section
    clear: none !important
    clear: left !important
    clear: right !important
    clear: both !important

div
    width: 100%
    clear: fix !important

header
    width: 100%
    clear: fix() !important
