@import 'kouto-swiss'

body
    font-family: font-stack( "Arial" )
    font-family: font-stack( "Arial Black" )
    font-family: font-stack( "Arial Narrow" )
    font-family: font-stack( "Arial Rounded MT Bold" )
    font-family: font-stack( "Avant Garde" )
    font-family: font-stack( "Calibri" )
    font-family: font-stack( "Candara" )
    font-family: font-stack( "Century Gothic" )
    font-family: font-stack( "Franklin Gothic Medium" )
    font-family: font-stack( "Futura" )
    font-family: font-stack( "Geneva" )
    font-family: font-stack( "Gill Sans" )
    font-family: font-stack( "Helvetica" )
    font-family: font-stack( "Impact" )
    font-family: font-stack( "Lucida Grande" )
    font-family: font-stack( "Optima" )
    font-family: font-stack( "Segoe UI" )
    font-family: font-stack( "Tahoma" )
    font-family: font-stack( "Trebuchet MS" )
    font-family: font-stack( "Verdana" )
    font-family: font-stack( "Baskerville" )
    font-family: font-stack( "Big Caslon" )
    font-family: font-stack( "Bodoni MT" )
    font-family: font-stack( "Book Antiqua" )
    font-family: font-stack( "Calisto MT" )
    font-family: font-stack( "Cambria" )
    font-family: font-stack( "Didot" )
    font-family: font-stack( "Garamond" )
    font-family: font-stack( "Georgia" )
    font-family: font-stack( "Goudy Old Style" )
    font-family: font-stack( "Hoefler Text" )
    font-family: font-stack( "Lucida Bright" )
    font-family: font-stack( "Palatino" )
    font-family: font-stack( "Perpetua" )
    font-family: font-stack( "Rockwell" )
    font-family: font-stack( "Rockwell Extra Bold" )
    font-family: font-stack( "Times New Roman" )
    font-family: font-stack( "Andale Mono" )
    font-family: font-stack( "Consolas" )
    font-family: font-stack( "Courier New" )
    font-family: font-stack( "Lucida Console" )
    font-family: font-stack( "Lucida Sans Typewriter" )
    font-family: font-stack( "Monaco" )
    font-family: font-stack( "Copperplate" )
    font-family: font-stack( "Papyrus" )
    font-family: font-stack( "Brush Script MT" )
    font-family: font-stack( "System" )
    font-family: font-stack( "System with Emojis" )
    font-family: font-stack( "Kouto Swiss MT" )
