colors_default  = {

  text            : #37474f
   accent          : #000000
   red             : #D1322D
  green           : #57BB43
  orange          : #D97D25
  yellow          : #CECB30
  purple          : #9F32CC
  blue            : #00b0ff
  white           : #ffffff
  grey            : #DBDBDB
  basic        :#ef6822

}

colors = extend(colors_default, colors)