

global_default    = {
  version           : '1.0.6'

  direction         : rtl
  background-color  : false

  border-radius     : 0px
  box-shadow        : none
  
  font-family       : 'IRANYekan'
  font-size         : 12px
  color             : colors.text
  line-height       : 2.1
  
  padding           : 5px 8px
  margin            : 10px 5px

  hover             : 15%
  focus             : 20%
}

global = merge(global_default, global)
