
// kouto swiss configure

ks-color-fallback-enabled     = true
ks-rem-base                   = global.font-size

// Vendor prefix
ks-support-ie                 = 8
ks-support-firefox            = 30
ks-support-chrome             = 30
ks-support-safari             = 6
ks-support-opera              = 20
ks-support-ios-safari         = 6
ks-support-opera-mini         = false
ks-support-android-browser    = false
ks-support-blackberry-browser = false
ks-support-opera-mobile       = false
ks-support-android-chrome     = false
ks-support-android-firefox    = false
ks-support-ie-mobile          = false

ks-vendors-prefixes           = recommended
