---
layout: jp
title: リネージュ2Mのれんきん情報
excerpt: "リネージュ2Mのアイテムを検索すると、該当アイテムが存在する錬金材料に関連するアイテムコレクションを確認できます。"
tags: [リネージュ2M, リネージュ2m, れんきん, れんきん情報, れんきん探し]
---
<h1><a href="https://twitter.com/L2MDCSCAM">Twitter</a></h1>
<div class="recent" lang="jp">
  <h1>TIPS</h1>
{% assign posts=site.categories.tips | where:"lang", "ko" | sort: 'lang-ref' %}
{% if posts.size > 1 %}
  {% for post in posts %}
    <article class="post">
      <h2>{{ post.jp }}</h2>
      <a href="{{ site.baseurl }}{{ post.url }}"><span class="flag flag-kr"> </span> 한국어</a>
      <a href="{{ site.baseurl }}{{ post.url | replace: "ko", "jp" }}"><span class="flag flag-jp"> </span>日本語</a>
    </article>
  {% endfor %}
{% endif %}
</div>
