---
layout: default
title: Comments
permalink: /comments/
---

<section id="comments" class="comments">
	<ul class="comment-list top">
{% for comment in site.data.comments %}
  <li id="comment-{{ comment[1].date }}" class="comment">
		<article class="comment-body" itemprop="comment" itemscope itemtype="http://schema.org/Comment">
			{% assign c = comment[1] %}{% include comments/vcard.html comment=c %}
			<div class="comment-content">{{ comment[1].message | markdownify }}</div>
		</article>
  </li>
<a href="/{{ comment[0] }}/">{{ comment[0] }}</a>
{% endfor %}
	</ul>
</section>

---

{% for comment in site.data.comments %}
{{ comment }}
{% endfor %}
