html, body {
	/*background: #663399; /* Beccapurple */
 margin: 0;

}

#MainTitle {
	color: #8D99AE;
	text-align: center;
	background: #2B2D42;

	}
#TabText {
		color: #8D99AE;
	text-align: left;
	background: none;


	
}	 
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: #8D99AE;
}
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	padding: 2.5% 2.5% 0;
	/*background: white;*/
	line-height: 1.8;
}
h1 {
	font: 1.6em Verdana, Geneva, sans-serif;
	margin-bottom: .4em;
	color: #8D99AE;
}
h2 {
	font: 3.2em Georgia, "Times New Roman", Times, serif;
	margin-bottom: .2em;
}
h3 {
	font-size: 1.2em;
}

h4 {
	color: #8D99AE;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 10px;

	
}

p {
	font-weight: bold;
	color: #8D99AE;
	font-size: 1em;
	margin-bottom: 1em;
	background: #2B2D42;
	
}
a {
	color: rgb(184, 126, 84);
}
a:hover {
	color: rgb(120, 97, 55);
}
pre {
	font-size: 1.4em;
	color: white;
	padding: .5em 1em;
	border-left: 1em solid #A68048;
	background: #666;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	width: 80%;
}
pre.wrong {
	border-left-color: red;
}
pre.correct {
	border-left-color: green;
}
dt {
	font-style: italic;
	font-size:1.2em;
}
dd {
	margin-bottom: 1.4em;
}
table {
	margin-top: 1em;
}
caption {
	margin: 0;
	padding: 0;
	margin-bottom: 1em;
	text-align: left;
}
td, th {
	padding: 10px;
}
.center {
	text-align: center;
}
header h2 {
	padding-bottom: .2em;
	border-bottom: 1px solid gray;
}
aside {
	padding: 1em;
	background: green;
	color: white;
	margin-bottom: 1em;
}
aside h4 {
	color: white;
}
footer {
	border-top: 1px solid gray;
	text-align: center;
	font-size: .8em;
	line-height: 4em;
	margin-top: 1em;
}
blockquote {
	font-style: italic;
}
.flowRight {
	float: right;
	margin-left: 10px;
}
.flowLeft {
	float: left;
	margin-right: 10px;
}
/*tab styles*/
aside.languages {
	font: .8em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background: none;
	padding: 0px;
	padding-top: 0px;

	/*float: right;/*
	width: 700px;
	/*margin-left: 1em;*/
}

.languages h3 {
	font-weight: normal;
	color: white;
	font-size: 1.6em;
	margin-bottom:.5em;

}

#tabContainer h4 {
	color: #8D99AE;
	font-size: 2em;


}

#tabs{
	height:30px;
	overflow:hidden;
}

#tabs > ul{
	font: 1em;
	list-style:none;
}
#tabs ul, #tabs li {
	margin:0;
	padding:0;
}

#tabs > ul > li{
	margin:0 2px 0 0;
	padding:7px 10px;
	display:block;
	float:left;
	color: #8D99AE;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	background: #2B2D42;

}

#tabs > ul > li:hover{
	background: white; 
	cursor:pointer;
}

#tabs > ul > .active{
	background: white; /* old browsers */
	cursor:pointer;
}

#containers div {
	background: #2B2D42;
	padding:10px 10px 25px;
	margin:0;
	overflow:hidden;
	font: 1.4em Verdana, Geneva, sans-serif;

	
	
}
#tabs a {
	text-decoration: none;
	color:  #8D99AE;
}