Package: cc.cu.iosrepo.myanmarfriendly
Name: Myanmar Friendly For Facebook
Version: 0.1
Architecture: iphoneos-arm
Description: Facebook Multi User For Myanmar
Depiction:  http://iosrepo.cu.cc/tweak/2015/01/31/myanmarfriendly.html
Homepage: http://iosrepo.cu.cc
Maintainer: IT STAR <itstar4tech@gmail.com>
Author: Shein Myint Aung
Section: Tweaks
