<div id="electricUseChart" style="width: 90%; height: 300px;"></div>
<script type="text/javascript">
$( document ).ready(function() {
    c3.generate({
        bindto: '#electricUseChart',
        data: {
            x: 'month',
            rows: [
                ['month', 'usage'],
		['Feb 2017', '137'],
		['Jan', '215'],
		['Dec', '182'],
		['Nov', '170'],
		['Oct', '200'],
		['Sep', '164'],
		['Aug', '147'],
		['Jul', '170'],
		['Jun', '164'],
		['May', '202'],
		['Apr', '196'],
		['Mar', '243'],
		['Feb', '249'],
		['Jan', '217'],
		['Dec', '188']
            ],
            type: 'spline'
        },
        axis: {
            x: {
                label: {
                    text: 'month',
                    position: 'outer-center'
                }
            },
            y: {
                label: {
                    text: 'use',
                    position: 'outer-middle'
                }
            }
        }
    });
});
</script>
