<div id="electricUseChart" style="width: 90%; height: 300px;"></div>
<script type="text/javascript">
$( document ).ready(function() {
    c3.generate({
        bindto: '#electricUseChart',
        data: {
            x: 'month',
	    columns: [['usage', 137, 215, 182, 170, 200, 164, 147, 170, 164, 202, 196, 243, 249, 217, 188]],
            type: 'spline'
        },
        axis: {
            x: {
		type: 'category',
            	categories: ['Feb', 'Jan', 'Dec', 'Nov', 'Oct', 'Sep', 'Aug', 'Jul', 'Jun', 'May', 'Apr', 'Mar', 'Feb', 'Jan', 'Dec'],
                label: {
                    text: 'month',
                    position: 'outer-center'
                }
            },
            y: {
                label: {
                    text: 'use',
                    position: 'outer-middle'
                }
            }
        }
    });
});
</script>
