<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": {{site.Params.local_business_type | default site.Params.site_type}},
  "@id": {{site.BaseURL}},
  "name": {{site.Params.org_name | default site.Title}},
  "logo": {{ partial "functions/get_logo_url" . }},
  {{with site.Params.sharing_image}}"image": {{printf "img/%s" . | absURL}},{{end}}
  {{ if (eq site.Params.site_type "LocalBusiness") | and site.Params.coordinates }}
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": {{site.Params.coordinates.latitude}},
    "longitude": {{site.Params.coordinates.longitude}}
  },
  {{end}}
  {{ with site.Params.address }}
  "address": {
    "@type": "PostalAddress",
    "streetAddress": {{ .street | default "" }},
    "addressLocality": {{ .city | default "" }},
    "addressRegion": {{ .region | default "" }},
    "postalCode": {{ .postcode | default "" }},
    "addressCountry": {{ .country_code | default .country | default "" }}
  },
  {{end}}
  {{ with site.Params.phone }}"telephone": {{.}},{{end}}
  "url": {{site.BaseURL}}
}
</script>
