
.tooltip{
	color: #333;
	border: 1px solid #aab;
	border-bottom: 2px solid #887;
	border-right: 2px solid #887;
	background-color: #fdfdfe;
	padding: 1px 3px 1px 3px;
	white-space: nowrap;
	font-size: 0.7em;
	font-family: arial;
	opacity: 0.9;
	margin-left: -20px;
}
.tiptool{
	color: #333;
	border-radius:0.3em;
	background-color: #fdfdfe;
	padding: 3px 5px 3px 5px;
	xxwhite-space: nowrap;
	font-size: 5.9em;
	opacity: 0.5;
	display:block;
	xxmargin-left: -20px;
	max-width: 350px;
	-moz-box-shadow: 0px 2px 8px /*{global-box-shadow-size}*/ 			rgba(0,0,0,.3) /*{global-box-shadow-color}*/ ;
	-webkit-box-shadow: 0px 2px 8px /*{global-box-shadow-size}*/ 		rgba(0,0,0,.3) /*{global-box-shadow-color}*/ ;
	box-shadow: 0px 2px 8px /*{global-box-shadow-size}*/ 				rgba(0,0,0,.3) /*{global-box-shadow-color}*/ ;
}
.tiptoolbg{
	visibility:hidden;
}