<template id="_cookies-banner-template">
  <div id="_cookies-banner" class="navbar fixed-top CookiesOK">
    <div class="content">
      <div class="nav-btn-bar">
        <small class="nav-btn">
          <span>{{ site.data.strings.cookies_banner.text | default:'This site uses cookies.' | markdownify | replace:'<p>','' | replace:'</p>','' }}</span>
          <button id="_cookies-ok" class="btn btn-primary btn-sm">{{ site.data.strings.cookies_banner.okay | default:'Okay' }}</button>
        </small>
      </div>
    </div>
  </div>
</template>
