{{ $st := .page }}
{{ $columns := $st.Params.design.columns | default "2" }}

<div class="row">
  {{ if ne $columns "1" }}
    <div class="col-12 col-lg-4 section-heading">
      {{ with $st.Title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}
      {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
    </div>
    <div class="col-12 col-lg-8">
      {{ $st.Content }}
    </div>
  {{ else }}
    <div class="col-lg-12">
      {{ with $st.Title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}
      {{ with $st.Params.subtitle }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
      {{ $st.Content }}
    </div>
  {{ end }}
</div>
