{{ $ := .root }}
{{ $page := .page }}

<!-- Selected Publications widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="col-xs-12 col-md-8">
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}

    {{ if and ($page.Params.publication_type) (ne $page.Params.publication_type "-1") }}
      {{ $.Scratch.Set "sel_pubs" (where (where (where $.Site.RegularPages "Type" "publication") ".Params.selected" true) ".Params.publication_types" "intersect" (slice $page.Params.publication_type)) }}
    {{ else }}
      {{ $.Scratch.Set "sel_pubs" (where (where $.Site.RegularPages "Type" "publication") ".Params.selected" true) }}
    {{ end }}

    {{ $sel_pubs := $.Scratch.Get "sel_pubs" }}
    {{ range $sel_pubs }}
      {{ if eq $page.Params.list_format 1 }}
        {{ partial "publication_li_detailed" . }}
      {{ else if eq $page.Params.list_format 2 }}
        {{ partial "publication_li_apa" . }}
      {{ else if eq $page.Params.list_format 3 }}
        {{ partial "publication_li_mla" . }}
      {{ else }}
        {{ partial "publication_li_simple" . }}
      {{ end }}
    {{ end }}

  </div>
</div>
