<div class="medium-4 columns frontpage-widget">
	{% capture widget_url %}{% if include.widget.url contains 'http' %}{{ include.widget.url }}{% else %}{{ site.url }}{{ site.baseurl }}{{ include.widget.url }}{% endif %}{% endcapture %}
	<a href="{{ widget_url }}">
		{% if include.widget.image %}
			{%comment%}TODO lazy loading{%endcomment%}
			{%comment%}<img class="lazy" data-src="{% if include.widget.image contains='http://' %}{{ include.widget.image }}{% else %}{{ site.urlimg }}{{ include.widget.image }}{% endif %}" width="100%" alt="" />{%endcomment%}
			{%comment%}<noscript>{%endcomment%}
			{% capture widget_image %}{% if include.widget.image contains 'http' %}{{ include.widget.image }}{% else %}{{ site.urlimg }}{{ site.baseurl }}{{ include.widget.image }}{% endif %}{% endcapture %}
			<img src="{{widget_image}}" width="100%" alt="" />
			{%comment%}</noscript>{%endcomment%}
		{% endif %}
		{% if include.widget.video %}{{ include.widget.video }}{% endif %}
	</a>
	<h2 class="font-size-h3 t10">{{ include.widget.title }}</h2>
	<p>{{ include.widget.text }}</p>
	<p><a class="button tiny radius" href="{% if include.widget.url contains 'http' %}{{ include.widget.url }}{% else %}{{ site.url }}{{ site.baseurl }}{{ include.widget.url }}{% endif %}">{{ site.data.language.more }}</a></p>
</div>