<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            Over 10+ years of experience as a software engineer with a wealth of experience
            in scalable systems ,data platforms and machine learning.I have worked at various 
            consumer technology companies solving problems at scale <b>(eBay,Fanatics,Uber,Wealthfront)</b>
        </p>
        <p>
            I am a hands on technical leader with a strong work ethic and excellent communication skills
            who enjoys a fast-paced and team-driven environment.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Build and lead team to design and implement a data processing frameowork to implement data pipelines faster 
    			</li>
          <li>
            Implemented Jenkins plugin to reduce build time on mono repo by 60%
    			<li>
            Led efforts for real time/batch data pipelines related to AB Testing/Experimentation processing (50K RPS)
    			</li>
    			<li>
            Reimplemented the search backend to perform spell checking and handle word synonyms,
            ranking resulting in better click-through rate with incremental revenue of $3M
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
