<div class="box" style='text-align: center'>
  <img style='border-radius: 30px' src="https://avatars0.githubusercontent.com/u/15119515?v=3&s=460" width='100' height='100' />
  <h1 style='text-align: center;font-family: "Droid Serif"'>About B.K.</h1>
  <div style='text-align: left;font-family: "Droid Serif"'>
    <p>
      Graduated from University of California, San Diego with a Management Science Degree and an Accounting Minor. An aspiring software engineer and a data believer.
    </p>
    <p>
      Passionate about software development, economical issues, statistics and finance. Fascinated by what interesting information can be derived and extracted from processed data.
    </p>
    <p>
      As a developer, I love having the power to build meaningful applications. I consider ways to automate any repetitive task when I encounter one.
    </p>
    <p>
      Multilingual in English, Mandarin Chinese and Cantonese.
    </p>
  </div>
</div>