<div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-html5-plain-wordmark colored"></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <i class="devicon-photoshop-plain colored"></i>
    <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse. Vinyl XOXO lumbersexual</p> -->
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-angularjs-plain colored"></i>
    <i class="devicon-typescript-plain colored"></i>
    <br/>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-nodejs-plain-wordmark colored"></i>
    <i class="devicon-express-original-wordmark colored"></i>
    <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse. Vinyl XOXO lumbersexual</p> -->
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain colored"></i>
    <i class="devicon-gulp-plain colored"></i>
    <i class="devicon-visualstudio-plain colored"></i>
    <i class="devicon-webpack-plain colored"></i>
    <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse. Vinyl XOXO lumbersexual</p> -->
  </div>
</div>