<div class="alc_wrap">
  <div class="top">
    <div class="info">
      <h1 id="searching_item"></h1>
      <div id="searching_recipe"></div>
      <h1 id="find_recipe"></h1>
      <div id="searching_find"></div>
      <div id="recipe_material"></div>
      <a href="#" class="view_recipe">View more</a>
    </div>
    <div id="collections">
    </div>
  </div>
  <div clas=="bottom">
    <div id="recipe" style="display:none;"></div>
  </div>
</div>
<script src="{{ base.url | prepend: site.url }}/assets/normal.js?version=2022073132"></script>
