{% if site.google_analytics %}
	<!-- Google Analytics -->
	<!-- Replace your google UA-XXXXXXXX-X tracking code  
	Get a tracking code from Admin > Property > Tracking Info > Tracking Code
	-->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-XXXXXXXX-X"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-XXXXXXXX-X');
	</script>
	<!-- End Google Analytics -->
{% endif %}
