{% if site.google_analytics %}
	<!-- Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>
	<!-- End Google Analytics -->
	<!--Start Google Adsense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2991674929954272"
     crossorigin="anonymous"></script>
<!--end GOogle Adsense -->
{% endif %}
