{% if site.google_analytics %}
	<!-- Google Analytics -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	// ga() objects ...
ga('create', '{{ site.google_analytics }}', 'auto');
ga('send', 'pageview', {
	'page': '{{ site.baseurl }}{{ page.url }}',
	'title': '{{ page.title | replace: "'", "\\'" }}'
});
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->
{% endif %}

<!-- ga () allows to schedule the commands to be run once the analytics.js is loaded and ready to go -->
<!-- This new script supports preloading for modern browsers but can degrade to synchronous loading and execution on IE 9 and older mobile browsers that do not recognize "async" script attribute -->
