{% if post.description %}
  <blockquote>{{ post.description }}</blockquote>
{% endif %}

{% if post.authors %}
  <p>
	<b>Authors</b>: 
	{{ post.authors }}
  </p>
{% endif %}

<p>
  <b>Links</b>: 
  {% if post.web %}<a href="{{ post.web }}">Web</a>{% endif %} 
  {% if post.github %}<a href="https://github.com/{{ post.github }}">GitHub</a>{% endif %} 
  {% if post.launchpad %}<a href="https://launchpad.net/{{ post.launchpad }}">Launchpad</a>{% endif %}
  {% if post.googleplus %}<a href="https://plus.google.com/{{ post.googleplus }}">Google+</a>{% endif %}
</p>