{% if post.screenshots %}
  <div class="screenshots">
    {% for screenshot in post.screenshots %}
      <img src="{{ site.baseurl }}/images/screenshots/{{ screenshot }}" alt="Screenshot of {{ post.title }}" />
    {% endfor %}
  </div>
{% endif %}
  
  
{% if post.description %}
  <blockquote>{{ post.description }}</blockquote>
{% endif %}

{% if post.authors %}
  <p>
	<b>Authors</b>: 
    {% include list_authors.html %}
  </p>
{% endif %}

{% if post.links %}
  <p>
    <b>Links</b>: 
    {% include list_links.html %}
  </p>
{% endif %}