{% if post.screenshot %}
  <h3 id="screenshots">Screenshots</h3>
  <img src="{{ post.screenshot }}"/>
{% endif %}

{% if post.package %}
  <h3 id="installation">Installation</h3>
  {% if post.repository or post.repository-unstable %}
	<p><b>Behold!</b> Third-party repositories are usually not verified by others. Follow these instructions at your own risk and only if you trust the owner of the repository / developer of the software.</p>
  {% endif %}
    {% if post.repository %}<pre><code>    sudo apt-add-repository {{ post.repository }}
    sudo apt-get update  
    sudo apt-get install {{ post.package }}</code></pre>{% endif %}
    
    {% if post.repository-unstable %}
	  <p>The following code adds an <b>unstable repository</b>, use with even higher caution as things might break. </p>
	<pre><code>    sudo apt-add-repository {{ post.repository-unstable }}
    sudo apt-get update
    sudo apt-get install {{ post.package }}</code></pre>{% endif %}
	
{% endif %}