<section class="author" itemprop="author">
    <div class="details" itemscope itemtype="http://schema.org/Person">
        <img itemprop="image" class="img-rounded" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=110" alt="{{ author.name }}">
        <p class="def">Autor</p>
        <h3 class="name">
            <a itemprop="name" href="https://br.linkedin.com/in/{{ author.linkedin }}">{{ author.name }}</a>
        </h3>
        <p class="desc">{{ author.bio }}</p>
        <a itemprop="email" class="email" href="mailto:{{ author.email }}">E-mail</a> -
        <a itemprop="github" class="email" href="https://github.com/{{ author.github }}">Github</a> -
        <a itemprop="linkedin" class="email" href="https://br.linkedin.com/in/{{ author.linkedin }}">LinkedIn</a> -
        <a itemprop="facebook" class="email" href="https://facebook.com/{{ author.facebook }}">Facebook</a> -
        <a itemprop="site" class="email" href="{{ author.site }}">Site</a>
    </div>
</section>
