<div class="card">
    <div class="card-header">
        About {{author.name}}
    </div>
    <div class="card-body">
        <div class="row">
                <div class="col-md-4">
                        {% if author.avatar_url %}
                        <img class="author-profile-img" src="/assets/img/authors/{{author.avatar_url}}" alt="{{author.name}}" />
                      {% else %}
                        <img class="author-profile-img" src="{{site.url}}/assets/img/authors/{{author.avatar}}" alt="{{author.name}}" />
                      {% endif %}
                </div>
                <div class="col-md-6">
                        <p class="author_bio">{{author.bio}}</p>
                        <p>Email : {{author.email}}</p>
                        <p>Website : {{author.site}}</p>
                        <p class="profile-links">
                            {% for network in author.social %}
                                <a class="social-link" href="{{ network.url }}" target="_blank"><i class="fab fa-{{ network.title }} fa-fw"></i></a>
                            {% endfor %}
                        </p>
                </div>
        </div>
    </div>
</div>
