<h2>Just Making the Payments</h2>
<h3>Total Paid</h3>
<div id="just-payments-total-paid"></div>
<h3>Total Balance and Minimum Payment over Time</h3>
<div id="just-payments-balance-chart" class="snowball-chart"></div>
<h3>Total Accounts over Time</h3>
<div id="just-payments-account-chart" class="snowball-chart"></div>
<h2>Snowball Method Using the Highest Rate</h2>
<h3>Total Paid</h3>
<div id="highest-rate-total-paid"></div>
<h3>Total Balance and Minimum Payment over Time</h3>
<div id="highest-rate-balance-chart" class="snowball-chart"></div>
<h3>Total Accounts over Time</h3>
<div id="highest-rate-account-chart" class="snowball-chart"></div>
<h2>Snowball Method Using the Lowest Balance</h2>
<h3>Total Paid</h3>
<div id="lowest-balance-total-paid"></div>
<h3>Total Balance and Minimum Payment over Time</h3>
<div id="lowest-balance-balance-chart" class="snowball-chart"></div>
<h3>Total Accounts over Time</h3>
<div id="lowest-balance-account-chart" class="snowball-chart"></div>
<form method="GET">		
    <table id="debt-table">
    	<thead>
        <tr>
            <th>Debt</th>
            <th>Start<span class="mobile-hide">ing Balance</span></th>
            <th>Rate</th>
            <th>Min<span class="mobile-hide">imum</span> Payment</th>
            <th>Min<span class="mobile-hide">imum</span> Payment Type</th>
        </tr>
        </thead><tbody></tbody>
    </table>
    <input type="button" value="Add Row" id="addRowButton" />
    <input type="button" value="Remove Row" id="removeRowButton" />
    <input type="submit" value="Submit">
</form>
