<img align="right" src="{{ site.baseurl }}/biofactory/graphics/biohack_academy_sao_paulo.jpg" width=400 />
<h3>Biofactory Preparations</h3>

<p>Please make sure you have taken care of the following before we start. <a href="{{ site.baseurl }}/biofactory/preparations/">Preparations</a></p>

<h3>Biofactory Classes</h3>
<ul>
	<li>1. <a href="{{ site.baseurl }}/biofactory/class/1-incubator/">Incubator</a></li>
	<li>2. <a href="{{ site.baseurl }}/biofactory/class/2-microscope/">Microscope</a></li>
	<li>3. <a href="{{ site.baseurl }}/biofactory/class/3-design/">3D & 2D Design</a></li>
	<li>4. <a href="{{ site.baseurl }}/biofactory/class/4-sterile-hood/">Sterile hood</a></li>
	<img align="right" src="{{ site.baseurl }}/biofactory/graphics/biohack_academy_barcelona.jpg" width=400 />	
	<li>5. <a href="{{ site.baseurl }}/biofactory/class/5-centrifuge/">Centrifuge</a></li>
	<li>6. <a href="{{ site.baseurl }}/biofactory/class/6-magnetic-stirrer/">Magnetic stirrer</a></li>
	<li>7. <a href="{{ site.baseurl }}/biofactory/class/7-spectrometer/">Spectrometer</a></li>
	<li>8. <a href="{{ site.baseurl }}/biofactory/class/8-pumps/">Syringe & peristaltic pump</a></li>
	<li>9. <a href="{{ site.baseurl }}/biofactory/class/9-reactor-controller/">Bioreactor controller</a></li>
	<li>10. <a href="{{ site.baseurl }}/biofactory/class/10-graduation/">Graduation</a></li>
	<li><a href="{{ site.baseurl }}/biofactory/continued/">Biofactory continued</a></li>
</ul>

<h3>Participants</h3>
<ul>
	<li><a href="{{ site.baseurl }}/biofactory/participants/documentation/">Documentation sites</a></li>
	<li><a href="{{ site.baseurl }}/biofactory/participants/fun-stuff/">Fun stuff</a></li>
</ul>

<h3>Annexes</h3>
<ul>
    <li><a href="{{ site.baseurl }}/biofactory/graphics/BioFactory-canvas.pdf">Biofactory Canvas</a></li>
	<img align="right" src="{{ site.baseurl }}/biofactory/graphics/lab_picture.jpg" width=400 />
	<li><a href="{{ site.baseurl }}/biofactory/annex/culture-collection/">Culture Collection</a></li>
	<li><a href="{{ site.baseurl }}/biofactory/annex/cultivation-media/">Cultivation Media</a></li>
    <li><a href="{{ site.baseurl }}/biofactory/annex/machine-equipment-guide/">Machine & Equipment Guide</a></li>
	<li><a href="{{ site.baseurl }}/biofactory/annex/waste-guide/">Waste Guide</a></li>
	<li><a href="https://vimeo.com/channels/880445">BioHack Academy Video Channel</a></li>
	<li><a href="{{ site.baseurl }}/biofactory/annex/literature/">Literature</a></li>
</ul>