<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm p-0 m-0" style="background-color: white;">
    <a target="_blank" class="navbar-brand ml-3 mr-3 mt-2 mb-2" href="https://empreguei.com/">
        <img src="https://empreguei.github.io/svg/logo--dark.svg" width="180" alt="Empreguei Logo">
    </a>
    
    <button class="navbar-toggler ml-3 mr-3 mt-2 mb-2" type="button" data-toggle="collapse"
        data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse m-0 p-0 pr-3 pl-3" id="navbarNavAltMarkup">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link nav-btn nav-btn-default increase-hover" href="#testmony">Depoimentos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-btn nav-btn-default increase-hover" href="#howItsWork">Como funciona</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-btn nav-btn-default increase-hover" href="#areas">Áreas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-btn nav-btn-default increase-hover" href="#mídia">Mídia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-btn nav-btn-company increase-hover"
                    href="{{ site.url }}/login/empresa">ABRIR VAGA GRÁTIS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-btn nav-btn-candidate increase-hover" href="{{ site.url }}">Quero trabalhar</a>
            </li>
            <li class="m-1"></li>
        </ul>
    </div>
</nav>
<!-- END navbar -->