<style>
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
</style>
            <div class="row centered">
            <p align="middle"><small><h3><strong>Hi, :)</strong></h3> My name is Ezequiel, I'm a Mobile Developer (iOS). I love to make things and use technology to solve problems and improve people's lives. Feel free to be in touch :) </small></p>         
            <figure>
    <img src="https://raw.githubusercontent.com/ezefranca/ezefranca.github.io/master/images/1521556197860039.jpg" align="middle" alt="https://raw.githubusercontent.com/ezefranca/ezefranca.github.io/master/images/1521556197860039.jpg" class="shrinkToFit">
    <figcaption>
        <p style="color:gray;"><small><i>Me in front of famous Steve Jobs Garage BY ACCIDENT, It's prohibited. (I jumped from the car and I did not see where it was going 🙃)
</small></i></p>
                </figcaption>
</figure>
            </div>
<style> 
    input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
    
 input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}
</style>
 <form method="POST" action="http://formspree.io/ezequiel.ifsp@gmail.com">
  <input type="text" name="name" placeholder="name">
  <input type="email" name="email" placeholder="email">
  <textarea name="message" placeholder="What's up?" style="height:200px"></textarea>
  <button type="submit">Send</button>
  </form>


