<!-- Getform form https://getform.io -->

<!-- Add the getform-endpoint in config.yml -->
<form action="https://getform.io/f/{{site.getform_endpoint}}" enctype="multipart/form-data" method="POST"  target="_blank">
    <div class="form-group">
            <label for="contact_form_name">Your Name :</label>
            <input type="text" class="form-control" name="name" id="contact_form_name" placeholder="Enter Your Name">
           </div>
           <div class="form-group">
             <label for="contact_form_email">Your Email :</label>
            <input type="email" class="form-control" name="email" id="contact_form_email" placeholder="Enter Your Email">
           </div>
           <div class="form-group">
             <label for="contact_form_message"> Your Message :</label>
            <textarea name="message" class="form-control" id="contact_form_message" placeholder="Enter Your Message"></textarea>
           </div>
           <div class="form-group">
               <label for="contact-form-file"> Attachments :</label>
            <input type="file" name="file" class="form-control" id="contact-form-file" placeholder="Attach files"/>
           </div>
            <button type="submit" value="Send" class="btn btn-lg btn-dark">Submit</button>
</form>