<table><thead><tr><th>Income</th><th>Taxes at 2.25%</th><th>Taxes at 2.5%</th><th>Increase</th></tr></thead>
<tbody><tr>
<td><input type="number" id="dayton-income" min="0" style="width: 100%;" required /></td>
<td><input type="text" id="dayton-tax-225" min="0" style="width: 100%;" disabled /></td>
<td><input type="text" id="dayton-tax-25" min="0" style="width: 100%;" disabled /></td>
<td><input type="text" id="dayton-tax-025" min="0" style="width: 100%;" disabled /></td>
</tr></tbody></table>
<input type="button" value="Calculate" id="calculate-dayton-tax" />
