{% if site.disqus %}
<div class="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">

      var disqus_shortname = '{{ site.disqus }}';
      var disqus_config = function () {
        this.page.url = "https://davletyarov.github.io{{ page.url }}";
        this.page.identifier = "{{ page.id }}";
      };

      (function () {
        var d = document, s = d.createElement('script');
        s.src = 'https://https-davletyarov-github-io.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();

    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
</div>
{% endif %}
