{% if site.disqus %}
<div class="comments">
    <div id="disqus_thread"></div>
    <script>
        (function () {
            var d = document, s = d.createElement('script');
            s.src = '//jakpsatphp.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Prosím povolte JavaScript pro <a href="http://disqus.com/?ref_noscript">Disqus komentáře.</a></noscript>
</div>
{% endif %}