<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '197946313591875',
      xfbml      : true,
      version    : 'v2.3'
    });
    
    FB.api('/1274573288/posts', {id: '120542194666647'}, function(response) {
      console.log(response);
    }); 
    
/*    FB.ui(
    {
      method: 'share',
      href: 'https://developers.facebook.com/docs/'
    }, function(response){});
*/
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
