	<!-- Page Icons -->
		<link rel="shortcut icon" href="{{ site.baseurl }}/hipertextos/ics/favicon.ico" />
		<link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/hipertextos/ics/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/hipertextos/ics/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/hipertextos/ics/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/hipertextos/ics/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/hipertextos/ics/apple-touch-icon-60x60.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/hipertextos/ics/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/hipertextos/ics/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/hipertextos/ics/apple-touch-icon-152x152.png" />
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/hipertextos/ics/favicon-196x196.png" sizes="196x196" />
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/hipertextos/ics/favicon-160x160.png" sizes="160x160" />
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/hipertextos/ics/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/hipertextos/ics/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/hipertextos/ics/favicon-16x16.png" sizes="16x16" />
