<!-- Lightgallery call -->
<script type="text/javascript">
  $(document).ready(function () {
    $(function(){

      $('a').hover(function(e){

          $(this).attr('data-title', $(this).attr('title'));
          $(this).removeAttr('title');

      },
      function(e){

          $(this).attr('title', $(this).attr('data-title'));

      });
    });
    //By default, plugin uses `data-fancybox-group` attribute to create galleries.
    $(".fancybox").jqPhotoSwipe({
      galleryOpen: function (gallery) {
        //with `gallery` object you can access all methods and properties described here http://photoswipe.com/documentation/api.html
        //console.log(gallery);
        //console.log(gallery.currItem);
        //console.log(gallery.getCurrentIndex());
        //gallery.zoomTo(1, {x:gallery.viewportSize.x/2,y:gallery.viewportSize.y/2}, 500);
        gallery.toggleDesktopZoom();
      }
    });
    //This option forces plugin to create a single gallery and ignores `data-fancybox-group` attribute.
    $(".forcedgallery > a").jqPhotoSwipe({
      forceSingleGallery: true
    });
  });
</script>
