<footer class="site-footer">

  <div class="wrapper">
    <div class="social-links">
      <a class="social-link social-github" href="https://github.com/{{ site.github_username }}">
        <i class="icon-github"></i>
      </a>
      <a class="social-link social-twitter" href="https://twitter.com/{{ site.twitter_username }}">
        <i class="icon-twitter"></i>
      </a>
      <a class="social-link social-instagram" href="https://instagram.com/{{ site.instagram_username }}">
        <i class="icon-instagram"></i>
      </a>
      <a class="social-link social-rss" href="{{ "/feed.xml" | relative_url  }}" target="_blank">
        <i class="icon-rss"></i>
      </a>
    </div>
    <div class="credits">
      KAGAMI, made with <i class="icon-heart"></i> by Kamikat
    </div>
  </div>

</footer>
