<!-- ******HEADER****** --> 
<header class="header" style="background-image:url(/assets/images/background.png)">
    <div class="container">
        <div class="row">    
            <div class="primary col-md-7 col-sm-12 col-xs-12">
                <a href="/"><img class="profile-image img-responsive pull-left" src="/assets/images/profile.png" alt="Timur Catakli" /></a>
                <div class="profile-content pull-left">
                    <h1 class="name">Timur Catakli</h1>
                    <h2 class="desc">Full Stack Developer</h2>   
                        <ul class="social list-inline">
                            <li><a href="https://github.com/timurcatakli/" target="blank"><i class="fa fa-github-alt"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/timurcatakli" target="blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://twitter.com/timurcatakli" target="blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.reddit.com/user/timurcat99/" target="blank"><i class="fa fa-reddit"></i></a></li>
                            <li class="last-item"><a href="/feed.xml" target="blank"><i class="fa fa-rss"></i></a></li>
                        </ul> 
                    </div><!--//profile-->
            </div>
            <div style="" class="primary col-md-5 col-sm-12 col-xs-12">
                <a style="display:inline-block;" class="btn btn-cta-primary" href="/contact.html"><i class="fa fa-paper-plane"></i> Contact Me</a>
                <a style="display:inline-block;" class="btn btn-cta-primary" href="assets/docs/151010-TimurC-Resume.pdf" target="_blank"><i class="fa fa-heart"></i> My Resume</a>
                <a style="display:inline-block;" class="btn btn-cta-primary" href="/blog.html"><i class="fa fa-rss"></i> My Blog</a>
            </div>
        </div>
    </div><!--//container-->
</header><!--//header-->