<header id="l-header">
    <div class="container">
        <div class="row logo">
            <div class="col-lg-7">
                <h1>{{ site.name }}</h1>
            </div>


            <div class="col-lg-5">
                <p>On the way to death</p>
                <p>On the way of learning</p>
            </div>
        </div>

        <div class="row navicon">
            <a href=""><i class="fa fa-navicon"></i></a>
        </div>

        <div class="row navbar">
            <nav class="col-lg-8 col-md-8 col-xs-12">
                <ul class="row">
                    <li class="col-lg-3"><a href="{{crturl}}">HOME</a></li>
                    <li class="col-lg-3">
                        <ul class="subnav">
                            <a href="javascript:void(0)">POST</a>
                            <li><a href="{{crturl}}category">CATEGORY</a></li>
                            <li><a href="{{crturl}}tag">TAG</a></li>
                        </ul>
                    </li>
                    <li class="col-lg-3"><a href="{{crturl}}about">ABOUT</a></li>
                    <li class="col-lg-3"><a href="{{crturl}}building">PLAY GROUND</a></li>
                </ul>
            </nav>

            <div class="search col-lg-4 col-md-4 col-xs-12">
                <label for="search"></label>
                <input id="search" name="serach" type="text" placeholder="Dummy Search">
                <i class="fa fa-search"></i>
            </div>
        </div>
    </div>
</header>