<div class="comments">
    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
            codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0"
            width="160" height="70" id="' + swfTitle + '" align="middle">
        <param name="allowScriptAccess" value="always"/>
        <param name="movie" value="' + sUrl + '"/>
        <param name="quality" value="high"/>
        <param name="bgcolor" value="#ffffff"/>
        <param name="wmode" value="transparent"/>
        <embed wmode="transparent"
               src="/sources/honehone_clock_tr.swf"
               quality="high" bgcolor="#ffffff" width="160" height="70" name="' + swfTitle + '"
               align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"
               pluginspage="http://www.macromedia.com/go/getflashplayer"/>
    </object>
</div>