<!-- Hyvor Comments. For more info visit https://talk.hyvor.com -->

<div id="hyvor-talk-view"></div>
<script type="text/javascript">
    var HYVOR_TALK_WEBSITE = '{{ site.hyvor_talk_website_id }}';
    var HYVOR_TALK_CONFIG = {
        url: '{{ page.url | absolute_url }}',
        id: '{{page.id}}',
        palette: {
            accent: "#EB8E3F",
            accentText: "#080808",
            footerHeader: "#171616",
            footerHeaderText: "#656363",
            box: "#3A3A38",
            boxText: "#E0E0E0",
            boxLightText: "#AAAAAA",
            backgroundText: "#E0E0E0"
        }
    };
</script>
<script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>

