<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Deep learning</b>. It's an exciting time for machine learning. I'm working through several online classes, and swap articles with collegues.
			  </li>
			  <li>
				  <b>Big Data Computing</b>. I have been working with Spark/Airflow for last few years and actively follow and time to time contribye to these open source projects.
			  </li>
			  <li>
				  <b>Hiking</b>. I live in the San Francisco Bay Area, home of some of the greatest mountains and trails in the country. I enjoy spending weekends
          on scrambles and getting lost in the woods.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
			<b>pypandas-sql</b> is an open-source package is designed to make it easier to get data from most commonly used databases/data warehouse into a pandas DataFrame using SQL.
    		</li>
  			<li>
          My Medium blog covers my ongoing attempts to instrument and automate everything in my house.
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
             Trying out various recipies from different parts of the worls
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
