<li class="post-item post {{ post.post_class }}">
    <a href="{{ post.url }}">
        <h3 class="post-title">{{ post.title }}</h3>
        <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 75 }}</p>
    </a>
    <p class="post-tags">
        {% for tag in post.tags %}
            <a href="{{ site.baseurl }}/tags/{{ tag }}" title="{{ tag }}"
               class="tag tag-{{ tag }}">{{ tag }}</a>
        {% endfor %}
    </p>
    <div class="post-meta">
        {% assign author = site.authors | where: 'name', post.author | first %}
        <a href="{{ site.baseurl }}/authors/{{ post.author }}">
            <div class="author-image"
                 {% if author.image %}style="background-image:url({{ author.image }});"{% endif %}>
                <span class="sr-only">{{ author.name }}'s profile image</span>
            </div>
            <p class="author-name">{{ author.name }}</p>
        </a>
        <p class="post-date">{{ post.date | date: '%Y-%m-%d %H:%M' }}</p>
    </div>
    <!--<div class="clearfix"></div>-->
</li>
