{% assign urls = include.urls | split: ',' %}

{% assign combined_urls = nil %}

{% assign domain = 'https://cdn.jsdelivr.net/' %}

{% for url in urls %}

  {% if url contains domain %}
    {% assign url_snippet = url | slice: domain.size, url.size %}

    {% if combined_urls %}
      {% assign combined_urls = combined_urls | append: ',' | append: url_snippet %}
    {% else %}
      {% assign combined_urls = domain | append: 'combine/' | append: url_snippet %}
    {% endif %}

  {% elsif url contains '//' %}

    <script src="{{ url }}"></script>

  {% else %}

    <script src="{{ url | relative_url }}"></script>

  {% endif %}

{% endfor %}

{% if combined_urls %}
  <script src="{{ combined_urls }}"></script>
{% endif %}
