{% for link in post.links %}
  {% case link.type %}
  {% when "Launchpad" %}
    {% assign prefix = "https://launchpad.net/" %}
  {% when "GitHub" %}
    {% assign prefix = "https://github.com/" %}
  {% when "Google+" %}
    {% assign prefix = "https://plus.google.com/" %}
  {% when "Bitbucket" %}
    {% assign prefix = "https://bitbucket.org/" %}
  {% when "Build" or "License" %}
    {% assign prefix = nil %}
  {% when "Screenshots" or "Videos" %}
    {% continue %}
  {% else %}
    {% assign prefix = nil %}
  {% endcase %}
  <a href="{{ prefix }}{{ link.url }}">
    {% if link.name %}{{ link.name }}{% else %}{{ link.type }}{% endif %}</a>{% if forloop.last == false %}, {% endif %}  
{% endfor %}