<!-- Project Wonderful Ad Box Loader -->
<script type="text/javascript">
   (function(){function pw_load(){
      if(arguments.callee.z)return;else arguments.callee.z=true;
      var d=document;var s=d.createElement('script');
      var x=d.getElementsByTagName('script')[0];
      s.type='text/javascript';s.async=true;
      s.src='//www.projectwonderful.com/pwa.js';
      x.parentNode.insertBefore(s,x);}
   if (window.attachEvent){
    window.attachEvent('DOMContentLoaded',pw_load);
    window.attachEvent('onload',pw_load);}
   else{
    window.addEventListener('DOMContentLoaded',pw_load,false);
    window.addEventListener('load',pw_load,false);}})();
</script>
<!-- End Project Wonderful Ad Box Loader -->
{% assign author = site.authors[page.author] %}
<div class="wrapper-masthead">
  <div class="container">
    <header class="masthead clearfix">
      <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" alt="{{ site.name }}" /></a><div class="site-info">
            <h2 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h2>
            <p>{{ site.description }}</p>
          </div>
      <nav>
        <a href="{{ site.baseurl }}/">Home</a>
        <a href="{{ site.baseurl }}/about">About</a>
        <a href="{{ site.baseurl }}/unboxing">Unboxings</a>
        <a href="{{ site.baseurl }}/reviews">Reviews</a>
        <a href="http://purplepawn.com" target="_blank">Purple Pawn</a>
      </nav>
    </header>
  </div>
</div>
<!-- Project Wonderful Ad Box Code -->
<div id="pw_adbox_79987_5_0" style="text-align:center;margin:0 auto;"></div>
<script type="text/javascript"></script>
<noscript><map name="admap79987" id="admap79987"><area href="http://www.projectwonderful.com/out_nojs.php?r=0&c=0&id=79987&type=5" shape="rect" coords="0,0,728,90" title="" alt="" target="_blank" rel="noopener noreferrer" /></map>
<table cellpadding="0" cellspacing="0" style="width:728px;border-style:none;background-color:#ffffff;"><tr><td><img src="http://www.projectwonderful.com/nojs.php?id=79987&type=5" style="width:728px;height:90px;border-style:none;" usemap="#admap79987" alt="" /></td></tr><tr><td style="background-color:#ffffff;" colspan="1"><center><a style="font-size:10px;color:#0000ff;text-decoration:none;line-height:1.2;font-weight:bold;font-family:Tahoma, verdana,arial,helvetica,sans-serif;text-transform: none;letter-spacing:normal;text-shadow:none;white-space:normal;word-spacing:normal;" href="http://www.projectwonderful.com/advertisehere.php?id=79987&type=5" target="_blank">Ads by Project Wonderful!  Your ad here, right now: $0</a></center></td></tr></table>
</noscript>
<!-- End Project Wonderful Ad Box Code -->
