{% assign author = site.authors[page.author] %}
<div class="wrapper-masthead">
  <div class="container">
    <header class="masthead clearfix">
      <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" alt="{{ site.name }}" /></a><div class="site-info">
            <h2 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h2>
            <p>{{ site.description }}</p>
          </div>
      <nav>
        <a href="https://www.patreon.com/bePatron?u=4470220" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
        <a href="{{ site.baseurl }}/about">About</a>
        <a href="{{ site.baseurl }}/unboxing">Unboxings</a>
        <a href="{{ site.baseurl }}/reviews">Reviews</a>
		<a href="{{ site.baseurl }}/patrons">Patrons</a>
      </nav>
    </header>
	{% if site.ad1 %}<a href="{{ site.ad1 }}"><img src="/images/banners/topad.jpg" alt="AD1"/></a>{% endif %}
  </div>
</div>
