    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <meta name="description" content="Siber güvenlik farkındalığı oluşturma ve ülkenin ihtiyacı olan nitelikli iş gücünü üretme güdüsüyle birleşmiş insan topluluğuyuz.">
    <meta name="keywords" content="paü, siber, etkinlik, event, cyber, feedback">
    <meta name="robot" content="index,follow">
    <meta name="author" content="PaüSiber">
    <meta name="language" content="tr">
    <meta itemprop="name" content="PauSiber">
    <meta itemprop="description" content="Siber güvenlik farkındalığı oluşturma ve ülkenin ihtiyacı olan nitelikli iş gücünü üretme güdüsüyle birleşmiş insan topluluğuyuz.">
    <meta itemprop="image" content="https://res.cloudinary.com/cagatayc/image/upload/c_scale,w_315/newpausiber.fw_yibd6x.png">
    <meta name="twitter:card" content="PaüSiber">
    <meta name="twitter:site" content="@SiberPau">
    <meta name="twitter:title" content="PaüSiber">
    <meta name="twitter:description" content="Siber güvenlik farkındalığı oluşturma ve ülkenin ihtiyacı olan nitelikli iş gücünü üretme güdüsüyle birleşmiş insan topluluğuyuz.">
    <meta name="twitter:creator" content="@SiberPau">
    <meta name="twitter:image:src" content="https://res.cloudinary.com/cagatayc/image/upload/c_scale,w_315/newpausiber.fw_yibd6x.png">

    <meta itemprop="name" content="PaüSiber">
    <meta itemprop="image" content="https://res.cloudinary.com/cagatayc/image/upload/c_scale,w_315/newpausiber.fw_yibd6x.png">
    <meta property="og:url" content="https://wiki.pausiber.xyz/">
    <meta property="og:title" content="PaüSiber">
    <meta property="og:description" content="Siber güvenlik farkındalığı oluşturma ve ülkenin ihtiyacı olan nitelikli iş gücünü üretme güdüsüyle birleşmiş insan topluluğuyuz.">
    <meta property="og:site_name" content="PaüSiber">
    <meta property="og:image" content="https://res.cloudinary.com/cagatayc/image/upload/c_scale,w_315/newpausiber.fw_yibd6x.png">
    <meta property="og:image:width" content="315">
    <meta property="og:image:height" content="315">

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}" />
    {% endif %}
    <meta name="author" content="{{ site.name }}" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}
