    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

	<meta http-equiv="Content-Language" content="ES-CT"/>
	<link rel="canonical" href="http://isardmiralles.com/"/>
		
	<meta name="distribution" content="global"/>
	<meta name="keywords" content="disseny pagines web, disseny, web responsive, oferta, dissenyador worpress, tenda online, branding, fotografia, dissenyador Barcelona, Badalona" />
	<meta name="description" content="{{ site.description }} | Edició de pàgines web originals, il·lustració tradicional, serveis de papelería i disseny gràfic" />

	<!-- Metadata: GeoTags -->
	<meta name="geo.region" content="ES-CT" />
	<meta name="geo.placename" content="Barcelona" />
	<meta name="geo.position" content="41.4470282;2.2413973" />
	<meta name="ICBM" content="41.4470282;2.2413973" />
		
    <meta name="author" content="{{ site.name }}" />

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}