<div class="alc_wrap">
  <div class="search">
    <input type="hidden" id='insert_target' readonly style='background: #cacaca' name='item'>
    <input type="text" id='search_area' placeholder="Search for item (kor&jp)">
    <div id='autoMaker'></div>
  </div>
  <div class="search">
    <input type="hidden" id='insert_target' readonly style='background: #cacaca' name='item'>
    <input type="text" id='search_area' placeholder="Search for item (kor&jp)">
    <div id='autoMaker'></div>
  </div>
  <div class="search">
    <input type="hidden" id='insert_target' readonly style='background: #cacaca' name='item'>
    <input type="text" id='search_area' placeholder="Search for item (kor&jp)">
    <div id='autoMaker'></div>
  </div>
  <div class="search">
    <input type="hidden" id='insert_target' readonly style='background: #cacaca' name='item'>
    <input type="text" id='search_area' placeholder="Search for item (kor&jp)">
    <div id='autoMaker'></div>
  </div>
  <div class="search">
    <input type="hidden" id='insert_target' readonly style='background: #cacaca' name='item'>
    <input type="text" id='search_area' placeholder="Search for item (kor&jp)">
    <div id='autoMaker'></div>
  </div>
</div>
<script type="text/javascript">
  var lng = "{{ lang[1] }}";
</script>
<script src="{{ base.url | prepend: site.url }}/assets/normal2.js?version=20220801"></script>
