<div class="navbar">
	<div class="short-bio">I am Joe. I'm one of many Joes, but I am uniquely me. I'm the messiest organized guy you'll ever meet. My glasses are always bent and my hair always a mess. I've never had a role model and as such am my own person. Scientist, programmer, Christian, libertarian, and life long learner.</div>
	<div class="follow-links">
		<a href="https://twitter.com/JoesGitHubBlog" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @JoesGitHubBlog</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
	<div>
		<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&storeId=hendrixjoseph-20&adInstanceId=02706bad-25b8-4382-ae5a-be5b26aa98a7"></script>
	</div>
</div>
