    <a href="{{ site.baseurl }}/candidatos">
        <button>A Empreguei</button>
    </a>

    <a href="{{ site.baseurl }}/candidatos">
        <button>Como Funciona</button>
    </a>

    <a href="{{ site.baseurl }}/candidatos">
        <button>Preços</button>
    </a>

    <a href="{{ site.baseurl }}/candidatos">
        <button>Contato</button>
    </a>

    <a href="{{ site.baseurl }}/empresas">
        <button class="company-button">Quero Contratar</button>
    </a>

    <a href="{{ site.baseurl }}/candidatos">
        <button class="candidate-button">Quero Trabalhar</button>
    </a>
