<nav class="header-nav reveal">
  <a href="{{ '/' | relative_url }}" class="header-logo" title="{{ site.name }}">{{ site.name }}</a>
  <ul class="header-links">
    {% if site.about_enabled == true %}
      <li>
        <a href="{{ 'about' | relative_url }}" title="About me">
          <span class="icon icon-android-person"></span>
        </a>
      </li>
    {% endif %}
    {% if site.social.twitter %}
      <li>
        <a href="https://twitter.com/{{ site.social.twitter }}" target="_blank" title="Twitter">
          <span class="icon icon-social-twitter"></span>
        </a>
      </li>
    {% endif %}
    {% if site.social.facebook %}
      <li>
        <a href="https://www.facebook.com/{{ site.social.facebook }}" target="_blank" title="Facebook">
          <span class="icon icon-social-facebook"></span>
        </a>
      </li>
    {% endif %}
    {% if site.social.github %}
      <li>
        <a href="https://github.com/{{ site.social.github }}" target="_blank" title="GitHub">
          <span class="icon icon-social-github"></span>
        </a>
      </li>
    {% endif %}
    {% if site.social.dribbble %}
      <li>
        <a href="https://dribbble.com/{{ site.social.dribbble }}" target="_blank" title="Dribbble">
          <span class="icon icon-social-dribbble-outline"></span>
        </a>
      </li>
    {% endif %}
    {% if site.social.flickr %}
      <li>
        <a href="https://www.flickr.com/photos/{{ site.social.flickr }}" target="_blank" title="Flickr">
          <span class="icon icon-android-camera"></span>
        </a>
      </li>
    {% endif %}
    {% if site.social.linkedin %}
      <li>
        <a href="https://www.linkedin.com/in/{{ site.social.linkedin }}" target="_blank" title="LinkedIn">
          <span class="icon icon-social-linkedin"></span>
        </a>
      </li>
    {% endif %}
    {% if site.social.bitcoin %}
      <li>
        <a href="{{ site.social.bitcoin }}" target="_blank" title="Bitcoin">
          <span class="icon icon-social-bitcoin"></span>
        </a>
      </li>
    {% endif %}
    {% if site.social.email %}
      <li>
        <a href="mailto:{{ site.social.email }}" title="Email">
          <span class="icon icon-at"></span>
        </a>
      </li>
    {% endif %}
    {% if site.rss_enabled == true %}
      <li>
        <a href="{{ 'feed.xml' | relative_url }}" target="_blank" title="RSS">
          <span class="icon icon-social-rss"></span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
