<div class="portfolio__gallery animate">
    <div class="container">
        <div class="row">
            {% for article in site.data.settings.now.now__content %}
            <div class="article col col-4 col-d-6 col-t-12">
                <div class="article__inner">
                    <div class="article__head">
                        {% if article.image %}
                        <a class="article__image" href="{{post.url | prepend: site.baseurl}}">
                        <img class="lazy" data-src="{{site.baseurl}}{{article.image}}" alt="{{article.title}}">
                        </a>
                        {% endif %}
                    </div>
            
                    <div class="article__content">
                
                        <h2 class="article__title">
                        <a href="{{ article.url | prepend: site.baseurl }}">{{ article.title }}</a>
                        </h2>
                
                        <p class="article__excerpt">{% if article.description %}{{ article.description }}{% else %}{{ article.content | strip_html | truncate: 80 }}{% endif %}</p>
                
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>