<meta property="fb:admins" content="1274573288"/>

<meta property="og:site_name" content="Joe's GitHub Page" />
<meta property="og:type" content="blog" />

{% if page.image %}
  <meta property="og:image" content="{{ site.url }}{{ page.image }}" />
{% else %}
  <meta property="og:image" content="{{ site.avatar }}" />
{% endif %}


{% if page.url == "/index.html" %}
  <meta property="og:url" content="{{ site.url }}" />
{% else %}
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
{% endif %}

{% if page.title %}
  <meta property="og:title" content="{{ page.title }}" />
{% else %}
  <meta property="og:title" content="{{ site.name }}" />
{% endif %}

{% if page.excerpt %}
  <meta name="description" content="{{ page.excerpt| strip_html }}" />
{% else %}
  <meta property="og:description" content="{{ site.description }}" />
{% endif %}
