{% capture prev_two %}{{ paginator.page | minus:2 }}{% endcapture %}
{% capture next_two %}{{ paginator.page | plus:2 }}{% endcapture %}

{% if paginator.total_pages > 1 %}
	<nav class="pagination">
	
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}/" class="previous">previous</a>
	{% endif %}
	
	{% for page in (prev_two..next_two) %}
		{% if page == paginator.page %}
			<strong>{{ page }}</strong>
		{% elsif page == 1 %}
			<a href="/">{{ page }}</a>
		{% elsif page > 0 and page <= paginator.total_pages %}
			<a href="{{ site.paginate_path | replace: ':num', page }}/">{{ page }}</a>
		{% endif %}
	{% endfor %}
	
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}/" class="next">next</a>
	{% endif %}
	
	</nav>
{% endif %}
