<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading" style='text-align: center'>
        <b>Where-is-it-from?</b>
      </div>
      <div class="panel-body">
        <div style='text-align: center'>
          <img src="http://baronkwan.github.io/assets/images/projects/screenshots/whereisitfrom-01.png" width="150" />
          <img src="http://baronkwan.github.io/assets/images/projects/screenshots/whereisitfrom-02.png" width="150" />
        </div>
        <div class="caption">
          <h6>Mobile web app built for AThackathon to fight against human trafficking</h6>
          <p><a href="https://whereisitfrom.herokuapp.com/" class="btn btn-danger" role="button"><b><b>Try Me</b></b></a> <a href="https://github.com/baronkwan/where-is-it-from" class="btn btn-default" role="button"><b>GitHub Repo</b></a></p>
          <p>
            <button class="btn btn-primary" type="button">
              <b>Key skills: </b>
            </button>
            <span class="badge">Ruby on Rails</span>
            <span class="badge">Google API</span>
            <span class="badge">Heroku</span>
          </p>
          <ul class="list-group">
            <li class="list-group-item">Built with Ruby on Rails</li>
            <li class="list-group-item">Utilizes Google Vision API to recognize logo/text from the image taken by user</li>
            <li class="list-group-item">Deployed application to heroku</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading" style='text-align: center'>
        <b>GitHub Battle</b>
      </div>
      <div class="panel-body">
        <div style='text-align: center'>
          <img src="http://baronkwan.github.io/assets/images/projects/screenshots/github_battle-1.png" width="250" />
          <img src="http://baronkwan.github.io/assets/images/projects/screenshots/github_battle-3.png" width="250" />
          <img src="http://baronkwan.github.io/assets/images/projects/screenshots/github_battle-4.png" width="250" />
          <img src="http://baronkwan.github.io/assets/images/projects/screenshots/github_battle-5.png" width="250" />
        </div>
        <div class="caption">
          <h6>Web application for comparing two GitHub users based on GitHub activities</h6>
          <p><a href="http://baronkwan.github.io/assets/projects/github_battle/" class="btn btn-danger" role="button"><b>Try Me</b></a> <a href="https://github.com/baronkwan/github-battle" class="btn btn-default" role="button"><b>GitHub Repo</b></a></p>
          <p>
            <button class="btn btn-primary" type="button">
              <b>Key skills: </b>
            </button>
            <span class="badge">React.Js</span>
            <span class="badge">Node.Js</span>
            <span class="badge">Babel</span>
            <span class="badge">JSX</span>
            <span class="badge">NPM</span>
            <span class="badge">Webpack</span>
          </p>
          <ul class="list-group">
            <li class="list-group-item">Built with React. Rendered JSX files using Babel complier</li>
            <li class="list-group-item">Managed modules by using npm and Webpack</li>
            <li class="list-group-item">Utilizes Axios to connect with GitHub’s API</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading" style='text-align: center'>
        <b>Bromazon</b>
      </div>
      <div class="panel-body">
        <div style='text-align: center'>
          <img src="http://baronkwan.github.io/assets/images/projects/screenshots/myStore-1.png" width="250" />
          <img src="http://baronkwan.github.io/assets/images/projects/screenshots/myStore-3.png" width="250" />
          <img src="http://baronkwan.github.io/assets/images/projects/screenshots/myStore-4.png" width="250" />
          <img src="http://baronkwan.github.io/assets/images/projects/screenshots/myStore-5.png" width="250" />
        </div>
        <div class="caption">
          <h6>Ecommerce Store with both frontend and backend functionality</h6>
          <p><a href="https://bromazon.herokuapp.com/" class="btn btn-danger" role="button"><b>Try Me</b></a> <a href="https://github.com/baronkwan/Bromazon" class="btn btn-default" role="button"><b>GitHub Repo</b></a></p>
          <p>
            <button class="btn btn-primary" type="button">
              <b>Key skills: </b>
            </button>
            <span class="badge">Ruby on Rails</span>
            <span class="badge">Solidus</span>
            <span class="badge">Bootstrap</span>
            <span class="badge">Heroku</span>
          </p>
            <ul class="list-group">
              <li class="list-group-item">Built with Ruby on Rails and open source gem Solidus</li>
              <li class="list-group-item">Reconstruct layouts with bootstrap</li>
              <li class="list-group-item">Deployed application to heroku</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>  