<div class="posts">
  {% for post in include.posts %}
    <article class="post">

      <h2>
        <a href="{{ post.url }}">
          {% if post.facebook_post %}
            <i class="svg-icon facebook" style="margin-right: 9px; top: 9px; position: relative;"></i>
          {% endif %}
          {{ post.title }}
        </a>
      </h2>
      
     <div class="date">{{ post.date | date: "%B %e, %Y" }}</div>

      <div class="entry" style="margin-top: 15px;">
        {% if post.facebook_post %}
          {% include facebook_post.html facebook_post=post.facebook_post %}
        {% else %}
          {{ post.excerpt | strip_html }}
        {% endif %}
      </div>
      
    </article>
  {% endfor %}
</div>
