<div class="posts">{% if include.onlytags %}{% assign posts=site.tags[include.onlytags] %}{% else %}{% assign posts=paginator.posts %}{% endif %}
  
{% for post in posts %}<article class="post">
<h2 class="post-header">
<a href="{{ post.url }}">{% if post.facebook_post %}<i class="svg-icon facebook social_post"></i>{% elsif post.linkedin_post %}<i class="svg-icon linkedin social_post"></i>{% elsif post.tags contains 'family tree' %}<img src="/images/Family-Tree-icon-40.png" class="social_post" />{% elsif post.tags contains 'html5' %}<img src="/images/HTML5_Logo.svg" class="social_post" style="width: 40px; height: 40px;" />{% endif %}{{ post.title }}</a>
</h2>
{% include social/share.html url=post.url facebook_post=post.facebook_post text=post.title %}
<hr />
<div>
<span class="date">{{ post.date | date: "%B %e, %Y" }}</span>
<nav class="tags">{% assign tags = post.tags | sort %}{% for tag in tags %}<a href="/tags/{{ tag | replace:' ','_' }}/">{{ tag }}</a>{% unless forloop.last %}|{% endunless %}{% endfor %}</nav>
</div>
<hr />
<div class="sample entry{% if post.twitter_post %} twitter-post{% endif %}{% if post.facebook_post %} facebook-post{% endif %}">
{% if post.facebook_post %}{% include facebook_post.html facebook_post=post.facebook_post %}
{% else %}{% unless post.twitter_post %}{% if post.image %}<a href="{{ post.url }}">
<img src="{% if post.thumbnail %}{{ post.image | replace_first: 'images','images/thumbnails' }}{% else %}{{ post.image }}{% endif %}" class="thumbnail" alt="{{ post.title | xml_escape }}" />
</a>{% endif %}{% endunless %}{{ post.excerpt }}
{% endif %}
</div>     
</article>
{% endfor %}
</div>
