{% if post.category %}
  {% for site_category in site.data.categories %}
    {% if site_category.slug == post.category %}
      {% assign category = site_category %}
    {% endif %}
  {% endfor %}
  {% if category %}
    {% capture category_content %} in <span class="label" style="/*background-color:{{ category.color }}*/"><a href="{{ site.baseurl }}/cat/{{ category.slug }}/">{{ category.name }}</a></span>{% endcapture %}
  {% endif %}
{% else %}
  {% assign category_content = 'in no particular category' %}
{% endif %}
<p id="post-meta">Posted {{ category_content }}</p>
