<span class="share-buttons">
<ul class="share-buttons">
  <li><a href="https://twitter.com/intent/tweet?source={{ site.url }}{{ page.url }}&text={{ page.title }}%20{{ site.url }}{{ page.url }}%20via%20@PeterRoelants" target="_blank" title="Tweet"><i class="fa fa-twitter-square fa-2x"></i></a></li>

  <li><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>

  <li><a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" title="Submit to Reddit"><i class="fa fa-reddit-square fa-2x"></i></a></li>

  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&source={{ site.url }}{{ page.url }}" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>

  <li><a href="mailto:?subject={{ page.title }}&amp;body={{ site.url }}{{ page.url }}" target="_blank" title="Share by Email"><i class="fa fa-envelope-square  fa-2x"></i></a></li>
 </ul>
</span>

