<!-- Project Wonderful Ad Box Code -->
<div id="pw_adbox_79987_5_0"></div>
<script type="text/javascript"></script>
<noscript><map name="admap79987" id="admap79987"><area href="http://www.projectwonderful.com/out_nojs.php?r=0&c=0&id=79987&type=5" shape="rect" coords="0,0,728,90" title="" alt="" target="_blank" rel="noopener noreferrer" /></map>
<table cellpadding="0" cellspacing="0" style="width:728px;border-style:none;background-color:#ffffff;"><tr><td><img src="http://www.projectwonderful.com/nojs.php?id=79987&type=5" style="width:728px;height:90px;border-style:none;" usemap="#admap79987" alt="" /></td></tr><tr><td style="background-color:#ffffff;" colspan="1"><center><a style="font-size:10px;color:#0000ff;text-decoration:none;line-height:1.2;font-weight:bold;font-family:Tahoma, verdana,arial,helvetica,sans-serif;text-transform: none;letter-spacing:normal;text-shadow:none;white-space:normal;word-spacing:normal;" href="http://www.projectwonderful.com/advertisehere.php?id=79987&type=5" target="_blank">Ads by Project Wonderful!  Your ad here, right now: $0</a></center></td></tr></table>
</noscript>
<!-- End Project Wonderful Ad Box Code -->
{% assign author = site.authors[post.author] %}
{% if page.url != "/" %}{% else %}
<h1 class="entry-title">
    <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
</h1>
<div class="eyebrow">{{ post.date | date: "%d %b %Y" }} {% if post.category %} in <a href="/category/#{{ post.category | slugify }}">{{ post.category }}</a> {% endif %} by <em><a href="{{ author.apage }}">{{ author.display_name }}</a></em></div>
{% if post.featured %}
<div class="feature">
    <img src="/images/featured/{{ post.featured }}"/>
</div>
{% endif %}
<div class="entry-content">{{ post.content | strip_html | truncatewords: 200 }}<br/><br/>
<a href="{{ site.baseurl }}{{ post.url }}" class="small-link">Read details</a><br/><br/></div>
{% endif %}
