<div>
  "Other labs don’t hold a candle to you in quality and care for their customers. Thanks for all you do!"
  <a href="http://www.kathrynbruns.com/">Kathryn Bruns</a> December 15, 2017
</div>
<div>
  "I love my scans from you guys and am confident that you’ll assist me with getting 'the look.'
  I’ve been bouncing around from labs testing but I love your turnaround time the most and how easy y’all are to work with!"
  <a href="http://justindouglasphotos.com/">Justin Douglas</a> December 11, 2017
</div>
<div>
  "I also want to thank you guys for being so awesome. <a href="http://www.katiedelorme.com/">Katie De Lorme</a> talked you up, she's
  actually the reason I started using you guys. The scans and overall experience are the best I've had with a film lab. Thank you again!"
  <a href="http://www.keithdaiglephotography.com/">Keith Daigle</a> December 8, 2017
</div>
