<div>
  <ul>
    <li>
      <div class="left">
        <i>
          <span class="start-white-quote" />
            Other labs don’t hold a candle to you in quality and care for their customers. Thanks for all you do!
          <span class="end-white-quote" />
        </i>
      </div>
    </li>
    <li>
      <div class="right">
        <i><b><a href="http://www.kathrynbruns.com/">Kathryn Bruns</a>&nbsp;<br />12.5.2017</b></i>&nbsp;
      </div>
    </li>
  </ul>
</div>
<div>
  <ul>
    <li>
      <div class="left">
        <i>
          <span class="start-white-quote" />
            I love my scans from you guys and am confident that you’ll assist me with getting 'the look.'
            I’ve been bouncing around from labs testing but I love your turnaround time the most and how easy y’all are to work with!
          <span class="end-white-quote" />
        </i>
      </div>
    </li>
    <li>
      <div class="right">
        <i><b><a href="http://justindouglasphotos.com/">Justin Douglas</a>&nbsp;<br />12.11.2017</b></i>&nbsp;
      </div>
    </li>
  </ul>
</div>
<div>
  <ul>
    <li>
      <div class="left">
        <i>
          <span class="start-white-quote" />
            I also want to thank you guys for being so awesome. <a href="http://www.katiedelorme.com/">Katie De Lorme</a> talked you up, she's
            actually the reason I started using you guys. The scans and overall experience are the best I've had with a film lab. Thank you again!
          <span class="end-white-quote" />
        </i>
      </div>
    </li>
    <li>
      <div class="right">
        <i><b><a href="http://www.keithdaiglephotography.com/">Keith Daigle</a>&nbsp;<br />12.8.2017</b></i>&nbsp;
      </div>
    </li>
  </ul>
</div>
