  <!-- PROJECT STARTS HERE -->
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <p style="clear: both;">&nbsp;</p>
      <a href="/projects/github_battle-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/party_of_two01.png" alt="Party of 2" /></a>
    </div>



    <div class="col-md-9 col-sm-9 col-xs-12">
      <h3>Full-Stack Engineer | React Rapid | 2017</h3>
      <div class="well">
        <b>Project Summary</b><br>
        A Smart restaurant waiting system design and developed using Angular JS
      </div>
      <ul>
        <li>Coded and designed using Angular JS</li>
        <li>Runs on Node.JS</li>
        <li>Node runs on C9.io</li>
        <li>Utilizes Firebase & AngularFire for DB</li>
        <li>Utilizes Firebase Authentication Module</li>
        <li>Uses Twillio API for text messaging</li>
        <li>Designed using a Custom CSS</li>
        <li>Usage</li>
        <ul>
          <li>In order to run the code, you would need your own `Firebase` and `c9.io` account. c9 server needs to be running in order for `Node.js` to connect to Firebase and then send text messages using `Twillio API`.</li>
        </ul>
      </ul>

      <p style="clear: both;">&nbsp;</p>

      <div class="col-md-6 col-sm-6 col-xs-12">

        <h4 style="border-bottom: #ccc 1px solid; padding-bottom: 10px;">FRAMEWORKS & LANGUAGES USED</h4>
        <p style="clear: both;">&nbsp;</p>

        <img src="/assets/images/projects/logo-angular.png" style="width:80px;"/>
        <img src="/assets/images/projects/logo-firebase.png" style="width:80px;"/>
        <img src="/assets/images/projects/logo-node.png" style="width:80px;"/>
        <img src="/assets/images/projects/logo-npm.png" style="width:80px;"/>
        <img src="/assets/images/projects/logo-css3.png" style="width:80px;"/>
        <img src="/assets/images/projects/logo-html5.png" style="width:80px;"/>
        <img src="/assets/images/projects/logo-javascript.png" style="width:80px;"/>
        <img src="/assets/images/projects/logo-json-api.png" style="width:80px;"/>

      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <h4 style="border-bottom: #ccc 1px solid; padding-bottom: 10px;">PROJECT LINKS</h4>
        <p style="clear: both;">&nbsp;</p>
        <a style="display:inline-block;" class="btn btn-cta-primary" href="https://github.com/timurcatakli/party-of-two"><i class="fa fa-github-alt"></i> View GitHub Repo</a>
      </div>


      <div class="col-md-12 col-sm-12 col-xs-12">

        <p style="clear: both;">&nbsp;</p>
        <h4 style="border-bottom: #ccc 1px solid; padding-bottom: 10px;">SCREENSHOTS</h4>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/party_of_two-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/party_of_two01.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/party_of_two-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/party_of_two02.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/party_of_two-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/party_of_two03.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/party_of_two-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/party_of_two04.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/party_of_two-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/party_of_two05.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/party_of_two-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/party_of_two06.png" alt="project name" /></a></div>

      </div>







    </div>
  </div>
  <!-- PROJECT ENDS HERE -->
