  <!-- PROJECT STARTS HERE -->
  <div class="row">

    <div class="col-md-3 col-sm-3 col-xs-12">
      <p style="clear: both;">&nbsp;</p>
      <a href="/projects/ecommerce-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/ecommerce01.png" alt="eCommerce" /></a>
    </div>


    <div class="col-md-9 col-sm-9 col-xs-12">
      <h3>Full Stack Software Engineer | eCommerce Infrastructure Development | 2016</h3>
      <div class="well">
        <b>Project Summary</b><br>
        Basic eCommerce site infrastructure built by using Ruby on Rails.
      </div>

      <ul>
        <li>Utilized the following technologies: Ruby on Rails, PostgreSQL, Rspec for Controller and Model Testing, Capybara Feature Testing, Devise for Admin Accounts, Sidekiq & Redis for automation, Ajax calls for content.</li>
      </ul>


      <p style="clear: both;">&nbsp;</p>

      <div class="col-md-6 col-sm-6 col-xs-12">

        <h4 style="border-bottom: #ccc 1px solid; padding-bottom: 10px;">FRAMEWORKS & LANGUAGES USED</h4>
        <p style="clear: both;">&nbsp;</p>
        <img src="/assets/images/projects/logo-ruby.png" style="width:80px;" alt="Ruby" />
        <img src="/assets/images/projects/logo-rubyonrails.png" style="width:80px;" alt="Rails" />
        <img src="/assets/images/projects/logo-css3.png" style="width:80px;" alt="CSS 3" />
        <img src="/assets/images/projects/logo-html5.png" style="width:80px;" alt="HTML 5" />
        <img src="/assets/images/projects/logo-javascript.png" style="width:80px;" alt="Javascript" />
        <img src="/assets/images/projects/logo-jquery.png" style="width:80px;" alt="Jquery" />
        <img src="/assets/images/projects/logo-postgresql.png" style="width:80px;" alt="PostgreSQL" />
        <img src="/assets/images/projects/logo-json-api.png" style="width:80px;" alt="Json API" />
        <img src="/assets/images/projects/logo-bootstrap.png" style="width:80px;" alt="Bootstrap" />
        <img src="/assets/images/projects/logo-balsamiq.png" style="width:80px;" alt="Balsamiq" />

      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <h4 style="border-bottom: #ccc 1px solid; padding-bottom: 10px;">PROJECT LINKS</h4>
        <p style="clear: both;">&nbsp;</p>
        <a style="display:inline-block;" class="btn btn-cta-primary" href="https://still-dusk-76019.herokuapp.com/"><i class="fa fa-desktop"></i> Visit Project Site</a>
        <p style="clear: both;">&nbsp;</p>
        <a style="display:inline-block;" class="btn btn-cta-primary" href="https://github.com/timurcatakli/rails-online-shop-challenge"><i class="fa fa-github-alt"></i> View GitHub Repo</a>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">

        <p style="clear: both;">&nbsp;</p>
        <h4 style="border-bottom: #ccc 1px solid; padding-bottom: 10px;">SCREENSHOTS</h4>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/ecommerce-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/ecommerce01.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/ecommerce-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/ecommerce02.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/ecommerce-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/ecommerce03.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/ecommerce-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/ecommerce04.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/ecommerce-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/ecommerce05.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/ecommerce-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/ecommerce06.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/ecommerce-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/ecommerce07.png" alt="project name" /></a></div>

      </div>




    </div>
  </div>
  <!-- PROJECT ENDS HERE -->