  <!-- PROJECT STARTS HERE -->
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <p style="clear: both;">&nbsp;</p>
      <a href="/projects/robotanist-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/robotanist05.png" alt="robotanist" /></a>
    </div>



    <div class="col-md-9 col-sm-9 col-xs-12">
      <h3>Robotanist</h3>
      <div class="well">
        <b>Project Summary</b><br>
        A web app for Botanists. Completed with a team of four in less than a week. Technologies used:
        Ruby on Rails, Javascript, Ajax, Jquery, API Calls, Handlebars, Bootstrap, Git, Photoshop, Balsamiq
      </div>

      <p>A user and beginner friendly version of the Jepson Manual</p>

      <p><b>Usage</b></p>

      <p>1) There are two simple starting points for RoBotanist.  You can either start from the very beginning of the key, or if you know the botanical family of your sample, you can enter it into the smart search box on the landing page.</p>

      <p>2) RoBotanist pairs the dichotomies in the Jepson Manual for easy viewing.  As with any other dichotomous key, compare your sample to the available choices</p>

      <p><b>History</b></p>

      <p>The inspiration for the project came from Reuben's experience using the Jepson Manual to identify plants. While the information in the Jepson Manual is second to none, Reuben often found himself losing his place in the key, or encountering an unfamiliar word, which required additional resources. The goal of this project is to improve the user experience of the Jepson Manual, while maintaining the remarkable quality of the resource.</p>

      <p><b>Credits</b></p>

      <p>Special thanks to the University of California Berkeley's Jepson Herbarium for allowing us to use their product for this project.</p>

      <p><b>Duration</b></p>
      <p>Completed in less than a week with a team of four.</p>

      <p><b>Responsibilities</b></p>
      <p>My role in the project included the following.
      <ul>
      <li>Mockup & Site Design - Balsamiq Mockups, Photoshop</li>
      <li>Front-End Design & Development using</li>
        <ul>
          <li>Setting up <code class="highlighter-rouge">Rails</code>, routing, controllers & models.</li>
          <li><code class="highlighter-rouge">Jquery</code></li>
          <li><code class="highlighter-rouge">Ajax</code></li>
          <li><code class="highlighter-rouge">API Calls</code> to Instagram, Twitter & Wikipedia</li>
          <li>Bootstrap</li>
          <li><code class="highlighter-rouge">Handlebars</code> for JS templating</li>
        </ul>
        <li>Site Search Feature using <code class="highlighter-rouge">MongoID</code></li>
      <li><code class="highlighter-rouge">Agile Project Management</code></li>
        <ul>
          <li>MVP</li>
          <li>Sprints</li>
          <li>Feature Freeze</li>
          <li>Daily Standups & Checkins</li>
          <li>Team Bonding</li>
          <li>Kanban Board</li>
          <li>Structured <code class="highlighter-rouge">Git Workflows</code> with dedicated branches for each feature</li>
          <li>Dedicated <code class="highlighter-rouge">Merge Master</code> (couldn't merge his own request)</li>
        </ul>
      </ul>

      <p style="clear: both;">&nbsp;</p>

      <div class="col-md-6 col-sm-6 col-xs-12">

        <h4 style="border-bottom: #ccc 1px solid; padding-bottom: 10px;">FRAMEWORKS & LANGUAGES USED</h4>
        <p style="clear: both;">&nbsp;</p>
        <img src="/assets/images/projects/logo-ruby.png" style="width:80px;" alt="Ruby" />
        <img src="/assets/images/projects/logo-rubyonrails.png" style="width:80px;" alt="Rails" />
        <img src="/assets/images/projects/logo-css3.png" style="width:80px;" alt="CSS 3" />
        <img src="/assets/images/projects/logo-html5.png" style="width:80px;" alt="HTML 5" />
        <img src="/assets/images/projects/logo-javascript.png" style="width:80px;" alt="Javascript" />
        <img src="/assets/images/projects/logo-jquery.png" style="width:80px;" alt="Jquery" />
        <img src="/assets/images/projects/logo-photoshop.png" style="width:80px;" alt="Photoshop" />
        <img src="/assets/images/projects/logo-balsamiq.png" style="width:80px;" alt="Balsamiq" />
        <img src="/assets/images/projects/logo-mongoid.png" style="width:80px;" alt="MongoID" />
        <img src="/assets/images/projects/logo-handlebars.png" style="width:80px;" alt="Handlebars" />
        <img src="/assets/images/projects/logo-json-api.png" style="width:80px;" alt="API Calls" />

      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <h4 style="border-bottom: #ccc 1px solid; padding-bottom: 10px;">PROJECT LINKS</h4>
        <p style="clear: both;">&nbsp;</p>
        <a style="display:inline-block;" class="btn btn-cta-primary" href="http://robotanist.herokuapp.com/"><i class="fa fa-desktop"></i> Visit Project Site</a>
        <p style="clear: both;">&nbsp;</p>
        <a style="display:inline-block;" class="btn btn-cta-primary" href="https://github.com/timurcatakli/Botanists-toolbelt/tree/development"><i class="fa fa-github-alt"></i> View GitHub Repo</a>
      </div>


      <div class="col-md-12 col-sm-12 col-xs-12">

        <p style="clear: both;">&nbsp;</p>
        <h4 style="border-bottom: #ccc 1px solid; padding-bottom: 10px;">SCREENSHOTS</h4>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/robotanist-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/robotanist01.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/robotanist-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/robotanist02.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/robotanist-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/robotanist03.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/robotanist-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/robotanist04.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/robotanist-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/robotanist05.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/robotanist-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/robotanist06.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/robotanist-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/robotanist07.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/robotanist-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/robotanist08.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/robotanist-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/robotanist09.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/robotanist-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/robotanist10.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/robotanist-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/robotanist11.png" alt="project name" /></a></div>

      </div>







    </div>
  </div>
  <!-- PROJECT ENDS HERE -->