  <!-- PROJECT STARTS HERE -->
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <p style="clear: both;">&nbsp;</p>
      <a href="/projects/robotanist-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/robotanist05.png" alt="robotanist" /></a>
    </div>



    <div class="col-md-9 col-sm-9 col-xs-12">
      <h3>Full-Stack Engineer | Robotanist | 2016</h3>
      <div class="well">
        <b>Project Summary</b><br>
        Platform for botany enthusiasts to search for and find the family, genera, and species of thousands of plants
      </div>
      <ul>
        <li>Designed the UI/UX (mockups, wireframes, and site layout) using custom built Bootstrap theme, Sass, and CSS3.</li>
        <li>Templated the frontend views using JavaScript, jQuery, AJAX, Handlebars, and HTML5 for seamless content calls.</li>
        <li>Architected RESTful Ruby on Rails server with custom controllers, models, and routing following MVC patterns.</li>
        <li>Engineered NoSQL DB using MongoDB and utilized Mongoid Search Index to index 7000+ plant species.</li>
        <li>Integrated Instagram, Twitter and Wikipedia APIs to query for and display on frontend botanic information.</li>
      </ul>

      <p style="clear: both;">&nbsp;</p>

      <div class="col-md-6 col-sm-6 col-xs-12">

        <h4 style="border-bottom: #ccc 1px solid; padding-bottom: 10px;">FRAMEWORKS & LANGUAGES USED</h4>
        <p style="clear: both;">&nbsp;</p>
        <img src="/assets/images/projects/logo-ruby.png" style="width:80px;" alt="Ruby" />
        <img src="/assets/images/projects/logo-rubyonrails.png" style="width:80px;" alt="Rails" />
        <img src="/assets/images/projects/logo-css3.png" style="width:80px;" alt="CSS 3" />
        <img src="/assets/images/projects/logo-html5.png" style="width:80px;" alt="HTML 5" />
        <img src="/assets/images/projects/logo-javascript.png" style="width:80px;" alt="Javascript" />
        <img src="/assets/images/projects/logo-jquery.png" style="width:80px;" alt="Jquery" />
        <img src="/assets/images/projects/logo-photoshop.png" style="width:80px;" alt="Photoshop" />
        <img src="/assets/images/projects/logo-balsamiq.png" style="width:80px;" alt="Balsamiq" />
        <img src="/assets/images/projects/logo-mongoid.png" style="width:80px;" alt="MongoID" />
        <img src="/assets/images/projects/logo-handlebars.png" style="width:80px;" alt="Handlebars" />
        <img src="/assets/images/projects/logo-json-api.png" style="width:80px;" alt="API Calls" />

      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <h4 style="border-bottom: #ccc 1px solid; padding-bottom: 10px;">PROJECT LINKS</h4>
        <p style="clear: both;">&nbsp;</p>
        <a style="display:inline-block;" class="btn btn-cta-primary" href="http://robotanist.herokuapp.com/"><i class="fa fa-desktop"></i> Visit Project Site</a>
        <p style="clear: both;">&nbsp;</p>
        <a style="display:inline-block;" class="btn btn-cta-primary" href="https://github.com/timurcatakli/Botanists-toolbelt/tree/development"><i class="fa fa-github-alt"></i> View GitHub Repo</a>
      </div>


      <div class="col-md-12 col-sm-12 col-xs-12">

        <p style="clear: both;">&nbsp;</p>
        <h4 style="border-bottom: #ccc 1px solid; padding-bottom: 10px;">SCREENSHOTS</h4>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/robotanist-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/robotanist01.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/robotanist-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/robotanist02.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/robotanist-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/robotanist03.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/robotanist-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/robotanist04.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/robotanist-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/robotanist05.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/robotanist-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/robotanist06.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/robotanist-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/robotanist07.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/robotanist-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/robotanist08.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/robotanist-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/robotanist09.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/robotanist-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/robotanist10.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/robotanist-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/robotanist11.png" alt="project name" /></a></div>

      </div>







    </div>
  </div>
  <!-- PROJECT ENDS HERE -->