  <!-- PROJECT STARTS HERE -->
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <p style="clear: both;">&nbsp;</p>
      <a href="/projects/magnitude-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/magnitude03.png" alt="magnitude" /></a>
    </div>


    <div class="col-md-9 col-sm-9 col-xs-12">
      <h3>Full-Stack Engineer | Magnitude | 2016</h3>
      <div class="well">
        <b>Project Summary</b><br>
        Alert system service to find recent global earthquakes and establish SMS warnings of geolocated earthquakes
      </div>
      <ul>
        <li>Constructed page routes, controllers and models using Ruby and Sinatra to accurately redirect API requests.</li>
        <li>Followed Google Material Design philosophy to construct the UI/XUX using Materialize, jQuery, and AJAX.</li>
        <li>Incorporated USGS API to gather and display earthquake data and the Twilio API to alert users of earthquakes.</li>
      </ul>

      <p style="clear: both;">&nbsp;</p>

      <div class="col-md-6 col-sm-6 col-xs-12">

        <h4 style="border-bottom: #ccc 1px solid; padding-bottom: 10px;">FRAMEWORKS & LANGUAGES USED</h4>
        <p style="clear: both;">&nbsp;</p>
        <img src="/assets/images/projects/logo-sinatra.png" style="width:80px;" alt="Sinatra" />
        <img src="/assets/images/projects/logo-css3.png" style="width:80px;" alt="CSS 3" />
        <img src="/assets/images/projects/logo-html5.png" style="width:80px;" alt="HTML 5" />
        <img src="/assets/images/projects/logo-javascript.png" style="width:80px;" alt="Javascript" />
        <img src="/assets/images/projects/logo-jquery.png" style="width:80px;" alt="Jquery" />
        <img src="/assets/images/projects/logo-balsamiq.png" style="width:80px;" alt="Balsamiq" />
        <img src="/assets/images/projects/logo-json-api.png" style="width:80px;" alt="API Calls" />
        <img src="/assets/images/projects/logo-sqlite3.png" style="width:80px;" alt="Sqlite 3" />

      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <h4 style="border-bottom: #ccc 1px solid; padding-bottom: 10px;">PROJECT LINKS</h4>
        <p style="clear: both;">&nbsp;</p>
        <a style="display:inline-block;" class="btn btn-cta-primary" href="https://tranquil-earth-58775.herokuapp.com"><i class="fa fa-desktop"></i> Visit Project Site</a>
        <p style="clear: both;">&nbsp;</p>
        <a style="display:inline-block;" class="btn btn-cta-primary" href="https://github.com/timurcatakli/magnitude"><i class="fa fa-github-alt"></i> View GitHub Repo</a>
      </div>


      <div class="col-md-12 col-sm-12 col-xs-12">

        <p style="clear: both;">&nbsp;</p>
        <h4 style="border-bottom: #ccc 1px solid; padding-bottom: 10px;">SCREENSHOTS</h4>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/magnitude-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/magnitude01.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/magnitude-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/magnitude02.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/magnitude-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/magnitude03.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/magnitude-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/magnitude04.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/magnitude-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/magnitude05.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/magnitude-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/magnitude06.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/magnitude-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/magnitude07.png" alt="project name" /></a></div>

      </div>











    </div>
  </div>
  <!-- PROJECT ENDS HERE -->