  <!-- PROJECT STARTS HERE -->
  <div class="row">

    <div class="col-md-3 col-sm-3 col-xs-12">
      <p style="clear: both;">&nbsp;</p>
      <a href="/projects/skeleton-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/skeleton01.png" alt="skeleton" /></a>
    </div>



    <div class="col-md-9 col-sm-9 col-xs-12">
      <h3>Software Engineer | Open Source Project - Sinatra Skeleton with Authentication & Bootstrap | 2016</h3>
      <div class="well">
        <b>Project Summary</b><br>
        An Open Source starter-kit for Sinatra.
      </div>
      <p><b>Usage</b></p>

        
      <ul>
        <li>Technologies used: Sinatra, BCrypt, Active Record, PostgreSQL, Rspec, Javascript, Bootstrap, Git</li>
        <li>Migration and model exists for User</li>
        <li>Ready seed file and currently generates 10 fake users.</li>
        <li>Passwords are encrypted using Bcrypt.</li>
        <li>All passwords are set to "password" for testing purposes.</li>
        <li>User must provide: first name, last name, email address, and password while registering</li>
        <li>User logs in with email address and password</li>
        <li>Upon successful login, user is redirected to profile page</li>
        <li>This is a template showcasing the optional theme stylesheet included in Bootstrap.</li>
        <li>Use it as a starting point to create something more unique by building on or modifying it.</li>
        <li>All Bootstrap 3.0 files are located under public/bootstrap</li>
      </ul>

      <p style="clear: both;">&nbsp;</p>

      <div class="col-md-6 col-sm-6 col-xs-12">

        <h4 style="border-bottom: #ccc 1px solid; padding-bottom: 10px;">FRAMEWORKS & LANGUAGES USED</h4>
        <p style="clear: both;">&nbsp;</p>
        <img src="/assets/images/projects/logo-ruby.png" style="width:80px;" alt="Ruby" />
        <img src="/assets/images/projects/logo-sinatra.png" style="width:80px;" alt="Sinatra" />
        <img src="/assets/images/projects/logo-css3.png" style="width:80px;" alt="CSS 3" />
        <img src="/assets/images/projects/logo-html5.png" style="width:80px;" alt="HTML 5" />
        <img src="/assets/images/projects/logo-javascript.png" style="width:80px;" alt="Javascript" />
        <img src="/assets/images/projects/logo-jquery.png" style="width:80px;" alt="Jquery" />
        <img src="/assets/images/projects/logo-sqlite3.png" style="width:80px;" alt="SQLite3" />

      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <h4 style="border-bottom: #ccc 1px solid; padding-bottom: 10px;">PROJECT LINKS</h4>
        <p style="clear: both;">&nbsp;</p>
        <a style="display:inline-block;" class="btn btn-cta-primary" href="https://github.com/timurcatakli/Sinatra-Skeleton-w-prebuilt-Authentication-Bootstrap-3.0"><i class="fa fa-github-alt"></i> View GitHub Repo</a>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">

        <p style="clear: both;">&nbsp;</p>
        <h4 style="border-bottom: #ccc 1px solid; padding-bottom: 10px;">SCREENSHOTS</h4>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/skeleton-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/skeleton01.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/skeleton-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/skeleton02.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/skeleton-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/skeleton03.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/skeleton-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/skeleton04.png" alt="project name" /></a></div>

      </div>

    </div>
  </div>
  <!-- PROJECT ENDS HERE -->