  <!-- PROJECT STARTS HERE -->
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <p style="clear: both;">&nbsp;</p>
      <a href="/projects/github_battle-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/github_battle05.png" alt="GitHub Battle" /></a>
    </div>



    <div class="col-md-9 col-sm-9 col-xs-12">
      <h3>Full-Stack Engineer | GitHub Battle | 2016</h3>
      <div class="well">
        <b>Project Summary</b><br>
        A ReactJS project, where two GitHub user profiles are compared using GitHub's API.
      </div>
      <ul>
        <li>Coded and designed using React JS</li>
        <li>Runs on Node.JS, WebPack</li>
        <li>Utilizes Axios.js for API connection to GitHub</li>
        <li>Renders React JSX files using Babel.js</li>
        <li><b>Usage:</b></li>
          <ul>
            <li>Add your GitHub API credentials to helper file.</li>
            <li>NPM install</li>
            <li>NPM run start</li>

          </ul>
      </ul>

      <p style="clear: both;">&nbsp;</p>

      <div class="col-md-6 col-sm-6 col-xs-12">

        <h4 style="border-bottom: #ccc 1px solid; padding-bottom: 10px;">FRAMEWORKS & LANGUAGES USED</h4>
        <p style="clear: both;">&nbsp;</p>

        <img src="/assets/images/projects/logo-react.png" style="width:80px;"/>
        <img src="/assets/images/projects/logo-babel.png" style="width:80px;"/>
        <img src="/assets/images/projects/logo-webpack.png" style="width:80px;"/>
        <img src="/assets/images/projects/logo-npm.png" style="width:80px;"/>
        <img src="/assets/images/projects/logo-css3.png" style="width:80px;"/>
        <img src="/assets/images/projects/logo-html5.png" style="width:80px;"/>
        <img src="/assets/images/projects/logo-javascript.png" style="width:80px;"/>
        <img src="/assets/images/projects/logo-json-api.png" style="width:80px;"/>

      </div>

      <div class="col-md-6 col-sm-6 col-xs-12">
        <h4 style="border-bottom: #ccc 1px solid; padding-bottom: 10px;">PROJECT LINKS</h4>
        <p style="clear: both;">&nbsp;</p>
        <a style="display:inline-block;" class="btn btn-cta-primary" href="https://github.com/timurcatakli/github-battle"><i class="fa fa-github-alt"></i> View GitHub Repo</a>
      </div>


      <div class="col-md-12 col-sm-12 col-xs-12">

        <p style="clear: both;">&nbsp;</p>
        <h4 style="border-bottom: #ccc 1px solid; padding-bottom: 10px;">SCREENSHOTS</h4>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/github_battle-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/github_battle01.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/github_battle-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/github_battle02.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/github_battle-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/github_battle03.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/github_battle-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/github_battle04.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/github_battle-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/github_battle05.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/github_battle-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/github_battle06.png" alt="project name" /></a></div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="margin:20px; border:1px dotted gray"><a href="/projects/github_battle-scr.html"><img class="img-responsive project-image" src="/assets/images/projects/screenshots/github_battle07.png" alt="project name" /></a></div>

      </div>







    </div>
  </div>
  <!-- PROJECT ENDS HERE -->