{% assign post = include.post %}

{% if site.hydejack.use_lsi or site.use_lsi %}
  {% assign related_posts = site.related_posts %}
{% elsif post.categories.first %}
  {% assign related_posts = site.categories[post.categories.first] | where_exp:"post", "post.url != page.url" %}
{% elsif post.tags.first %}
  {% assign related_posts = site.tags[post.tags.first] | where_exp:"post", "post.url != page.url" %}
{% else %}
  {% assign related_posts = site.related_posts %}
{% endif %}

{% if related_posts.size > 0 %}
<aside class="related mb4" role="complementary">
  <h2 class="hr">{{ site.data.strings.related_posts | default:"Related Posts" }}</h2>

  <ul class="related-posts">
    {% for post in related_posts limit:3 %}
      {% include post-list-item.html post=post %}
    {% endfor %}
  </ul>
</aside>
{% endif %}
