<div id="scroll-popup" style="display: none;">
  <div>Hi! Be sure to like us on FaceBook:</div>
<div style="margin-left: 33px;" class="fb-like" data-href="https://www.facebook.com/Joes-GitHub-Blog-1139573672787356" data-width="25" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>
<div onclick="$('#scroll-popup,#scroll-modal').hide('slow');">Close</div>
</div>
<div id="scroll-modal" style="display: none;"></div>

<style>
#scroll-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 300px;
  margin: -150px 0 0 -150px;
  background: whitesmoke;
  padding: 1em;
  z-index: 100;
}
  
#scroll-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  z-index: 100;
}
</style>

<script>
var scrolled = 0;

$(document).ready(function(){
  $(window).scroll(function(){
    scrolled = scrolled + 1;
    
    if(scrolled == 50) {
      $("#scroll-popup,#scroll-modal").show("slow");
    }
  });
});
</script>
