<form action="https://google.com/search" class="search-form">
  <div class="search-row">
    <input id="search-bar" type="search" name="q" />

    {% comment %}
      Hacky strip of protocol to the sitesearch value we pass to Google
    {% endcomment %}
    {% assign url = site.url | replace_first: 'https://', '' %}
    {% assign url = url | replace_first: 'http://', '' %}
    {% assign url = url | replace_first: 'spdy://', '' %}
    {% assign url = url | replace_first: '//', '' %}
    <input name="sitesearch" type="hidden"
           value="{{ url }}{{ site.baseurl }}" />

    <input type="submit" value="Search" />
  </div>
</form>