<!-- begin now -->
<section class="blog section">

    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="section__info">
            <div class="section__head">
                <span>
                    <h2 class="section__title">Now</h2>
                    <p>Its happening! Stuff that Im involved in right now</p>
                </span>
              <a class="section__link" href="{{ '/now' | relative_url }}">View more</a>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="container">
        <div class="row">
          {% for news in site.data.settings.now.now__content limit:3 %}
            {% include article-now.html %}
          {% endfor %}
        </div>
      </div>
    </div>

</section>
<!-- end now -->