<!-- begin portfolio -->
<section class="section portfolio">

  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__head">
          <span>
            <h2 class="section__title">{{ site.data.settings.portfolio.portfolio__title }}</h2>
            <p>Its happening! Stuff that Im involved in right now</p>
          </span>
          <a class="section__link" href="{{ '/portfolio' | relative_url }}">View more</a>
          <!-- <div class="portfolio__view">
            <div class="portfolio__toggle">
              <div class="icon">
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
                <div class="icon-bar"></div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio__gallery animate">
    <div class="container">
      <div class="row">
        {% for card in site.data.settings.portfolio.portfolio__gallery %}
          {% include card.html %}
        {% endfor %}
      </div>
    </div>
  </div>

</section>
<!-- end portfolio -->