<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-8 col-d-12 align-self-center">
        <div class="hero__inner">
          <h1 class="hero__title">{{ site.data.settings.hero.hero__title }}</h1>
          <p class="hero__description">{{ site.data.settings.hero.hero__description }}</p>
        </div>
      </div>
      <div class="col col-4 col-d-12">
        <img src="/images/avatar_no-bg.png" />
      </div>
    </div>
    <a href="mailto:ivo@commitsans.com?subject=Qué pasa majo&body=ola qe dise" class="button button--primary subscribe__button" id="membedded-subscribe" type="submit" name="subscribe">Get in touch</a>
  </div>
</section>
<!-- end hero -->