<!-- begin now -->
<section class="blog section">

    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="section__info">
            <div class="section__head">
                <span>
                    <h2 class="section__title">Now</h2>
                    <!-- <h5 class="section__title">It's happening</h5> -->
                </span>
              <a class="section__link" href="{{ '/now' | relative_url }}">View all</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <ul>
        {% for news in site.data.settings.now.now__content limit:3 %}
          <li>{{news}}</li>
        {% endfor %}
      </ul>
      </div>
    </div>

</section>
<!-- end now -->