{% assign post_urls = "" | split: "" %}{% assign post_urls = post_urls | push: page.url %}<div id="see-also"><h2>You might also like:</h2></div>
<script>
$( document ).ready(function() {
  var posts = [{% for tag in page.tags %}{% for post in site.tags[tag] %}{% unless post_urls contains post.url %}{% assign post_urls = post_urls | push: post.url %}
    {url:"{{ post.url }}",title:"{{ post.title | xml_escape }}",excerpt:'{{ post.excerpt | strip_newlines }}'},
  {% endunless %}{% endfor %}{% endfor %}];
  
  posts.sort(function(){return Math.random() - 0.5;});
  
  for(var i = 0; i < Math.min(posts.length, 3); i++) {
    post = posts[i];
    $("#see-also").append("<h3><a href=\"" + post.url + "\">" + post.title + "</a></h3>");
    $("#see-also").append("<div class=\"excerpt\">" + post.excerpt + "</div>");
  } 
});
</script>