{% assign post_urls = "" | split: "" %}{% assign post_urls = post_urls | push: page.url %}<div id="see-also"><h2>Related posts:</h2></div>
<script>
$( document ).ready(function() {
  var posts = [{% for tag in page.tags %}{% for post in site.tags[tag] %}{% unless post_urls contains post.url %}{% assign post_urls = post_urls | push: post.url %}{% capture post_excerpt %}{{ post.excerpt | strip_html | strip_newlines | xml_escape }}{% endcapture %}
    {url:"{{ post.url }}",title:"{{ post.title | xml_escape }}",excerpt:"{{ post_excerpt | strip_html }}"}{% unless forloop.last %},{% endunless %}
  {% endunless %}{% endfor %}{% unless forloop.last %},{% endunless %}{% endfor %}];
  addSeeAlsos(posts);  
});
</script>
