{% if site.share-buttons %}
	<ul class="share-buttons">
	  <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Compartilhe no Facebook" target="_blank"><img src="{{ site.baseurl }}/images/icons/Facebook.png"></a></li>
	  <li><a href="https://twitter.com/intent/tweet?source={{ site.url }}{{ page.url }}&text={{ page.title }}&url={{ site.url }}{{ page.url }}&via=ivanqueiroz" target="_blank" title="Tweet"><img src="{{ site.baseurl }}/images/icons/Twitter.png"></a></li>
	  <li><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" title="Compartilhe no Google+"><img src="{{ site.baseurl }}/images/icons/Google+.png"></a></li>
	  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ page.title }}" target="_blank" title="Compartilhe no LinkedIn"><img src="{{ site.baseurl }}/images/icons/LinkedIn.png"></a></li>
	  <li><a href="mailto:?subject={{ page.title }}&body={{ site.url }}{{ page.url }}" target="_blank" title="Email"><img src="{{ site.baseurl }}/images/icons/Email.png"></a></li>
	</ul>
{% endif %}
