{% capture page_url | strip_newlines | remove: ' ' %}
  {% if include.url %}
    {{ site.url }}{{ include.url }}
  {% elsif page.facebook_post %}
    {{ page.facebook_post }}
  {% else %}
    {{ site.url }}{{ page.url }}
  {% endif %}
{% endcapture %}

<!-- LinkedIn Share -->
<div>
<script src="https://platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
<script type="IN/Share" data-url="{{ page_url  | strip_newlines | strip }}" data-counter="right"></script>
</div>

{% unless page.facebook_post or include.facebook_post %}<!-- Facebook Like & Share -->
<div>
  <div class="fb-like" 
    data-href="{{ page_url | strip }}" 
    data-layout="standard" 
    data-action="like" 
    data-share="true"
    data-show-faces="true">
  </div>
</div>
{% endunless %}
