<div class="share-page">
    <h4 class="filled soft-grey"><span class="icon-share2"></span></h4>
    	<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Compartir a Twitter">
    	<span class="icon-twitter"></span></a>
    	<a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Compartir a Facebook">
    	<span class="icon-facebook"></span></a>
    	<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Compartir a Google+">
    	<span class="icon-google-plus"></span></a>
</div>