<div class="share-page l">
<div class="collapser">
	<a href="#"><h4 class="filled soft-grey"><span class="icon icon-share2"></span></h4></a>
	<ul class="collapsed dropmenu">
		<li><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Compartir a Twitter"><span class="icon icon-twitter"></span></a></li>
		<li><a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Compartir a Facebook"><span class="icon icon-facebook"></span></a></li>
		<li><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Compartir a Google+"><span class="icon icon-google-plus"></span></a></li>
	</ul>
</div>
<div class="button-group">
	<input class="ctrigger" type="checkbox" id="d-1" name="d" aria-hidden="true" hidden>
	<label class="button" for="d-1">Clic<span class="caret"></span></label>
	<ul class="dropmenu ccollapsed">
		<li><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Compartir a Twitter"><span class="icon icon-twitter"></span></a></li>
		<li><a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Compartir a Facebook"><span class="icon icon-facebook"></span></a></li>
		<li><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Compartir a Google+"><span class="icon icon-google-plus"></span></a></li>
	</ul>
</div>
</div>