<div class="sidebars">
  {% assign link = site.data.navigation[1] %}
  <ul>
    {% if page.url == "/project/" %}
    <li class="sidebar">
      <a href="{{ site.baseurl }}{{ link.url }}" class="activated">
        {{ link.title }}
      </a>
    </li>
    {% else %}
    <li class="sidebar">
      <a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
    </li>
    {% endif %} {% for sublink in link.sublinks %} {% if page.url contains
    sublink.url %}
    <li class="sidebar">
      <a href="{{ site.baseurl }}{{ sublink.url }}" class="activated">
        {{ sublink.title }}
      </a>
    </li>
    {% else %}
    <li class="sidebar">
      <a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
    </li>
    {% endif %}{% endfor %}
  </ul>
</div>
