<div class="sidebars">
  {% assign link = site.data.navigation[0] %}
  <ul>
    {% if page.url contains link.url %} {% assign class = 'active' %} {% endif
    %}
    <li class="sidebar">
      <a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
    </li>
    {% for sublink in link.sublinks %} {% if page.url contains sublink.url %} {%
    assign class = 'active' %} {% endif %}
    <li class="sidebar">
      <a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
    </li>
    {% assign class = 'active' %} {% endfor %}
  </ul>
</div>
