<h2>Welcome Biohackers!</h2>

<p>The age of personal biotechnology is upon us! Engineers have turned
biology in a design discipline and it’s now up to us to shape it’s
applications.</p>

<p>After completing this BioHack Academy you can grow
your own fuel, food, filaments, farmaceuticals, fragrances, fungi and
much more funky bio stuff at home. We’ll teach you how to join the bio
revolution and build your own laboratoy using a Fablab, Maker/Hackspace
or other shared machine shop.</p>

<p>Learn how to design, grow and extract your own biomaterials using only
Open Source hardware you fabricate yourself. Whether it’s a new type of
bio ink, bio polymer or bio fuel, we’ll show you can grow it yourself and
share the results with others.</p>
