<h2>Welcome Biohackers!</h2>

<p>The age of personal biotechnology is upon us! Engineers have turned
biology in a design discipline and it’s now up to us to shape it’s
applications.</p>

<p>After completing this BioHack Academy you can grow
your own fuel, food, filaments, farmaceuticals, fragrances, fungi and
much more funky bio stuff at home. We’ll teach you how to join the bio
revolution and build your own laboratoy using a Fablab, Maker/Hackspace
or other shared machine shop.</p>

<p>Learn how to design, grow and extract your own biomaterials using only
Open Source hardware you fabricate yourself. Whether it’s a new type of
bio ink, bio polymer or bio fuel, we’ll show you can grow it yourself and
share the results with others.</p>

<h2>Registration</h2>
<p>The registrations for the third BioHack Academy are open until January 5th. All information about this course can be found in the <a href="http://waag.org/sites/waag/files/public/media/publicaties/biohack-academy-3.pdf">BHA3 Brochure</a>.</p>
<p><a href="https://waag.typeform.com/to/QMdW60">Sign up here to participate in Amsterdam</a></p>

<h2>Previous Editions</h2>
<p>The syllabus of completed courses can be found here:</p>
<ul>
    <li><a href="/biofactory/">BHA1</a></li>
    <li><a href="/bha2/">BHA2</a></li>
</ul>

