<a href="mailto:{{site.social-links.email}}">
  <i class="mail icon big icon-social"></i>
</a>
<a href="{{site.social-links.github}}" target="_blank">
  <i class="github square icon big icon-social"></i>
</a>
<a href="{{site.social-links.linkedin}}" target="_blank">
  <i class="linkedin square icon big icon-social"></i>
</a>
<a href="{{site.social-links.twitter}}" target="_blank">
  <i class="twitter square icon big icon-social"></i>
</a>
<a href="{{site.social-links.facebook}}" target="_blank">
  <i class="facebook square icon big icon-social"></i>
</a>
