<div class="social-media-icons">
  <a href="https://www.facebook.com/{{ site.footer-links.facebook }}">
    <div class="svg-icon facebook"></div>
  </a>

  <a href="https://www.twitter.com/{{ site.footer-links.twitter }}">
    <div class="svg-icon twitter"></div>
  </a>

  <a href="https://instagram.com/{{ site.footer-links.instagram }}">
    <div class="svg-icon instagram"></div>
  </a>

  <a href="{{ site.baseurl }}/feed.xml">
    <div class="svg-icon rss"></div>
  </a>

  <a href="https://github.com/{{ site.footer-links.github }}">
    <div class="svg-icon github"></div>
  </a>

  <a href="mailto:{{ site.footer-links.email }}">
    <div class="svg-icon email"></div>
  </a>

  <a href="http://www.humboldt-gym.de/">
    <div src="{{site.baseurl}}/images/hgv-logo-small.png"></div>
  </a>
</div>