<ul class="mod-social-media-list">

    <!-- email -->
    {% if site.email %}
    <li>
        <a href="mailto:{{ site.email }}"><span>{% include svg-icons/email.html %}</span></a>
    </li>
    {% endif %}
    <!-- /email -->

    <!-- linkedin -->
    {% if site.linkedin_username %}
    <li>
        <a href="http://linkedin.com/in/{{ site.linkedin_username }}" alt="Linkedin" title="Linkedin" target="_blank"><span>{% include svg-icons/linkedin.html %}</span></a>
    </li>
    {% endif %}
    <!-- /linkedin -->

    <!-- twitter -->
    {% if site.twitter_username %}
    <li>
        <a href="http://twitter.com/{{ site.twitter_username }}" alt="Twitter" title="Twitter" target="_blank"><span>{% include svg-icons/twitter.html %}</span></a>
    </li>
    {% endif %}
    <!-- /twitter -->

    <!-- github -->
    {% if site.github_username %}
    <li>
        <a href="http://github.com/{{ site.github_username }}" alt="Github" title="Github" target="_blank"><span>{% include svg-icons/github.html %}</span></a>
    </li>
    {% endif %}
    <!-- /github -->

    <!-- instagram -->
    {% if site.instagram_username %}
    <li>
        <a href="http://instagram.com/{{ site.instagram_username }}" alt="Instagram" title="Instagram" target="_blank"><span>{% include svg-icons/instagram.html %}</span></a>
    </li>
    {% endif %}
    <!-- /instagram -->

    <!-- pinterest
    {% if site.pinterest_username %}
    <li>
        <a href="http://pinterest.com/{{ site.pinterest_username }}" alt="Pinterest" title="Pinterest" target="_blank"><span>{% include svg-icons/pinterest.html %}</span></a>
    </li>
    {% endif %}
    <!-- /pinterest -->

    <!-- bitbucket
    {% if site.bitbucket_username %}
    <li>
        <a href="http://bitbucket.com/{{ site.bitbucket_username }}" alt="Bitbucket" title="Bitbucket" target="_blank"><span>{% include svg-icons/bitbucket.html %}</span></a>
    </li>
    {% endif %}
    <!-- bitbucket -->

    <!-- rss
    <li>
        <a href="/feed.xml" alt="RSS" title="RSS"><span>{% include svg-icons/rss.html %}</span></a>
    </li>
    <!-- /rss -->
</ul>
