<!-- Check if any share-links are active -->
{% assign any-share-links = false %}
{% for links in site.share-links-active %}
  {% if links[1] == true %}
    {% assign any-share-links = true %}
  {% endif %}
{% endfor %}

{% if any-share-links %}
<section id = "social-share-section">

  <!--- Share on Twitter -->
  {% if site.share-links-active.twitter %}
    <a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }}"
      class="btn btn-social-icon btn-twitter" title="Share on Twitter">
      <span class="fa fa-fw fa-twitter" aria-hidden="true"></span>
    </a>
  {% endif %}

  <!--- Share on Facebook -->
  {% if site.share-links-active.facebook %}
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
      class="btn btn-social-icon btn-facebook" title="Share on Facebook">
      <span class="fa fa-fw fa-facebook" aria-hidden="true"></span>
    </a>
  {% endif %}

  <!--- Share on Google Plus -->
  {% if site.share-links-active.google %}
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
      class="btn btn-social-icon btn-google" title="Share on Google+">
      <span class="fa fa-fw fa-google-plus" aria-hidden="true"></span>
    </a>
  {% endif %}

  <!--- Share on LinkedIn -->
  {% if site.share-links-active.linkedin %}
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}"
      class="btn btn-social-icon btn-linkedin" title="Share on LinkedIn">
      <span class="fa fa-fw fa-linkedin" aria-hidden="true"></span>
    </a>
  {% endif %}

</section>

{% endif %}