<div class="social-links">
  <ul>
    {% if author.email %}<li><a href="mailto:{{ author.email }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-envelope"></i></a></li>{% endif %}
    {% if author.twitter %}<li><a href="http://twitter.com/{{ author.twitter }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-twitter"></i></a></li>{% endif %}
    {% if author.facebook %}<li><a href="http://facebook.com/{{ author.facebook }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-facebook"></i></a></li>{% endif %}
    {% if author.google.plus %}<li><a href="http://plus.google.com/+{{ author.google.plus }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-google-plus"></i> Google+</a></li>{% endif %}
    {% if author.linkedin %}<li><a href="http://linkedin.com/in/{{ author.linkedin }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a></li>{% endif %}
    {% if author.xing %}<li><a href="http://www.xing.com/profile/{{ author.xing }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-xing"></i></a></li>{% endif %}
    {% if author.instagram %}<li><a href="http://instagram.com/{{ author.instagram }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-instagram"></i></a></li>{% endif %}
    {% if author.tumblr %}<li><a href="http://{{ author.tumblr }}.tumblr.com" class="social-link-item" target="_blank"><i class="fa fa-fw fa-tumblr"></i></a></li>{% endif %}
    {% if author.github %}<li><a href="http://github.com/{{ author.github }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-github"></i></a></li>{% endif %}
    {% if author.stackoverflow %}<li><a href="http://stackoverflow.com/users/{{ author.stackoverflow }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-stack-overflow"></i></a></li>{% endif %}
    {% if author.lastfm %}<li><a href="http://lastfm.com/user/{{ author.lastfm }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-music"></i></a></li>{% endif %}
    {% if author.dribbble %}<li><a href="http://dribbble.com/{{ author.dribbble }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-dribbble"></i></a></li>{% endif %}
    {% if author.pinterest %}<li><a href="http://www.pinterest.com/{{ author.pinterest }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-pinterest"></i></a></li>{% endif %}
    {% if author.foursquare %}<li><a href="http://foursquare.com/{{ author.foursquare }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-foursquare"></i></a></li>{% endif %}
    {% if author.steam %}<li><a href="http://steamcommunity.com/id/{{ author.steam }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-steam"></i></a></li>{% endif %}
    {% if author.youtube %}<li><a href="https://youtube.com/user/{{ author.youtube }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-youtube"></i></a></li>{% endif %}
    {% if author.soundcloud %}<li><a href="http://soundcloud.com/{{ author.soundcloud }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-soundcloud"></i></a></li>{% endif %}
    {% if author.weibo %}<li><a href="http://www.weibo.com/{{ author.weibo }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-weibo"></i></a></li>{% endif %}
    {% if author.flickr %}<li><a href="http://www.flickr.com/{{ author.flickr }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-flickr"></i></a></li>{% endif %}
    {% if author.codepen %}<li><a href="http://codepen.io/{{ author.codepen }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-codepen"></i></a></li>{% endif %}
    {% if author.twitch %}<li><a href="http://twitch.tv/{{ author.twitch }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-twitch"></i></a></li>{% endif %}
    {% if author.periscope %}<li><a href="http://periscope.tv/{{ author.periscope }}" class="social-link-item" target="_blank"><i class="fa fa-fw fa-periscope"></i></a></li>{% endif %}
  </ul>
</div>
