{% if site.footer-links.email %}<a title="Email" href="mailto:{{ site.footer-links.email }}"><i class="sprite-icon email"></i></a>{% endif %}
{% if site.footer-links.github %}<a title="GitHub" target="_blank" href="https://github.com/{{ site.footer-links.github }}"><div class="sprite-icon github"></div></a>{% endif %}
{% if site.footer-links.linkedin %}<a title="Xing" target="_blank" href="https://www.xing.com/profile/{{ site.footer-links.xing }}/"><i class="sprite-icon xing"></i></a>{% endif %}
{% if site.footer-links.linkedin %}<a title="LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="sprite-icon linkedin"></i></a>{% endif %}
{% if site.footer-links.stackoverflow %}<a title="Stack Overflow" target="_blank" href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"><i class="sprite-icon stackoverflow"></i></a>{% endif %}
{% if site.footer-links.rss %}<a title="RSS-Feed" target="_blank" href="{{ site.baseurl }}/feed.xml"><i class="sprite-icon rss"></i></a>{% endif %}
