{% if site.footer-links.email %}<a title="Email" href="mailto:{{ site.footer-links.email }}"><div class="sprite-icon email"></div></a>{% endif %}
{% if site.footer-links.github %}<a title="GitHub" target="_blank" href="https://github.com/{{ site.footer-links.github }}"><div class="sprite-icon github"></div></a>{% endif %}
{% if site.footer-links.facebook %}<a title="Facebook" target="_blank" href="https://facebook.com/{{ site.footer-links.facebook }}"><div class="sprite-icon facebook"></div></a>{% endif %}
{% if site.footer-links.twitter %}<a title="Twitter" target="_blank" href="https://twitter.com/{{ site.footer-links.twitter }}"><div class="sprite-icon twitter"></div></a>{% endif %}
{% if site.footer-links.linkedin %}<a title="Xing" target="_blank" href="https://www.xing.com/profile/{{ site.footer-links.xing }}/"><div class="sprite-icon xing"></div></a>{% endif %}
{% if site.footer-links.linkedin %}<a title="LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><div class="sprite-icon linkedin"></div></a>{% endif %}
{% if site.footer-links.stackoverflow %}<a title="Stack Overflow" target="_blank" href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}"><div class="sprite-icon stackoverflow"></div></a>{% endif %}
{% if site.footer-links.rss %}<a title="RSS-Feed" target="_blank" href="{{ site.baseurl }}/feed.xml"><div class="sprite-icon rss"></div></a>{% endif %}
