/* FONTS */
@font-face {
	font-family: "LeagueSpartan";
	font-weight: bold;
	src: url("../resources/fonts/league-spartan/LeagueSpartan-Bold.otf");
}

/* GENERAL */
* {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	font-size: 0px;
	color: black;
}

html,body {
	overflow-x: hidden;
	width: 100%;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
}

body {
	background: url(../media/global/headerBG.svg) top center no-repeat;
	background-size: 100% auto;
	background-color: white;
}

/* BODY NAV */
nav#bodyNav {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 0px 9.96vw;
}

section#navLogo {
	padding: 2.34vw 0px;
	padding-bottom: 1.75vw;
}

section#navLogo a {
	display: block;
}

section#navLogo a span {
	font-family: "LeagueSpartan", sans-serif;
	font-weight: bold;
	font-size: 2.73vw;
	color: black;
	text-transform: uppercase;
	margin-bottom: -22%;
}

section#navLogo a span:last-of-type {
	opacity: 0.22;
}

section#navMenu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

section#navMenu ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
}

section#navMenu li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

section#navMenu li a{
	display: block;
	margin: auto;
	margin-left: 2.34vw;
}

section#navMenu li a img {
	height: 2.44vw;
}

/* BODY MAIN */
main#bodyMain {
	width: 100%;
	overflow: hidden;
}

main#bodyMain > * {
	width: 100%;
}