/* FONTS */
@font-face {
	font-family: "LeagueSpartan";
	font-weight: bold;
	src: url("../resources/fonts/league-spartan/LeagueSpartan-Bold.otf");
}

@font-face {
	font-family: "Aleo";
	font-weight: normal;
	font-style: normal;
	src: url("../resources/fonts/aleo/Aleo-Regular.otf");
}

/* GENERAL */
* {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
	font-size: 0px;
	color: black;
}

html,body {
	overflow-x: hidden;
	width: 100%;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
}

@media (max-width: 319px) {
	html,body {
		overflow-x: auto;
	}
}

body {
	background: white;
}

/* BODY NAV */
nav#bodyNav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 0px 11.72vw;
}

@media (max-width: 760px) {
	nav#bodyNav {
		padding: 0px 5vw;
	}
}

section#navLogo {
	padding: 24px 0px;
	padding-bottom: 18px;
}

@media (max-width: 760px) {
	section#navLogo {
		padding: 16px 0px;
		padding-bottom: 8px;
	}
}

section#navLogo a {
	display: block;
}

section#navLogo a span {
	font-family: "LeagueSpartan", sans-serif;
	font-weight: bold;
	font-size: 28px;
	color: black;
	text-transform: uppercase;
	margin-bottom: -22%;
}

@media (max-width: 760px) {
	section#navLogo a span {
		font-size: 24px;
	}
}

section#navLogo a span:last-of-type {
	opacity: 0.22;
}

section#navMenu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

section#navMenu ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
}

section#navMenu li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

section#navMenu li a{
	display: block;
	margin: auto;
	margin-left: 24px;
}

@media (max-width: 760px) {
	section#navMenu li a {
		margin-left: 12px;
	}

	section#navMenu li a img {
		height: 20px;
	}
}

/* BODY MAIN */
main#bodyMain {
	width: 100%;
	margin-top: 36px;
	overflow: visible;
}

@media (max-width: 760px) {
	main#bodyMain {
		margin-top: 0px;
	}
}

main#bodyMain > * {
	width: 100%;
}