/* ABOUT */
main#bodyMain section#mainAboutSection {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 7.42vw;/*100px - 24px*/
	margin-bottom: 19.53vw;/*200px*/
	margin-left: auto;
	margin-right: auto;
	width: 52.5vw;
}

@media (max-width: 760px) {
	main#bodyMain section#mainAboutSection {
		display: none;
	}
}

section#mainAboutSection article {
	width: 25.39vw;
	margin-right: 8px;
}

section#mainAboutSection article p {
	font-family: "Aleo", serif;
	font-size: 1.95vw;
	line-height: 2.92vw;
	text-align: right;
}

section#mainAboutSection article footer {
	margin-top: 24px;
	font-family: "LeagueSpartan", sans-serif;
	font-weight: bold;
	font-size: 3.7vw;
	text-align: right;
	text-transform: uppercase;
	opacity: 0.9;
}

section#mainAboutSection article:last-of-type {
	margin-left: 8px;
	margin-right: 0px;
}

section#mainAboutSection article:last-of-type p {
	text-align: left;
	opacity: 0.4;
}

section#mainAboutSection article:last-of-type footer {
	text-align: left;
	opacity: 0.22;
}

/* ABOUT MOBILE */
main#bodyMain section#mainMobileAboutSection {
	display: none;
	width: 100%;
	margin: 10vw 0px;
	margin-bottom: 24vw;
	padding: 0px 5vw;
}

@media (max-width: 760px) {
	main#bodyMain section#mainMobileAboutSection {
		display: block;
	}
}

section#mainMobileAboutSection > * {
	width: 100%;
}

section#mainMobileAboutSection > article:first-of-type {
	margin-bottom: 6.8vw;
}

section#mainMobileAboutSection > article:last-of-type {
	margin-top: 3.75vw;
}

section#mainMobileAboutSection > article p {
	font-family: "Aleo", serif;
	font-size: 5vw;
	line-height: 8.12vw;
	text-align: left;
}

section#mainMobileAboutSection > article:last-of-type p {
	opacity: 0.4;
	text-align: right;
}

section#mainMobileAboutSection > div h1, section#mainMobileAboutSection > div span {
	font-family: "LeagueSpartan", sans-serif;
	font-weight: bold;
	font-size: 6.25vw;
	text-align: center;
	text-transform: uppercase;
}

section#mainMobileAboutSection > div span {
	opacity: 0.22;
	margin-left: 2px;
}

/* PROJECTS DIV */
div#featuredProjectsDiv {
	overflow: hidden;
}

div#nonFeaturedProjectsDiv {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-top: 4.29vw;
	margin-bottom: 8.58vw;
}

@media (max-width: 760px) {
	div#nonFeaturedProjectsDiv {
		margin-top: 0px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
}

/* PROJECT */
article.projectArticle {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	width: 100%;
	margin-bottom: 11.72vw;
}

@media (max-width: 760px) {
	article.projectArticle {
		margin-bottom: 10vw;
	}

	div#nonFeaturedProjectsDiv article.projectArticle {
		margin-bottom: 5vw;
	}
}

article.projectArticle:nth-of-type(even) {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
}

/*Text*/
section.projectArticleTextSection {
	width: 33.69vw;
}

@media (max-width: 760px) {
	section.projectArticleTextSection {
		width: 70%;
	}

	div#nonFeaturedProjectsDiv section.projectArticleTextSection {
		width: 90vw;
	}
}

article.projectArticle:nth-of-type(odd) section.projectArticleTextSection{
	margin-left: 11.72vw;
}

article.projectArticle:nth-of-type(even) section.projectArticleTextSection{
	margin-right: 11.72vw;
	text-align: right
}

@media (max-width: 760px) {
	article.projectArticle:nth-of-type(odd) section.projectArticleTextSection, article.projectArticle:nth-of-type(even) section.projectArticleTextSection{
		margin-left: 5vw;
		margin-right: 5vw;
	}
}

section.projectArticleTextSection header h1{
	font-family: "LeagueSpartan", sans-serif;
	font-weight: bold;
	font-size: 3.7vw;/*38px;*/
}

@media (max-width: 760px) {
	section.projectArticleTextSection header h1 {
		font-size: 6.87vw;
	}
}

section.projectArticleTextSection header h2{
	font-family: "Aleo", serif;
	font-size: 1.757vw;/*18px*/
	font-weight: normal;
	margin-top: 0.39vw;/*4px*/
}

@media (max-width: 760px) {
	section.projectArticleTextSection header h2 {
		font-size: 5vw;
		margin-top: 2.5vw;
	}
}

section.projectArticleTextSection article p {
	font-family: "Aleo", serif;
	font-size: 1.56vw;/*16px*/
	line-height: 2.53vw;
	margin-top: 2.34vw;
}

@media (max-width: 760px) {
	section.projectArticleTextSection article p {
		font-size: 4.37vw;
		line-height: 7.7vw;
		margin-top: 7.5vw;
	}
}

section.projectArticleTextSection footer {
	margin-top: 2.34vw;
}

@media (max-width: 760px) {
	section.projectArticleTextSection footer {
		margin-top: 3.75vw;
		margin-bottom: 7.5vw;
	}
}

section.projectArticleTextSection footer a {
	font-family: "Aleo", serif;
	font-size: 1.56vw;
	display: inline-block;
	border: solid 1px black;
	padding: 1.17vw 2.34vw;

	-webkit-transition: background-color 0.3s;

	-o-transition: background-color 0.3s;

	transition: background-color 0.3s;
}

@media (max-width: 760px) {
	section.projectArticleTextSection footer a {
		font-size: 5vw;
		padding: 2.5vw 5vw;
	} 
}

section.projectArticleTextSection footer a:hover {
	background-color: black;
	color: white;
}

/*Picture*/
section.projectArticlePictureSection {
	position: relative;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

@media (max-width: 760px) {
	section.projectArticlePictureSection {
		position: absolute;
		left: 50%;
		width: 100%;
		bottom: 0px;
		z-index: -1;
	}

	article.projectArticle:nth-of-type(even) section.projectArticlePictureSection {
		left: auto;
		right: 50%;
	}
}

section.projectArticlePictureSection picture {
	display: block;
	width: 100%;
	min-height: 51.97vw;
}

@media (max-width: 76px) {
	section.projectArticlePictureSection picture {
		min-height: auto;
	}
}

div#nonFeaturedProjectsDiv section.projectArticlePictureSection {
	display: none;
}

section.projectArticlePictureSection picture img{
	width: 100%;
	height: 100%;
	-o-object-position: bottom right;
	   object-position: bottom right; 
	-o-object-fit: contain; 
	   object-fit: contain;
}	

@media (max-width: 760px) {
	section.projectArticlePictureSection picture:nth-of-type(1) img{
		-o-object-fit: fill;
		   object-fit: fill;
	}
}

/* MAIN FOOTER */
footer#mainFooter {
	padding: 0px 11.72vw;
	padding-bottom: 2.34vw;
}

footer#mainFooter  p, a {
	font-family: 'Aleo', serif;
	font-size: 1.17vw;
}

footer#mainFooter a {
	text-decoration: underline;
}