/* BODY MAIN */

header#indexHeader {
	padding-top: 179px;
	padding-bottom: 224px;
}

header#indexHeader h1 {
	font-family: "Wondar Quason", sans-serif;
	font-size: 137px;
	line-height: 125px;
}

@media all and (max-width: 1000px) {
	header#indexHeader {
		padding-top: 140px;
		padding-bottom: 180px;
	}

	header#indexHeader h1 {
		font-size: 100px;
		line-height: 94px;
	}
}

@media all and (max-width: 600px) {
	header#indexHeader {
		padding-top: 64px;
		padding-bottom: 64px;
	}

	header#indexHeader h1 {
		font-size: 44px;
		line-height: 41px;
	}
}

/* PROJECT SECTION */

section#indexProjectsSection article {
	position: relative;
	text-align: center;
	width: 100%;
	margin-bottom: 80px;

	padding-top: 164px;
	padding-bottom: 164px;
	box-sizing: border-box;
}

@media all and (max-width: 1000px) {
	section#indexProjectsSection article {
		margin-bottom: 60px;
	}
}

@media all and (max-width: 600px) {
	section#indexProjectsSection article {
		margin-bottom: 64px;
		padding-top: 40px;
		padding-bottom: 40px;
		overflow: hidden;
	}
}

section.indexProjectThumbnailSection {
	position: relative;
	margin: 0px auto;
}

section#indexProjectsSection article.ipad section.indexProjectThumbnailSection {
	width: 636px;
}

section#indexProjectsSection article.iphone section.indexProjectThumbnailSection,
section#indexProjectsSection article.iphoneX section.indexProjectThumbnailSection {
	width: 322px;
}

@media all and (max-width: 1000px) {
	section#indexProjectsSection article.ipad section.indexProjectThumbnailSection {
		width: auto;
		margin-left: 80px;
		margin-right: 80px;
	}

	section#indexProjectsSection article.iphone section.indexProjectThumbnailSection,
	section#indexProjectsSection article.iphoneX section.indexProjectThumbnailSection {
		width: auto;
		margin-left: 80px;
		margin-right: 80px;
	}
}

@media all and (max-width: 600px) {
	section#indexProjectsSection article.ipad section.indexProjectThumbnailSection {
		width: auto;
		margin-left: 40px;
		margin-right: 40px;
	}

	section#indexProjectsSection article.iphone section.indexProjectThumbnailSection,
	section#indexProjectsSection article.iphoneX section.indexProjectThumbnailSection {
		width: auto;
		margin-left: 40px;
		margin-right: 40px;
	}
}

div.indexProjectThumbnailDiv {
	width: 100%;
	position: relative;
}

section#indexProjectsSection article.ipad div.indexProjectThumbnailWrapperDiv {
	padding-top: calc( 768 / 1024 * 100%);
}

section#indexProjectsSection article.iphone div.indexProjectThumbnailWrapperDiv {
	padding-top: calc( 667 / 375 * 100%);
}

section#indexProjectsSection article.iphoneX div.indexProjectThumbnailWrapperDiv {
	padding-top: calc( 812 / 375 * 100%);
}

div.indexProjectThumbnailWrapperDiv > div {
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

div.indexProjectThumbnailWrapperDiv div.indexProjectShadowDiv {
	top: 7%;
	left: 4%;
	right: 4%;
	bottom: -3%;

	filter: blur(40.48px);
	opacity: 0.45;
}

div.indexProjectThumbnailWrapperDiv iframe, div.indexProjectThumbnailWrapperDiv img {
	pointer-events: none;
	width: 100%;
	height: 100%;
}

section#indexProjectsSection article.iphoneX div.indexProjectThumbnailWrapperDiv img {
	border-radius: 34px; 
}

section#indexProjectsSection article a {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

section#indexProjectsSection article footer {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 63px;
	opacity: 0;

	transition: opacity 0.35s;
}

section#indexProjectsSection article footer h1 {
	font-family: "Gilroy";
	font-weight: bold;
	font-size: 28px;
	text-align: center;
	width: 100%;
}

@media all and (min-width: 1001px) {
	section#indexProjectsSection article a:hover footer {
		opacity: 0.8;
	}
}