/* POST HEADER */

header#postHeader {
	margin-top: 98px;
	padding-top: 112px;
	padding-bottom: 150px;

	margin-bottom: 120px;
}

@media all and (max-width: 1000px) {
	header#postHeader {
		padding-top: 98px;
		padding-bottom: 120px;
	}
}

@media all and (max-width: 600px) {
	header#postHeader {
		margin-top: 64px;
		padding-top: 50px;
		padding-bottom: 50px;

		margin-bottom: 64px;
	}
}

header#postHeader hgroup {
	width: 636.02px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
}

@media all and (max-width: 1000px) {
	header#postHeader hgroup {
		width: 100%;
		padding-left: 60px;
		padding-right: 60px;
		box-sizing: border-box;
	}
}

@media all and (max-width: 600px) {
	header#postHeader hgroup {
		padding-left: 40px;
		padding-right: 40px;
		margin-bottom: 40px;
	}
}

header#postHeader hgroup h1 {
	font-family: "Wondar Quason", sans-serif;
	font-size: 123px;
	line-height: 112px;

	width: 100%;
}



@media all and (max-width: 1000px) {
	header#postHeader hgroup h1 {
		font-size: 100px;
		line-height: 92px;
	}
}

@media all and (max-width: 600px) {
	header#postHeader hgroup h1 {
		font-size: 53px;
		line-height: 48px;
	}
}

header#postHeader section {
	margin-left: auto;
	margin-right: auto;
}

header#postHeader section.ipad {
	width: 636px;
}

header#postHeader section.iphone, header#postHeader section.iphoneX {
	width: 322px;
}

header#postHeader section > div {
	position: relative;
	width: 100%;
}

header#postHeader section.ipad > div {
	padding-top: calc( 768 / 1024 * 100%);
}

header#postHeader section.iphone > div {
	padding-top: calc( 667 / 375 * 100%);
}

header#postHeader section.iphoneX > div {
	padding-top: calc( 812 / 375 * 100%);
}


@media all and (max-width: 1000px) {
	header#postHeader section#heroSection {
		width: auto;
	}

	header#postHeader section.ipad {
		margin-left: 60px;
		margin-right: 60px;
	}

	header#postHeader section.iphone, 
	header#postHeader section.iphoneX {
		margin-left: 140px;
		margin-right: 140px;
	}
}

@media all and (max-width: 600px) {
	header#postHeader section.ipad {
		margin-left: 40px;
		margin-right: 40px;
	}

	header#postHeader section.iphone, 
	header#postHeader section.iphoneX {
		margin-left: 60px;
		margin-right: 60px;
	}
}

section#heroSection div div {
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

section#heroSection iframe, section#heroSection img {
	width: 100%;
	height: 100%;
}

section#heroSection img {
	border-radius: 42px;
}

@media all and (max-width: 600px) {
	section#heroSection img {
		border-radius: 28px;
	}
}

section#heroSection div.shadowDiv {
	position: absolute;
	display: block;
	top: 7%;
	left: 4%;
	right: 4%;
	bottom: -3%;

	filter: blur(40.48px);
	opacity: 0.45;
}

/* POST ARTICLE */

article#postArticle {
	margin-bottom: 120px;
}

@media all and (max-width: 600px) {
	article#postArticle {
		margin-bottom: 64px;
	}	
}

article#postArticle h1, article#postArticle p, article#postArticle ul {
	width: 637px;
	margin-left: auto;
	margin-right: auto;
}

@media all and (max-width: 600px) {
	article#postArticle h1, article#postArticle p, article#postArticle ul {
		width: auto;
		margin-left: 0px;
		margin-right: 0px;
	}
}

article#postArticle h1 {
	font-family: "Wondar Quason", sans-serif;
	font-size: 66px;
	line-height: 74px;

	margin-top: 120px;
	margin-bottom: 39px;
}

@media all and (max-width: 600px) {
	article#postArticle h1 {
		font-size: 42px;
		line-height: 46px;

		margin-top: 64px;
		margin-bottom: 28px;
	}
}

article#postArticle p, article#postArticle li, article#postArticle strong, article#postArticle a {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	line-height: 42px;
}

article#postArticle strong {
	font-weight: 700;
}

article#postArticle a {
	text-decoration: underline;
	color: #2e86de;
}

article#postArticle ul {
	list-style: inside;
}

@media all and (max-width: 600px) {
	article#postArticle p, article#postArticle li, article#postArticle strong {
		font-size: 17px;
		line-height: 28px;
	}
}

article#postArticle p:nth-of-type(n+2) {
	margin-top: 39px;
}

@media all and (max-width: 600px) {
	article#postArticle p:nth-of-type(n+2) {
		margin-top: 28px;
	}
}

article#postArticle p.imgParent {
	width: auto;
	margin-top: 120px;

	margin-left: -80px;
	margin-right: -80px;
	padding: 80px;
	box-sizing: border-box;
	position: relative;
}

article#postArticle p.imgParent ~ p.imgParent {
	background: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
}

/*article#postArticle p.imgParent ~ p.imgParent:before {
	content: "";
	position: absolute;
	display: block;
	top: 9%;
	left: 12%;
	right: 12%;
	bottom: 3%;

	filter: blur(40.48px);
	opacity: 0.25;
	background: #797979;
	z-index: -1;
}*/

@media all and (max-width: 1000px) {
	article#postArticle p.imgParent {
		margin-left: -60px;
		margin-right: -60px;
		padding: 60px;
	}
}

@media all and (max-width: 600px) {
	article#postArticle p.imgParent {
		margin-top: 64px;

		margin-left: -20px;
		margin-right: -20px;
		padding: 20px;
		padding-top: 26px;
		padding-bottom: 26px;
	}
}

article#postArticle p img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

article.ipad p img,
article.ipad p h3 {
	width: 100%;
}

article.iphoneX p img,
article.iphone p img,
article.iphone p h3,
article.iphoneX p h3 {
	width: 40%;
}

article.iphoneX p img {
	border-radius: 50px;
	border: solid 0.5px #b2bec3;
}

@media all and (max-width: 600px) {
	article.iphoneX p img {
		border-radius: 28px;
	}
}

@media all and (max-width: 1000px) {
	article.iphoneX p img,
	article.iphone p img,
	article.iphone p h3,
	article.iphoneX p h3 {
		width: 60%;
	}
}

@media all and (max-width: 600px) {
	article.iphone p img,
	article.iphoneX p img,
	article.iphone p h3,
	article.iphoneX p h3 {
		width: 70%;
	}
}

article#postArticle p h3 {
	margin-top: 4px;
	margin-left: auto;
	margin-right: auto;

	font-size: 16px;
	font-weight: 700;
	text-align: center;
}

@media all and (max-width: 1000px) {
	article#postArticle p h3 {
		text-align: left;
	}
}

@media all and (max-width: 600px) {
	article#postArticle p h3 {
		font-size: 14px;
	}
}

article#postArticle p.imgParent h3 {
	display: none;
}

article#postArticle p.imgParent ~ p.imgParent h3 {
	display: block;
}
