/* FONTS */
@font-face {
	font-family: "Aleo";
	font-weight: normal;
	font-style: italic;
	src: url("../resources/fonts/aleo/Aleo-Italic.otf");
}

@font-face {
	font-family: "Aleo";
	font-weight: bold;
	font-style: normal;
	src: url("../resources/fonts/aleo/Aleo-Bold.otf");
}

@font-face {
	font-family: "Aleo";
	font-weight: bold;
	font-style: italic;
	src: url("../resources/fonts/aleo/Aleo-BoldItalic.otf");
}

/* GENERAL */
header#mainHeader {
	margin-bottom: 1.17vw;
}

header#mainHeader a {
	font-family: "Aleo", serif;
	font-size: 1.56vw;
	display: inline-block;
	border: solid 1px black;
	padding: 1.17vw 2.34vw;

	-webkit-transition: background-color 0.3s;

	-o-transition: background-color 0.3s;

	transition: background-color 0.3s;
}

/* POST */
article#mainPostArticle {
	margin-bottom: 8.98vw;
}

@media (max-width: 760px) {
	article#mainPostArticle {
		margin-bottom: 10vw;
	}
}

article#mainPostArticle > *{
	width: 100%;
}

header#postHeader, section#postContentSection {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

/*Header*/
header#postHeader picture, header#postHeader picture img{
	width: 100%;
}

header#postHeader picture img {
	width: 100%;
}

header#postHeader hgroup {
	margin-top: 5.86vw;
	margin-bottom: 0.78vw;
}

@media (max-width: 760px) {
	header#postHeader hgroup {
		margin-top: 10vw;
	}
}

header#postHeader hgroup > * {
	width: 52.73vw;
}

@media (max-width: 760px) {
	header#postHeader hgroup > * {
		width: 90vw;
	}
}

header#postHeader hgroup h1 {
	font-family: "LeagueSpartan", sans-serif;
	font-weight: bold;
	font-size: 3.51vw;
}

@media (max-width: 760px) {
	header#postHeader hgroup h1 {
		font-size: 6.87vw;
	}
}

header#postHeader hgroup h2 {
	margin-top: 0.39vw;
	font-family: "Aleo", serif;
	font-weight: normal;
	font-size: 1.757vw;
}

@media (max-width: 760px) {
	header#postHeader hgroup h2 {
		font-size: 5vw;
	}
}

/*Content*/
section#postContentSection > *{
	width: 52.73vw;
}

@media (max-width: 760px) {
	section#postContentSection > * {
		width: 90vw;
	}
}

section#postContentSection h1 {
	margin-top: 4.68vw;
	font-family: "LeagueSpartan", sans-serif;
	font-weight: bold;
	font-size: 2.929vw;
}

@media (max-width: 760px) {
	section#postContentSection h1 {
		margin-top: 10vw;
		font-size: 5.6vw;
	}
}

section#postContentSection h2 {
	margin-top: 2.34vw;
	font-family: "Aleo", serif;
	font-weight: bold;
	font-size: 2.34vw;
}

@media (max-width: 760px) {
	section#postContentSection h2 {
		margin-top: 5vw;
		font-size: 5vw;
	}
}

section#postContentSection h3 {
	margin-top: 2.34vw;
	font-family: "Aleo", serif;
	font-weight: bold;
	font-size: 1.56vw;/*16px*/
}

@media (max-width: 760px) {
	section#postContentSection h3 {
		margin-top: 5vw;
		font-size: 4.37vw;
	}
}

section#postContentSection p, section#postContentSection em {
	margin-top: 1.56vw;
	font-family: "Aleo", serif;
	font-weight: normal;
	font-size: 1.56vw;/*16px*/
	line-height: 2.53vw;
}

@media (max-width: 760px) {
	section#postContentSection p, section#postContentSection em {
		margin-top: 5vw;
		font-size: 4.37vw;
		line-height: 7.7vw;
	}
}

section#postContentSection ul, section#postContentSection ol {
	margin-top: 1.56vw;
	list-style-position: inside;
}

@media (max-width: 760px) {
	section#postContentSection ul, section#postContentSection ol {
		margin-top: 5vw;
	}
}

section#postContentSection li {
	font-family: "Aleo", serif;
	font-weight: normal;
	font-size: 1.56vw;/*16px*/
	line-height: 2.53vw;
}

@media (max-width: 760px) {
	section#postContentSection li {
		font-size: 4.37vw;
		line-height: 7.7vw;
	}
}

section#postContentSection p img {
	width: 100%;
	margin-top: 0.78vw;
	margin-bottom: 0.78vw;
}