/* POST HEADER */

header#postHeader {
	background: #89B3D9;
	margin-top: 98px;
	padding-top: 112px;
	padding-bottom: 150px;
}

@media all and (max-width: 1000px) {
	header#postHeader {
		padding-top: 98px;
		padding-bottom: 120px;
	}
}

@media all and (max-width: 600px) {
	header#postHeader {
		margin-top: 64px;
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

header#postHeader hgroup {
	width: 636.02px;
	margin-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
}

@media all and (max-width: 1000px) {
	header#postHeader hgroup {
		width: 100%;
		padding-left: 60px;
		padding-right: 60px;
		box-sizing: border-box;
	}
}

@media all and (max-width: 600px) {
	header#postHeader hgroup {
		padding-left: 40px;
		padding-right: 40px;
		margin-bottom: 40px;
	}
}

header#postHeader hgroup h1 {
	font-family: "Wondar Quason", sans-serif;
	font-size: 123px;
	line-height: 112px;

	width: 100%;
}



@media all and (max-width: 1000px) {
	header#postHeader hgroup h1 {
		font-size: 100px;
		line-height: 92px;
	}
}

@media all and (max-width: 600px) {
	header#postHeader hgroup h1 {
		font-size: 53px;
		line-height: 48px;
	}
}

header#postHeader section#postHeaderHeroSection {
	margin-left: 202px;
	margin-right: 202px;

	position: relative;
}

@media all and (max-width: 1000px) {
	header#postHeader section#postHeaderHeroSection {
		margin-left: 60px;
		margin-right: 60px;
	}
}

@media all and (max-width: 600px) {
	header#postHeader section#postHeaderHeroSection {
		margin-left: 40px;
		margin-right: 40px;
	}
}

div.projectShadowDiv svg {
	display: inline-block;
}

section#postHeaderHeroSection iframe {
	position: relative;
	z-index: 100;
}

section#postHeaderHeroSection div.projectShadowDiv {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;

	text-align: center;
}

@media all and (max-width: 1000px) {
	section#postHeaderHeroSection div.projectShadowDiv {
		margin-top: 0px;
		top: 7%;
		left: 3.4%;
		right: 3.4%;
		bottom: -3.5%;
	}
}

section#postHeaderHeroSection div.projectShadowDiv svg {
	width: 593px;
	height: 460px;
	margin-top: 35.28px;
}

@media all and (max-width: 1000px) {
	section#postHeaderHeroSection div.projectShadowDiv svg {
		width: 100%;
		height: 100%;
		margin-top: 0px;
	}
}

section#postHeaderHeroSection iframe {
	width: 636.02px;
	height: 478.35px;
}

@media all and (max-width: 1000px) {
	section#postHeaderHeroSection iframe {
		width: 100%;
		height: auto;
	}
}

/* POST ARTICLE */

article.postArticle {
	
}

article.postArticle section.paragraphSection {
	width: 637px;
	margin-left: auto;
	margin-right: auto;

	padding-top: 120px;
	padding-bottom: 120px;
}

@media all and (max-width: 600px) {
	article.postArticle section.paragraphSection {
		width: auto;
		margin-left: 0px;
		margin-right: 0px;

		padding-top: 64px;
		padding-bottom: 64px;
	}
}

article.postArticle section.paragraphSection h1 {
	font-family: "Wondar Quason", sans-serif;
	font-size: 66px;
	line-height: 60px;
	margin-bottom: 39px;
}

@media all and (max-width: 600px) {
	article.postArticle section.paragraphSection h1 {
		font-size: 42px;
		line-height: 38px;
		margin-bottom: 28px;
	}
}

article.postArticle section.paragraphSection p {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	line-height: 39px;
}

@media all and (max-width: 600px) {
	article.postArticle section.paragraphSection p {
		font-size: 17px;
		line-height: 28px;
	}
}

article.postArticle section.paragraphSection p:nth-of-type(n+2) {
	margin-top: 39px;
}

@media all and (max-width: 600px) {
	article.postArticle section.paragraphSection p:nth-of-type(n+2) {
		margin-top: 28px;
	}
}

article.postArticle section.pictureSection {
	margin-left: -80px;
	margin-right: -80px;
	padding: 80px;
	box-sizing: border-box;
	position: relative;

	background: #89B3D9;
}

@media all and (max-width: 1000px) {
	article.postArticle section.pictureSection {
		margin-left: -60px;
		margin-right: -60px;
		padding: 60px;
	}
}

@media all and (max-width: 600px) {
	article.postArticle section.pictureSection {
		margin-left: -20px;
		margin-right: -20px;
		padding: 20px;
		padding-top: 26px;
		padding-bottom: 26px;
	}
}

article.postArticle section.pictureSection img {
	width: 100%;
}
