// Only visible for screen-reader
// From https://www.ffoodd.fr/cache-cache-css/
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

// To prevent screen reader to restitute src attribute
img {
  &:not([alt]) {
    border: 5px solid $error;
  }
}
