.header--candidate{
    -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    background: white;
    z-index: 5;

    @include tablet {
        justify-content: flex-start;
        flex-flow: column;
    }

    &__left-side {
        display: flex;
        flex-flow: row nowrap;
    }

    &__hamburger {
        display: none;
        margin: 8px;
        padding: 8px;
        font-size: 16px;
        background: none;
        cursor: pointer;
        border-radius: 4px;
        border: none;

        @include tablet {
            display: block;
        }

        &:hover {
            -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
            box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
            transform: scale(1.03)
        }
    }

    &__logo {
        height: 60px;
        width: auto;
        margin: 4px 16px;

        @include mobile {
            margin-left: 16px;
        }
    }

    nav {
        margin: 16px;
        transition: 1s;

        @include tablet {
            display: none;

            button {
                width: 100%;
                margin: 4px 0;
            }
        }

        button{
            font-size: 14px;
            font-family: Roboto, sans-serif;
            border: none;
            height: 100%;
            margin: 0;
            cursor: pointer;
            padding: 8px 16px;
            border-radius: 64px;
            transition: .1s;
            color: $deep-orange400;
            text-transform: uppercase;

            &:hover {
                -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
                -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
                box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);

                transform: scale(1.03);

                background: #eee;
            }

            &.candidate-button {
                background: $deep-orange400;
                color: white;
            }
        }
    }
}

.candidate__section--1{
    margin-top: 64px;
    background: $deep-orange400;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);

    & .container {
        display: flex;
        flex-flow: row wrap;
    }

    &__text{
        flex-shrink: 6;
        flex-basis: 55%;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: center;

        @include mobile {
            flex-basis: 100%;
        }

        h1 {
            font-family: Gidolinya, sans-serif;
            font-size: 64px;
            line-height: 64px;
            text-transform: uppercase;
            color: white;

            @include mobile {
                font-size: 48px;
                line-height: 48px;
                text-align: center;
            }
        }

        ul {
            color: white;
            font-size: 24px;
            padding: 0;

            @include mobile {
                margin: 32px;
                font-size: 18px;
            }

            li {
                list-style: none;
                letter-spacing: 1px;
                margin-top: 8px;
                padding: 0;

                &::before {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 16px;
                }
            }

            & li:nth-child(1)::before {
                content: url('/assets/svg/free.svg');
            }

            & li:nth-child(2)::before {
                content: url('/assets/svg/check--square.svg');
            }

            & li:nth-child(3)::before {
                content: url('/assets/svg/choose.svg');
            }

            & li:nth-child(4)::before {
                content: url('/assets/svg/24-hours.svg');
            }
        }

        a {
            align-self: center;
            margin: 32px;

            button {
                border-radius: 64px;
                border: none;
                background: white;
                font-size: 24px;
                text-transform: uppercase;
                padding: 32px 64px;
                cursor: pointer;
                transition: .3s;
                color: $deep-orange400;

                &:hover {
                    -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
                    -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
                    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
                    transform: scale(1.03);
                }
            }
        }
    }

    &__image{
        flex-shrink: 4;
        flex-basis: 45%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @include mobile {
            justify-content: center;
        }

        img {
            width: 90%;
            height: 90%;
            object-fit: contain;
            object-position: center;
        }

        @include mobile {
            flex-basis: 100%;
        }
    }
}

.candidate__section--2{
    h1 {
        text-align: center;
    }

    &__client-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        padding: 0px 64px;

        &__client {
            padding: 16px;
            width: 200px;
            height: 200px;
            border: 1px $deep-orange400 solid;
            margin: 32px 16px;
            border-radius: 100px;
            transition: .5s;

            &:hover {
                -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
                box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
                transform: scale(1.03);
            }

            &:nth-child(1) {
                padding: 40px;
            }
            &:nth-child(3) {
                padding: 40px;
            }
            &:nth-child(4) {
                padding: 0px;
            }
            &:nth-child(5) {
                padding: 40px;
            }
            &:nth-child(7) {
                background: $deep-orange400;
                padding: 40px;
            }

            img {

                width: 100%;
                height: 100%;

                object-fit: contain;
                object-position: center;

                transition: .3s;

            }
        }
    }
}

.candidate__section--3{
    margin-top: 64px;
    padding-bottom: 64px;
    background: $grey100;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);

    & .container {
        display: flex;
        flex-flow: row wrap;
    }

    &__text{
        flex-shrink: 6;
        flex-basis: 55%;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: center;

        @include mobile {
            flex-basis: 100%;
        }

        h1 {
            font-family: Gidolinya, sans-serif;
            line-height: 64px;
            color: $grey800;

            @include mobile {
                text-align: center;
            }
        }

        p {
            font-size: 18px;
            line-height: 32px;
            letter-spacing: 1px;
            margin-top: 16px;
            padding: 0;

            @include mobile {
                margin: 32px;
            }

        }

        a {
            align-self: center;
            margin: 64px;

            button {
                border-radius: 64px;
                border: none;
                background: white;
                font-size: 24px;
                text-transform: uppercase;
                padding: 32px 64px;
                cursor: pointer;
                transition: .3s;
                color: $deep-orange400;

                &:hover {
                    -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
                    -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
                    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
                    transform: scale(1.03);
                }
            }
        }
    }

    &__image{
        flex-shrink: 4;
        flex-basis: 45%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @include mobile {
            justify-content: center;
        }

        img {
            width: 90%;
            height: 90%;
            object-fit: contain;
            object-position: center;
        }

        @include mobile {
            flex-basis: 100%;
        }
    }
}

.candidate__section--4{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 64px;

    h1 {
        width: 100%;
        text-align: center;
    }

    p {
        width: 100%;
        text-align: center;
        margin-bottom: 32px;
    }

    &__feature {
        text-align-last: center;
        flex-basis: 25%;

        @include tablet {
            flex-basis: 50%;
        }

        h2 {
            color: $deep-orange400;
            font-family: Roboto, sans-serif;
        }

        img {
            width: 50px;
            height: 50px;
        }

        p {
            font-size: 14px;
            padding: 16px;
            color: $grey800;
            text-align: center;
        }
    }
}

.candidate__section--5{
    background: $grey100;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);

    .container {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        align-items: center;

    }

    &__video {
        flex-basis: 45%;
    }

    &__text {
        flex-basis: 45%;

        h1, p {
                width: 100%;
                text-align: center
        }

        a {
            text-align: center;
            width: 100%;
            display: block;

            button {
                background: $deep-orange400;
                font-size: 18px;
                padding: 16px 32px;
                border-radius: 64px;
                border: none;
                color: white;
                margin-top: 32px;
                margin-bottom: 32px;
                text-transform: uppercase;
                transition: .3s;
                cursor: pointer;

                &:hover {
                    -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
                    -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
                    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
                    transform: scale(1.03);
                }
            }
        }
    }
}

.candidate__section--6{
    margin-top: 64px;
    padding-top: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    h1, h2 {
        text-align: center;
        line-height: 1em;
        width: 100%;
    }

    ul {
        margin-top: 64px;

        li {
            font-size: 18px;
            line-height: 32px;
            letter-spacing: 1px;
            margin-top: 8px;
        }
    }

    &__links {
        flex-basis: 30%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        @include mobile {
            flex-basis: 100%;
        }

        a {
            width: 100%;
            text-align: center;

            &:first-child {
                margin-top: 32px;
            }

            button {
                border-radius: 64px;
                padding: 16px 32px;
                font-size: 16px;
                text-transform: uppercase;
                cursor: pointer;
                background: $deep-orange400;
                border: none;
                color: white;
                width: 80%;
                margin: 16px;
                transition: .3s;

                &:hover {
                    -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
                    -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
                    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);

                    transform: scale(1.03);
                }
            }
        }
    }
}

.candidate__section--7{
    margin-top: 64px;
    padding: 64px 16px;
    -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
    background: $grey50;

    h1 {
        text-align: center;
    }

    &__news {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 32px;

        &__new {
            display: flex;
            align-items: center;
            flex-flow: column nowrap;
            transition: .3s;
            border: 1px solid $grey100;
            padding: 16px;
            background: white;
            flex-basis: 20%;
            margin: 8px;

            @include tablet {
                flex-basis: 45%;
            }

            @include mobile {
                flex-basis: 80%;
            }

            &:hover {
                -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
                -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
                box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
                border: 1px solid $deep-orange400;
                transform: scale(1.03);
            }

            img {
                width: 180px;
                height: 180px;

                object-fit: contain;
                object-position: center;
            }

            a {

                button {
                    background: $deep-orange400;
                    padding: 16px 32px;
                    border-radius: 64px;
                    color: white;
                    text-transform: uppercase;
                    font-size: 16px;
                    border: none;
                    transition: .3s;
                    cursor: pointer;

                    &:hover {
                        -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
                        -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
                        box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
                        transform: scale(1.03);
                    }
                }
            }
        }

    }
}

.footer{
    margin-top: 4px;
    background: $grey100;

    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    &__column{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        flex-basis: 33%;
        justify-content: flex-start;

        @include mobile {
            flex-basis: 90%;
        }

        img, a img {
            width: 200px;
        }

        a {

            i {
                border-radius: 64px;
                transition: .3s;
            }

            &:hover i{
                -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
                box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
                transform: scale(1.03)
            }
        }

        &:last-child {
        }

        &--one{
            display: flex;
            flex-flow: column nowrap;

            a {
                button {
                    border: none;
                    background: $grey100;
                    padding: 8px 0;
                    cursor: pointer;
                    font-size: 16px;
                    font-family: Roboto;
                }
            }
        }
    }
}
