$color--workforce: #F18965;
$color--tracker: #39C3D9;
$color--explorer: #85CA85;
$color--klask: #A575D7;
$color--yellow: #CAC785;

$color--text-primary: rgba(255,255,255,.87);
$color--text-secondary: rgba(255,255,255,.6);
$color--text-on-base: rgba(0,0,0,.7);

$color--divider: rgba(255, 255, 255, 0.2);