.header--company{
  -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  background: white;
  z-index: 5;

  @include tablet {
    justify-content: flex-start;
    flex-flow: column;
  }

  &__left-side {
    display: flex;
    flex-flow: row nowrap;
  }

  &__hamburger {
    display: none;
    margin: 8px;
    padding: 8px;
    font-size: 16px;
    background: none;
    cursor: pointer;
    border-radius: 4px;
    border: none;

    @include tablet {
      display: block;
    }

    &:hover {
      -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
      box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
      transform: scale(1.03)
    }
  }

  &__logo {
    height: 60px;
    width: auto;
    margin: 4px 16px;

    @include mobile {
      margin-left: 16px;
    }
  }

  nav {
    margin: 16px;
    transition: 1s;

    @include tablet {
      display: none;

      button {
        width: 100%;
        margin: 4px 0;
      }
    }

    button{
      font-size: 14px;
      font-family: Roboto, sans-serif;
      border: none;
      height: 100%;
      margin: 0;
      cursor: pointer;
      padding: 8px 16px;
      border-radius: 64px;
      transition: .1s;
      color: $blue500;
      text-transform: uppercase;

      &:hover {
        -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);

        transform: scale(1.03);

        background: #eee;
      }

      &.company-button {
        background: $blue500;
        color: white;
      }

      &.candidate-button {
        background: $deep-orange400;
        color: white;
      }
    }
  }
}

.company__section--1{
  margin-top: 64px;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  overflow: hidden;
  position: relative;
  height: 600px;

  & .container {
    right: 0;
    display: flex;
    flex-flow: row-reverse wrap;
    z-index: 2;
    position: absolute;
    height: 600px;
  }

  &__text{
    flex-shrink: 6;
    flex-basis: 75%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    align-self: right;

    @include mobile {
      flex-basis: 100%;
    }

    h1 {
      font-family: Gidolinya, sans-serif;
      font-size: 32px;
      text-transform: uppercase;
      color: white;
      width: 100%;
      text-align: center;
      margin: 32px 32px;

      @include mobile {
        font-size: 48px;
        line-height: 48px;
        text-align: center;
      }
    }

    ul {
      color: white;
      margin-top: 16px;
      font-size: 24px;
      padding: 0;

      @include mobile {
        margin: 32px;
        font-size: 18px;
      }

      li {
        list-style: none;
        letter-spacing: 1px;
        margin-top: 16px;
        padding: 0;

        &::before {
          display: inline-block;
          vertical-align: middle;
          margin-right: 16px;
        }
      }

      & li:nth-child(1)::before {
        content: url('https://empreguei.github.io/assets/svg/clock.svg');
      }

      & li:nth-child(2)::before {
        content: url('https://empreguei.github.io/assets/svg/puzzle.svg');
      }

      & li:nth-child(3)::before {
        content: url('https://empreguei.github.io/assets/svg/chat.svg');
      }

      & li:nth-child(4)::before {
        content: url('https://empreguei.github.io/assets/svg/hand-shake.svg');
      }
    }

    a {
      align-self: center;
      margin: 32px;

      button {
        border-radius: 64px;
        border: none;
        background: white;
        font-size: 24px;
        text-transform: uppercase;
        padding: 32px 64px;
        cursor: pointer;
        transition: .3s;
        color: $blue500;

        &:hover {
          -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
          -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
          box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
          transform: scale(1.03);
        }
      }
    }
  }

  &__image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 600px;
    background: $blue500;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center left;
      opacity: .8;
    }

  }
}

.company__section--2{
  h1 {
    text-align: center;
  }

  &__client-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0px 64px;

    &__client {
      padding: 16px;
      width: 200px;
      height: 200px;
      border: 1px $blue500 solid;
      margin: 32px 16px;
      border-radius: 100px;
      transition: .5s;

      &:hover {
        -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
        transform: scale(1.03);
      }

      &:nth-child(1) {
        padding: 40px;
      }
      &:nth-child(3) {
        padding: 40px;
      }
      &:nth-child(4) {
        padding: 0px;
      }
      &:nth-child(5) {
        padding: 40px;
      }
      &:nth-child(7) {
        padding: 32px;
      }

      img {

        width: 100%;
        height: 100%;

        object-fit: contain;
        object-position: center;

        transition: .3s;

      }
    }
  }
}

.company__section--3{
  margin-top: 64px;
  background: $grey100;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  padding: 0;

  & .container {
    display: flex;
    flex-flow: row wrap;
  }

  &__text{
    flex-shrink: 6;
    flex-basis: 55%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 32px;

    @include mobile {
      flex-basis: 100%;
    }

    h1 {
      font-family: Gidolinya, sans-serif;
      line-height: 64px;
      color: $grey800;
      text-align: right;
      width: 100%;
      padding-right: 32px;

      @include mobile {
        text-align: center;
      }
    }

    &__line {
      padding-right: 32px;
      width: 100%;
      display: flex;
      flex-flow: row-reverse nowrap;
      text-align: right;
      font-size: 20px;
      line-height: 1.2;
      align-items: center;
      margin: 8px;

      &__icon {
        margin-left: 16px;
        margin-right: 8px;

        img {
          width: 40px;
          height: auto;
          max-width: none;
        }
      }
    }

    a {
      align-self: center;
      margin: 64px;

      button {
        border-radius: 64px;
        border: none;
        background: white;
        font-size: 24px;
        text-transform: uppercase;
        padding: 32px 64px;
        cursor: pointer;
        transition: .3s;
        color: $blue500;

        &:hover {
          -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
          -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
          box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
          transform: scale(1.03);
        }
      }
    }
  }

  &__image{
    flex-shrink: 4;
    flex-basis: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include mobile {
      justify-content: center;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    @include mobile {
      flex-basis: 100%;
    }
  }
}

.company__section--4{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 128px;

  h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
  }

  &__feature {
    text-align: center;
    flex-basis: 25%;
    transition: .3s;

    &:hover {
      transform: scale(1.05)
    }

    @include tablet {
      flex-basis: 50%;
    }

    img {
      width: 128px;
      height: 128px;
    }

    p {
      padding: 16px;
      color: $grey800;
      text-align: center;
      font-weight: 300;
      font-size: 24px;
    }
  }
}

.company__section--5{
  -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);

  .container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
  }

  &__video {
    flex-basis: 50%;
  }

  &__text {
    flex-basis: 50%;

    a {
      text-align: center;
      width: 100%;
      display: block;

      button {
        background: $blue500;
        font-size: 18px;
        padding: 16px 32px;
        border-radius: 64px;
        border: none;
        color: white;
        text-transform: uppercase;
        margin: 32px;
        transition: .3s;
        cursor: pointer;

        &:hover {
          -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
          -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
          box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
          transform: scale(1.03);
        }
      }
    }
  }
}

.company__section--6{
  margin-top: 64px;

  h1, h2 {
    text-align: center;
    line-height: 1em;
  }

  &__plans {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    @include tablet {
      flex-flow: row wrap;
    }

    &__plan {
      padding: 16px;
      margin: 16px;
      transition: .3s;
      border: 1px solid $grey100;
      position: relative;
      width: 350px;
      max-width: 90%;


      &:hover{
        -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
        border: 1px solid $blue500;
        transform: scale(1.03);
      }

      h2 {
        line-height: 32px;
        margin: 8px;
        padding: 0;
      }

      &--featured h2 {
        color: $green700;
      }

      &__description {
        text-align: center;
      }

      &--featured &__description {
        color: $green500;
      }

      &__name {
        text-align: center;
        padding: 16px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
      }

      &--featured &__name {
        color: $blue500;
      }

      &__price {
        font-size: 42px;
        font-weight: bold;
        text-align: center;
        font-family: Gidolinya, sans-serif;
      }

      &__only {
        font-size: 42px;
        font-weight: bold;
        text-align: center;
        font-family: Gidolinya, sans-serif;
        color: $green500;
      }

      &__features {
        padding: 32px 16px;

        li.item {
          list-style: none;
          margin-bottom: 8px;

          &::before {
            display: inline-block;
            vertical-align: middle;
            margin-right: 16px;
            content: url('https://empreguei.github.io/assets/svg/allowed.svg');
          }

          &--denied {
            list-style: none;

            &::before {
              display: inline-block;
              vertical-align: middle;
              margin-right: 16px;
              content: url('https://empreguei.github.io/assets/svg/denied.svg');
            }
          }
        }
      }

      a {

        button {
          background: $blue500;
          padding: 16px 32px;
          border-radius: 64px;
          color: white;
          text-transform: uppercase;
          font-size: 16px;
          width: 100%;
          border: none;
          transition: .3s;
          cursor: pointer;

          &:hover {
            -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
            box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
            transform: scale(1.03);
          }
        }
      }

      &--featured a button {
        background: $green500;
      }

      &--featured:after {
        content: 'Mais Popular';
        position: absolute;
        top: -8px;
        right: -16px;
        z-index: 2;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        background: $orange500;
        color: white;
        padding: 8px;
        -webkit-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.3);
        box-shadow: 4px 4px 0px 0px rgba(0,0,0,0.3);
      }
    }

    &__advantages {
      background: $blue500;
      justify-self: stretch;
      display: flex;
      flex-flow: row wrap;
      flex-shrink: 2;
      justify-content: space-evenly;

      h1 {
        width: 100%;
        color: $white;
        text-align: center;
      }

      .advantage {
        flex-basis: 40%;
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        justify-content: space-evenly;

        h2 {
          text-align: center;
          color: $blue50;
        }

        div {
          background: white;
          border-radius: 200px;
          width: 150px;
          height: 150px;

          img {
            width: 150px;
          }
        }
      }
    }
  }
}

.company__section--7{
  margin-top: 4px;
  padding: 64px 16px;
  -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
  background: $grey50;

  h1 {
    text-align: center;
  }

  &__news {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 32px;

    &__new {
      display: flex;
      align-items: center;
      flex-flow: column nowrap;
      transition: .3s;
      border: 1px solid $grey100;
      padding: 16px;
      background: white;
      flex-basis: 20%;
      margin: 8px;

      @include tablet {
        flex-basis: 45%;
      }

      @include mobile {
        flex-basis: 80%;
      }

      &:hover {
        -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
        border: 1px solid $blue500;
        transform: scale(1.03);
      }

      img {
        width: 180px;
        height: 180px;

        object-fit: contain;
        object-position: center;
      }

      a {

        button {
          background: $blue500;
          padding: 16px 32px;
          border-radius: 64px;
          color: white;
          text-transform: uppercase;
          font-size: 16px;
          border: none;
          transition: .3s;
          cursor: pointer;

          &:hover {
            -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
            box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.3);
            transform: scale(1.03);
          }
        }
      }
    }

  }
}

.footer{
  margin-top: 4px;
  background: $grey100;

  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  &__column{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex-basis: 33%;
    justify-content: flex-start;

    @include mobile {
      flex-basis: 90%;
    }

    img, a img {
      width: 200px;
    }

    a {

      i {
        border-radius: 64px;
        transition: .3s;
      }

      &:hover i{
        -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
        box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.5);
        transform: scale(1.03)
      }
    }

    &:last-child {
    }

    &--one{
      display: flex;
      flex-flow: column nowrap;

      a {
        button {
          border: none;
          background: $grey100;
          padding: 8px 0;
          cursor: pointer;
          font-size: 16px;
          font-family: Roboto;
        }
      }
    }
  }
}
