.comments {
  form {
    width: inherit;
  }
  
  h3 {
   text-align: left; 
  }
  
  h3.comment-author {
    margin: 0.5em 0 0 0;
    height: 20px;
  }

  .comment-date a {
    font-size: small;
    color: black;
    font-weight: 700;
  }

  .comment-body {

  }

  .new-comment {
    label textarea, label input, button {
      display: block;
      margin-bottom: 1em;
    }

    .comment-body textarea {
      width: 100%
    }

    label input {
      max-width: 25em;
      width: 40%;
      min-width: 10em;
    }
  }
}

.comment-list {
  list-style-type: none;
  
  img.avatar {
    float: left;
    height: 80px;
    width: 80px;
    margin: 10px 10px 0px 0px;
  }
  
  time {
    font-size: small;
    color: black;
    font-weight: 700;
  }
}
