.box,
.box_done,
.task-list-item {
  list-style-type: none;
}

.task-list-item input {
  font-size: 16px;
  margin: 0 01em 0.25em -1.6em;
  vertical-align: middle;
}

// .task-list-item + .task-list-item {
//   margin-top: 3px;
// }
