.post {
  max-width: 500px;
}

header {
  height: 345px;
  background: #CCC;
  margin-bottom: 50px;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 10px;
  width: 100%;
  margin-bottom: 100px;
}

