@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap';

$font: 'Open Sans', sans-serif;
$color: #d72d2d;

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

body {
    font-family: $font;
    font-size: 16px;
}

nav,
h1, h2, h3, h4, h5, h6,
.site-name {
    font-family: $font;
}

a {
  color: $color;
  &:hover, &:active {
    color: $color;
  }
}

nav {
    font-size: 16px;
    a {
        letter-spacing: 0;
        @include mobile {
            color: $color;
        }
    }
}

.site-info {
    .site-name {
        color: $color;
        font-weight: 700;
    }
    .site-description {
        font-size: 14px;
    }
}

.post {
    .entry {
        a {
            text-decoration: underline;
        }
        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: auto;
        }
    }
    .date {
        font-size: 12px;
        opacity: 50%;
        hr {
            margin: 1rem 0;
        }
    }
}

.apply {
    text-align: center;
    a {
        display: inline-block;
        background-color: $color;
        color: white;
        padding: 1rem 2rem;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 50px;
        margin: 1rem 0;
        text-decoration: none !important;
        @include mobile {
            display: block;
            margin: 2rem 0;
        }
    }
}
