@font-face {
  font-family: 'EB Garamond';
  src: url('https://raw.githubusercontent.com/geo-ant/blog/master/fonts/EB_Garamond/static/EBGaramond-Medium.ttf') format('truetype');
  font-display: swap;
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('https://raw.githubusercontent.com/geo-ant/blog/master/fonts/EB_Garamond/static/EBGaramond-MediumItalic.ttf') format('truetype');
  font-display: swap;
  font-weight: medium;
  font-style: italic;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('https://raw.githubusercontent.com/geo-ant/blog/master/fonts/EB_Garamond/static/EBGaramond-Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Dela Gothic One';
  src: url('https://raw.githubusercontent.com/geo-ant/blog/master/fonts/Dela_Gothic_One/DelaGothicOne-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('https://raw.githubusercontent.com/geo-ant/blog/master/fonts/Lato/Lato-Black.ttf') format('truetype');
  font-display: swap;
  font-weight: black;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('https://raw.githubusercontent.com/geo-ant/blog/master/fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://raw.githubusercontent.com/geo-ant/blog/master/fonts/JetBrains_Mono/static/JetBrainsMono-Medium.ttf') format('truetype');
  font-display: swap;
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://raw.githubusercontent.com/geo-ant/blog/master/fonts/JetBrains_Mono/static/JetBrainsMono-MediumItalic.ttf') format('truetype');
  font-display: swap;
  font-weight: medium;
  font-style: italic;
}
