@font-face {
  font-family: 'EB Garamond';
  src: url('https://github.com/geo-ant/blog/blob/master/fonts/EB_Garamond/static/EBGaramond-Medium.ttf?raw=true') format('truetype');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Dela Gothic One';
  src: url('https://raw.githubusercontent.com/geo-ant/blog/master/fonts/Dela_Gothic_One/DelaGothicOne-Regular.ttf') format('truetype');
  font-display: swap;
  font-weight: black;
  font-style: normal;
}
// @font-face {
//   font-family: 'EB Garamond';
//   display: swap;
// }
