nav {
    float: right;
    margin-top: 23px; // @TODO: Vertically middle align
    font-family: $helveticaNeue;
    font-size: 18px;
    
    @include mobile {
        float: none;
        margin-top: 9px;
        display: block;
        font-size: 16px;
    }
    
    a {
        margin-left: 10px;
        margin-right: 10px;
        color: $darkGray;
        text-align: center;
        font-weight: 300;
        letter-spacing: 1px;
        @include mobile {
            margin: 0 10px;
            color: $blue;
        }
    }
}

nav a.first {
    margin-left: 0;
}

.date {
    font-size: 80%;
}

figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    font-size: 80%;
    
    a {
        color: #333;
    }
}

.fourOhFour {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.certificate img {
    border: 1px solid #555;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 0px #999;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.abs_center {
    position: relative;
    width: 200%;
    right: 50%;
}

.tags {
    font-size: 80%;
    float: right;
    margin-top: 0px;
    margin-left: 15px;
}

a.selected {
    color: #fff;
    background: #666;
    text-shadow: 1px 1px 1px #000;
    border-radius: 4px;
}

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#ffaa56; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");	background: -o-linear-gradient(top,#ff7f00,bf5f00);

	background-color:#ff7f00;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
table tr:first-child:hover td {
	background: -o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);	
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00) );
	background: -moz-linear-gradient( center top, #ff7f00 5%, #bf5f00 100% );
	background: -o-linear-gradient(top,#ff7f00,bf5f00);

	background-color: #ff7f00;
}

table tr:first-child td:first-child {
	border-width: 0px 0px 1px 0px;
}

table tr:first-child td:last-child {
	border-width: 0px 0px 1px 1px;
}
