
pre.highlight {
    background-color: #efefef;
    padding: 7px 7px 7px 10px;
    border: 1px solid #ddd;
    -moz-box-shadow: 3px 3px rgba(0,0,0,0.1);
    -webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);
    box-shadow: 3px 3px rgba(0,0,0,0.1);
    margin: 20px 0 20px 0;
    overflow: scroll;
  }

code {
    font-family:'Bitstream Vera Sans Mono','Courier', monospace;
}

pre.highlight .hll { background-color: #373b41 }
pre.highlight  { background: #1d1f21; color: #ffffff }
pre.highlight .c { color: #969896 } /* Comment */
pre.highlight .err { color: #cc6666 } /* Error */
pre.highlight .k { color: #b294bb } /* Keyword */
pre.highlight .l { color: #de935f } /* Literal */
pre.highlight .n { color: #ffffff } /* Name */
pre.highlight .o { color: #8abeb7 } /* Operator */
pre.highlight .p { color: #ffffff } /* Punctuation */
pre.highlight .cm { color: #969896 } /* Comment.Multiline */
pre.highlight .cp { color: #969896 } /* Comment.Preproc */
pre.highlight .c1 { color: #969896 } /* Comment.Single */
pre.highlight .cs { color: #969896 } /* Comment.Special */
pre.highlight .gd { color: #cc6666 } /* Generic.Deleted */
pre.highlight .ge { font-style: italic } /* Generic.Emph */
pre.highlight .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
pre.highlight .gi { color: #b5bd68 } /* Generic.Inserted */
pre.highlight .gp { color: #969896; font-weight: bold } /* Generic.Prompt */
pre.highlight .gs { font-weight: bold } /* Generic.Strong */
pre.highlight .gu { color: #8abeb7; font-weight: bold } /* Generic.Subheading */
pre.highlight .kc { color: #b294bb } /* Keyword.Constant */
pre.highlight .kd { color: #b294bb } /* Keyword.Declaration */
pre.highlight .kn { color: #8abeb7 } /* Keyword.Namespace */
pre.highlight .kp { color: #b294bb } /* Keyword.Pseudo */
pre.highlight .kr { color: #b294bb } /* Keyword.Reserved */
pre.highlight .kt { color: #f0c674 } /* Keyword.Type */
pre.highlight .ld { color: #b5bd68 } /* Literal.Date */
pre.highlight .m { color: #de935f } /* Literal.Number */
pre.highlight .s { color: #b5bd68 } /* Literal.String */
pre.highlight .na { color: #81a2be } /* Name.Attribute */
pre.highlight .nb { color: #ffffff } /* Name.Builtin */
pre.highlight .nc { color: #f0c674 } /* Name.Class */
pre.highlight .no { color: #cc6666 } /* Name.Constant */
pre.highlight .nd { color: #8abeb7 } /* Name.Decorator */
pre.highlight .ni { color: #ffffff } /* Name.Entity */
pre.highlight .ne { color: #cc6666 } /* Name.Exception */
pre.highlight .nf { color: #81a2be } /* Name.Function */
pre.highlight .nl { color: #ffffff } /* Name.Label */
pre.highlight .nn { color: #f0c674 } /* Name.Namespace */
pre.highlight .nx { color: #81a2be } /* Name.Other */
pre.highlight .py { color: #ffffff } /* Name.Property */
pre.highlight .nt { color: #8abeb7 } /* Name.Tag */
pre.highlight .nv { color: #cc6666 } /* Name.Variable */
pre.highlight .ow { color: #8abeb7 } /* Operator.Word */
pre.highlight .w { color: #ffffff } /* Text.Whitespace */
pre.highlight .mf { color: #de935f } /* Literal.Number.Float */
pre.highlight .mh { color: #de935f } /* Literal.Number.Hex */
pre.highlight .mi { color: #de935f } /* Literal.Number.Integer */
pre.highlight .mo { color: #de935f } /* Literal.Number.Oct */
pre.highlight .sb { color: #b5bd68 } /* Literal.String.Backtick */
pre.highlight .sc { color: #ffffff } /* Literal.String.Char */
pre.highlight .sd { color: #969896 } /* Literal.String.Doc */
pre.highlight .s2 { color: #b5bd68 } /* Literal.String.Double */
pre.highlight .se { color: #de935f } /* Literal.String.Escape */
pre.highlight .sh { color: #b5bd68 } /* Literal.String.Heredoc */
pre.highlight .si { color: #de935f } /* Literal.String.Interpol */
pre.highlight .sx { color: #b5bd68 } /* Literal.String.Other */
pre.highlight .sr { color: #b5bd68 } /* Literal.String.Regex */
pre.highlight .s1 { color: #b5bd68 } /* Literal.String.Single */
pre.highlight .ss { color: #b5bd68 } /* Literal.String.Symbol */
pre.highlight .bp { color: #ffffff } /* Name.Builtin.Pseudo */
pre.highlight .vc { color: #cc6666 } /* Name.Variable.Class */
pre.highlight .vg { color: #cc6666 } /* Name.Variable.Global */
pre.highlight .vi { color: #cc6666 } /* Name.Variable.Instance */
pre.highlight .il { color: #de935f } /* Literal.Number.Integer.Long */
