
pre.highlight {
  background-color: #efefef;
  padding: 7px 7px 7px 10px;
  border: 1px solid #ddd;
  -moz-box-shadow: 3px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);
  box-shadow: 3px 3px rgba(0,0,0,0.1);
  margin: 20px 0 20px 0;
  overflow: scroll;
}

code {
  font-family:'Bitstream Vera Sans Mono','Courier', monospace;
}

pre.highlight .c { color: #586E75 } /* Comment */
pre.highlight .err { color: #93A1A1 } /* Error */
pre.highlight .g { color: #93A1A1 } /* Generic */
pre.highlight .k { color: #859900 } /* Keyword */
pre.highlight .l { color: #93A1A1 } /* Literal */
pre.highlight .n { color: #93A1A1 } /* Name */
pre.highlight .o { color: #859900 } /* Operator */
pre.highlight .x { color: #CB4B16 } /* Other */
pre.highlight .p { color: #93A1A1 } /* Punctuation */
pre.highlight .cm { color: #586E75 } /* Comment.Multiline */
pre.highlight .cp { color: #859900 } /* Comment.Preproc */
pre.highlight .c1 { color: #586E75 } /* Comment.Single */
pre.highlight .cs { color: #859900 } /* Comment.Special */
pre.highlight .gd { color: #2AA198 } /* Generic.Deleted */
pre.highlight .ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
pre.highlight .gr { color: #DC322F } /* Generic.Error */
pre.highlight .gh { color: #CB4B16 } /* Generic.Heading */
pre.highlight .gi { color: #859900 } /* Generic.Inserted */
pre.highlight .go { color: #93A1A1 } /* Generic.Output */
pre.highlight .gp { color: #93A1A1 } /* Generic.Prompt */
pre.highlight .gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
pre.highlight .gu { color: #CB4B16 } /* Generic.Subheading */
pre.highlight .gt { color: #93A1A1 } /* Generic.Traceback */
pre.highlight .kc { color: #CB4B16 } /* Keyword.Constant */
pre.highlight .kd { color: #268BD2 } /* Keyword.Declaration */
pre.highlight .kn { color: #859900 } /* Keyword.Namespace */
pre.highlight .kp { color: #859900 } /* Keyword.Pseudo */
pre.highlight .kr { color: #268BD2 } /* Keyword.Reserved */
pre.highlight .kt { color: #DC322F } /* Keyword.Type */
pre.highlight .ld { color: #93A1A1 } /* Literal.Date */
pre.highlight .m { color: #2AA198 } /* Literal.Number */
pre.highlight .s { color: #2AA198 } /* Literal.String */
pre.highlight .na { color: #93A1A1 } /* Name.Attribute */
pre.highlight .nb { color: #B58900 } /* Name.Builtin */
pre.highlight .nc { color: #268BD2 } /* Name.Class */
pre.highlight .no { color: #CB4B16 } /* Name.Constant */
pre.highlight .nd { color: #268BD2 } /* Name.Decorator */
pre.highlight .ni { color: #CB4B16 } /* Name.Entity */
pre.highlight .ne { color: #CB4B16 } /* Name.Exception */
pre.highlight .nf { color: #268BD2 } /* Name.Function */
pre.highlight .nl { color: #93A1A1 } /* Name.Label */
pre.highlight .nn { color: #93A1A1 } /* Name.Namespace */
pre.highlight .nx { color: #555 } /* Name.Other */
pre.highlight .py { color: #93A1A1 } /* Name.Property */
pre.highlight .nt { color: #268BD2 } /* Name.Tag */
pre.highlight .nv { color: #268BD2 } /* Name.Variable */
pre.highlight .ow { color: #859900 } /* Operator.Word */
pre.highlight .w { color: #93A1A1 } /* Text.Whitespace */
pre.highlight .mf { color: #2AA198 } /* Literal.Number.Float */
pre.highlight .mh { color: #2AA198 } /* Literal.Number.Hex */
pre.highlight .mi { color: #2AA198 } /* Literal.Number.Integer */
pre.highlight .mo { color: #2AA198 } /* Literal.Number.Oct */
pre.highlight .sb { color: #586E75 } /* Literal.String.Backtick */
pre.highlight .sc { color: #2AA198 } /* Literal.String.Char */
pre.highlight .sd { color: #93A1A1 } /* Literal.String.Doc */
pre.highlight .s2 { color: #2AA198 } /* Literal.String.Double */
pre.highlight .se { color: #CB4B16 } /* Literal.String.Escape */
pre.highlight .sh { color: #93A1A1 } /* Literal.String.Heredoc */
pre.highlight .si { color: #2AA198 } /* Literal.String.Interpol */
pre.highlight .sx { color: #2AA198 } /* Literal.String.Other */
pre.highlight .sr { color: #DC322F } /* Literal.String.Regex */
pre.highlight .s1 { color: #2AA198 } /* Literal.String.Single */
pre.highlight .ss { color: #2AA198 } /* Literal.String.Symbol */
pre.highlight .bp { color: #268BD2 } /* Name.Builtin.Pseudo */
pre.highlight .vc { color: #268BD2 } /* Name.Variable.Class */
pre.highlight .vg { color: #268BD2 } /* Name.Variable.Global */
pre.highlight .vi { color: #268BD2 } /* Name.Variable.Instance */
pre.highlight .il { color: #2AA198 } /* Literal.Number.Integer.Long */
