
.highlighter-rouge {
  background-color: #efefef;
  padding: 7px 7px 7px 10px;
  border: 1px solid #ddd;
  -moz-box-shadow: 3px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);
  box-shadow: 3px 3px rgba(0,0,0,0.1);
  margin: 20px 0 20px 0;
  overflow-y: hidden;
  overflow-x: scroll;
}

code {
  font-family:'Bitstream Vera Sans Mono','Courier', monospace;
}

.highlighter-rouge .c { color: #586E75 } /* Comment */
.highlighter-rouge .err { color: #93A1A1 } /* Error */
.highlighter-rouge .g { color: #93A1A1 } /* Generic */
.highlighter-rouge .k { color: #859900 } /* Keyword */
.highlighter-rouge .l { color: #93A1A1 } /* Literal */
.highlighter-rouge .n { color: #93A1A1 } /* Name */
.highlighter-rouge .o { color: #859900 } /* Operator */
.highlighter-rouge .x { color: #CB4B16 } /* Other */
.highlighter-rouge .p { color: #93A1A1 } /* Punctuation */
.highlighter-rouge .cm { color: #586E75 } /* Comment.Multiline */
.highlighter-rouge .cp { color: #859900 } /* Comment.Preproc */
.highlighter-rouge .c1 { color: #586E75 } /* Comment.Single */
.highlighter-rouge .cs { color: #859900 } /* Comment.Special */
.highlighter-rouge .gd { color: #2AA198 } /* Generic.Deleted */
.highlighter-rouge .ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
.highlighter-rouge .gr { color: #DC322F } /* Generic.Error */
.highlighter-rouge .gh { color: #CB4B16 } /* Generic.Heading */
.highlighter-rouge .gi { color: #859900 } /* Generic.Inserted */
.highlighter-rouge .go { color: #93A1A1 } /* Generic.Output */
.highlighter-rouge .gp { color: #93A1A1 } /* Generic.Prompt */
.highlighter-rouge .gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
.highlighter-rouge .gu { color: #CB4B16 } /* Generic.Subheading */
.highlighter-rouge .gt { color: #93A1A1 } /* Generic.Traceback */
.highlighter-rouge .kc { color: #CB4B16 } /* Keyword.Constant */
.highlighter-rouge .kd { color: #268BD2 } /* Keyword.Declaration */
.highlighter-rouge .kn { color: #859900 } /* Keyword.Namespace */
.highlighter-rouge .kp { color: #859900 } /* Keyword.Pseudo */
.highlighter-rouge .kr { color: #268BD2 } /* Keyword.Reserved */
.highlighter-rouge .kt { color: #DC322F } /* Keyword.Type */
.highlighter-rouge .ld { color: #93A1A1 } /* Literal.Date */
.highlighter-rouge .m { color: #2AA198 } /* Literal.Number */
.highlighter-rouge .s { color: #2AA198 } /* Literal.String */
.highlighter-rouge .na { color: #93A1A1 } /* Name.Attribute */
.highlighter-rouge .nb { color: #B58900 } /* Name.Builtin */
.highlighter-rouge .nc { color: #268BD2 } /* Name.Class */
.highlighter-rouge .no { color: #CB4B16 } /* Name.Constant */
.highlighter-rouge .nd { color: #268BD2 } /* Name.Decorator */
.highlighter-rouge .ni { color: #CB4B16 } /* Name.Entity */
.highlighter-rouge .ne { color: #CB4B16 } /* Name.Exception */
.highlighter-rouge .nf { color: #268BD2 } /* Name.Function */
.highlighter-rouge .nl { color: #93A1A1 } /* Name.Label */
.highlighter-rouge .nn { color: #93A1A1 } /* Name.Namespace */
.highlighter-rouge .nx { color: #555 } /* Name.Other */
.highlighter-rouge .py { color: #93A1A1 } /* Name.Property */
.highlighter-rouge .nt { color: #268BD2 } /* Name.Tag */
.highlighter-rouge .nv { color: #268BD2 } /* Name.Variable */
.highlighter-rouge .ow { color: #859900 } /* Operator.Word */
.highlighter-rouge .w { color: #93A1A1 } /* Text.Whitespace */
.highlighter-rouge .mf { color: #2AA198 } /* Literal.Number.Float */
.highlighter-rouge .mh { color: #2AA198 } /* Literal.Number.Hex */
.highlighter-rouge .mi { color: #2AA198 } /* Literal.Number.Integer */
.highlighter-rouge .mo { color: #2AA198 } /* Literal.Number.Oct */
.highlighter-rouge .sb { color: #586E75 } /* Literal.String.Backtick */
.highlighter-rouge .sc { color: #2AA198 } /* Literal.String.Char */
.highlighter-rouge .sd { color: #93A1A1 } /* Literal.String.Doc */
.highlighter-rouge .s2 { color: #2AA198 } /* Literal.String.Double */
.highlighter-rouge .se { color: #CB4B16 } /* Literal.String.Escape */
.highlighter-rouge .sh { color: #93A1A1 } /* Literal.String.Heredoc */
.highlighter-rouge .si { color: #2AA198 } /* Literal.String.Interpol */
.highlighter-rouge .sx { color: #2AA198 } /* Literal.String.Other */
.highlighter-rouge .sr { color: #DC322F } /* Literal.String.Regex */
.highlighter-rouge .s1 { color: #2AA198 } /* Literal.String.Single */
.highlighter-rouge .ss { color: #2AA198 } /* Literal.String.Symbol */
.highlighter-rouge .bp { color: #268BD2 } /* Name.Builtin.Pseudo */
.highlighter-rouge .vc { color: #268BD2 } /* Name.Variable.Class */
.highlighter-rouge .vg { color: #268BD2 } /* Name.Variable.Global */
.highlighter-rouge .vi { color: #268BD2 } /* Name.Variable.Instance */
.highlighter-rouge .il { color: #2AA198 } /* Literal.Number.Integer.Long */