.f-default {
    font-family: Gidolinya, "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .f-19{ font-size: 19px; }
  .f-23{ font-size: 23px; }
  .f-27{ font-size: 27px; }
  .f-32{ font-size: 32px; }
  .f-48{ font-size: 48px; }

.content-body {
    margin-top: 78px;
}

.nav-btn {
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 15px !important;
    border-radius: 64px !important;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: center;
    transition: 0.2s;
    transition-duration: 0.2s;

    &:hover {
        box-shadow: 1px 4px 8px #8A05BE22 !important;
    }

    &.nav-btn-candidate {
        color: white !important;
        background-color: #8A05BE !important;
        margin-left: 5px !important;
        margin-right: 5px !important;
        box-shadow: 1px 2px 4px #aaaaaa !important;
    }
      
    &.nav-btn-secondary {
        color: #8A05BE !important;
        /* background-color: #8A05BE !important; */
        margin-left: 5px !important;
        margin-right: 5px !important;
        box-shadow: 0px 2px 4px #25252533 !important;
    }

    &.nav-btn-default:hover {
        /* background-color: #eeeeee; */
        color: #8A05BE !important;
    }
}

.increase-hover {
    transition: .3s;

    &:hover {
        transform:scale(1.02,1.02);
        -webkit-transform:scale(1.02,1.02);
        -moz-transform:scale(1.02,1.02);
    }
}