
/**
 * Clearfix
 */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}
