.related-post {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0.5em;
    padding: 0.5em;
    
    @include mobile {
      display: block;
      width: 100%;
    }
}
