#see-also {
    text-align: center;
    
    h2 {
        text-align: left;   
        
        @include mobile {
            text-align: center;
        }
    }
}

.related-post {
    display: inline-block;
    width: 30%;
    height: 13.5em;
    vertical-align: top;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0.5em;
    padding: 0.5em;
    text-align: left;
    color: #333;
    overflow: hidden;
   
    @include mobile {
      display: block;
      width: 100%;
      height: inherit;
      max-height: 13.5em;
      margin-left: auto;
      margin-right: auto;
    }
    
    h3 {
        margin: 0em 0 15px;
        
        @include mobile {
            text-align: center;
        }
    }
}
