.share-block {
	width: 100%;
}

.share {
	display: inline-block;
	width: 19%;
}

.share.facebook {
	background-color: rgb(59, 89, 152);
	color: #FFFFFF;
}

.share.twitter {

}

.share.linkedin {
	background-color: #1F88BD;
	color: #FFFFFF;
}

.share.reddit {

}

.share.stumbleupon {

}