.share-block {
	position: fixed;
	left: 10px;
	white-space: nowrap;
	overflow: visible;
	
	@include mobile {
		position: initial;
	}
}

.share {
	padding: 0 0.5em;
	width: 2.5em;
	text-align: center;
	
	@include mobile {
		display: inline-block;
	}
}

.share:hover {
	width: 100%;
	
	@include mobile {
		width: 2.5em;
	}
}

.full-name {
	display: none;	
}

a:hover {	
	.full-name {
		display: inline-block;
	}
}

.share.facebook {
	background-color: #3B5998;
	color: #FFFFFF;
}

.share.twitter {
	background-color: #1DA1F2;
	color: #FFFFFF;
}

.share.linkedin {
	background-color: #1F88BD;
	color: #FFFFFF;
}

.share.googleplus {
	background-color: #DB4437;
	color: #FFFFFF;
}

.share.reddit {
	background-color: #FFFFFF;
	color: #000000;
	border: 1px solid black;
	border-radius: 5px;
}

.share.stumbleupon {
	background-color: #EB4823;
	color: #FFFFFF;
}

.mobile-hide {
	@include mobile {
		display: none !important;
	}
}

.mobile-only {
	display: none;
	
	@include mobile {
		display: inherit;
	}
}
