.share-block {
	width: 100%;
}

.share {
	display: inline-block;
	width: 19%;
	padding-left: 0.5em;
}

.share .count {
	padding-left: 0.5em;
}

.share.facebook {
	background-color: #3B5998;
	color: #FFFFFF;
}

.share.twitter {
	background-color: #1DA1F2;
	color: #FFFFFF;
}

.share.linkedin {
	background-color: #1F88BD;
	color: #FFFFFF;
}

.share.reddit {
	color: #000000;
}

.share.stumbleupon {
	background-color: #EB4823;
	color: #FFFFFF;
}