table.dataframe {
  width: 100%;
  th,
  td {
    padding: 0.5rem;
  }
}

.wrapper-masthead {
  @include desktop {
    position: sticky;
    top: 0;
    z-index: $navigation;
  }
  background: $white;
}
