.text-color {
    &--yellow {
        &--200 {
            color: $yellow200;
        }
    }

    &--blue {
        &--500 {
            color: $blue500;
        }
    }

    &--deep-orange {
        &--500 {
            color: $orange500;
        }
    }
}
