body {
  font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
  font-size: 1.5rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Lato", 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 900;
  line-height: 1.2;
  margin: 1em 0 0.5em;
}
