html {
  font-size: 14px;
}

body {
  font-family: $font-family;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  margin: 1rem 0 0.5rem;
}

abbr {
  border-bottom: $abbr-border-bottom;
  cursor: help;
}

p {
  color: #333;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 1.3rem;
}

h1,
.h1 {
  font-size: 3.998rem;
}

h2,
.h2 {
  font-size: 2.827rem;
}

h3,
.h3 {
  font-size: 1.999rem;
}

h4 {
  font-size: 1.414rem;
}

small,
.small {
  font-size: 0.707rem;
}
