
//
// VARIABLES
//

// Colors
$blue: #81b29a;

// Grays
$black: #335c67;
$darkerGray: #540b0e;
$darkGray: #9e2a2b;
$gray: #9e2a2b;
$lightGray: #e09f3e;
$white: #fff3b0;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}