// Style Variables
$content-width: rem(960);
$font-weight: 100;
$font-family: 'Open Sans', sans-serif;
$line-height: 1.7;

// Color Variables
$gray: #606060;
$light-gray: lightgray;
$green: #70FF70;
$red: #F5BEBE;
$orange: #F5D5BE;
$white: #ECECEC;
