// Style Variables
$content-width: rem(960);
$font-weight: 100;
$font-size: 1.4rem;
$line-height: 1.7;

// Color Variables
$blue:        #2e63c3;
$light-gray:  #f0ecec;
$gray:        #606060;
$dark-gray:   #2B2B2B;
$green:       #70FF70;
$orange:      #F5D5BE;
$red:         #F5BEBE;
$white:       #ECECEC;

// Media Query Variables
$mobile: 480px;
$desktop: 1280px;
