{% if include.paginator %}
  {% assign paginator = include.paginator %}
{% endif %}

{% if paginator.posts.size > 0 %}
  <div class="paginator">
    <span class="previous">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}">Prev</a>
    {% else %}
      <span>Prev</span>
    {% endif %}
    </span>

    <span class="indicator"> {{ paginator.page }}/{{ paginator.total_pages }}</span>

    <span class="next">
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}">Next</a>
    {% else %}
      <span>Next</span>
    {% endif %}
    </span>
  </div>
{% endif %}
