/***************/
/* MEYER RESET */
/***************/
@import url("https://rsms.me/inter/inter.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.glitch--style-1 {
  --gap-horizontal: 20px;
  --gap-vertical: 2px;
  --time-anim: 2.25s;
  --blend-mode-1: none;
  --blend-mode-2: color-dodge;
  --blend-mode-3: difference;
  --blend-mode-4: difference;
  --blend-mode-5: none;
  --blend-color-1: none;
  --blend-color-2: none;
  --blend-color-3: none;
  --blend-color-4: none;
  --blend-color-5: none;
}

/* Glitch styles */
.glitch {
  position: relative;
  width: var(--glitch-width);
  max-width: 670px;
  max-height: 700px;
  height: var(--glitch-height);
  overflow: hidden;
  margin: 0 auto;
}

.glitch__img {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(95% + var(--gap-horizontal) * 2);
  height: calc(95% + var(--gap-vertical) * 2);
  background: url(../img/pizza.png) no-repeat 50% 0;
  background-color: var(--blend-color-1);
  background-size: cover;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  background-blend-mode: var(--blend-mode-1);
}

/* Hide all images except the first one */
.glitch__img:nth-child(n+2) {
  opacity: 0;
}

/* On hover we show the 2nd, 3rd, 4th and 5th image*/
.glitch .glitch__img:nth-child(n+2) {
  opacity: 1;
}

/* Hover animations for horizontal case */
.glitch .glitch__img:nth-child(2) {
  /* transform: translate3d(var(--gap-horizontal),0,0); */
  left: 2px;
  -webkit-animation: glitch-anim-1-horizontal var(--time-anim) infinite linear alternate;
          animation: glitch-anim-1-horizontal var(--time-anim) infinite linear alternate;
  background-color: var(--blend-color-2);
  background-blend-mode: var(--blend-mode-2);
}

.glitch > .glitch__img:nth-child(3) {
  /* transform: translate3d(calc(-1 * var(--gap-horizontal)),0,0); */
  top: 4px;
  -webkit-animation: glitch-anim-2-horizontal var(--time-anim) infinite linear alternate;
          animation: glitch-anim-2-horizontal var(--time-anim) infinite linear alternate;
  background-color: var(--blend-color-3);
  background-blend-mode: var(--blend-mode-3);
}

.glitch > .glitch__img:nth-child(4) {
  /* transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1,-1,1); */
  left: -5px;
  -webkit-animation: glitch-anim-3-horizontal var(--time-anim) infinite linear alternate;
          animation: glitch-anim-3-horizontal var(--time-anim) infinite linear alternate;
  background-blend-mode: var(--blend-mode-4);
  background-color: var(--blend-color-4);
}

/* Hover flash animation on last image */
.glitch > .glitch__img:nth-child(5) {
  -webkit-animation: glitch-anim-flash 1s steps(1, end) infinite;
          animation: glitch-anim-flash 1s steps(1, end) infinite;
}

/* Animations */
/* Horizontal */
@-webkit-keyframes glitch-anim-1-horizontal {
  0% {
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }
  10% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  20% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  30% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  40% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  50% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  60% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  70% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  80% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  90% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  100% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
}
@keyframes glitch-anim-1-horizontal {
  0% {
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }
  10% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  20% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  30% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  40% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  50% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  60% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  70% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  80% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  90% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  100% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
}
@-webkit-keyframes glitch-anim-2-horizontal {
  0% {
    -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
  }
  15% {
    -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
  }
  22% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
  }
  31% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  45% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
  }
  51% {
    -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
  }
  63% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  76% {
    -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
  }
  81% {
    -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
  }
  94% {
    -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
  }
  100% {
    -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
    clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
  }
}
@keyframes glitch-anim-2-horizontal {
  0% {
    -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
  }
  15% {
    -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
  }
  22% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
  }
  31% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  45% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
  }
  51% {
    -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
  }
  63% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  76% {
    -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
  }
  81% {
    -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
  }
  94% {
    -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
  }
  100% {
    -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
    clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
  }
}
@-webkit-keyframes glitch-anim-3-horizontal {
  0% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    left: 5px;
  }
  5% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    left: -5px;
  }
  10% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
  }
  25% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  27% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
  }
  30% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
  }
  33% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
  }
  37% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
  }
  40% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  45% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
  }
  50% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
  }
  53% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
  }
  57% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
  }
  60% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
  }
  65% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
  }
  70% {
    -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
  }
  73% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  80% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
  }
  100% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
  }
}
@keyframes glitch-anim-3-horizontal {
  0% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    left: 5px;
  }
  5% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    left: -5px;
  }
  10% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
  }
  25% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  27% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
  }
  30% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
  }
  33% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
  }
  37% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
  }
  40% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  45% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
  }
  50% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
  }
  53% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
  }
  57% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
  }
  60% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
  }
  65% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
  }
  70% {
    -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
  }
  73% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  80% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
  }
  100% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
  }
}
/* Flash */
@-webkit-keyframes glitch-anim-flash {
  0% {
    opacity: 0.2;
    left: 5px;
  }
  33%, 100% {
    opacity: 0;
    left: -5px;
  }
}
@keyframes glitch-anim-flash {
  0% {
    opacity: 0.2;
    left: 5px;
  }
  33%, 100% {
    opacity: 0;
    left: -5px;
  }
}
html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
@font-face {
  font-family: "Shnobel";
  src: url("../fonts/Shnobel-Regular.eot");
  src: url("../fonts/Shnobel-Regular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Shnobel-Regular.woff") format("woff");
  src: url("../fonts/Shnobel-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "SourceSerif";
  src: url("../fonts/SourceSerifPro-Regular.otf.woff") format("woff");
  src: url("../fonts/SourceSerifPro-Regular.otf.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "SourceSerif";
  src: url("../fonts/SourceSerifPro-Bold.otf.woff") format("woff");
  src: url("../fonts/SourceSerifPro-Bold.otf.woff2") format("woff2");
  font-weight: bold;
}
/***************/
/* Hey, don't do this to yourself, this was generated from a Sass file, probably won't be the most beautiful or clean code, anyways in my github is the complete repo with my blog repo, if you want to do it anyways */
/***************/
body {
  background: #fff;
}

a {
  cursor: none;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  color: #333;
}

.subtitle {
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  font-size: 48px;
  font-family: "SourceSerif";
  font-weight: 800;
  z-index: 1;
  position: relative;
  display: -ms-grid;
  display: grid;
}
h2:before {
  content: "";
  background: #FFAE01;
  width: 80%;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 56px;
  z-index: -10;
}

h3 {
  font-size: 36px;
  font-family: "SourceSerif";
  font-weight: 800;
  z-index: 1;
}

h4 {
  font-size: 24px;
  font-family: "SourceSerif";
}

.fun {
  font-size: 18px;
  font-family: "Shnobel";
  font-style: normal;
  font-weight: normal;
  text-align: right;
  z-index: 1;
  position: relative;
}

header {
  top: 8px;
  height: 8vh;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff;
  margin: auto;
  border-radius: 64px;
  z-index: 2;
}
@media screen and (min-width: 320px) and (orientation: portrait) {
  header {
    width: 100%;
    margin-top: 24px;
    padding: 0 1rem;
  }
}
header .logo {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}
header .logo svg {
  width: 72px;
  height: 72px;
}
@media screen and (min-width: 320px) and (orientation: portrait) {
  header .logo svg {
    width: 64px;
    height: 64px;
  }
}
header .hi-there {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .hi-there h1 {
  font-family: "SourceSerif";
  font-size: 24px;
  font-weight: 600;
}
header .hi-there h5 {
  font-family: "Inter var";
  font-size: 12px;
}
header a.blog {
  font-size: 40px;
  font-family: "SourceSerif";
  text-decoration: none;
  color: #333;
  font-weight: 800;
  text-transform: uppercase;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 200px;
}
@media screen and (min-width: 320px) and (orientation: portrait) {
  header a.blog {
    display: none;
  }
}
header nav {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  z-index: 5;
}
@media screen and (min-width: 320px) and (orientation: portrait) {
  header nav {
    display: none;
  }
}
header nav ul.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
}
header nav ul.nav-links a {
  text-decoration: none;
  font-family: "SourceSerif";
  font-weight: 600;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 88px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.who {
  display: -ms-grid;
  display: grid;
  margin-top: 120px;
  -ms-grid-columns: 15% 1fr 48px 1fr 15%;
  grid-template-columns: 15% 1fr 48px 1fr 15%;
  -ms-grid-rows: 16px auto 96px 1fr 16px;
  grid-template-rows: 16px auto 96px 1fr 16px;
}

.who > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.who > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.who > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.who > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.who > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.who > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.who > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.who > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.who > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.who > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.who > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.who > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.who > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.who > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.who > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.who > *:nth-child(16) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.who > *:nth-child(17) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.who > *:nth-child(18) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.who > *:nth-child(19) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

.who > *:nth-child(20) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

.who > *:nth-child(21) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.who > *:nth-child(22) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.who > *:nth-child(23) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.who > *:nth-child(24) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}

.who > *:nth-child(25) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
@media screen and (min-width: 320px) and (orientation: portrait) {
  .who {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 8px 1fr 8px;
    grid-template-columns: 8px 1fr 8px;
  }
}
.who .subtitle {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}
.who .subtitle h2 {
  width: 100%;
}
.who .subtitle h5 {
  width: 100%;
}
.who .who-is {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}
.who .who-is .desc {
  font-family: "Inter var";
  color: #333;
  margin-top: 24px;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 200;
}
.who .who-is .desc strong {
  font-weight: bold;
}
.who .who-is .desc a {
  margin: 2px;
  padding: 2px 8px;
  background: rgba(255, 174, 1, 0.8);
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  border-radius: 6px;
}
.who .who-is .desc a:hover {
  color: #000;
}
.who .profile {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.who .profile > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.who .profile > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.who .profile > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.who .profile img.avatar {
  width: 400px;
  height: auto;
  opacity: 1;
  position: relative;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  margin-left: 16px;
}
.who .profile span {
  background: #FFAE01;
  height: 200px;
  width: 32px;
  border-radius: 2px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.how {
  display: -ms-grid;
  display: grid;
  margin-top: 60px;
  -ms-grid-columns: 15% 1fr 8px 1fr 8px 1fr 15%;
  grid-template-columns: 15% 1fr 8px 1fr 8px 1fr 15%;
  -ms-grid-rows: 16px auto 48px 520px 16px;
  grid-template-rows: 16px auto 48px 520px 16px;
}

.how > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.how > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.how > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.how > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.how > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.how > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.how > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.how > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.how > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.how > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.how > *:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.how > *:nth-child(12) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.how > *:nth-child(13) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}

.how > *:nth-child(14) {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
}

.how > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.how > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.how > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.how > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.how > *:nth-child(19) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.how > *:nth-child(20) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.how > *:nth-child(21) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.how > *:nth-child(22) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.how > *:nth-child(23) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.how > *:nth-child(24) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.how > *:nth-child(25) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

.how > *:nth-child(26) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

.how > *:nth-child(27) {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
}

.how > *:nth-child(28) {
  -ms-grid-row: 4;
  -ms-grid-column: 7;
}

.how > *:nth-child(29) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.how > *:nth-child(30) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.how > *:nth-child(31) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.how > *:nth-child(32) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}

.how > *:nth-child(33) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.how > *:nth-child(34) {
  -ms-grid-row: 5;
  -ms-grid-column: 6;
}

.how > *:nth-child(35) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}
.how h2 {
  width: 120px;
}
.how h2:before {
  left: 16px;
}
.how h5 {
  margin-top: 16px;
}
.how .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/7;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}
.how .skills ul.skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
  width: 100%;
  color: #333;
}
.how .skills ul.skill-list li {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
  font-family: "Inter var";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.how .skills ul.skill-list li h3.list {
  font-weight: bold;
  font-size: 24px;
  margin-top: 16px;
  margin-left: 24px;
}
.how .skills ul.skill-list li h3.list:before {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  background: url(../img/cross.svg);
  top: 18px;
  position: relative;
  left: -24px;
}
.how .skills ul.skill-list li .img {
  width: 320px;
  height: 250px;
  background: white;
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 8px 0;
  border: 6px #ffffff solid;
  border-radius: 24px;
}
.how .skills ul.skill-list li svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.how .skills ul.skill-list li p.desc {
  font-size: 16px;
  font-weight: 200;
  margin: 16px 0;
  line-height: 18px;
}
.how .skills ul.skill-list li strong {
  font-weight: bold;
}
.how .skills ul.skill-list li ul.skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
}
.how .skills ul.skill-list li ul.skills-list li {
  padding: 0;
}
.how .skills ul.skill-list li ul.skills-list li a {
  margin: 2px;
  padding: 4px 8px;
  background: rgba(255, 174, 1, 0.8);
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  border-radius: 6px;
  width: auto;
  display: block;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.how .skills ul.skill-list li ul.skills-list li a:hover {
  color: #000;
}

.what {
  display: -ms-grid;
  display: grid;
  margin-top: 60px;
  -ms-grid-columns: 8px 1fr 8px 1fr 8px 1fr 8px;
  grid-template-columns: 8px 1fr 8px 1fr 8px 1fr 8px;
  -ms-grid-rows: 16px auto 8px 470px 16px;
  grid-template-rows: 16px auto 8px 470px 16px;
}

.what > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.what > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.what > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.what > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.what > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.what > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.what > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.what > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.what > *:nth-child(9) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.what > *:nth-child(10) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.what > *:nth-child(11) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.what > *:nth-child(12) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}

.what > *:nth-child(13) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}

.what > *:nth-child(14) {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
}

.what > *:nth-child(15) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.what > *:nth-child(16) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.what > *:nth-child(17) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.what > *:nth-child(18) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.what > *:nth-child(19) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.what > *:nth-child(20) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.what > *:nth-child(21) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.what > *:nth-child(22) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.what > *:nth-child(23) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.what > *:nth-child(24) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.what > *:nth-child(25) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

.what > *:nth-child(26) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}

.what > *:nth-child(27) {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
}

.what > *:nth-child(28) {
  -ms-grid-row: 4;
  -ms-grid-column: 7;
}

.what > *:nth-child(29) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.what > *:nth-child(30) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}

.what > *:nth-child(31) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.what > *:nth-child(32) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}

.what > *:nth-child(33) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.what > *:nth-child(34) {
  -ms-grid-row: 5;
  -ms-grid-column: 6;
}

.what > *:nth-child(35) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}
.what h2:before {
  width: 98px;
  -ms-grid-column-align: center;
      justify-self: center;
}
.what ul.projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-column: 2/7;
  -ms-grid-row: 4;
      grid-row-start: 4;
  color: #ffffff;
  margin-top: 32px;
}
.what ul.projects .briefcase {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 32px 0.5fr 1fr 1fr 1fr 32px;
  grid-template-rows: 32px 0.5fr 1fr 1fr 1fr 32px;
  -ms-grid-columns: (1fr)[16];
  grid-template-columns: repeat(16, 1fr);
  background: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#252525));
  background: -o-linear-gradient(bottom, #000000 0%, #252525 100%);
  background: linear-gradient(0deg, #000000 0%, #252525 100%);
  border-radius: 40px;
  border: 6px solid #F6F3E7;
  height: 95vh;
  margin: 32px 0px;
  -webkit-box-shadow: rgba(144, 115, 150, 0.3) 0px 0px 10px;
          box-shadow: rgba(144, 115, 150, 0.3) 0px 0px 10px;
}
.what ul.projects .briefcase > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.what ul.projects .briefcase > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.what ul.projects .briefcase > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.what ul.projects .briefcase > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.what ul.projects .briefcase > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.what ul.projects .briefcase > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}
.what ul.projects .briefcase > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.what ul.projects .briefcase > *:nth-child(8) {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
}
.what ul.projects .briefcase > *:nth-child(9) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}
.what ul.projects .briefcase > *:nth-child(10) {
  -ms-grid-row: 1;
  -ms-grid-column: 10;
}
.what ul.projects .briefcase > *:nth-child(11) {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
}
.what ul.projects .briefcase > *:nth-child(12) {
  -ms-grid-row: 1;
  -ms-grid-column: 12;
}
.what ul.projects .briefcase > *:nth-child(13) {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
}
.what ul.projects .briefcase > *:nth-child(14) {
  -ms-grid-row: 1;
  -ms-grid-column: 14;
}
.what ul.projects .briefcase > *:nth-child(15) {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
}
.what ul.projects .briefcase > *:nth-child(16) {
  -ms-grid-row: 1;
  -ms-grid-column: 16;
}
.what ul.projects .briefcase > *:nth-child(17) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.what ul.projects .briefcase > *:nth-child(18) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.what ul.projects .briefcase > *:nth-child(19) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.what ul.projects .briefcase > *:nth-child(20) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
.what ul.projects .briefcase > *:nth-child(21) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
}
.what ul.projects .briefcase > *:nth-child(22) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
}
.what ul.projects .briefcase > *:nth-child(23) {
  -ms-grid-row: 2;
  -ms-grid-column: 7;
}
.what ul.projects .briefcase > *:nth-child(24) {
  -ms-grid-row: 2;
  -ms-grid-column: 8;
}
.what ul.projects .briefcase > *:nth-child(25) {
  -ms-grid-row: 2;
  -ms-grid-column: 9;
}
.what ul.projects .briefcase > *:nth-child(26) {
  -ms-grid-row: 2;
  -ms-grid-column: 10;
}
.what ul.projects .briefcase > *:nth-child(27) {
  -ms-grid-row: 2;
  -ms-grid-column: 11;
}
.what ul.projects .briefcase > *:nth-child(28) {
  -ms-grid-row: 2;
  -ms-grid-column: 12;
}
.what ul.projects .briefcase > *:nth-child(29) {
  -ms-grid-row: 2;
  -ms-grid-column: 13;
}
.what ul.projects .briefcase > *:nth-child(30) {
  -ms-grid-row: 2;
  -ms-grid-column: 14;
}
.what ul.projects .briefcase > *:nth-child(31) {
  -ms-grid-row: 2;
  -ms-grid-column: 15;
}
.what ul.projects .briefcase > *:nth-child(32) {
  -ms-grid-row: 2;
  -ms-grid-column: 16;
}
.what ul.projects .briefcase > *:nth-child(33) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.what ul.projects .briefcase > *:nth-child(34) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.what ul.projects .briefcase > *:nth-child(35) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.what ul.projects .briefcase > *:nth-child(36) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}
.what ul.projects .briefcase > *:nth-child(37) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.what ul.projects .briefcase > *:nth-child(38) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}
.what ul.projects .briefcase > *:nth-child(39) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.what ul.projects .briefcase > *:nth-child(40) {
  -ms-grid-row: 3;
  -ms-grid-column: 8;
}
.what ul.projects .briefcase > *:nth-child(41) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}
.what ul.projects .briefcase > *:nth-child(42) {
  -ms-grid-row: 3;
  -ms-grid-column: 10;
}
.what ul.projects .briefcase > *:nth-child(43) {
  -ms-grid-row: 3;
  -ms-grid-column: 11;
}
.what ul.projects .briefcase > *:nth-child(44) {
  -ms-grid-row: 3;
  -ms-grid-column: 12;
}
.what ul.projects .briefcase > *:nth-child(45) {
  -ms-grid-row: 3;
  -ms-grid-column: 13;
}
.what ul.projects .briefcase > *:nth-child(46) {
  -ms-grid-row: 3;
  -ms-grid-column: 14;
}
.what ul.projects .briefcase > *:nth-child(47) {
  -ms-grid-row: 3;
  -ms-grid-column: 15;
}
.what ul.projects .briefcase > *:nth-child(48) {
  -ms-grid-row: 3;
  -ms-grid-column: 16;
}
.what ul.projects .briefcase > *:nth-child(49) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
.what ul.projects .briefcase > *:nth-child(50) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
.what ul.projects .briefcase > *:nth-child(51) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}
.what ul.projects .briefcase > *:nth-child(52) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}
.what ul.projects .briefcase > *:nth-child(53) {
  -ms-grid-row: 4;
  -ms-grid-column: 5;
}
.what ul.projects .briefcase > *:nth-child(54) {
  -ms-grid-row: 4;
  -ms-grid-column: 6;
}
.what ul.projects .briefcase > *:nth-child(55) {
  -ms-grid-row: 4;
  -ms-grid-column: 7;
}
.what ul.projects .briefcase > *:nth-child(56) {
  -ms-grid-row: 4;
  -ms-grid-column: 8;
}
.what ul.projects .briefcase > *:nth-child(57) {
  -ms-grid-row: 4;
  -ms-grid-column: 9;
}
.what ul.projects .briefcase > *:nth-child(58) {
  -ms-grid-row: 4;
  -ms-grid-column: 10;
}
.what ul.projects .briefcase > *:nth-child(59) {
  -ms-grid-row: 4;
  -ms-grid-column: 11;
}
.what ul.projects .briefcase > *:nth-child(60) {
  -ms-grid-row: 4;
  -ms-grid-column: 12;
}
.what ul.projects .briefcase > *:nth-child(61) {
  -ms-grid-row: 4;
  -ms-grid-column: 13;
}
.what ul.projects .briefcase > *:nth-child(62) {
  -ms-grid-row: 4;
  -ms-grid-column: 14;
}
.what ul.projects .briefcase > *:nth-child(63) {
  -ms-grid-row: 4;
  -ms-grid-column: 15;
}
.what ul.projects .briefcase > *:nth-child(64) {
  -ms-grid-row: 4;
  -ms-grid-column: 16;
}
.what ul.projects .briefcase > *:nth-child(65) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.what ul.projects .briefcase > *:nth-child(66) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}
.what ul.projects .briefcase > *:nth-child(67) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.what ul.projects .briefcase > *:nth-child(68) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}
.what ul.projects .briefcase > *:nth-child(69) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
.what ul.projects .briefcase > *:nth-child(70) {
  -ms-grid-row: 5;
  -ms-grid-column: 6;
}
.what ul.projects .briefcase > *:nth-child(71) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}
.what ul.projects .briefcase > *:nth-child(72) {
  -ms-grid-row: 5;
  -ms-grid-column: 8;
}
.what ul.projects .briefcase > *:nth-child(73) {
  -ms-grid-row: 5;
  -ms-grid-column: 9;
}
.what ul.projects .briefcase > *:nth-child(74) {
  -ms-grid-row: 5;
  -ms-grid-column: 10;
}
.what ul.projects .briefcase > *:nth-child(75) {
  -ms-grid-row: 5;
  -ms-grid-column: 11;
}
.what ul.projects .briefcase > *:nth-child(76) {
  -ms-grid-row: 5;
  -ms-grid-column: 12;
}
.what ul.projects .briefcase > *:nth-child(77) {
  -ms-grid-row: 5;
  -ms-grid-column: 13;
}
.what ul.projects .briefcase > *:nth-child(78) {
  -ms-grid-row: 5;
  -ms-grid-column: 14;
}
.what ul.projects .briefcase > *:nth-child(79) {
  -ms-grid-row: 5;
  -ms-grid-column: 15;
}
.what ul.projects .briefcase > *:nth-child(80) {
  -ms-grid-row: 5;
  -ms-grid-column: 16;
}
.what ul.projects .briefcase > *:nth-child(81) {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}
.what ul.projects .briefcase > *:nth-child(82) {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
}
.what ul.projects .briefcase > *:nth-child(83) {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
}
.what ul.projects .briefcase > *:nth-child(84) {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
}
.what ul.projects .briefcase > *:nth-child(85) {
  -ms-grid-row: 6;
  -ms-grid-column: 5;
}
.what ul.projects .briefcase > *:nth-child(86) {
  -ms-grid-row: 6;
  -ms-grid-column: 6;
}
.what ul.projects .briefcase > *:nth-child(87) {
  -ms-grid-row: 6;
  -ms-grid-column: 7;
}
.what ul.projects .briefcase > *:nth-child(88) {
  -ms-grid-row: 6;
  -ms-grid-column: 8;
}
.what ul.projects .briefcase > *:nth-child(89) {
  -ms-grid-row: 6;
  -ms-grid-column: 9;
}
.what ul.projects .briefcase > *:nth-child(90) {
  -ms-grid-row: 6;
  -ms-grid-column: 10;
}
.what ul.projects .briefcase > *:nth-child(91) {
  -ms-grid-row: 6;
  -ms-grid-column: 11;
}
.what ul.projects .briefcase > *:nth-child(92) {
  -ms-grid-row: 6;
  -ms-grid-column: 12;
}
.what ul.projects .briefcase > *:nth-child(93) {
  -ms-grid-row: 6;
  -ms-grid-column: 13;
}
.what ul.projects .briefcase > *:nth-child(94) {
  -ms-grid-row: 6;
  -ms-grid-column: 14;
}
.what ul.projects .briefcase > *:nth-child(95) {
  -ms-grid-row: 6;
  -ms-grid-column: 15;
}
.what ul.projects .briefcase > *:nth-child(96) {
  -ms-grid-row: 6;
  -ms-grid-column: 16;
}
.what ul.projects .briefcase .header {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 13;
  grid-column: 2/15;
}
.what ul.projects .briefcase .header .p-name {
  font-size: 48px;
  text-transform: uppercase;
}
.what ul.projects .briefcase .header .p-name:after {
  content: "";
  width: 32px;
  height: 32px;
  display: block;
  background: url(../img/cross-white.svg);
  top: -40px;
  position: relative;
  left: -48px;
}
.what ul.projects .briefcase .header .company {
  font-weight: 800;
  margin-top: 16px;
}
.what ul.projects .briefcase .header .year {
  font-family: "SourceSerif";
  font-size: 16px;
  font-weight: 800;
  margin-top: 8px;
}
.what ul.projects .briefcase .content {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3/6;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  margin-top: 64px;
}
.what ul.projects .briefcase .content .p-desc {
  font-family: "Inter var";
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
.what ul.projects .briefcase .content .roles {
  margin-top: 48px;
  font-family: "SourceSerif";
  font-size: 24px;
  font-weight: 600;
}
.what ul.projects .briefcase .content .roles .single {
  margin-top: 32px;
  font-family: "Inter var";
}
.what ul.projects .briefcase .content .roles .single .title {
  font-weight: 600;
  font-size: 18px;
}
.what ul.projects .briefcase .content .roles .single .desc {
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
  margin-top: 8px;
}

.glitch {
  display: block;
  -webkit-animation-name: glitch-anim-text;
          animation-name: glitch-anim-text;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  --gap-horizontal: 12px;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes glitch-anim-text {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
            clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  2% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
            clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  4% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
            clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
            clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  6% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
            clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  7% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
            clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  8% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
            clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  9% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
            clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  9.9% {
    -webkit-transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
            transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
  }
  10%, 100% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
            transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}

@keyframes glitch-anim-text {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
            clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
  }
  2% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
            clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  }
  4% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
            clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
            clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  }
  6% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
            clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  7% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
            clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  8% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
            clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  9% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
            clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  }
  9.9% {
    -webkit-transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
            transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
  }
  10%, 100% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
            transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
.cursor {
  width: 1.5rem;
  height: 1.5rem;
  border: 3px solid #000000;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  background: rgba(0, 10, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 3;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  -webkit-transition-property: background, border, -webkit-transform;
  transition-property: background, border, -webkit-transform;
  -o-transition-property: background, transform, border;
  transition-property: background, transform, border;
  transition-property: background, transform, border, -webkit-transform;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 320px) and (orientation: portrait) {
  .cursor {
    display: none;
  }
}

.eye {
  background: #333;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 1rem;
  -webkit-animation: move-eye infinite 1s ease;
          animation: move-eye infinite 1s ease;
  opacity: 0;
}
.eye .glare {
  background: #ffffff;
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 0.5rem;
}

.link-mouse {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  background: #FFAE01;
  border: none;
  opacity: 0.05;
  border-radius: 0px;
}

.hover-link {
  color: #ffffff;
  background: #FFAE01;
  border-radius: 8px;
  width: 100px;
  height: 32px;
}

.cursor-eye {
  background: #ffffff;
  -webkit-transform: scale(2);
      -ms-transform: scale(2);
          transform: scale(2);
  border: 3px solid #333;
}

.showEye {
  opacity: 1;
}

@-webkit-keyframes move-eye {
  0% {
    -webkit-transform: translate(4px);
            transform: translate(4px);
  }
  50% {
    -webkit-transform: translate(-4px);
            transform: translate(-4px);
  }
  100% {
    -webkit-transform: translate(4px);
            transform: translate(4px);
  }
}

@keyframes move-eye {
  0% {
    -webkit-transform: translate(4px);
            transform: translate(4px);
  }
  50% {
    -webkit-transform: translate(-4px);
            transform: translate(-4px);
  }
  100% {
    -webkit-transform: translate(4px);
            transform: translate(4px);
  }
}