jhf-text {
    display:block;
    background-color:olive;
}
jhf-para {
    display:block;
}
jhf-verse {
    display:block;
    color:red;
}
jhf-line {
    display:block;
}
jhf-author:before {
    content: "By "
}
jhf-line:after {
    content:attr(n);
    text-align:right
}