jhf-text {
    display:block;
    background-color:olive;
    margin:1em;
}
jhf-division {
    display:block;
}

jhf-para {
    display:block;
}
jhf-verse {
    display:block;
    margin:1em;
}
jhf-line {
    display:block;
}
jhf-author {
    display:block;
}
jhf-author:before {
    content: "By ";
}
jhf-line:after {
    content:attr(n);
    text-align:justify;
}
jhf-division > jhf-h {
    font-size:180%;
}

jhf-division > jhf-division > jhf-h {
    font-size:150%;
}

jhf-seg[ana="chickens"] {
    color:blue;
    font-size:120%;
}

jhf-seg[ana="eggs"] {
    color:orange;
    font-size:120%;
}
jhf-seg[ana="music"] {
    color:purple;
    font-size:120%;
}
jhf-seg[ana="exchange"] {
    color:yellow;
    font-size:120%;
}
jhf-reg:before {
    content:"<"    
}
jhf-reg:after {
    content:">"    
}
jhf-orig {
    text-decoration:line-through;
}