/*-----------------------------------------------------------------------------------*/
/*	ABOUT PAGE
/*-----------------------------------------------------------------------------------*/

img.me {
	margin: 40px auto 0 auto;
	max-width: 250px !important;
	-webkit-border-radius: 250px;
	-moz-border-radius: 250px;
	-ms-border-radius: 250px;
	-o-border-radius: 250px;
	border-radius: 250px;
}

/*-----------------------------------------------------------------------------------*/
/*	END ABOUT PAGE
/*-----------------------------------------------------------------------------------*/