/*-----------------------------------------------------------------------------------*/
/*	ABOUT PAGE
/*-----------------------------------------------------------------------------------*/

.about-main {

	.content {

		h3 {
			margin-bottom: 30px;
		}

		ul {
			li {
				margin-left: 0;
			}
		}

		// S
		@include breakpoint($breakpoint-s) {
			@include layout($xs-s-layout);
			@include container(full);
		};

		// L
		@include breakpoint($breakpoint-l) {
			@include layout($l-layout);
			@include span(8);

			padding-left: 0;
			padding-right: 40px;
		};
	}

	aside {

		// S
		@include breakpoint($breakpoint-s) {
			@include layout($xs-s-layout);
			@include container(full);
		};

		// L
		@include breakpoint($breakpoint-l) {
			@include layout($l-layout);
			@include span(4 at 9);

			padding-right: 0;
		};
	}

	img.me {
		max-width: 300px !important;
		@include border-radius(300px);

			// S
		@include breakpoint($breakpoint-s) {
			margin: 20px auto 0 auto;
		};

		// L
		@include breakpoint($breakpoint-l) {
			margin: 20px auto 0 auto;
		};
	}

	.about-back-home {
		// S
		@include breakpoint($breakpoint-s) {
			display: none;
		};

		// L
		@include breakpoint($breakpoint-l) {
			display: inline-block;
		};
	}
}



/*-----------------------------------------------------------------------------------*/
/*	END ABOUT PAGE
/*-----------------------------------------------------------------------------------*/