/*------------------------------------*\
    ABOUT PAGE
\*------------------------------------*/

.about-main {

	.content {

		h3 {
			margin-bottom: 30px;
		}

		ul {
			li {
				margin-left: 0;
			}
		}

		// S
		@include breakpoint($breakpoint-s) {
			@include layout($s-layout);
			@include container(full);
		};

		// M
	    @include breakpoint($breakpoint-m) {
	        @include layout($m-layout);
	    };

		// L
		@include breakpoint($breakpoint-l) {
			@include layout($l-layout);
			@include span(8);

			padding-left: 0;
			padding-right: 40px;
		};
	}

	aside {

		// S
		@include breakpoint($breakpoint-s) {
			@include layout($s-layout);
			@include container(full);
		};

		// L
		@include breakpoint($breakpoint-l) {
			@include layout($l-layout);
			@include span(4 at 9);

			padding-right: 0;
		};
	}
}