/*-----------------------------------------------------------------------------------*/
/*	ARTICLE
/*-----------------------------------------------------------------------------------*/

article {
  border-bottom: 1px solid $gray-lighter;
  margin-bottom: 40px;
  padding-bottom: 20px;
}


/*-----------------------------------------------------------------------------------*/
/*	END ARTICLE
/*-----------------------------------------------------------------------------------*/