/*-----------------------------------------------------------------------------------*/
/*	BUTTONS
/*-----------------------------------------------------------------------------------*/

.button {
  border: 1px solid $gray-lighter;
  text-transform: uppercase;
  padding: 7px 10px;

  &:hover {
  	border: 1px solid $gray-darker;
  	background: $gray-darker;
  	color: $white;
  }
}


/*-----------------------------------------------------------------------------------*/
/*	END BUTTONS
/*-----------------------------------------------------------------------------------*/