/*-----------------------------------------------------------------------------------*/
/*	ELEARNING
/*-----------------------------------------------------------------------------------*/

.elearning {

	h3 {
		font-weight: 500;
	}

  h4 {
  	font-weight: 500;
  	margin-top: 20px;
  }

  ul {
		padding-left: 20px;

		li {
			list-style-type: disc;
		}
	}
}


/*-----------------------------------------------------------------------------------*/
/*	END ELEARNING
/*-----------------------------------------------------------------------------------*/