/*-----------------------------------------------------------------------------------*/
/*	ELEARNING
/*-----------------------------------------------------------------------------------*/

.elearning {

  h4 {
  	font-weight: 500;
  	margin-top: 20px;
  }

  ul {
		padding-left: 20px;

		li {
			list-style-type: disc;
		}
	}

	img {
		margin: 20px 0;
	}
}


/*-----------------------------------------------------------------------------------*/
/*	END ELEARNING
/*-----------------------------------------------------------------------------------*/