//
// FLAG MESSAGE
// --------------------------------------------------

.flag-message {
	margin-top: 20px;
	background: $color-primary;
	color: $white;
	padding: 10px 10px 5px 10px;
	text-align: center;

	a:hover {
		color: $white;
	}
}

//
// END FLAG MESSAGE
// --------------------------------------------------