/*-----------------------------------------------------------------------------------*/
/*	IMPRESSUM
/*-----------------------------------------------------------------------------------*/

article.impressum {
	ul {
    list-style: none !important;
    padding:0;
    margin:0;

    li {
	    padding-left: 1em;
	    text-indent: -.7em;

	    &:before {
		    content: "• ";
		    color: $brand-primary; /* or whatever color you prefer */
			}
		}
	}
}

/*-----------------------------------------------------------------------------------*/
/*	END IMPRESSUM
/*-----------------------------------------------------------------------------------*/