// Share Posts Box
// -------------------------
.mod-share-post {

    // S
    @include breakpoint($breakpoint-s) {
        @include layout($s-layout);
        margin-top: 20px;
        background: $color-primary;
        color: $white;
        padding: 10px 10px 5px 10px;
        text-align: center;

        a:hover {
            color: $white;
        }
    }

    // M
    @include breakpoint($breakpoint-m) {
        @include layout($m-layout);
    };

    // L
    @include breakpoint($breakpoint-l) {
        @include layout($l-layout);
    };
}