/*------------------------------------*\
    MODULE POST
    Archive Page
\*------------------------------------*/

.mod-post--archive {

    // S
    @media (min-width: 569px) {
        // @include layout($s-layout);
        background-color: $white;

        &:hover {
            background-color: $gray-lighter;
            @include transition(150ms);
        }

        padding: 1em;
        border: 1px solid $gray-lighter;
        min-height: 550px;
        position: relative;

        hgroup {
            min-height: 100px;
        }

        margin-bottom: 40px;
        padding-bottom: 40px;

        h4, h4 a {
            color: $color-primary;
            font-weight: 500;
        }

        h4, h5 {
            font-weight: 500;
        }
        h4 {
            margin: 5px 0;
        }

        table {
            margin: 15px 0;
        }

        .date {
            color: $gray-light;
            font-weight: 400;
            margin: 0;
            padding: 0;
            margin-bottom: em(12px);
            margin-top: em(5px);
        }

        .tagline {
            margin-top: em(9px);
            font-weight: 500;
        }

        ul {
        list-style: none !important;
        padding:0;
        margin: 0 0 15px 0;

        li {
            padding-left: 1em;
            text-indent: -.7em;

            &:before {
                content: "• ";
                color: $color-primary;
                }
            }
        }

        p a {
            color: $color-primary;

            &:hover {
                color: $gray-darker;
            }
        }

        img {
            margin-bottom: em(30px);
        }

        a.btn--color-brackground--default {
            position: absolute;
            bottom: 2em;
        }
    }

    // M
    @media (min-width: 769px) {
        // @include layout($m-layout);
    };

    // L
    @media (min-width: 1025px) {
        // @include layout($l-layout);
    };
}
