/*------------------------------------*\
    MODULE TEXT
    It also main contain images,
    but content is most important.
\*------------------------------------*/

.mod-text {

    // S
    @include breakpoint($breakpoint-s) {
        @include layout($s-layout);
        @include container(full);

        h3, h3 a {
            color: $color-primary;
            font-weight: 500;
        }

        h3, h4 {
            font-weight: 500;
        }
        h3 {
            margin: 5px 0;
        }

        ul {
            list-style: none !important;
            padding:0;
            margin:0;

            li {
                padding-left: 1em;
                text-indent: -.7em;

                &:before {
                    content: "• ";
                    color: $color-primary;
                }
            }
        }

        img {
            margin: 20px 0;
            max-width: 700px;
        }

        img.me {
            max-width: 300px !important;
            @include border-radius(300px);
            margin: 40px auto;
        }
    };

    // M
    @include breakpoint($breakpoint-m) {
        @include layout($m-layout);
    };

    // L
    @include breakpoint($breakpoint-l) {
        @include layout($l-layout);

        img.me {
            max-width: 300px !important;
            @include border-radius(300px);
            margin: 40px 0;
        }
    };
}