/*------------------------------------*\
    MODULE SOCIAL MEDIA LIST
\*------------------------------------*/

.mod-social-media-list {
  li {
    display: inline-block;
    margin-right: 8px;

    a span svg:hover #social-media-logo {
      fill: $color-primary;
    }

    &:before {
      content: none !important;
    }
  }
}
