/*-----------------------------------------------------------------------------------*/
/*	PAGINATION
/*-----------------------------------------------------------------------------------*/

footer.pagination {



	// S
	@include breakpoint($breakpoint-s) {
		display: none;
	};

	// L
	@include breakpoint($breakpoint-l) {
		display: inline;
		margin-bottom: 40px;
		display: block;
	};
}

/*-----------------------------------------------------------------------------------*/
/*	END PAGINATION
/*-----------------------------------------------------------------------------------*/