//
// POST
// --------------------------------------------------

.post {

	table {
		margin: 15px 0;
	}

	ul {
    list-style: none !important;
    padding:0;
    margin: 0 0 15px 0;

    li {
	    padding-left: 1em;
	    text-indent: -.7em;

	    &:before {
		    content: "• ";
		    color: $color-primary; /* or whatever color you prefer */
			}
		}
	}

	// Links
	// -------------------------
	p a {
		color: $color-primary;

		&:hover {
			color: $gray-darker;
		}
	}
}

// Share Posts Box
// -------------------------
.share-post {
	margin-top: 20px;
	background: $color-primary;
	color: $white;
	padding: 10px 10px 5px 10px;
	text-align: center;

	a:hover {
		color: $white;
	}
}

//
// END POST
// --------------------------------------------------