//
// POST
// --------------------------------------------------

.post {

	// Lists
	// -------------------------
	ul {
		li {
			list-style: disc;
			margin-left: 20px;
		}
	}

	ol {
		list-style-type: decimal;

		li {
			margin-top: 10px;
		}
	}

	// Headings
	// -------------------------
	h3 {
		margin: 5px 0;
	}

	.date {
		color: $gray-light;
		font-weight: 400;
		margin: 0;
		padding: 0;
	}

	.tagline {
		color: $brand-primary;
		margin-top: 7px !important;
		font-weight: 700;
		text-transform: uppercase;
		margin-top: 5px;
	}

	// Links
	// -------------------------
	p a {
		text-decoration: underline;

		&:hover {
			text-decoration: underline;
		}
	}

}

//
// END POST
// --------------------------------------------------