/*-----------------------------------------------------------------------------------*/
/*	SOCIAL MEDIA LIST
/*-----------------------------------------------------------------------------------*/

ul.social-media-list {

@include transition(150ms);
	li {
		display: inline;
		margin-right: 8px;

		svg {

		}

		a span svg:hover #social-media-logo {
			fill: $brand-primary;
		}
	}
}

/*-----------------------------------------------------------------------------------*/
/*	END SOCIAL MEDIA LIST
/*-----------------------------------------------------------------------------------*/