// Author       : Mehran Arjmand
// Description  : can use page direction in float properties

float()
  if arguments == ltr
    float: left
  else if arguments == rtl
    float: right
  else
    float: arguments