@import 'kouto-swiss'

redQuad = quad( red )
greenQuad = quad( green )
blueQuad = tetrad( blue )
blackQuad = tetrad( black )

body
    background: redQuad[0]
    background: redQuad[1]
    background: redQuad[2]
    background: greenQuad[0]
    background: greenQuad[1]
    background: greenQuad[2]
    background: blueQuad[0]
    background: blueQuad[1]
    background: blueQuad[2]
    background: blackQuad[0]
    background: blackQuad[1]
    background: blackQuad[2]
