@import 'kouto-swiss'

body
    // --- hex
    lum: luminosity( #ace500 )
    lum: luminosity( #0055cc )
    lum: luminosity( #d9007e )
    lum: luminosity( #bb33ff )
    // --- rgb
    lum: luminosity( rgb( 255, 255, 0 ) )
    lum: luminosity( rgb( 51, 255, 51 ) )
    lum: luminosity( rgb( 51, 204, 255 ) )
    lum: luminosity( rgb( 136, 0, 204 ) )
    // --- hsl
    lum: luminosity( hsl( 48, 100%, 50% ) )
    lum: luminosity( hsl( 0, 100%, 50% ) )
    lum: luminosity( hsl( 250, 100%, 40% ) )
    lum: luminosity( hsl( 36, 100%, 70% ) )
