@import 'kouto-swiss'

redSplit = split-complements( red )
greenSplit = split-complements( green )
blueSplit = split-complements( blue )
blackSplit = split-complements( black )

body
    background: redSplit[0]
    background: redSplit[1]
    background: greenSplit[0]
    background: greenSplit[1]
    background: blueSplit[0]
    background: blueSplit[1]
    background: blackSplit[0]
    background: blackSplit[1]
