@import 'kouto-swiss'

redMonochromes = monochrome( red )
greenMonochromes = monochrome( green )
blueMonochromes = monochrome( blue )
blackMonochromes = monochrome( black )

body
    background: redMonochromes[0]
    background: redMonochromes[1]
    background: greenMonochromes[0]
    background: greenMonochromes[1]
    background: blueMonochromes[0]
    background: blueMonochromes[1]
    background: blackMonochromes[0]
    background: blackMonochromes[1]
