@import 'kouto-swiss'

redExtendedAnalogous = extended-analogous( red )
greenExtendedAnalogous = extended-analogous( green )
blueExtendedAnalogous = extended-analogous( blue )
blackExtendedAnalogous = extended-analogous( black )

body
    background: redExtendedAnalogous[0]
    background: redExtendedAnalogous[1]
    background: redExtendedAnalogous[2]
    background: redExtendedAnalogous[3]
    background: greenExtendedAnalogous[0]
    background: greenExtendedAnalogous[1]
    background: greenExtendedAnalogous[2]
    background: greenExtendedAnalogous[3]
    background: blueExtendedAnalogous[0]
    background: blueExtendedAnalogous[1]
    background: blueExtendedAnalogous[2]
    background: blueExtendedAnalogous[3]
    background: blackExtendedAnalogous[0]
    background: blackExtendedAnalogous[1]
    background: blackExtendedAnalogous[2]
    background: blackExtendedAnalogous[3]
