@import 'kouto-swiss'

div
    background-image: linear-gradient( black, white )

div
    background-image: linear-gradient( -45deg, yellow, green )

div
    background-image: linear-gradient( to top right, red, white 30%, blue )

div
    background-image: linear-gradient( black 15%, white 75% )

div
    background-image: linear-gradient( to left, black 15%, white 75% )
