@import 'kouto-swiss'

div
    display: none
    display: inline
    display: block
    display: list-item
    display: inline-block
    display: inline-table
    display: table
    display: table-cell
    display: table-column
    display: table-column-group
    display: table-footer-group
    display: table-header-group
    display: table-row
    display: table-row-group
    display: grid
    display: inline-grid
    display: ruby
    display: ruby-base
    display: ruby-text
    display: ruby-base-container
    display: ruby-text-container
    display: run-in

div
    display: flex

ks-support-firefox = 20

div
    display: flex

ks-support-firefox = ks-support-firefox-default

div
    display: inline-flex

div
    flex-grow: 0

div
    flex-basis: main-size

div
    flex-direction: row

div
    flex-direction: row-reverse

div
    flex-direction: column

div
    flex-direction: column-reverse

ks-support-firefox = 20

div
    flex-direction: row

div
    flex-direction: column

ks-support-firefox = ks-support-firefox-default

div
    flex-flow: column nowrap

div
    flex-flow: row nowrap

div
    align-content: stretch

div
    align-items: stretch

div
    align-items: flex-start

div
    align-items: flex-end

div
    align-items: center

ks-support-firefox = 20

div
    align-items: flex-end

ks-support-firefox = ks-support-firefox-default

div
    align-self: auto

row = 4

column = "yeah!"

div
    flex-direction: row

div
    flex-direction: column

div
    display: none !important

div
    display: block foo bar

div
    display: flex !important

div
    display: inline-flex !important

div
    flex-grow: 0 !important

div
    flex-basis: main-size !important

div
    flex-direction: row !important

div
    flex-flow: column nowrap !important

div
    flex-flow: column wrap

div
    flex-flow: row wrap

div
    align-content: stretch !important

div
    align-items: stretch !important

div
    align-items: flex-start !important

ks-vendors-prefixes = false

div
    display: flex

div
    flex-grow: 0

div
    flex-basis: main-size

div
    flex-direction: row

div
    flex-flow: column nowrap

div
    flex-flow: row wrap

div
    align-content: stretch

div
    align-items: stretch
