@import 'kouto-swiss'

font-face( "Roboto", "./fonts/Roboto-Regular-webfont", normal )
font-face( "Roboto", "./fonts/Roboto-Italic-webfont", normal, italic )

font-face( "Roboto", "./fonts/Roboto-Bold-webfont", bold )
font-face( "Roboto", "./fonts/Roboto-BoldItalic-webfont", bold, italic )

font-face( "EntypoIcons", "./fonts/Entypo-webfont", formats: eot opentype svg, svg-font-name: "entypo" )

font-face( "EntypoIcons", "./fonts/Entypo-webfont", formats: eot otf svg, svg-font-name: "entypo" )

font-face( "OpenSans", "./fonts/OpenSans", formats: woff2 )
font-face( "OpenSans", "./fonts/OpenSans", formats: woff )

font-face( "EntypoIcons", "./fonts/Entypo-webfont", formats: eot truetype svg, svg-font-name: "entypo" )

font-face( "EntypoIcons", "./fonts/Entypo-webfont", formats: eot ttf svg, svg-font-name: "entypo" )

font-face( "OpenSans", "./fonts/OpenSans", 700, local-font-name: "Open Sans Bold" )
font-face( "OpenSans", "./fonts/OpenSans", formats: local ttf woff2 woff, local-font-name: "Open Sans Regular" )
