@import 'kouto-swiss'

div
    position: static

div
    static: 10px

div
    static: 10px 20px

div
    static: 10px 20px 30px

div
    static: 10px 20px 30px 40px

div
    position: relative

div
    relative: 10px

div
    relative: 10px 20px

div
    relative: 10px 20px 30px

div
    relative: 10px 20px 30px 40px

div
    position: absolute

div
    absolute: 10px

div
    absolute: 10px 20px

div
    absolute: 10px 20px 30px

div
    absolute: 10px 20px 30px 40px

div
    position: fixed

div
    fixed: 10px

div
    fixed: 10px 20px

div
    fixed: 10px 20px 30px

div
    fixed: 10px 20px 30px 40px

div
    fixed: false

div
    fixed: false 20px

div
    fixed: 10px false 30px

div
    fixed: 10px 20px false 40px

div
    fixed: 0 20px

div
    fixed: 10px 0 30px

div
    fixed: 10px 20px 0 40px

div
    position: sticky

div
    sticky: false

div
    sticky: false 20px

div
    sticky: 10px false 30px

div
    sticky: 10px 20px false 40px

div
    sticky: 0 20px

div
    sticky: 10px 0 30px

div
    sticky: 10px 20px 0 40px

div
    position: relative !important

div
    position: sticky !important

div
    relative: !important

div
    relative: false !important

div
    relative: 10px !important

div
    relative: 10px 20px !important

div
    relative: 10px 20px 30px !important

div
    relative: 10px 20px 30px 40px !important

div
    absolute: top left

div 
    absolute: top 10px right 2rem

div
    absolute: top 20% left

div
    fixed: top left 30%

div 
    absolute: bottom 3.5em left
