@import "kouto-swiss"

div
    flex-axis: flex-start center

div
    flex-axis: flex-start stretch

div
    flex-axis: flex-start baseline

div
    flex-axis: flex-start flex-end

div
    flex-axis: space-between baseline

div
    flex-axis: center center

div
    flex-axis: center

div
    flex-axis: flex-end

div
    flex-axis: space-between

div
    flex-axis: space-evenly

div
    flex-axis: space-around

div
    flex-axis: baseline

div
    flex-axis: stretch

