{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<article class="article article-project" itemscope itemtype="http://schema.org/Article">

  {{ partial "header_image.html" . }}

  <div class="article-container">

    <div class="pub-title">
      <h1 itemprop="name">{{ .Title }}</h1>
      <span class="pub-authors" itemprop="author">&nbsp;</span>
      <span class="pull-right">
        {{ partial "share.html" . }}
      </span>
    </div>

    {{ with .Params.external_link }}
    <a class="btn btn-primary btn-outline" href="{{ . }}" target="_blank" rel="noopener">{{ i18n "open_project_site" }}</a>
    {{ end }}

    <div class="article-style" itemprop="articleBody">
      {{ .Content }}
    </div>

    {{ partial "tags.html" . }}

    {{ $page := . }}
    {{ $project := .File.TranslationBaseName }}
    {{ $project_path := printf "%s/%s/" .Section $project }}

    {{ if (.Site.Params.projects.list_children | default true) }}
      {{ $items := where (where .Site.RegularPages "Type" "publication") ".Params.projects" "intersect" (slice $project) }}
      {{ $items := $items | union (where (where .Site.RegularPages "Type" "publication") ".Params.url_project" $project_path) }}
      {{ $pubs_len := len $items }}
      {{ if ge $pubs_len 1 }}
        <h2>{{ (i18n "publications") }}</h2>
        {{ range $items }}
          {{ if eq $page.Site.Params.projects.publication_format 1 }}
            {{ partial "publication_li_detailed" . }}
          {{ else if eq $page.Site.Params.projects.publication_format 2 }}
            {{ partial "publication_li_apa" . }}
          {{ else if eq $page.Site.Params.projects.publication_format 3 }}
            {{ partial "publication_li_mla" . }}
          {{ else }}
            {{ partial "publication_li_simple" . }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ $items := where (where .Site.RegularPages "Type" "talk") ".Params.projects" "intersect" (slice $project) }}
      {{ $items := $items | union (where (where .Site.RegularPages "Type" "publication") ".Params.url_project" $project_path) }}
      {{ $talks_len := len $items }}
      {{ if ge $talks_len 1 }}
        <h2>{{ (i18n "talks") }}</h2>
        {{ range $items }}
          {{ partial "talk_li_simple" . }}
        {{ end }}
      {{ end }}
    {{ end }}

  </div>
</article>

{{ if .Site.Params.section_pager }}
<div class="article-container article-widget">
  {{ partial "section_pager.html" . }}
</div>
{{ end }}

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
