<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
  "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
<svg width="32" height="32">
  <circle cx="0" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="4" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="5" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="6" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="7" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="8" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="9" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="10" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="11" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="12" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="13" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="14" cy="0" r="1" fill="rgba(0,0,0,0.25098)"/>
  <circle cx="15" cy="0" r="1" fill="rgba(0,0,0,0.25098)"/>
  <circle cx="16" cy="0" r="1" fill="rgba(0,0,0,0.25098)"/>
  <circle cx="17" cy="0" r="1" fill="rgba(0,0,0,0.25098)"/>
  <circle cx="18" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="19" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="20" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="21" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="22" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="23" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="24" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="25" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="26" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="27" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="28" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="29" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="0" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="1" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="1" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="1" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="1" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="4" cy="1" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="5" cy="1" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="6" cy="1" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="7" cy="1" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="8" cy="1" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="9" cy="1" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="10" cy="1" r="1" fill="rgba(0,0,0,0.12549)"/>
  <circle cx="11" cy="1" r="1" fill="rgba(0,0,0,0.439216)"/>
  <circle cx="12" cy="1" r="1" fill="rgba(0,0,0,0.815686)"/>
  <circle cx="13" cy="1" r="1" fill="red"/>
  <circle cx="14" cy="1" r="1" fill="red"/>
  <circle cx="15" cy="1" r="1" fill="red"/>
  <circle cx="16" cy="1" r="1" fill="red"/>
  <circle cx="17" cy="1" r="1" fill="red"/>
  <circle cx="18" cy="1" r="1" fill="red"/>
  <circle cx="19" cy="1" r="1" fill="rgba(0,0,0,0.815686)"/>
  <circle cx="20" cy="1" r="1" fill="rgba(0,0,0,0.439216)"/>
  <circle cx="21" cy="1" r="1" fill="rgba(0,0,0,0.0627451)"/>
  <circle cx="22" cy="1" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="23" cy="1" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="24" cy="1" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="25" cy="1" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="26" cy="1" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="27" cy="1" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="28" cy="1" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="29" cy="1" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="1" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="1" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="2" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="2" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="2" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="2" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="4" cy="2" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="5" cy="2" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="6" cy="2" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="7" cy="2" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="8" cy="2" r="1" fill="rgba(0,0,0,0.0627451)"/>
  <circle cx="9" cy="2" r="1" fill="rgba(0,0,0,0.501961)"/>
  <circle cx="10" cy="2" r="1" fill="red"/>
  <circle cx="11" cy="2" r="1" fill="red"/>
  <circle cx="12" cy="2" r="1" fill="red"/>
  <circle cx="13" cy="2" r="1" fill="red"/>
  <circle cx="14" cy="2" r="1" fill="red"/>
  <circle cx="15" cy="2" r="1" fill="red"/>
  <circle cx="16" cy="2" r="1" fill="red"/>
  <circle cx="17" cy="2" r="1" fill="red"/>
  <circle cx="18" cy="2" r="1" fill="red"/>
  <circle cx="19" cy="2" r="1" fill="red"/>
  <circle cx="20" cy="2" r="1" fill="red"/>
  <circle cx="21" cy="2" r="1" fill="rgba(0,0,0,0.941176)"/>
  <circle cx="22" cy="2" r="1" fill="rgba(0,0,0,0.501961)"/>
  <circle cx="23" cy="2" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="24" cy="2" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="25" cy="2" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="26" cy="2" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="27" cy="2" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="28" cy="2" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="29" cy="2" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="2" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="2" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="3" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="3" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="3" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="3" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="4" cy="3" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="5" cy="3" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="6" cy="3" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="7" cy="3" r="1" fill="rgba(0,0,0,0.188235)"/>
  <circle cx="8" cy="3" r="1" fill="rgba(0,0,0,0.815686)"/>
  <circle cx="9" cy="3" r="1" fill="red"/>
  <circle cx="10" cy="3" r="1" fill="red"/>
  <circle cx="11" cy="3" r="1" fill="red"/>
  <circle cx="12" cy="3" r="1" fill="red"/>
  <circle cx="13" cy="3" r="1" fill="red"/>
  <circle cx="14" cy="3" r="1" fill="red"/>
  <circle cx="15" cy="3" r="1" fill="red"/>
  <circle cx="16" cy="3" r="1" fill="red"/>
  <circle cx="17" cy="3" r="1" fill="red"/>
  <circle cx="18" cy="3" r="1" fill="red"/>
  <circle cx="19" cy="3" r="1" fill="red"/>
  <circle cx="20" cy="3" r="1" fill="red"/>
  <circle cx="21" cy="3" r="1" fill="red"/>
  <circle cx="22" cy="3" r="1" fill="red"/>
  <circle cx="23" cy="3" r="1" fill="rgba(0,0,0,0.815686)"/>
  <circle cx="24" cy="3" r="1" fill="rgba(0,0,0,0.188235)"/>
  <circle cx="25" cy="3" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="26" cy="3" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="27" cy="3" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="28" cy="3" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="29" cy="3" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="3" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="3" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="4" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="4" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="4" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="4" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="4" cy="4" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="5" cy="4" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="6" cy="4" r="1" fill="rgba(0,0,0,0.188235)"/>
  <circle cx="7" cy="4" r="1" fill="rgba(0,0,0,0.941176)"/>
  <circle cx="8" cy="4" r="1" fill="red"/>
  <circle cx="9" cy="4" r="1" fill="red"/>
  <circle cx="10" cy="4" r="1" fill="red"/>
  <circle cx="11" cy="4" r="1" fill="red"/>
  <circle cx="12" cy="4" r="1" fill="red"/>
  <circle cx="13" cy="4" r="1" fill="rgba(0,0,0,0.941176)"/>
  <circle cx="14" cy="4" r="1" fill="rgba(0,0,0,0.564706)"/>
  <circle cx="15" cy="4" r="1" fill="rgba(0,0,0,0.25098)"/>
  <circle cx="16" cy="4" r="1" fill="rgba(0,0,0,0.25098)"/>
  <circle cx="17" cy="4" r="1" fill="rgba(0,0,0,0.501961)"/>
  <circle cx="18" cy="4" r="1" fill="rgba(0,0,0,0.878431)"/>
  <circle cx="19" cy="4" r="1" fill="red"/>
  <circle cx="20" cy="4" r="1" fill="red"/>
  <circle cx="21" cy="4" r="1" fill="red"/>
  <circle cx="22" cy="4" r="1" fill="red"/>
  <circle cx="23" cy="4" r="1" fill="red"/>
  <circle cx="24" cy="4" r="1" fill="rgba(0,0,0,0.941176)"/>
  <circle cx="25" cy="4" r="1" fill="rgba(0,0,0,0.188235)"/>
  <circle cx="26" cy="4" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="27" cy="4" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="28" cy="4" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="29" cy="4" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="4" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="4" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="5" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="5" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="5" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="5" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="4" cy="5" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="5" cy="5" r="1" fill="rgba(0,0,0,0.12549)"/>
  <circle cx="6" cy="5" r="1" fill="rgba(0,0,0,0.941176)"/>
  <circle cx="7" cy="5" r="1" fill="red"/>
  <circle cx="8" cy="5" r="1" fill="red"/>
  <circle cx="9" cy="5" r="1" fill="red"/>
  <circle cx="10" cy="5" r="1" fill="red"/>
  <circle cx="11" cy="5" r="1" fill="red"/>
  <circle cx="12" cy="5" r="1" fill="rgba(0,0,0,0.627451)"/>
  <circle cx="13" cy="5" r="1" fill="rgba(0,0,0,0.0627451)"/>
  <circle cx="14" cy="5" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="15" cy="5" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="16" cy="5" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="17" cy="5" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="18" cy="5" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="19" cy="5" r="1" fill="rgba(0,0,0,0.564706)"/>
  <circle cx="20" cy="5" r="1" fill="red"/>
  <circle cx="21" cy="5" r="1" fill="red"/>
  <circle cx="22" cy="5" r="1" fill="red"/>
  <circle cx="23" cy="5" r="1" fill="red"/>
  <circle cx="24" cy="5" r="1" fill="red"/>
  <circle cx="25" cy="5" r="1" fill="rgba(0,0,0,0.941176)"/>
  <circle cx="26" cy="5" r="1" fill="rgba(0,0,0,0.0627451)"/>
  <circle cx="27" cy="5" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="28" cy="5" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="29" cy="5" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="5" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="5" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="6" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="6" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="6" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="6" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="4" cy="6" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="5" cy="6" r="1" fill="rgba(0,0,0,0.752941)"/>
  <circle cx="6" cy="6" r="1" fill="red"/>
  <circle cx="7" cy="6" r="1" fill="red"/>
  <circle cx="8" cy="6" r="1" fill="red"/>
  <circle cx="9" cy="6" r="1" fill="red"/>
  <circle cx="10" cy="6" r="1" fill="red"/>
  <circle cx="11" cy="6" r="1" fill="rgba(0,0,0,0.627451)"/>
  <circle cx="12" cy="6" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="13" cy="6" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="14" cy="6" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="15" cy="6" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="16" cy="6" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="17" cy="6" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="18" cy="6" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="19" cy="6" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="20" cy="6" r="1" fill="rgba(0,0,0,0.564706)"/>
  <circle cx="21" cy="6" r="1" fill="red"/>
  <circle cx="22" cy="6" r="1" fill="red"/>
  <circle cx="23" cy="6" r="1" fill="red"/>
  <circle cx="24" cy="6" r="1" fill="red"/>
  <circle cx="25" cy="6" r="1" fill="red"/>
  <circle cx="26" cy="6" r="1" fill="rgba(0,0,0,0.752941)"/>
  <circle cx="27" cy="6" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="28" cy="6" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="29" cy="6" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="6" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="6" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="7" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="7" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="7" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="7" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="4" cy="7" r="1" fill="rgba(0,0,0,0.376471)"/>
  <circle cx="5" cy="7" r="1" fill="red"/>
  <circle cx="6" cy="7" r="1" fill="red"/>
  <circle cx="7" cy="7" r="1" fill="red"/>
  <circle cx="8" cy="7" r="1" fill="red"/>
  <circle cx="9" cy="7" r="1" fill="red"/>
  <circle cx="10" cy="7" r="1" fill="rgba(0,0,0,0.941176)"/>
  <circle cx="11" cy="7" r="1" fill="rgba(0,0,0,0.0627451)"/>
  <circle cx="12" cy="7" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="13" cy="7" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="14" cy="7" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="15" cy="7" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="16" cy="7" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="17" cy="7" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="18" cy="7" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="19" cy="7" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="20" cy="7" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="21" cy="7" r="1" fill="rgba(0,0,0,0.815686)"/>
  <circle cx="22" cy="7" r="1" fill="red"/>
  <circle cx="23" cy="7" r="1" fill="red"/>
  <circle cx="24" cy="7" r="1" fill="red"/>
  <circle cx="25" cy="7" r="1" fill="red"/>
  <circle cx="26" cy="7" r="1" fill="red"/>
  <circle cx="27" cy="7" r="1" fill="rgba(0,0,0,0.313725)"/>
  <circle cx="28" cy="7" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="29" cy="7" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="7" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="7" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="8" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="8" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="8" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="8" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="4" cy="8" r="1" fill="rgba(0,0,0,0.878431)"/>
  <circle cx="5" cy="8" r="1" fill="red"/>
  <circle cx="6" cy="8" r="1" fill="red"/>
  <circle cx="7" cy="8" r="1" fill="red"/>
  <circle cx="8" cy="8" r="1" fill="red"/>
  <circle cx="9" cy="8" r="1" fill="red"/>
  <circle cx="10" cy="8" r="1" fill="rgba(0,0,0,0.439216)"/>
  <circle cx="11" cy="8" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="12" cy="8" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="13" cy="8" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="14" cy="8" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="15" cy="8" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="16" cy="8" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="17" cy="8" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="18" cy="8" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="19" cy="8" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="20" cy="8" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="21" cy="8" r="1" fill="rgba(0,0,0,0.313725)"/>
  <circle cx="22" cy="8" r="1" fill="red"/>
  <circle cx="23" cy="8" r="1" fill="red"/>
  <circle cx="24" cy="8" r="1" fill="red"/>
  <circle cx="25" cy="8" r="1" fill="red"/>
  <circle cx="26" cy="8" r="1" fill="red"/>
  <circle cx="27" cy="8" r="1" fill="rgba(0,0,0,0.815686)"/>
  <circle cx="28" cy="8" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="29" cy="8" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="8" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="8" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="9" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="9" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="9" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="9" r="1" fill="rgba(0,0,0,0.188235)"/>
  <circle cx="4" cy="9" r="1" fill="red"/>
  <circle cx="5" cy="9" r="1" fill="red"/>
  <circle cx="6" cy="9" r="1" fill="red"/>
  <circle cx="7" cy="9" r="1" fill="red"/>
  <circle cx="8" cy="9" r="1" fill="red"/>
  <circle cx="9" cy="9" r="1" fill="red"/>
  <circle cx="10" cy="9" r="1" fill="rgba(0,0,0,0.0627451)"/>
  <circle cx="11" cy="9" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="12" cy="9" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="13" cy="9" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="14" cy="9" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="15" cy="9" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="16" cy="9" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="17" cy="9" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="18" cy="9" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="19" cy="9" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="20" cy="9" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="21" cy="9" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="22" cy="9" r="1" fill="rgba(0,0,0,0.941176)"/>
  <circle cx="23" cy="9" r="1" fill="red"/>
  <circle cx="24" cy="9" r="1" fill="red"/>
  <circle cx="25" cy="9" r="1" fill="red"/>
  <circle cx="26" cy="9" r="1" fill="red"/>
  <circle cx="27" cy="9" r="1" fill="red"/>
  <circle cx="28" cy="9" r="1" fill="rgba(0,0,0,0.188235)"/>
  <circle cx="29" cy="9" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="9" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="9" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="10" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="10" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="10" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="10" r="1" fill="rgba(0,0,0,0.564706)"/>
  <circle cx="4" cy="10" r="1" fill="red"/>
  <circle cx="5" cy="10" r="1" fill="red"/>
  <circle cx="6" cy="10" r="1" fill="red"/>
  <circle cx="7" cy="10" r="1" fill="red"/>
  <circle cx="8" cy="10" r="1" fill="red"/>
  <circle cx="9" cy="10" r="1" fill="rgba(0,0,0,0.815686)"/>
  <circle cx="10" cy="10" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="11" cy="10" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="12" cy="10" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="13" cy="10" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="14" cy="10" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="15" cy="10" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="16" cy="10" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="17" cy="10" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="18" cy="10" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="19" cy="10" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="20" cy="10" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="21" cy="10" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="22" cy="10" r="1" fill="rgba(0,0,0,0.752941)"/>
  <circle cx="23" cy="10" r="1" fill="red"/>
  <circle cx="24" cy="10" r="1" fill="red"/>
  <circle cx="25" cy="10" r="1" fill="red"/>
  <circle cx="26" cy="10" r="1" fill="red"/>
  <circle cx="27" cy="10" r="1" fill="red"/>
  <circle cx="28" cy="10" r="1" fill="rgba(0,0,0,0.501961)"/>
  <circle cx="29" cy="10" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="10" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="10" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="11" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="11" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="11" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="11" r="1" fill="rgba(0,0,0,0.752941)"/>
  <circle cx="4" cy="11" r="1" fill="red"/>
  <circle cx="5" cy="11" r="1" fill="red"/>
  <circle cx="6" cy="11" r="1" fill="red"/>
  <circle cx="7" cy="11" r="1" fill="red"/>
  <circle cx="8" cy="11" r="1" fill="red"/>
  <circle cx="9" cy="11" r="1" fill="rgba(0,0,0,0.752941)"/>
  <circle cx="10" cy="11" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="11" cy="11" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="12" cy="11" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="13" cy="11" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="14" cy="11" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="15" cy="11" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="16" cy="11" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="17" cy="11" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="18" cy="11" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="19" cy="11" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="20" cy="11" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="21" cy="11" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="22" cy="11" r="1" fill="rgba(0,0,0,0.501961)"/>
  <circle cx="23" cy="11" r="1" fill="red"/>
  <circle cx="24" cy="11" r="1" fill="red"/>
  <circle cx="25" cy="11" r="1" fill="red"/>
  <circle cx="26" cy="11" r="1" fill="red"/>
  <circle cx="27" cy="11" r="1" fill="red"/>
  <circle cx="28" cy="11" r="1" fill="rgba(0,0,0,0.690196)"/>
  <circle cx="29" cy="11" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="11" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="11" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="12" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="12" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="12" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="12" r="1" fill="rgba(0,0,0,0.878431)"/>
  <circle cx="4" cy="12" r="1" fill="red"/>
  <circle cx="5" cy="12" r="1" fill="red"/>
  <circle cx="6" cy="12" r="1" fill="red"/>
  <circle cx="7" cy="12" r="1" fill="red"/>
  <circle cx="8" cy="12" r="1" fill="red"/>
  <circle cx="9" cy="12" r="1" fill="rgba(0,0,0,0.752941)"/>
  <circle cx="10" cy="12" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="11" cy="12" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="12" cy="12" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="13" cy="12" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="14" cy="12" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="15" cy="12" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="16" cy="12" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="17" cy="12" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="18" cy="12" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="19" cy="12" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="20" cy="12" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="21" cy="12" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="22" cy="12" r="1" fill="rgba(0,0,0,0.501961)"/>
  <circle cx="23" cy="12" r="1" fill="red"/>
  <circle cx="24" cy="12" r="1" fill="red"/>
  <circle cx="25" cy="12" r="1" fill="red"/>
  <circle cx="26" cy="12" r="1" fill="red"/>
  <circle cx="27" cy="12" r="1" fill="red"/>
  <circle cx="28" cy="12" r="1" fill="rgba(0,0,0,0.752941)"/>
  <circle cx="29" cy="12" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="12" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="12" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="13" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="13" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="13" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="13" r="1" fill="red"/>
  <circle cx="4" cy="13" r="1" fill="red"/>
  <circle cx="5" cy="13" r="1" fill="red"/>
  <circle cx="6" cy="13" r="1" fill="red"/>
  <circle cx="7" cy="13" r="1" fill="red"/>
  <circle cx="8" cy="13" r="1" fill="red"/>
  <circle cx="9" cy="13" r="1" fill="rgba(0,0,0,0.752941)"/>
  <circle cx="10" cy="13" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="11" cy="13" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="12" cy="13" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="13" cy="13" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="14" cy="13" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="15" cy="13" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="16" cy="13" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="17" cy="13" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="18" cy="13" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="19" cy="13" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="20" cy="13" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="21" cy="13" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="22" cy="13" r="1" fill="rgba(0,0,0,0.501961)"/>
  <circle cx="23" cy="13" r="1" fill="red"/>
  <circle cx="24" cy="13" r="1" fill="red"/>
  <circle cx="25" cy="13" r="1" fill="red"/>
  <circle cx="26" cy="13" r="1" fill="red"/>
  <circle cx="27" cy="13" r="1" fill="red"/>
  <circle cx="28" cy="13" r="1" fill="rgba(0,0,0,0.815686)"/>
  <circle cx="29" cy="13" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="13" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="13" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="14" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="14" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="14" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="14" r="1" fill="red"/>
  <circle cx="4" cy="14" r="1" fill="red"/>
  <circle cx="5" cy="14" r="1" fill="red"/>
  <circle cx="6" cy="14" r="1" fill="red"/>
  <circle cx="7" cy="14" r="1" fill="red"/>
  <circle cx="8" cy="14" r="1" fill="red"/>
  <circle cx="9" cy="14" r="1" fill="rgba(0,0,0,0.752941)"/>
  <circle cx="10" cy="14" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="11" cy="14" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="12" cy="14" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="13" cy="14" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="14" cy="14" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="15" cy="14" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="16" cy="14" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="17" cy="14" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="18" cy="14" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="19" cy="14" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="20" cy="14" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="21" cy="14" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="22" cy="14" r="1" fill="rgba(0,0,0,0.501961)"/>
  <circle cx="23" cy="14" r="1" fill="red"/>
  <circle cx="24" cy="14" r="1" fill="red"/>
  <circle cx="25" cy="14" r="1" fill="red"/>
  <circle cx="26" cy="14" r="1" fill="red"/>
  <circle cx="27" cy="14" r="1" fill="red"/>
  <circle cx="28" cy="14" r="1" fill="rgba(0,0,0,0.752941)"/>
  <circle cx="29" cy="14" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="14" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="14" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="15" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="15" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="15" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="15" r="1" fill="rgba(0,0,0,0.815686)"/>
  <circle cx="4" cy="15" r="1" fill="red"/>
  <circle cx="5" cy="15" r="1" fill="red"/>
  <circle cx="6" cy="15" r="1" fill="red"/>
  <circle cx="7" cy="15" r="1" fill="red"/>
  <circle cx="8" cy="15" r="1" fill="red"/>
  <circle cx="9" cy="15" r="1" fill="rgba(0,0,0,0.752941)"/>
  <circle cx="10" cy="15" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="11" cy="15" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="12" cy="15" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="13" cy="15" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="14" cy="15" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="15" cy="15" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="16" cy="15" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="17" cy="15" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="18" cy="15" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="19" cy="15" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="20" cy="15" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="21" cy="15" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="22" cy="15" r="1" fill="rgba(0,0,0,0.501961)"/>
  <circle cx="23" cy="15" r="1" fill="red"/>
  <circle cx="24" cy="15" r="1" fill="red"/>
  <circle cx="25" cy="15" r="1" fill="red"/>
  <circle cx="26" cy="15" r="1" fill="red"/>
  <circle cx="27" cy="15" r="1" fill="red"/>
  <circle cx="28" cy="15" r="1" fill="rgba(0,0,0,0.752941)"/>
  <circle cx="29" cy="15" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="15" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="15" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="16" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="16" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="16" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="16" r="1" fill="rgba(0,0,0,0.690196)"/>
  <circle cx="4" cy="16" r="1" fill="red"/>
  <circle cx="5" cy="16" r="1" fill="red"/>
  <circle cx="6" cy="16" r="1" fill="red"/>
  <circle cx="7" cy="16" r="1" fill="red"/>
  <circle cx="8" cy="16" r="1" fill="red"/>
  <circle cx="9" cy="16" r="1" fill="rgba(0,0,0,0.752941)"/>
  <circle cx="10" cy="16" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="11" cy="16" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="12" cy="16" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="13" cy="16" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="14" cy="16" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="15" cy="16" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="16" cy="16" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="17" cy="16" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="18" cy="16" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="19" cy="16" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="20" cy="16" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="21" cy="16" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="22" cy="16" r="1" fill="rgba(0,0,0,0.564706)"/>
  <circle cx="23" cy="16" r="1" fill="red"/>
  <circle cx="24" cy="16" r="1" fill="red"/>
  <circle cx="25" cy="16" r="1" fill="red"/>
  <circle cx="26" cy="16" r="1" fill="red"/>
  <circle cx="27" cy="16" r="1" fill="red"/>
  <circle cx="28" cy="16" r="1" fill="rgba(0,0,0,0.627451)"/>
  <circle cx="29" cy="16" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="16" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="16" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="17" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="17" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="17" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="17" r="1" fill="rgba(0,0,0,0.439216)"/>
  <circle cx="4" cy="17" r="1" fill="red"/>
  <circle cx="5" cy="17" r="1" fill="red"/>
  <circle cx="6" cy="17" r="1" fill="red"/>
  <circle cx="7" cy="17" r="1" fill="red"/>
  <circle cx="8" cy="17" r="1" fill="red"/>
  <circle cx="9" cy="17" r="1" fill="rgba(0,0,0,0.878431)"/>
  <circle cx="10" cy="17" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="11" cy="17" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="12" cy="17" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="13" cy="17" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="14" cy="17" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="15" cy="17" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="16" cy="17" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="17" cy="17" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="18" cy="17" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="19" cy="17" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="20" cy="17" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="21" cy="17" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="22" cy="17" r="1" fill="rgba(0,0,0,0.752941)"/>
  <circle cx="23" cy="17" r="1" fill="red"/>
  <circle cx="24" cy="17" r="1" fill="red"/>
  <circle cx="25" cy="17" r="1" fill="red"/>
  <circle cx="26" cy="17" r="1" fill="red"/>
  <circle cx="27" cy="17" r="1" fill="red"/>
  <circle cx="28" cy="17" r="1" fill="rgba(0,0,0,0.376471)"/>
  <circle cx="29" cy="17" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="17" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="17" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="18" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="18" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="18" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="18" r="1" fill="rgba(0,0,0,0.12549)"/>
  <circle cx="4" cy="18" r="1" fill="red"/>
  <circle cx="5" cy="18" r="1" fill="red"/>
  <circle cx="6" cy="18" r="1" fill="red"/>
  <circle cx="7" cy="18" r="1" fill="red"/>
  <circle cx="8" cy="18" r="1" fill="red"/>
  <circle cx="9" cy="18" r="1" fill="red"/>
  <circle cx="10" cy="18" r="1" fill="rgba(0,0,0,0.12549)"/>
  <circle cx="11" cy="18" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="12" cy="18" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="13" cy="18" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="14" cy="18" r="1" fill="rgba(0,0,0,0.376471)"/>
  <circle cx="15" cy="18" r="1" fill="rgba(0,0,0,0.501961)"/>
  <circle cx="16" cy="18" r="1" fill="rgba(0,0,0,0.501961)"/>
  <circle cx="17" cy="18" r="1" fill="rgba(0,0,0,0.188235)"/>
  <circle cx="18" cy="18" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="19" cy="18" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="20" cy="18" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="21" cy="18" r="1" fill="rgba(0,0,0,0.0627451)"/>
  <circle cx="22" cy="18" r="1" fill="red"/>
  <circle cx="23" cy="18" r="1" fill="red"/>
  <circle cx="24" cy="18" r="1" fill="red"/>
  <circle cx="25" cy="18" r="1" fill="red"/>
  <circle cx="26" cy="18" r="1" fill="red"/>
  <circle cx="27" cy="18" r="1" fill="red"/>
  <circle cx="28" cy="18" r="1" fill="rgba(0,0,0,0.0627451)"/>
  <circle cx="29" cy="18" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="18" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="18" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="19" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="19" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="19" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="19" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="4" cy="19" r="1" fill="rgba(0,0,0,0.690196)"/>
  <circle cx="5" cy="19" r="1" fill="red"/>
  <circle cx="6" cy="19" r="1" fill="red"/>
  <circle cx="7" cy="19" r="1" fill="red"/>
  <circle cx="8" cy="19" r="1" fill="red"/>
  <circle cx="9" cy="19" r="1" fill="red"/>
  <circle cx="10" cy="19" r="1" fill="rgba(0,0,0,0.627451)"/>
  <circle cx="11" cy="19" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="12" cy="19" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="13" cy="19" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="14" cy="19" r="1" fill="rgba(0,0,0,0.752941)"/>
  <circle cx="15" cy="19" r="1" fill="red"/>
  <circle cx="16" cy="19" r="1" fill="red"/>
  <circle cx="17" cy="19" r="1" fill="red"/>
  <circle cx="18" cy="19" r="1" fill="rgba(0,0,0,0.752941)"/>
  <circle cx="19" cy="19" r="1" fill="rgba(0,0,0,0.25098)"/>
  <circle cx="20" cy="19" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="21" cy="19" r="1" fill="rgba(0,0,0,0.376471)"/>
  <circle cx="22" cy="19" r="1" fill="red"/>
  <circle cx="23" cy="19" r="1" fill="red"/>
  <circle cx="24" cy="19" r="1" fill="red"/>
  <circle cx="25" cy="19" r="1" fill="red"/>
  <circle cx="26" cy="19" r="1" fill="red"/>
  <circle cx="27" cy="19" r="1" fill="rgba(0,0,0,0.627451)"/>
  <circle cx="28" cy="19" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="29" cy="19" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="19" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="19" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="20" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="20" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="20" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="20" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="4" cy="20" r="1" fill="rgba(0,0,0,0.188235)"/>
  <circle cx="5" cy="20" r="1" fill="red"/>
  <circle cx="6" cy="20" r="1" fill="red"/>
  <circle cx="7" cy="20" r="1" fill="red"/>
  <circle cx="8" cy="20" r="1" fill="red"/>
  <circle cx="9" cy="20" r="1" fill="red"/>
  <circle cx="10" cy="20" r="1" fill="red"/>
  <circle cx="11" cy="20" r="1" fill="rgba(0,0,0,0.188235)"/>
  <circle cx="12" cy="20" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="13" cy="20" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="14" cy="20" r="1" fill="rgba(0,0,0,0.752941)"/>
  <circle cx="15" cy="20" r="1" fill="red"/>
  <circle cx="16" cy="20" r="1" fill="red"/>
  <circle cx="17" cy="20" r="1" fill="red"/>
  <circle cx="18" cy="20" r="1" fill="red"/>
  <circle cx="19" cy="20" r="1" fill="red"/>
  <circle cx="20" cy="20" r="1" fill="rgba(0,0,0,0.439216)"/>
  <circle cx="21" cy="20" r="1" fill="rgba(0,0,0,0.941176)"/>
  <circle cx="22" cy="20" r="1" fill="red"/>
  <circle cx="23" cy="20" r="1" fill="red"/>
  <circle cx="24" cy="20" r="1" fill="red"/>
  <circle cx="25" cy="20" r="1" fill="red"/>
  <circle cx="26" cy="20" r="1" fill="red"/>
  <circle cx="27" cy="20" r="1" fill="rgba(0,0,0,0.12549)"/>
  <circle cx="28" cy="20" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="29" cy="20" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="20" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="20" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="21" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="21" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="21" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="21" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="4" cy="21" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="5" cy="21" r="1" fill="rgba(0,0,0,0.501961)"/>
  <circle cx="6" cy="21" r="1" fill="red"/>
  <circle cx="7" cy="21" r="1" fill="red"/>
  <circle cx="8" cy="21" r="1" fill="red"/>
  <circle cx="9" cy="21" r="1" fill="red"/>
  <circle cx="10" cy="21" r="1" fill="red"/>
  <circle cx="11" cy="21" r="1" fill="rgba(0,0,0,0.815686)"/>
  <circle cx="12" cy="21" r="1" fill="rgba(0,0,0,0.0627451)"/>
  <circle cx="13" cy="21" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="14" cy="21" r="1" fill="rgba(0,0,0,0.188235)"/>
  <circle cx="15" cy="21" r="1" fill="rgba(0,0,0,0.627451)"/>
  <circle cx="16" cy="21" r="1" fill="red"/>
  <circle cx="17" cy="21" r="1" fill="red"/>
  <circle cx="18" cy="21" r="1" fill="red"/>
  <circle cx="19" cy="21" r="1" fill="red"/>
  <circle cx="20" cy="21" r="1" fill="red"/>
  <circle cx="21" cy="21" r="1" fill="red"/>
  <circle cx="22" cy="21" r="1" fill="red"/>
  <circle cx="23" cy="21" r="1" fill="red"/>
  <circle cx="24" cy="21" r="1" fill="red"/>
  <circle cx="25" cy="21" r="1" fill="red"/>
  <circle cx="26" cy="21" r="1" fill="rgba(0,0,0,0.501961)"/>
  <circle cx="27" cy="21" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="28" cy="21" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="29" cy="21" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="21" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="21" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="22" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="22" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="22" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="22" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="4" cy="22" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="5" cy="22" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="6" cy="22" r="1" fill="rgba(0,0,0,0.752941)"/>
  <circle cx="7" cy="22" r="1" fill="red"/>
  <circle cx="8" cy="22" r="1" fill="red"/>
  <circle cx="9" cy="22" r="1" fill="red"/>
  <circle cx="10" cy="22" r="1" fill="red"/>
  <circle cx="11" cy="22" r="1" fill="red"/>
  <circle cx="12" cy="22" r="1" fill="rgba(0,0,0,0.878431)"/>
  <circle cx="13" cy="22" r="1" fill="rgba(0,0,0,0.25098)"/>
  <circle cx="14" cy="22" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="15" cy="22" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="16" cy="22" r="1" fill="rgba(0,0,0,0.376471)"/>
  <circle cx="17" cy="22" r="1" fill="red"/>
  <circle cx="18" cy="22" r="1" fill="red"/>
  <circle cx="19" cy="22" r="1" fill="red"/>
  <circle cx="20" cy="22" r="1" fill="red"/>
  <circle cx="21" cy="22" r="1" fill="red"/>
  <circle cx="22" cy="22" r="1" fill="red"/>
  <circle cx="23" cy="22" r="1" fill="red"/>
  <circle cx="24" cy="22" r="1" fill="red"/>
  <circle cx="25" cy="22" r="1" fill="rgba(0,0,0,0.627451)"/>
  <circle cx="26" cy="22" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="27" cy="22" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="28" cy="22" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="29" cy="22" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="22" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="22" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="23" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="23" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="23" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="23" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="4" cy="23" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="5" cy="23" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="6" cy="23" r="1" fill="rgba(0,0,0,0.0627451)"/>
  <circle cx="7" cy="23" r="1" fill="rgba(0,0,0,0.752941)"/>
  <circle cx="8" cy="23" r="1" fill="red"/>
  <circle cx="9" cy="23" r="1" fill="red"/>
  <circle cx="10" cy="23" r="1" fill="red"/>
  <circle cx="11" cy="23" r="1" fill="red"/>
  <circle cx="12" cy="23" r="1" fill="red"/>
  <circle cx="13" cy="23" r="1" fill="red"/>
  <circle cx="14" cy="23" r="1" fill="rgba(0,0,0,0.815686)"/>
  <circle cx="15" cy="23" r="1" fill="rgba(0,0,0,0.501961)"/>
  <circle cx="16" cy="23" r="1" fill="rgba(0,0,0,0.564706)"/>
  <circle cx="17" cy="23" r="1" fill="rgba(0,0,0,0.941176)"/>
  <circle cx="18" cy="23" r="1" fill="red"/>
  <circle cx="19" cy="23" r="1" fill="red"/>
  <circle cx="20" cy="23" r="1" fill="red"/>
  <circle cx="21" cy="23" r="1" fill="red"/>
  <circle cx="22" cy="23" r="1" fill="red"/>
  <circle cx="23" cy="23" r="1" fill="red"/>
  <circle cx="24" cy="23" r="1" fill="rgba(0,0,0,0.627451)"/>
  <circle cx="25" cy="23" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="26" cy="23" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="27" cy="23" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="28" cy="23" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="29" cy="23" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="23" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="23" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="24" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="24" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="24" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="24" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="4" cy="24" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="5" cy="24" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="6" cy="24" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="7" cy="24" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="8" cy="24" r="1" fill="rgba(0,0,0,0.564706)"/>
  <circle cx="9" cy="24" r="1" fill="red"/>
  <circle cx="10" cy="24" r="1" fill="red"/>
  <circle cx="11" cy="24" r="1" fill="red"/>
  <circle cx="12" cy="24" r="1" fill="red"/>
  <circle cx="13" cy="24" r="1" fill="red"/>
  <circle cx="14" cy="24" r="1" fill="red"/>
  <circle cx="15" cy="24" r="1" fill="red"/>
  <circle cx="16" cy="24" r="1" fill="red"/>
  <circle cx="17" cy="24" r="1" fill="red"/>
  <circle cx="18" cy="24" r="1" fill="red"/>
  <circle cx="19" cy="24" r="1" fill="red"/>
  <circle cx="20" cy="24" r="1" fill="red"/>
  <circle cx="21" cy="24" r="1" fill="red"/>
  <circle cx="22" cy="24" r="1" fill="red"/>
  <circle cx="23" cy="24" r="1" fill="rgba(0,0,0,0.501961)"/>
  <circle cx="24" cy="24" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="25" cy="24" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="26" cy="24" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="27" cy="24" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="28" cy="24" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="29" cy="24" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="24" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="24" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="25" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="25" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="25" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="25" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="4" cy="25" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="5" cy="25" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="6" cy="25" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="7" cy="25" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="8" cy="25" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="9" cy="25" r="1" fill="rgba(0,0,0,0.188235)"/>
  <circle cx="10" cy="25" r="1" fill="rgba(0,0,0,0.752941)"/>
  <circle cx="11" cy="25" r="1" fill="red"/>
  <circle cx="12" cy="25" r="1" fill="red"/>
  <circle cx="13" cy="25" r="1" fill="red"/>
  <circle cx="14" cy="25" r="1" fill="red"/>
  <circle cx="15" cy="25" r="1" fill="red"/>
  <circle cx="16" cy="25" r="1" fill="red"/>
  <circle cx="17" cy="25" r="1" fill="red"/>
  <circle cx="18" cy="25" r="1" fill="red"/>
  <circle cx="19" cy="25" r="1" fill="red"/>
  <circle cx="20" cy="25" r="1" fill="red"/>
  <circle cx="21" cy="25" r="1" fill="red"/>
  <circle cx="22" cy="25" r="1" fill="red"/>
  <circle cx="23" cy="25" r="1" fill="rgba(0,0,0,0.376471)"/>
  <circle cx="24" cy="25" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="25" cy="25" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="26" cy="25" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="27" cy="25" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="28" cy="25" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="29" cy="25" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="25" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="25" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="26" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="26" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="26" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="26" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="4" cy="26" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="5" cy="26" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="6" cy="26" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="7" cy="26" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="8" cy="26" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="9" cy="26" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="10" cy="26" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="11" cy="26" r="1" fill="rgba(0,0,0,0.12549)"/>
  <circle cx="12" cy="26" r="1" fill="rgba(0,0,0,0.439216)"/>
  <circle cx="13" cy="26" r="1" fill="rgba(0,0,0,0.690196)"/>
  <circle cx="14" cy="26" r="1" fill="rgba(0,0,0,0.752941)"/>
  <circle cx="15" cy="26" r="1" fill="red"/>
  <circle cx="16" cy="26" r="1" fill="red"/>
  <circle cx="17" cy="26" r="1" fill="rgba(0,0,0,0.752941)"/>
  <circle cx="18" cy="26" r="1" fill="rgba(0,0,0,0.690196)"/>
  <circle cx="19" cy="26" r="1" fill="red"/>
  <circle cx="20" cy="26" r="1" fill="red"/>
  <circle cx="21" cy="26" r="1" fill="red"/>
  <circle cx="22" cy="26" r="1" fill="red"/>
  <circle cx="23" cy="26" r="1" fill="red"/>
  <circle cx="24" cy="26" r="1" fill="rgba(0,0,0,0.564706)"/>
  <circle cx="25" cy="26" r="1" fill="rgba(0,0,0,0.12549)"/>
  <circle cx="26" cy="26" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="27" cy="26" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="28" cy="26" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="29" cy="26" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="26" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="26" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="4" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="5" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="6" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="7" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="8" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="9" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="10" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="11" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="12" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="13" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="14" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="15" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="16" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="17" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="18" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="19" cy="27" r="1" fill="rgba(0,0,0,0.501961)"/>
  <circle cx="20" cy="27" r="1" fill="red"/>
  <circle cx="21" cy="27" r="1" fill="red"/>
  <circle cx="22" cy="27" r="1" fill="red"/>
  <circle cx="23" cy="27" r="1" fill="red"/>
  <circle cx="24" cy="27" r="1" fill="red"/>
  <circle cx="25" cy="27" r="1" fill="red"/>
  <circle cx="26" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="27" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="28" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="29" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="27" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="4" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="5" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="6" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="7" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="8" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="9" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="10" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="11" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="12" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="13" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="14" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="15" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="16" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="17" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="18" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="19" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="20" cy="28" r="1" fill="rgba(0,0,0,0.627451)"/>
  <circle cx="21" cy="28" r="1" fill="red"/>
  <circle cx="22" cy="28" r="1" fill="red"/>
  <circle cx="23" cy="28" r="1" fill="red"/>
  <circle cx="24" cy="28" r="1" fill="red"/>
  <circle cx="25" cy="28" r="1" fill="red"/>
  <circle cx="26" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="27" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="28" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="29" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="28" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="4" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="5" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="6" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="7" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="8" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="9" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="10" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="11" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="12" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="13" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="14" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="15" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="16" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="17" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="18" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="19" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="20" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="21" cy="29" r="1" fill="rgba(0,0,0,0.25098)"/>
  <circle cx="22" cy="29" r="1" fill="rgba(0,0,0,0.564706)"/>
  <circle cx="23" cy="29" r="1" fill="rgba(0,0,0,0.752941)"/>
  <circle cx="24" cy="29" r="1" fill="rgba(0,0,0,0.752941)"/>
  <circle cx="25" cy="29" r="1" fill="rgba(0,0,0,0.690196)"/>
  <circle cx="26" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="27" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="28" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="29" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="29" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="4" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="5" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="6" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="7" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="8" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="9" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="10" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="11" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="12" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="13" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="14" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="15" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="16" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="17" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="18" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="19" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="20" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="21" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="22" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="23" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="24" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="25" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="26" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="27" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="28" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="29" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="30" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="0" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="1" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="2" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="3" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="4" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="5" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="6" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="7" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="8" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="9" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="10" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="11" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="12" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="13" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="14" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="15" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="16" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="17" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="18" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="19" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="20" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="21" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="22" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="23" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="24" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="25" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="26" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="27" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="28" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="29" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="30" cy="31" r="1" fill="rgba(255,255,255,0)"/>
  <circle cx="31" cy="31" r="1" fill="rgba(255,255,255,0)"/>
</svg>
