{
    CFBundleExecutable = "AudioRecorder";
    CFBundleDisplayName = AudioRecorder;
    CFBundleName = AudioRecorder;
    CFBundleIconFile = icon.png;
    CFBundleIdentifier = "net.limneos.callrecorder";
    CFBundleInfoDictionaryVersion = 6.0;
    CFBundlePackageType = APPL;
    CFBundleSignature = "????";
    CFBundleSupportedPlatforms = (
	iPhoneOS
    );
    CFBundleVersion = 1.0;
    DTPlatformName = iphoneos;
    DTSDKName = iphoneos3.0;
    LSRequiresIPhoneOS = 1;
    MinimumOSVersion = 3.0;
    UIPrerenderedIcon = 1;
    UIFileSharingEnabled = 1;
}
