---
---

$font-weight: 400

@import index

body
  margin: 0 1em
  padding: 0 calc(34% - 13rem)

body > header, article, body > footer
  padding: 1.3em 0

article, body > footer
  border-top: 2px solid #383838
