* {
	box-sizing: border-box;
}

body {
	background-image: url("../images/seigaiha.png");
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
h1, h2, h3{
	color: #4aaaa5;
	font-family:'Georgia', Times, Times New Roman, serif;
	font-weight:bold;
}
h1{
	font-size:30px;
}
h2{
	font-size:30px;	
}
h3{
	font-size:22px;
}
hr{
	margin-top:0;
	margin-bottom:25px;
	border:1.5px solid #cccccc;
}
input {
	padding:5px;
	width:100%;
}

textarea {
	width:100%;
}
footer {
	clear:both;
	width:100%;
	padding: 25px;
	text-align: center;
	background: #666666;
	border-top: 5px solid #4aaaa5;
	color: #D3D3D3;
}
.header {
	padding: 45px 0 30px
}
#wrapper {
	width: 960px;
	margin: 0 auto;

}

#navbar {
	width:100%;
	background:white;
	position:fixed;
	top:0;
	border-bottom: 2px solid #cccccc;
}

#name {
	background: #00aba0;
	color: white;
	padding: 30px;
	margin-left:192px;
	width: 215px;
	float:left;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

hr.side{
	margin-top:0;
	margin-bottom:25px;
	border:1px solid #f4f5f6;
}

#connectHead{
	margin-bottom:20px;
}
#aboutLink{
	margin-top: 30px;
	margin-right: 20px;
    border-right: 1px solid gray;
	width:50px;
	height:20px;
	float:right;
}

#portfolioLink{
	margin-top: 30px;
	margin-right: 20px;
    border-right: 1px solid gray;
	width:65px;
	height:20px;
	float:right;
}

#contactLink{
	margin-top: 30px;
	margin-right: 200px;
    border-right: 1px solid gray;
	width:65px;
	height:20px;
	float:right;
}

#about {
	float:left;
	width:650px;
	height:430px;
	background: white;
	margin-top:115px;
	margin-bottom:30px;
	padding: 0 20px;
	line-height: 1.5;
}

#portfolio{
	float:left;
	width:650px;
	height:850px;
	background: white;
	margin-top:115px;
	margin-bottom:30px;
	padding-left: 20px;
    padding-right: 20px
}

#contact{
	float:left;
	width:650px;
	height:600px;
	background: white;
	margin-top:115px;
	margin-bottom:30px;
	padding-left: 20px;
    padding-right: 20px
}

.inputs {
	margin-bottom:20px;
}

.examples {
	float:left;
	margin:20px;
}
#myimg {
	float:left;
	margin-right:30px;
}

#connect {
	margin-top:115px;
	width:270px;
	height:190px;
	padding:20px;
	background:white;
	float:right;
	text-align:center;
}

#submit {
	background:#00aba0;
	width:100px;
	height:40px;
	color:white;
	font-size:18px;
}
