---
import Layout from "../layouts/Layout.astro";
import PostsList from "../components/PostsList.astro";
---

<Layout title="Blog | CoderDojo Alba Iulia">
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8 pt-24">
      <div class="mx-auto max-w-2xl lg:max-w-4xl">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          Blogul nostru
        </h2>
        <p class="mt-2 text-lg leading-8 text-gray-600">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem,
          deserunt.
        </p>
        <PostsList />
      </div>
    </div>
  </div>
</Layout>
