---
import Layout from "../layouts/Layout.astro";
import Mentors from "../components/Mentors.astro";
---

<Layout title="Despre | CoderDojo Alba Iulia">
  <div class="bg-white px-6 py-32 pb-16 lg:px-8 pt-12 md:pt-48 relative">
    <div class="mx-auto max-w-4xl text-base leading-7 text-gray-700">
      <p class="text-base font-semibold leading-7 text-accent">
        Coder Dojo Alba Iulia
      </p>
      <h1
        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Inițiativa
      </h1>
      <p class="mt-6 text-xl leading-8">
        <a href="https://www.facebook.com/coderdojoalbaiulia"
          >CoderDojo Alba Iulia</a
        > este parte a unei <a href="https://coderdojo.com/en/"
          >inițiative globale</a
        > de a crea cluburi de programare pentru copii și adolescenți în care copiii
        (“ninjas” - între 7 și 17 ani) învață programare de la voluntari (“mentors”)
        din comunitatea locală. Dojo-ul din Alba Iulia este o inițiativă a <a
          href="https://ai3.ro/">AI3</a
        >, primul cluster de IT din județul Alba.
      </p>
      <div class="mt-10 max-w-2xl">
        <p class="text-lg">
          Dojo-ul are loc în fiecare Joi de la ora 16:00 pe <a
            href="https://maps.app.goo.gl/rguUaLxb9ctmKuMg6"
            >strada Gladiolelor numărul 3A</a
          >, dar asigură-te că urmărești <a
            href="https://www.facebook.com/groups/1609746875954975/"
            >grupul de facebook</a
          > pentru modificări de program.
        </p>
        <ul
          role="list"
          class="mt-8 max-w-xl space-y-8 text-gray-600"
        >
          <li class="flex gap-x-3">
            <svg
              class="mt-1 h-5 w-5 flex-none text-accent"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                clip-rule="evenodd"
              ></path>
            </svg>

            <span>
              Roagă tutorele tău să completeze <a
                href="https://forms.gle/4fqArMANeztCBgSr7">formularul</a
              > și asigură-te că ai citit <a href="/regulament">regulamentul</a
              >.</span
            >
          </li>
          <li class="flex gap-x-3">
            <svg
              class="mt-1 h-5 w-5 flex-none text-accent"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span>
              Avem și niște <a href="/regulament">reguli de bază</a> de urmat și
              vrem să ne mândrim cu tine, deci avem nevoie de un <a
                href="/confidentialitate">acord GDPR</a
              >.</span
            >
          </li>
          <li class="flex gap-x-3">
            <svg
              class="mt-1 h-5 w-5 flex-none text-accent"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span>
              Să ai la tine un sandwich, o sticlă de apă și doza necesară de
              curiozitate. Dacă ai un laptop, adu-l, dacă nu încercăm să îți
              găsim noi un calculator.</span
            >
          </li>
        </ul>
        <p class="mt-8">
          Poți să devii <span class="text-accent">mentor</span> dacă ai fost ninja
          la vreun CoderDojo existent sau dacă ești membru <a
            href="https://ai3.ro/">AI3</a
          >. Contactează-ne la <a href="mailto:https://ai3.ro/">salut@ai3.ro</a
          >.
        </p>
        <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">
          From novice to coding ninja
        </h2>
        <p class="mt-6">
          Indiferent dacă ești începător sau ai deja cunoștințe în programare,
          la CoderDojo Alba Iulia ai șansa să devii un adevărat ninja!
          Inițiază-te în lumea programării alături de mentori experimentați care
          te vor ghida pas cu pas în explorarea acestui univers fascinant. Fie
          că ești la prima ta întâlnire cu codul sau vrei să îți îmbunătățești
          abilitățile, CoderDojo Alba Iulia este locul perfect pentru tine.
        </p>

        <p class="mt-10">
          Descoperă lumea programării alături de noi și lasă-ți imaginația să
          zboare în această călătorie captivantă prin cod!
        </p>
      </div>
      <figure class="mt-16">
        <img
          class="aspect-video rounded-xl bg-gray-50 object-cover"
          src="/about-pic.jpeg"
          alt=""
        />
      </figure>
      <Mentors />
    </div>
  </div>
</Layout>
