	<div id="dialog">
		<input id="modal-two" type="checkbox" hidden>
		<label class="overlay" for="modal-two" hidden></label>
		<dialog>
				<label for="modal-two">x</label>
			<header>
				<h3>Contactar</h3>
				<p class="lead">Envía'm la teva proposta!</p>
			</header>
			<div>
				<p>dialog div p</p>
			<em><a href="mailto:{{ site.footer-links.email }}"><img src="{{ site.baseurl }}/hipertextos/svg/gmail.svg"></a><br>eMail</em>
			<em><a href="phone:{{ site.footer-links.email }}"><img src="{{ site.baseurl }}/hipertextos/svg/phone.svg"></a><br>Telf.</em>
			<em><a href="download:"><img src="{{ site.baseurl }}/hipertextos/svg/telegram.svg"></a><br>Telegram</em>
			<em><a href="download:"><img src="{{ site.baseurl }}/hipertextos/svg/whatsapp.svg"></a><br>Whatsapp</em>
			<em><a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><img src="{{ site.baseurl }}/hipertextos/svg/twitter.svg"></a><br>Twitter</em>
			<em><a href="https://www.facebook.com/{{ site.footer-links.facebook }}"><img src="{{ site.baseurl }}/hipertextos/svg/facebook.svg"></a><br>Facebook</em>
			<em><a href="download:"><img src="{{ site.baseurl }}/hipertextos/svg/arrows.svg"></a><br>Desar</em>
			</div>
		</dialog>
	</div>