	<div id="dialog">
	<div>
		<input id="modal-two" type="checkbox" hidden>
		<label class="overlay" for="modal-two" hidden></label>
		<dialog>
				<label for="modal-two">x</label>
			<header>
				<h2><i class="icon-calendar"></i>Quedem?<h2>
				<h6 class="lead">Envía'm la teva proposta, contestaré el més aviat posible.</h6>
			</header>
			<div>
				<p>
			<em><a href="mailto:{{ site.footer-links.email }}"><img class="dialog-svg" src="{{ site.baseurl }}/hipertextos/svg/gmail.svg"><br>eMail</a></em>
			<em><a href="tel:+34 658973617"><img class="dialog-svg" src="{{ site.baseurl }}/hipertextos/svg/phone.svg"><br>Mòvil</a></em>
			<em><a href="{{ site.baseurl }}/hipertextos/brand/vcard.vcf" download=".vcard"><img class="dialog-svg" src="{{ site.baseurl }}/hipertextos/svg/telegram.svg"><br>Telegram</a></em>
			<em><a href="{{ site.baseurl }}/hipertextos/brand/vcard.vcf" download=".vcard"><img class="dialog-svg" src="{{ site.baseurl }}/hipertextos/svg/whatsapp.svg"><br>Whatsapp</a></em>
			<em><a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><img class="dialog-svg" src="{{ site.baseurl }}/hipertextos/svg/twitter.svg"><br>Twitter</a></em>
			<em><a href="https://www.facebook.com/{{ site.footer-links.facebook }}"><img class="dialog-svg" src="{{ site.baseurl }}/hipertextos/svg/facebook.svg"><br>Facebook</a></em>
			<em><a href="{{ site.baseurl }}/hipertextos/brand/vcard.vcf" download=".vcard"><img class="dialog-svg" src="{{ site.baseurl }}/hipertextos/svg/arrows.svg"><br>vCard</a></em>

				<br>
				
				<i class="icon-alarm"></i><br>
				Dill-Div: 10:00h-20:00h<br>
				Diss-Dium: 10:00h-15:00h<br>
				</p>
			</div>
		</dialog>
	</div>
	</div>