		<footer id="footer" class="universe flat black">
			<div class="content">
					<div class="filled grey">
					<h5><strong>Credits</strong></h5>
					<h6 class="oswald">Disseny: <a href="http://isardmiralles.com/" target="_blank">Isard Miralles</a></h6>
					<h6 class="oswald">Foto Portada: <a href="http://cristianmartin.tumbl.com/" target="_blank">Cristian Martin</a></h6>
					</div>
			</div>
			<hr>
			<div class="foot content filled soft-grey">
				<h4><a href="www.oldsteam.com">www.OldSteam.com</a></h4>
				<p>
					Content created by <a href="{{ page.root_path }}/pages/about" title="Read more about us">{{ page.org_name }}</a> 
					and distributed under a <a href="{{ page.site_license_url }}" title="License details">{{ page.site_license }}</a> license. 
					This site works using <a href="http://staceyapp.com" target="blank" title="Stacey app CMS">Stacey CMS</a> 
					version {{ page.stacey_version }}  
					and <a href="http://hipertextos.net" target="blank" title="Hipertextos Framework">Hipertextos CSS Framework</a>. 
				</p>
			</div><!-- /.content -->
		</footer>