	<header id="page-header" class="cover sheetSlider sh-default sh-auto">
   <input id="s1" type="radio" name="slide1" checked/> 
   <input id="s2" type="radio" name="slide1"/>
   <div class="sh__content">
      <div class="sh__item"><img src="img/home.jpg"/></div>
      <div class="sh__item"><img src="img/home_b.jpg"/></div>
   </div>
   <div class="sh__arrows">
      <label for="s1">prueba1</label>
      <label for="s2">prueba2</label>
</div>
			<h5 id="textlighting">El futur és aquí,<br>actualitza't</h5>
        	<img itemprop="image" class="front-logo anm-scaleUpDown delay-100 slow" src="/hipertextos/brand/logo.png" alt="Logo Isard Miralles">
			<h1 itemprop="name" class="anm-moveFromBottomFade delay-200 slow">{{ site.name }}</h1>
			{% if site.description %}<h2 class="anm-scaleUp delay-200">{{ site.description }}</h2>{% endif %}
	</header>
