	<header id="page-header" class="cover">
	<!-- Slides with buttons -->
	<div class="slide-wrapper">
		<button class="flat violet slide-trigger" slide-in="rotateCubeRightIn" slide-out="rotateCubeRightOut">Next</button>	
		<div class="flat soft-yellow slide-page">
			<h2>Page 1</h2>
		</div>
		<div class="flat soft-violet slide-page">
			<h2>Page 2</h2>
		</div>
	</div>
	<hr>
				<h5 id="textlighting">El futur és aquí,<br>actualitza't</h5>
        	<img itemprop="image" class="front-logo anm-scaleUpDown delay-100 slow" src="/hipertextos/brand/logo.png" alt="Logo Isard Miralles">
			<h1 itemprop="name" class="anm-moveFromBottomFade delay-200 slow">{{ site.name }}</h1>
			{% if site.description %}<h2 class="anm-scaleUp delay-200">{{ site.description }}</h2>{% endif %}
	</header>
