l		<header  id="page-header" class="cover" style="background-image: url('{{ site.baseurl }}/assets/destacats/fujur.jpg');">
				<h1>{{ page.title }}</h1>
    	<div>
		<div id="vamosfujur">
                    <div class="cell-6 anm-moveFromRightFade delay-300">
                        <h4>Vamos Fújur!!</h4>
                        <p>Passió pel dibuix, la fantasía, la ciencia ficció, els clàssics del cine, les noves tecnologíes i els pintors clàssics.</p>
                    </div>
		</div>
    	<div>
    <hr>
		</header>
