        <header  id="page-header" class="cover anm-fadeIn delay-100 extra-slow">
        	<div>
				<h1 id="cover-logo" class="img-cover anm-scaleUp delay-200 slow" alt="Logo principal de {{ site.name }}" title="{{ site.name }}">{{ site.name }}</h1>
			</div>
				{% if site.description %}<h1 class="anm-moveFromBottomFade delay-600 slow"><small>{{ site.description }}</small></h1>{% endif %}
			<div id="go-down" class="anm-scaleUp delay-3500">
				<em><a href="#page-main">&rang;</a></em>
			</div>		

		</header>