<header id="page-header" class="cover sheetSlider sh-default sh-auto">
<!--Sheet Slider-->
   <input id="s1" type="radio" name="slide1" checked/> 
   <input id="s2" type="radio" name="slide1"/> 
   <input id="s3" type="radio" name="slide1"/>
   <input id="s4" type="radio" name="slide1"/>
   <input id="s5" type="radio" name="slide1"/>
   <input id="s6" type="radio" name="slide1"/>
   <div class="sh__content">

      <!-- Slider Item -->
      <div class="sh__item">
         <img src="../img/front/home1.jpg" alt="imgText"/>
         <!-- Item Info -->
         <div class="sh__meta front-head">
        	<img itemprop="image" class="front-logo" src="/hipertextos/brand/foto.png" alt="Logo Isard Miralles">
		<h1 itemprop="name">{{ site.name }}</h1>
		{% if site.description %}<h2>{{ site.description }}</h2>{% endif %}
         </div>		 
      </div>

      <div class="sh__item">
         <img src="../img/front/home2.jpg" alt="imgText"/>
         <!-- Item Info -->
         <div class="sh__meta blackon">
            <h4>Il·lustració</h4>
            <span>Visita el meu <a href="https://isardmiralles.com/portfoli/">Portfoli</a></span>
         </div>
      </div>
      
      <div class="sh__item">
         <img src="../img/front/home3.jpg" alt="imgText"/>
         <!-- Item Info -->
         <div class="sh__meta">
            <h4>Digital</h4>
            <span>Il·lustració Digital</span>
         </div>
      </div>

      <!-- Slider Item -->
      <div class="sh__item">
         <img src="../img/front/home4.jpg" alt="imgText"/>
         <!-- Item Info -->
         <div class="sh__meta blackon">
            <h4>Dibuix</h4>
            <span>Retrat a llàpis de Julian Schnabel</span>
         </div>
      </div>

      <!-- Slider Item -->
      <div class="sh__item">
         <img src="../img/front/home5.jpg" alt="imgText"/>
         <!-- Item Info -->
         <div class="sh__meta">
            <h4>Disseny</h4>
            <span>Cartells, Logos i Edició Web</span>
         </div>
      </div>
      
      <div class="sh__item">
         <img src="../img/front/home6.jpg" alt="imgText"/>
         <!-- Item Info -->
         <div class="sh__meta">
            <h4>Música</h4>
            <span>Músic Baterísta</span>
         </div>
      </div>
      
   </div><!-- .sh__content -->

   <!--botones-->
   <div class="sh__btns">
      <label for="s1"></label>
      <label for="s2"></label>
      <label for="s3"></label>
      <label for="s4"></label>
      <label for="s5"></label>
      <label for="s6"></label>
   </div><!-- .sh__btns -->

   <!--flechas-->
   <div class="sh__arrows">
      <label for="s1"></label>
      <label for="s2"></label>
      <label for="s3"></label>
      <label for="s4"></label>
      <label for="s5"></label>
      <label for="s6"></label>
   </div><!-- .sh__arrows -->
   
   <button class="sh-control"></button>
	</header>
