        <header  id="page-header" class="buscar anm-fadeIn delay-300 slow">
				<h1 class="anm-moveFromBottom delay-300 slow">Buscar</h1>
<script>
  (function() {
    var cx = 'partner-pub-2493257171023914:5113089481';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchbox-only></gcse:searchbox-only>
		</header>