		<header  id="page-header" class="serveis-header cover">
				<h2>{{ site.serveis }}<br>WEB</h2>
				<h5>{{ site.serveis-lead }}</h5>
  		<section id="serveis-tab">
			<div class="thumb-6 pushed-3">
					<div class="thumb-2"><img src="{{ site.baseurl }}/hipertextos/serveis/edicioweb.jpg" alt="Edició Web"><p>Edició Web</p></div>
					<div class="thumb-2"><img src="{{ site.baseurl }}/hipertextos/serveis/identitat.jpg" alt="Imatge Corporativa"><p>Identitat</p></div>
					<div class="thumb-2"><img src="{{ site.baseurl }}/hipertextos/serveis/illustracio.jpg" alt="Il·lustració i grafísmes"><p>Grafisme</p></div>
					<div class="thumb-2"><img src="{{ site.baseurl }}/hipertextos/serveis/marketing.jpg" alt="Publicitat i Marketing"><p>Marketing</p></div>
					<div class="thumb-2"><img src="{{ site.baseurl }}/hipertextos/serveis/textos.jpg" alt="Edició de textos professionals"><p>Textos</p></div>
					<div class="thumb-2"><img src="{{ site.baseurl }}/hipertextos/serveis/seo.jpg" alt="SEO Optimització cercadors"><p>SEO</p></div>
			</div>
		<hr>
  		</section>
		</header>
