    <header id="page-header" class="portfoli-header">
    	<div>
			    <div id="top-ilustration">
			         <figure class="cell-8">
                        <a href="{{ site.baseurl }}/assets/destacats/fujur.jpg" data-lightbox="roadtrip"><img class="imagens" src="{{ site.baseurl }}/assets/destacats/fujur.jpg" alt="Il·lustració digital de Bastian i Fújur"></a>
                    </figure>
                    <div class="cell-4">
                        <h4>Vamos Fújur!!</h4>
                        <p>Passió pel dibuix, la fantasía, la ciencia ficció, els clàssics del cine, les noves tecnologíes i els pintors clàssics.</p>
                    </div>
			    </div>
    	<div>
	</header>
