	<div id="dialog" class="rights">
	<div>
		<input id="modal-rights" type="checkbox" hidden>
		<label class="overlay" for="modal-rights" hidden></label>
		<dialog>
				<label for="modal-rights">x</label>
			<header>
				<h2><i class="icon-creativecommons"></i>Creative Commons<h2>
				<h6 class="lead">Alguns Drets Reservats</h6>
			</header>
			<div>
				<p>
					<div id="llicencia">
						<img class="cc-icons" src="{{ site.baseurl }}/img/llicencia/cc_icon.png">
						<img class="cc-icons" src="{{ site.baseurl }}/img/llicencia/attribution_icon.png">
						<img class="cc-icons" src="{{ site.baseurl }}/img/llicencia/nc_icon.png">
						<img class="cc-icons" src="{{ site.baseurl }}/img/llicencia/sa_icon.png">
					</div>
					<h6>Reconeixement - NoComercial - CompartirIgual 3.0</h6>
					<h6><small>(CC BY-NC-SA 3.0)</small></h6>
					
					<em><u><a href="https://creativecommons.org/licenses/by-nc-sa/3.0/deed.ca" title="Llegir a Creativecommons.org" target="_blank"><i class="icon-more"></i></a></u></em>
				</p>
			</div>
		</dialog>
	</div>
	</div>