	<div id="dialog" class="rights">
	<div>
		<input id="modal-rights" type="checkbox" hidden>
		<label class="overlay" for="modal-rights" hidden></label>
		<dialog>
				<label for="modal-rights">x</label>
			<header>
				<h2><i class="icon-creativecommons"></i>Creative Commons<h2>
				<h6 class="lead">Algunos Derechos Reservados</h6>
			</header>
			<div>
				<p>
					<div id="llicencia">
						<img src="{{ site.baseurl }}/img/llicencia/cc_icon.png" alt="icono Creative Commons">
						<img src="{{ site.baseurl }}/img/llicencia/attribution_icon.png" alt="icono Atribución">
						<img src="{{ site.baseurl }}/img/llicencia/nc_icon.png" alt="icono NC">
						<img src="{{ site.baseurl }}/img/llicencia/sa_icon.png" alt="icono SA">
						<h6 class="yellow">Reconocimiento - No Comercial - Compartir Igual<br>
						<small>(CC BY-NC-SA 3.0)</small></h6>
						<h5>Sois libre de:</h5>
						<b>Compartir</b> - copiar y redistribuir el material en cualquier medio y formato<br>
						<b>Adaptar</b> - remezclar, transformar y crear a partir del material<br>
						<em><u><a href="https://creativecommons.org/licenses/by-nc-sa/3.0/deed.ca" title="Leer en Creativecommons.org" target="_blank">Más Información</a></u></em>
					</div>
				</p>
			</div>
		</dialog>
	</div>
	</div>