	<div id="dialog" class="rights">
	<div>
		<input id="modal-rights" type="checkbox" hidden>
		<label class="overlay" for="modal-rights" hidden></label>
		<dialog>
				<label for="modal-rights">x</label>
			<header>
				<h2><i class="icon-creativecommons" alt="Logo de Creative Commons"></i>Creative Commons<h2>
				<h6 class="lead">Alguns Drets Reservats</h6>
			</header>
			<div>
				<p>
					<div id="llicencia">
						<img src="{{ site.baseurl }}/img/llicencia/cc_icon.png" alt="icona Creative Commons">
						<img src="{{ site.baseurl }}/img/llicencia/attribution_icon.png" alt="icona atribució Creative Commons">
						<img src="{{ site.baseurl }}/img/llicencia/nc_icon.png" alt="icona NC Creative Commons">
						<img src="{{ site.baseurl }}/img/llicencia/sa_icon.png" alt="icona SA Creative Commons">
						<h6 class="yellow">Reconeixement - No Comercial - Compartir Igual<br>
						<small>(CC BY-NC-SA 3.0)</small></h6>
						<h5>Sou lliure de:</h5>
						<b>Compartir</b> - copiar i redistribuir el material en qualsevol mitjà i format<br>
						<b>Adaptar</b> - remesclar, transformar i crear a partir del material<br>
						<em><u><a href="https://creativecommons.org/licenses/by-nc-sa/3.0/deed.ca" title="Llegir a Creativecommons.org" target="blank">Més Informació</a></u></em>
					</div>
				</p>
			</div>
		</dialog>
	</div>
	</div>