<div id="translate">
<div style="padding:10px 4px 3px 4px;text-align:center;">

<!--–GOOGLE TRANSLATE MINI FLAGS–-->

<div align="center">

<!--– Español a Chino –-->
<a target="_blank" rel="nofollow" onclick="window.open('http://www.google.com/translate?u='+encodeURIComponent(location.href)+'&langpair=es%7Czh-CN&hl=es&ie=UTF8'); return false;" title="Google-Translate-Chinese (Simplified) BETA"><img style="border: 0px solid ; cursor: pointer; width: 32px; height: 32px;" alt="Google-Translate-Chinese" src="http://lh5.ggpht.com/_mcq01yDJ2uY/Sdke4C8za2I/AAAAAAAAAkU/Mpfn_ntCweU/China.png" title="Google-Translate-Chinese" /></a>

<!--– Español a Francés –-->
<a target="_blank" rel="nofollow" onclick="window.open('http://www.google.com/translate?u='+encodeURIComponent(location.href)+'&langpair=es%7Cfr&hl=es&ie=UTF8'); return false;" title="Google-Translate-Spanish to French "><img style="border: 0px solid ; cursor: pointer; width: 32px; height: 32px;" alt="Google-Translate-Spanish to French" src="http://lh4.ggpht.com/_mcq01yDJ2uY/SdkfGSkRgfI/AAAAAAAAAkc/X4E87SASLtA/France.png" title="Google-Translate-Spanish to French" /></a>

<!--– Español a Alemán –-->
<a target="_blank" rel="nofollow" onclick="window.open('http://www.google.com/translate?u='+encodeURIComponent(location.href)+'&langpair=es%7Cde&hl=es&ie=UTF8'); return false;" title="Google-Translate-Spanish to German"><img style="border: 0px solid ; cursor: pointer; width: 32px; height: 32px;" alt="Google-Translate-Spanish to German" src="http://lh3.ggpht.com/_mcq01yDJ2uY/Sdke3rFjMUI/AAAAAAAAAkE/o0kR0MfngXA/Germany.png" title="Google-Translate-Spanish to German" /></a>

<!--– Español a Italiano –-->
<a target="_blank" rel="nofollow" onclick="window.open('http://www.google.com/translate?u='+encodeURIComponent(location.href)+'&langpair=es%7Cit&hl=es&ie=UTF8'); return false;" title="Google-Translate-Spanish to Italian"><img alt="Google-Translate-Spanish to Italian" style="border: 0px solid ; cursor: pointer; width: 32px; height: 32px;" src="http://lh3.ggpht.com/_mcq01yDJ2uY/Sdke2xCmrPI/AAAAAAAAAj0/Jv14yyDo1i4/Italy.png" title="Google-Translate-Spanish to Italian" /></a>

<!--– Español a Japonés –-->
<a target="_blank" rel="nofollow" onclick="window.open('http://www.google.com/translate?u='+encodeURIComponent(location.href)+'&langpair=es%7Cja&hl=es&ie=UTF8'); return false;" title="Google-Translate-Spanish to Japanese BETA"><img style="border: 0px solid ; cursor: pointer; width: 32px; height: 32px;" alt="Google-Translate-Spanish to Japanese" src="http://lh5.ggpht.com/_mcq01yDJ2uY/Sdke3f2KbNI/AAAAAAAAAj8/xyGLFdUZbVY/Japan.png" title="Google-Translate-Spanish to Japanese" /></a>

<!--– Español a Inglés –-->
<a target="_blank" rel="nofollow" onclick="window.open('http://www.google.com/translate?u='+encodeURIComponent(location.href)+'&langpair=es%7Cen&en=es&en=UTF8'); return false;" title="Google-Translate-Spanish to English "><img style="border: 0px solid ; cursor: pointer; width: 32px; height: 32px;" alt="Google-Translate-Spanish to English" src="http://lh4.ggpht.com/_mcq01yDJ2uY/SdkhG4bjxqI/AAAAAAAAAks/Ws6AzZdnZTw/United%20States%20of%20America%20%28USA%29.png" title="Google-Translate-Spanish to English" /></a>

<!--– Español a Ruso –-->
<a target="_blank" rel="nofollow" onclick="window.open('http://www.google.com/translate?u='+encodeURIComponent(location.href)+'&langpair=es%7Cru&hl=es&ie=UTF8'); return false;" title="Google-Translate-Spanish to Russian BETA "><img style="border: 0px solid ; cursor: pointer; width: 32px; height: 32px;" alt="Google-Translate-Spanish to Russian" src="http://lh5.ggpht.com/_mcq01yDJ2uY/SdkfGVESWsI/AAAAAAAAAkk/-ruu99vFElQ/Russian%20Federation.png" title="Google-Translate-Spanish to Russian" /></a>

<!--– Español a Portugués –-->
<a target="_blank" rel="nofollow" onclick="window.open('http://www.google.com/translate?u='+encodeURIComponent(location.href)+'&langpair=es%7Cpt&hl=es&ie=UTF8'); return false;" title="Google-Translate-Spanish to Portuguese"><img style="border: 0px solid ; cursor: pointer; width: 32px; height: 32px;" alt="Google-Translate-Spanish to Portuguese" src="http://2.bp.blogspot.com/_hljKDuw-cxQ/S6Ugy6nTbXI/AAAAAAAAPVI/_uFco4fULC8/s00/Brasil.png" title="Google-Translate-Spanish to Portuguese" /></a>

<center><a href=http://www.dicasblogger.com.br/2009/04/translator-widget-tradutor-para-blogs.html target="_blank"><small>Translator Widget by Dicas Blogger</small></a></center>
</div>

</div></div>