/*------------------------------------*\
    UTILITIES
    Helpers
\*------------------------------------*/

// Clearfix

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// Screen reader text

.srt {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// For pseudo-elements

%pseudos {
  display: block;
  content: '';
  position: absolute;
}