/*------------------------------------*\
    UTILITIES
    Mixins
\*------------------------------------*/

// Clearfix
// -------------------------
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

@mixin clearfix() {
    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }
    &:after {
        clear: both;
    }
}

// WebKit-style focus
// -------------------------

@mixin tab-focus() {
    // Default
    outline: thin dotted;
    // WebKit
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

// Background Colors
// Used e.g. for alert messages
// -------------------------

@mixin bg-colors($map) {
    @each $theme, $color in $map {
        &--#{$theme} {
            background-color: $color;
            color: $white;
            padding: 10px 10px 5px 10px;
            text-align: center;

            a:hover {
                color: $white;
            }
        }
    }
}

// Image Replace
// @include img-replace("me.jpg", 100px, 100px, inline-block)
// -------------------------

@mixin img-replace($img, $width, $height, $display: block) {
    background-image: url('#{$path--rel}/#{$img}');
    background-repeat: no-repeat;
    width: $width;
    height: $height;
    display: $display;
}