{% if include.slug %}{% assign slug = include.slug %}{% else %}{% assign slug = page.slug %}{% endif %}
{% if site.data.comments[slug] %}{% assign comments = site.data.comments[slug] | sort %}
<section id="comments" class="comments">
	<h3>{{ comments | size }} comment{% if comments.size > 1 %}s{% endif %} for <em>{{ page.title }}</em></h3>
	<ul class="comment-list">
	{% for comment in comments %}{% assign next = forloop.index0 | plus: 1 %}
		<li id="comment-{{ comment[1].date }}" class="comment">
		<article class="comment-body" itemprop="comment" itemscope itemtype="http://schema.org/Comment">
			
			<div class="comment-content">{{ comment[1].message | markdownify }}</div>
		</article>
		{% if comment[1].replyto and comments[next][1].replyto %}
		</li>
		{% elsif comment[1].replyto %}
		</li></ul>
		<h3 onclick="$('#reply-to-comment-{{ comment[1].date }}').toggle()" style="cursor: pointer;">Reply to This Thread</h3>

		</li>
		{% elsif comments[next][1].replyto %}
		<ul class="comment-list">
		{% else %}
		<h3 onclick="$('#reply-to-comment-{{ comment[1].date }}').toggle()" style="cursor: pointer;">Reply to This Thread</h3>
		
		</li>
		{% endif %}		
	{% endfor %}
	</ul>
</section>
{% endif %}

<h3 id="reply-title" class="comment-reply-title">Leave a Reply</h3>

