<form id="post-new-comment{{ include.reply }}" class="new-comment" method="post" action="https://api.staticman.net/v2/entry/hendrixjoseph/hendrixjoseph.github.io/master/comments"{% if include.reply %} style="display: none;"{% endif %}>
  <input name="options[redirect]" type="hidden" value="{{ site.url }}{{ page.url }}" />
  <input name="options[slug]" type="hidden" value="{{ include.slug }}" />
  {% if include.reply %}<input name="fields[replyto]" type="hidden" value="entry{{ include.reply }}" />{% endif %}
  <label class="comment-body" for="comment{{ include.reply }}">Comment (required)</label><textarea name="fields[msg]" id="comment{{ include.reply }}" required="required" cols="45" rows="8" maxlength="65525" aria-required="true"></textarea>
  <label class="comment-author" for="name{{ include.reply }}">Name (required)</label><input name="fields[name]" id="name{{ include.reply }}" required="required" aria-required="true" type="text" />
  <label class="comment-email" for="email{{ include.reply }}">Email (required, always hashed, never used nor published)</label><input name="fields[email]" id="email{{ include.reply }}" required="required" aria-required="true" type="email" />
  <label class="comment-url" for="url{{ include.reply }}">Website (optional)</label><input name="fields[url]" id="url{{ include.reply }}" type="url" maxlength="50" />
  <button type="submit">Post comment</button>
  <em>Note that comments won't appear until approved.</em>
</form>
<div id="post-new-comment{{ include.reply }}-submitting" style="display: none;"><img src="/images/ajax-loader.gif" style="display: inline;" /></div>
<div id="post-new-comment{{ include.reply }}-thank-you" style="display: none;">Thank you. Your comment will be visable after approval.</div>
<script>
$('#post-new-comment{{ include.reply }}').submit(function(e){
    e.preventDefault();
    var form = this;
	$(form).hide();
	$('#post-new-comment{{ include.reply }}-submitting').show();

    $.ajax({
        type: $(this).attr('method'),
        url: $(this).attr('action'),
        data: $(this).serialize(),
        contentType: 'application/x-www-form-urlencoded',
        success: function (data) {
			$('#post-new-comment{{ include.reply }}-submitting').hide();
			$('#post-new-comment{{ include.reply }}-thank-you').show();
        },
        error: function (err) {
            console.log(err);
			$('#post-new-comment{{ include.reply }}-submitting').hide();
			$('#post-new-comment{{ include.reply }}-thank-you').show();
        }
    });
});
</script>