_site/
.gems/
.jekyll-cache/
.sass-cache/
.jekyll-metadata
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/spec/fixtures/site/_site
npm-debug.log*
/spec/fixtures/site/Gemfile.lock
node_modules
/lib/jekyll-admin/public
*.gem
.DS_Store
