/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background-color: #fff;
  background-image: url("http://elementaryos.org/img/nav-bg.png");
  background-repeat: no-repeat;
  background-position: center -30px;
  background: #fff;
  font: 14px/1.5 $font_body;
  color: $color_body;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
  width: 100%;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 32px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGrey;
  
  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 64px;
  height: 64px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGrey;
  cursor: pointer;
  font-family: $font_header; 
  font-weight: 100;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $grey;
  font-family: $font_header;
  font-size: 16px;
  
  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $font_header; 
  font-size: 16px;
  
  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGrey;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGrey;

  footer {
    padding: 20px 0;
    text-align: center;
  }
}