/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background-color: #fff;
  background-image: url("http://elementaryos.org/img/nav-bg.png");
  background-repeat: no-repeat;
  background-position: center -30px;
  background: #fff;
  font: 14px/1.5 $font_body;
  color: $color_body;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font_heading;
  color: $color_heading;
  font-family: $font_heading;
  font-weight: 300;
  
  margin: 15px 0;
  padding: 0;

  a {
    color: inherit;
  }
}
  
h1 {  
  font-size: 40px;
}

h2 {  
  font-size: 24px;
}

h3 {  
  font-size: 20px;
}

h4 {  
  font-size: 18px;
}

p {
  margin: 15px 0;
}

a {
  color: $color_link;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $color_link;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.date {
  font-style: italic;
  color: $color_subtle;
  float: right;
}

table {
  border-spacing: 1px;
  text-align: left;
  width: 100%;
}
th, td {
  border: 1px solid #ccc;
  padding: .25em .5em;
}
th {
  font-weight:bold;
  background-color:#eee;
}
th {
  width: 25%;
}
th:last-child {
  width: 50%;
}

// Specify the color of the selection
::-moz-selection {
  color: #fff;
  background: $color_link;
}
::selection {
  color: #fff;
  background: $color_link;
}

.screenshots {
  text-align: center;
  img {
    border-top-left-radius: 4px; /* not perfect, but hides that I cut the window borders badly */
    border-top-right-radius: 4px;
    box-shadow: 0 10px 50px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, .3);
    margin:16px 0;
  }
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 32px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGrey;
  
  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGrey;
  cursor: pointer;
  font-family: $font_header; 
  font-weight: 100;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $grey;
  font-family: $font_header;
  font-size: 16px;
  
  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $font_header; 
  font-size: 16px;
  
  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGrey;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGrey;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post { 
  header {
    display: flex;
    justify-content: center;
  }
  header p {
    font-size: 30px;
    font-weight: 100;
    padding-top: 10px;
    padding-left: 15px;
    color: #666;
  }
  
  blockquote {
    margin: 16px 8px;
    border-left: 2px solid $grey;
    padding: 4px 12px;
    color: $grey;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGrey;
}

footer {
  padding: 20px 0;
  text-align: center;
}
