/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body.beta {
  background-color: #232C2F;
  background-image: url(http://elementaryos.org/img/nav-bg.png);
  background-position: center -30px;
  background-repeat: no-repeat;
  font: 14px/1.5 $font_body;
  color: #B2BFBC; /*$color_body;*/

  > * {
    max-width: 960px;
    width: 100%;
    margin: 20px auto;
  }
  
  > header {
    border-width: 1px;
    border-style: solid;
    border-color: #424C50 #313C3F #2A2F31 #313C3F;
    box-shadow: #10170A 0 0 0 1px;
    background-image: linear-gradient(#283237 0%, #1F2527 100%);
    border-radius: 5px;
    
    > nav {
      
      align-items: center;
      display: flex;
      flex-direction: row;
      float: none;
      height: 48px;
      line-height: 34px;
      
      a {
        color: #B2BFBC;/* var! */
        text-shadow: 0 1px 0 #10170A;
        align-items: center;
        height: 48px;
        line-height: 34px;
      }
      
      a:after:not(:last-child) {
        background-color: rgba(0, 0, 0, 0);
        background-image: linear-gradient(
          rgba(16,23,10,0) 0%, 
          rgba(16,23,10,1) 50%, 
          rgba(16,23,10,0) 100%
        );
        background-origin: padding-box;
        background-size: auto;
        box-shadow: #FFF 1px 0 0 0;
        content: " ";
        font-size: 0;
        display: block;
        height: 48px;
        width: 1px;
      }
      
    }
  }/* > header */
  
  > main {
    padding: 0 10px;
    
    /* Styles only apply to actual contents */
    h1, h2, h3, h4, h5, h6 {
      font-family: $font_heading;
      color: $color_heading;
      font-family: $font_heading;
      font-weight: 300;

      margin: 1em 0 15px;
      padding: 0;

      a {
        color: inherit;
      }
    }

    h1 {font-size: 40px;}
    h2 {font-size: 24px;}
    h3 {font-size: 20px;}
    h4 {font-size: 18px;}
    h5 {font-size: 16px;}
    h6 {font-size: 14px;}

    p {
      margin: 15px 0;
    }

    a {
      color: $color_link;
      text-decoration: none;
        cursor: pointer;
      &:hover, &:active {
        color: $color_link;
      }
    }

    ul, ol {
      margin: 15px 0;
      padding-left: 30px;
    }

    ul {
      list-style-type: disc;
    }

    ol {
      list-style-type: decimal;
    }

    ol ul, ul ol, ul ul, ol ol {
      margin: 0;
    }

    ul ul, ol ul {
      list-style-type: circle;
    }

    em, i {
      font-style: italic;
    }

    strong, b {
      font-weight: bold;
    }

    img {
      max-width: 100%;
    }

    .date {
      font-style: italic;
      color: $color_subtle;
      float: right;
    }

    table {
      border-spacing: 1px;
      text-align: left;
      width: 100%;
    }
    th, td {
      border: 1px solid #ccc;
      padding: .25em .5em;
    }
    th {
      font-weight:bold;
      background-color:#eee;
    }
    th {
      width: 25%;
    }
    th:last-child {
      width: 50%;
    }    
    
    .posts > .post {
      padding-bottom: 2em;
      border-bottom: 1px solid $lightGrey;
    }

    .posts > .post:last-child {
      padding-bottom: 1em;
      border-bottom: none;
    }

    .post { 
      header {
        display: flex;
        justify-content: center;
      }
      header p {
        font-size: 30px;
        font-weight: 100;
        padding-top: 10px;
        padding-left: 15px;
        color: #666;
      }
      
      blockquote {
        margin: 16px 8px;
        border-left: 2px solid $grey;
        padding: 4px 12px;
        color: $grey;
        font-style: italic;
      }

      .comments {
        margin-top: 10px;
      }
      
      .screenshots {
        text-align: center;
        img {
          border-top-left-radius: 6px; /* not perfect, but hides that I cut the window borders badly */
          border-top-right-radius: 6px;
          box-shadow: 0 10px 50px 5px rgba(0, 0, 0, 0.5);
          margin:16px 0;
        }
      }
    }

  }/* > main */
  
  > footer {
    margin-top: 50px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: $lightGrey;
    padding: 20px 0;
    text-align: center;
  }/* > footer */
  
}

// Specify the color of the selection
::-moz-selection {
  color: #fff;
  background: $color_link;
}
::selection {
  color: #fff;
  background: $color_link;
}