---
layout: ko
title: 리니지2M 연금 검색기
excerpt: "리니지2M의 아이템을 검색하여 해당 아이템이 존재하는 연금 재료와 연관된 아이템 컬렉션을 확인할 수 있습니다."
tags: [리니지2M, 리니지2m, 연금 검색기]
---

<h1><a href="https://twitter.com/L2MDCSCAM">Twitter</a></h1>
<div class="recent" lang="ko">
  <h1>TIPS</h1>
{% assign posts=site.categories.tips | where:"lang", "ko" | sort: 'lang-ref' %}
{% if posts.size > 1 %}
  {% for post in posts %}
    <article class="post">
      <h2>{{ post.title }}</h2>
      <a href="{{ site.baseurl }}{{ post.url }}"><span class="flag flag-kr"> </span> 한국어</a>
      <a href="{{ site.baseurl }}{{ post.url | replace: "ko", "jp" }}"><span class="flag flag-jp"> </span>日本語</a>
    </article>
  {% endfor %}
{% endif %}
</div>
