---
import Map from "./Map.jsx";
import Button from "./Button.astro";
---

<div class="overflow-hidden bg-white py-24 sm:py-32 max-w-7xl mx-auto">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
    >
      <div class="lg:ml-auto lg:pl-4 lg:pt-4">
        <div class="lg:max-w-lg">
          <h2 class="text-base font-semibold leading-7 text-accent">Despre</h2>
          <p
            class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            CoderDojo
          </p>
          <p class="mt-6 text-lg leading-8 text-gray-600">
            <a href="https://www.facebook.com/coderdojoalbaiulia"
              >CoderDojo Alba Iulia</a
            > este parte a unei <a href="https://coderdojo.com/en/"
              >inițiative globale</a
            > de a crea cluburi de programare pentru copii și adolescenți în care
            copiii (“ninjas” - între 7 și 17 ani) învață programare de la voluntari
            (“mentors”) din comunitatea locală. Dojo-ul din Alba Iulia este o inițiativă
            a <a href="https://ai3.ro/">AI3</a>, primul cluster de IT din
            județul Alba..
          </p>
          <Button
            href="/regulament"
            text="Regulament"
          />
        </div>
      </div>
      <div class="flex items-start justify-end lg:order-first">
        <Map client:idle />
      </div>
    </div>
  </div>
</div>
