---
import Blogs from "./Blogs.astro";
const { post } = Astro.props;
---

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Blogul nostru
      </h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">
        Blogul nostru reprezintă un spațiu în care împărtășim călătoria noastră
        prin lumea ingineriei.
      </p>
    </div>
    <Blogs post={post} />
  </div>
</div>
