---
type Props = {
  href: string;
  text: string;
};

const { href, text } = Astro.props;
---

<div class="mt-10 flex items-center gap-x-6">
  <a
    href={href}
    class="rounded-md bg-accent px-4 py-1.5 text-md font-medium text-white shadow-sm hover:bg-hover focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-accent"
    >{text}</a
  >
</div>
