<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div
      class="mx-auto max-w-2xl space-y-16 divide-y divide-gray-100 lg:mx-0 lg:max-w-none"
    >
      <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-3">
        <div>
          <h2 class="text-3xl font-bold tracking-tight text-gray-900">
            Contactează-ne
          </h2>
          <p class="mt-4 leading-7 text-gray-600">
            Quam nunc nunc eu sed. Sed rhoncus quis ultricies ac pellentesque.
          </p>
        </div>
        <div
          class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:col-span-2 lg:gap-8"
        >
          <div class="rounded-2xl bg-gray-50 p-10">
            <h3 class="text-base font-semibold leading-7 text-gray-900">
              Cum te înscrii?
            </h3>
            <p class="text-sm leading-6">
              Roagă tutorele tău să completeze <a
                class="text-indigo-600"
                href="https://forms.gle/4fqArMANeztCBgSr7"
                >formularul</a
              > și asigură-te că ai citit <a
                class="text-indigo-600"
                href="/regulament"
                >regulamentul</a
              >.
            </p>
          </div>
          <div class="rounded-2xl bg-gray-50 p-10">
            <h3 class="text-base font-semibold leading-7 text-gray-900">
              Cum devii mentor?
            </h3>
            <p class="text-sm leading-6">
              Poți să devii mentor dacă ai fost ninja la vreun CoderDojo
              existent sau dacă ești membru <a
                class="text-indigo-600"
                href="https://ai3.ro/"
                >AI3</a
              >.
            </p>
            <dl class="mt-3 space-y-1 text-sm leading-6 text-gray-600">
              <div>
                <dt class="sr-only">Email</dt>
                <dd>
                  <a
                    class="font-semibold text-indigo-600"
                    href="mailto:salut+coderdojo@ai3.ro"
                    >salut+coderdojo@ai3.ro</a
                  >
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
