---
import Mentor from "./Mentor.astro";
---

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Mentorii noștrii
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        Suntem o echipă dinamică de indivizi pasionați de ceea ce facem.
      </p>
    </div>
    <ul
      role="list"
      class="mx-auto mt-20 grid max-w-2xl grid-cols-2 gap-x-4 gap-y-16 text-center sm:grid-cols-3 md:grid-cols-4 lg:mx-0 lg:max-w-none lg:grid-cols-5"
    >
      <Mentor />
    </ul>
  </div>
</div>
