---
import { mentors } from "../data";
---

{
  mentors.map((mentor) => (
    <li class="w-42">
      <img
        class="mx-auto h-24 w-24 rounded-full"
        src={mentor.image}
        alt=""
      />
      <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-gray-900">
        {mentor.name}
      </h3>
      <a
        href={mentor.website}
        class="text-xs leading-6 text-gray-600 hover:text-accent transition-all"
      >
        {mentor.worksAt}
      </a>
    </li>
  ))
}
