---
import { Image } from "astro:assets";
---
<div class="mx-auto max-w-7xl relative z-50">
        <div class="px-6 pt-6 lg:max-w-2xl lg:pl-8 lg:pr-0 absolute">
          <nav class="flex items-center justify-between lg:justify-start" aria-label="Global">
            <a href="/" class="-m-1.5 p-1.5">
              <span class="sr-only">CoderDojo Alba Iulia</span>
              <Image alt="" width={100} height={100} src="/logo.png">
            </a>
            <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700 lg:hidden">
              <span class="sr-only">Open main menu</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
            </button>
            <div class="hidden lg:ml-12 lg:flex lg:gap-x-14">
              <a href="/blog" class="text-sm font-semibold leading-6 text-gray-900">Blog</a>
              <a href="/despre" class="text-sm font-semibold leading-6 text-gray-900">Despre</a>
              <a href="/regulament" class="text-sm font-semibold leading-6 text-gray-900">Regulament</a>
              <a href="/confidentialitate" class="text-sm font-semibold leading-6 text-gray-900">Confidențialitate</a>
            </div>
          </nav>
        </div>
</div>