---
import { Image } from "astro:assets";

type Props = {
  position: string;
};

const { position } = Astro.props;
---

<div class="mx-auto max-w-7xl relative z-50 flex md:block justify-center items-center">
  <div class={`px-6 pt-6 lg:max-w-2xl lg:pl-8 lg:pr-0 block lg:${position}`}>
    <nav
      class="flex flex-col md:flex-row items-center justify-between lg:justify-start "
      aria-label="Global"
    >
      <a
        href="/"
        class="-m-1.5 p-1.5"
      >
        <span class="sr-only">CoderDojo Alba Iulia</span>
        <Image
          alt=""
          width="200"
          height="200"
          src="/logo.png"
        />
        
      </a>
      <div class="flex gap-x-4 lg:ml-12 lg:flex lg:gap-x-14">
        <a
          href="/blog"
          class="text-sm font-semibold leading-6 text-gray-900"
          >Blog</a
        >
        <a
          href="/despre"
          class="text-sm font-semibold leading-6 text-gray-900"
          >Despre</a
        >
        <a
          href="/regulament"
          class="text-sm font-semibold leading-6 text-gray-900"
          >Regulament</a
        >
        <a
          href="/confidentialitate"
          class="text-sm font-semibold leading-6 text-gray-900"
          >Confidențialitate</a
        >
      </div>
    </nav>
    
  </div>
</div>
