---
import { getCollection } from "astro:content";
import Post from "./Post.astro";

const posts = (await getCollection("posts")).sort(
  (a, b) => Date.parse(b.data.date) - Date.parse(a.data.date)
);
---

<div class="mt-16 space-y-20 lg:mt-20 lg:space-y-20">
  {posts.map((post) => <Post post={post} />)}
</div>
