---
import { sponsors } from "../data";
---

<div class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-12 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:pl-8">
  {
    sponsors.map((sponsor) => (
      <a
        href={sponsor.link}
        class="text-center"
      >
      <img class=" max-h-24 w-full object-contain md:object-left " src={sponsor.image} alt={sponsor.sponsor}>
      </a>
    ))
  }
</div>
