---
import Button from "./Button.astro";
import Sponsor from "./Sponsor.astro";
---

<div class="bg-white py-24 sm:py-32">
  <div
    class="mx-auto flex flex-col-reverse md:flex-row justify-between max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3 lg:ml-auto lg:pl-4"
  >
    <Sponsor />
    <div class="max-w-2xl lg:max-w-lg">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Parteneri
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        Suntem recunoscători pentru susținerea deosebită și colaborarea
        ireproșabilă a partenerilor noștri.
      </p>
      <Button
        href="mailto:salut+coderdojo@ai3.ro"
        text="Devino partener"
      />
    </div>
  </div>
</div>
