{{ if and (not .Site.Params.disable_codefolding) (not .Params.disable_codefolding) (not .Site.Params.codefolding_nobutton) (not .Params.codefolding_nobutton) (in (string .Content) "</pre>") }}
<div id="code-folding-buttons" class="btn-group pull-right">
  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-_extension-text-contrast="">
    <span>Show/hide code</span> 
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" style="min-width: 50px;">
  <li><a id="rmd-show-all-code" href="#">Show all</a>
  </li><li><a id="rmd-hide-all-code" href="#">Hide all</a></li>
  </ul>
</div>
{{ end }}
