{{- define "main" -}}

{{/* Check that user fully installed Academic. */}}
{{ if not (isset site.Params "theme") }}
  {{ errorf "Please complete the installation of Academic by following the steps at https://sourcethemes.com/academic/docs/install/" }}
{{ end }}

{{/* Deprecation warnings */}}

{{/* v4.5: Address changed from string to map. */}}
{{ if isset site.Params "address" }}
{{ if eq (reflect.IsMap site.Params.address) false }}
  {{ errorf "Please upgrade the `address` field in `config/_default/params.toml`. Refer to all of the Breaking Changes in v4.5 at https://sourcethemes.com/academic/updates/v4.5.0/" }}
{{ end }}
{{ end }}

{{/* Generate homepage. */}}
{{ partial "widget_page.html" . }}

{{- end -}}
