.ico_icon-social-fb-hover, .ico_icon-social-fb, .ico_icon-social-instagram-hover, .ico_icon-social-instagram, .ico_icon-form-pass, .ico_icon-social-vk, .ico_icon-social-vk-hover, .ico_icon-login, .ico_icon-form-user, .ico_icon-checked-item, .ico_icon-list {
  display: inline-block;
  background-image: url(spritebox-sprite.png);
  background-repeat: no-repeat
}

.ico_icon-social-fb-hover {
  background-position: -16px -48px;
  height: 22px;
  width: 12px
}

.ico_icon-social-fb {
  background-position: -16px -8px;
  height: 22px;
  width: 12px
}

.ico_icon-social-instagram-hover {
  background-position: -88px -48px;
  height: 21px;
  width: 21px
}

.ico_icon-social-instagram {
  background-position: -88px -10px;
  height: 21px;
  width: 21px
}

.ico_icon-form-pass {
  background-position: -173px -10px;
  height: 17px;
  width: 15px
}

.ico_icon-social-vk {
  background-position: -49px -12px;
  height: 16px;
  width: 25px
}

.ico_icon-social-vk-hover {
  background-position: -49px -52px;
  height: 16px;
  width: 25px
}

.ico_icon-login {
  background-position: -212px -11px;
  height: 16px;
  width: 18px
}

.ico_icon-form-user {
  background-position: -290px -11px;
  height: 15px;
  width: 15px
}

.ico_icon-checked-item {
  background-position: -253px -11px;
  height: 12px;
  width: 12px
}

.ico_icon-list {
  background-position: -133px -12px;
  height: 10px;
  width: 10px
}
