.posts {
  margin-top: 3rem;

  .date { font-size: 1.1rem; }
}

.post-header {
  margin: 3rem 0;
}

.post-title {
  font-size: 2.5rem;
}

.post {
  margin: 3rem 0;
  h2, p, img { margin: 2.5rem 0; }
}

.entry {
  margin-top: 1.3rem;
}
