/* by Isard Miralles  ADDING EXTRA to Serveis - CSS */
/* ------------------------------------------------------------ Resets */

#page-header.serveis-header {background-image: url("/img/serveis.jpg");	background-position: top center;
	background-attachment: fixed;background-size: cover;background-repeat: no-repeat;
	border:none;color: #fff;overflow: hidden;
	text-align: center;height: 42vh;
}
#page-header div h1 {font-weight:400;letter-spacing: 0.005em; font-size:1.0em;line-height:1.7em;margin-bottom:0px;max-width:30%;text-align: left;float:left;}
#page-header div {border-bottom:thin solid #fafafa;height:42px;}
#phone-fine svg {max-width:15px;margin-right:5px;}
#page-header div a {color:var(--color-white) ;font-weight:300;letter-spacing: 0.012em!important; font-size:1.0em;
    line-height:1.8em;text-align: right;float:right;text-decoration: none;}
#page-header a:hover {color:var(--color-link);} 

#page-header h2 {font-size:2.9em;padding-top:190px;font-weight: 400;letter-spacing: none;}
#page-header h5 {padding-top:220px;font-weight: 200;}

#page-nav {background-color:var(--color-white)!important;height:79px;overflow:hidden;}
#page-nav a {text-decoration:none;}
#page-nav a:hover {color:var(--color-black);}
.list-unlisted li {	list-style: none;padding-left: 0;}

/* Serveis */
h3.head-section {color:var(--color-hardgrey) ;font-size:1.6em;font-weight:lighter ;line-height: 1.1em;margin-bottom:0px;}
h4.head-section small {color:var(--color-hardgrey) ;font-size:15px;line-height:1.6em;}
#section-music h3.head-section {color:rgba(108,178,229,1) ;}
#section-music h4.head-section small {color:rgba(108,178,229,1) }

#serveis-pre {text-align:center;box-shadow:inset 0 90px 80px #eee;
    padding:80px 0 69px 0;margin:0 0 12px 0;}
#serveis-pre h2 {margin-bottom:6px;}
#serveis-pre h4 {text-align:right;margin-right:21%;}
#section-web {text-align:justify;background:linear-gradient(rgba(255,255,255,1),rgba(255,255,255,.9), rgba(235,235,235,1));}
#section-web h2 {line-height:.96em;}
#section-web h5 {line-height:1.3em;font-weight: normal;}
#browser-ios {padding:12px 0 28px 0;line-height:2.6em;
    background:rgba(69,65,65,1) ;text-align:center;}
#browser-ios svg {max-width:28px;color:rgba(130,130,130,.5) ;margin:0 12px 0 0;}
#section-brand {background-image: url("/img/blog.jpg");background-position:fixed;image-rendering: crisp-edges;margin-top:-30px;}
#section-brand h3, #section-brand h4.head-section small,
#section-brand a {
	color:var(--color-white);}
#section-paint {background-color:var(--color-black) ;text-align:center;}
#section-music {background:linear-gradient(rgba(216,80,162,1),rgba(193,100,160,.9),rgba(97,149,209,1));
    color:var(--color-white) ;border:none;text-align:center;}
#section-web, #section-brand, #section-music {
    background-position: top center;background-attachment: fixed;
    background-size: cover;background-repeat: no-repeat;
    border:none;overflow: hidden;text-align: center;}
#section-web svg, #section-brand svg, #section-paint svg, #section-music svg {width:64px;}
#resumed-web svg {width:39px;}
#resumed-web {font-size:17px;line-height:1.5em;letter-spacing: -0.032em;
    color:var(--color-grey);}
#resumed-web div {}
#resumed-web em {padding:1.5em 0 1.5em 0;}
#responsive img {max-width:55%;margin-left:143%;}
#web-icons {text-align:justify;background:linear-gradient(rgba(190,190,190,.3), rgba(200,200,200,1));
    color:var(--color-hardgrey);}
#web-top img {border-radius:14px;padding:1px;margin-top: -6px;margin-bottom:20px;}
#web-top  {text-align:justify;}
#web-icons h3 {border-bottom:thin solid rgba(50,50,50,.1) ;font-size:1.6em;line-height: 1em; padding-left:6px;margin-bottom:0px;}
#web-top p {font-size:.9em;line-height:1.3em;padding:2px 6px 0 6px;}
#resumed-paint svg {width:23px;}
#resumed-paint {color:var(--color-translucentwhite);}
#resumed-paint h5 {margin: 0 0 6px 0;}
#resumed-print {color:var(--color-translucentblack);}
#resumed-print h5 {margin: 0 0 8px 0;}
#resumed-print em {padding:12px 0 12px 0;}
#section-brand h4 {margin-bottom:0;}
#section-brand h5 {line-height:1.3em;}
#section-brand .thumb-4 img {max-width:48%;}
#section-brand h4{line-height:1.18em;}
img.big-icon {width:64px;padding-top:16px;}
#section-paint {color:var(--color-white);}

#resumed-apps {padding:4%;}
#resumed-apps .agenda span, #resumed-apps .publi span,
#resumed-apps .sound span {
    border-radius:12px;
    padding:18px 18px 18px 18px;display:inline-block;
    width:90px;height:90px;margin-bottom:12px; }

#resumed-apps .agenda span {background:linear-gradient(rgba(50,122,174, 1), rgba(30,100,150,1));}
#resumed-apps .publi span {background:linear-gradient(rgba(244,82,15,1), rgba(224,62,5,1));}
#resumed-apps .sound span {background:linear-gradient(rgba(125,54,157,1), rgba(105,14,117,1))}

/* Animacions propies */

#diamond {padding-left:6%;}
@keyframes diamond {
    0% {background-image: url(/assets/branding/logos1.jpg);background-repeat: none ;border:none;}
    25% {background-image: url(/assets/branding/logos2.jpg);background-repeat: none ;border:none;}
    50% {background-image: url(/assets/branding/logos3.jpg);background-repeat: none ;border:none;}
    75% {background-image: url(/assets/branding/logos4.jpg);background-repeat: none ;border:none;}
    100% {background-image: url(/assets/branding/logos6.jpg);background-repeat: none ;border:none;}
}
#diamond-base {width:290px;height:290px;margin-left:6%;
	background-image: url(/assets/branding/logos1.jpg) no-repeat top left;background-size: contain;
	animation-name: diamond;animation-iteration-count: infinite;
    animation-duration: 9.5s;
}
#petals-case img{
    position:absolute ;
    left:0;
    top:center;
}
#petals-case .petals  {z-index:-1;}
#petals-case .petals-shadow {top:72px;z-index: -10;
}
@media (max-width: 1800px) {
    #petals-case img { width:48%;}
}

@media (max-width: 1250px) {
    #section-web .pushed-6 {}
    #section-web .cell-10 {}
    #section-web .cell-x1 {width: 20%;}
    #responsive img {width:380px;}
    #section-paint .pushed-6 {margin-left:33%;}
    #section-paint .thumb-6 {width:66%;}
    #section-paint h5 {font-size: 19px;}
    #section-paint em {font-size: 14px;}
	#resumed-paint svg {width:23px;}
    #petals-case img { min-width:100%;opacity:.4;}
    #resumed-paint {color:var(--color-white);}
    #browser-ios .thumb {width: 49.9999999999% !important;}
	#section-brand h5 {line-height:1.0em;}
    #resumed-print.cell-6 {width:96%!important;}
    #resumed-print.pushed-6 {margin-left:0;}
}
@media (max-width: 1242px) {
    @media (max-width: 1250px) {}

}
@media (max-width: 768px) {
    #section-web, #section-brand, #section-paint, #section-music {line-height:.6em;}
    #browser-ios.thumb {display:none;visibility:hidden;}
    #section-web .cell-x1 {	width: 20%;}
    #section-web .cell-10 {width: 100% !important;margin:0;}
    #resumed-web em, #responsive {margin-top:5px;margin-bottom:5px;padding-bottom: 5px;padding-top: 5px;}
    #resumed-web em svg {max-width:21px;max-height:21px;}
    #resumed-web em {font-size: 10px;line-height:21px;}
    #section-brand h5 {line-height:1.3em;}
    #responsive img {width:256px;}
    #section-paint .pushed-6 {margin-left:8%!important;}
    #section-paint .thumb-6 {width:85%;line-height:1.1em;}
    #resumed-paint svg {display:none;}
    #resumed-print.cell-6 {width:88%!important;font-size: 16px;line-height:28px;}
    #diamond img {display:none;}
    main {
    margin-bottom: 360px;
	}
}

@media (max-width: 432px) {

}