/* by Isard Miralles  ADDING CSS */
/* ------------------------------------------------------------ Resets */

#site-nav, footer, #follows, #follows-big, #icons, #covers, .nav-scroll,
#web-credits, #page-header, #post-header, #post-share, #date {text-align: center;}
header {z-index: 1 !Important;}
.lines {background: rgba(69, 69, 69, .12) !important;height: 2px;}
main.darkmode {margin-top:-10px;padding-top: 0px !important;border: none;}
main {border:none!important;padding-bottom: 0 !important;}
.parallax {background-position:top auto; -webkit-transition: all .0s ease;-moz-transition: all .0s ease;-ms-transition: all .0s ease;-o-transition: all .0s ease;transition: all .0s ease;}
body {text-align: justify;-moz-hyphens: none;-ms-hyphens: none;-webkit-hyphens: none;-o-hyphens: none;hyphens: none;word-wrap: none;}
p, ul {font-size: 18px;line-height: 27px;}
#page-header.cover {background-position: fixed;z-index: 2;background-size: cover fixed;background-repeat: no-repeat;-webkit-transition: all 1.0s ease;-moz-transition: all 1.0s ease;-ms-transition: all 1.0s ease;-o-transition: all 1.0s ease;transition: all 1.0s ease;}
.cover {	-webkit-transition: all 1.0s ease;-moz-transition: all 1.0s ease;-ms-transition: all 1.0s ease;-o-transition: all 1.0s ease;transition: all 1.0s ease;}
img.apps {border-radius:21%;width:60%;max-width:110px;}
.cover img {width: 80px;margin-bottom: 1.4em;}
.cover h2 {letter-spacing: -0.001em;line-height: 1.2em;font-weight: normal ;font-size: 1em !important;}
.cover h1 {letter-spacing: -0.03em;line-height: .8em;font-size: 2.69em;font-weight: lighter}
#coffee h2 {margin: 0;}
h2.fat {font-size:3em!important;font-weight: bold!important;}
#page-main.darkmode {background: var(--color-white);}
#page-main.darkmode em a {background: #111;}
#ilu-process {max-height: 100%;overflow: hidden;padding-bottom: 6px;padding-top: 6px;}
#glassed {text-align:justify; color:var(--color-white) ;background-position: center; padding:32px 25% 32px 25%;margin:-15px!important;}
#glassed p {color:rgba(180,180,180,.6) ;font-size:.8em; line-height:1.4em; -webkit-column-count: 2;-moz-column-count: 2;column-count: 2;  }
#web-body h5 {font-size:19px!important;line-height:1.3em!important;font-weight: normal }
#web-body {padding-bottom:0px!important;}
#web-oferta h2, #web-oferta h3, #web-oferta h5 {color: var(--color-white)!important }
#web-oferta h1, #web-branding h1, #web-grafics h1, #web-music h1 {letter-spacing: -0.032em;margin-bottom:10px;line-height:1.2em;}
#web-oferta #fronters h5 {line-height: .9em;font-size:1.5em;}
#web-grafics {background-color: var(--color-softgrey); }
#web-grafics h1 { margin-bottom:38px;line-height:.85em; }
#web-grafics h4 {margin-bottom:12px;}
#web-grafics p {margin-bottom:12px;padding:3px;}
#web-oferta h2, #web-branding h2, #web-grafics h2, #web-music h2 {font-weight: lighter ;letter-spacing: -0.045em;margin-bottom:23px;line-height:1em;font-size:1.4em;}
#web-oferta h2, #blured h1 {color:var(--color-black);}
#web-branding h1 {color:var(--color-white);}
#web-oferta, #web-branding, #web-grafics, #web-music {letter-spacing: .0012em;text-align: center;color: var(--color-grey);}
#web-grafics {color: var(--color-red);}
#web-oferta #fronters {max-width: 100%;}
.animeonscroll img {padding:8px;max-width:30%;}
#web-music {background-image: url("/img/music.jpg");image-rendering: crisp-edges;background-position: top center;background-attachment: fixed;background-size: cover;background-repeat: no-repeat;border: none;color: var(--color-white);letter-spacing: .06em;overflow: hidden;text-align: center;}
#web-branding {background: rgba(20,20,20,1);border: none;letter-spacing: .06em;overflow: hidden;text-align: center;}
#blured {color:var(--color-hardgrey);overflow: hidden;text-align: center;padding:32px 21px 0 11px;border-radius:12px;z-index: 30;}
#brander h5 {font-weight:lighter ;font-size:1.5em;letter-spacing: 0.012em}
img.note {max-width:72px;border:thin solid rgba(120,120,120,.5);}
#web-music img.note {border:thin solid rgba(220,220,220,.75);}
#logotips article {padding: 23px;}
#fronters-brand .cover-justify svg {min-width: 72px;}
#web-oferta, #glassed { background:var(--color-black);image-rendering: crisp-edges;background-position: top center;background-attachment: fixed;background-size: cover;background-repeat: no-repeat;border: none;}
#web-oferta .note {width: 260px;}
#fronters img.htmlcss {max-width: 300px;}
.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
#web-branding h3 i, #web-oferta h3 i {font-size:.62em;font-weight:normal;color:var(--color-link);font-style:normal;}
#web-branding h3 i a, #web-oferta h3 i a { font-size:1.1em;font-style: normal;letter-spacing: -0.045em;padding-left:12px;text-decoration:none;}
#web-branding h3 a:hover, #web-oferta h3 a:hover { text-decoration:underline;}
#web-branding h3, #web-oferta h3 {line-height:.96em;margin-bottom: 0px!important;font-weight: normal;font-size:1.8em;}
#web-grafics em a {border-radius:8px;padding:12px 27px 12px 27px;background-color:var(--color-red)!important;color:var(--color-white);border:thin solid var(--color-red);margin:1.2em 0 1.6em 0;}
#web-grafics em a:hover {background-color:var(--color-white)!important;color:var(--color-red);border:thin solid var(--color-red);text-decoration:none;}
#web-music em a {border-radius:8px;padding:12px 27px 12px 27px;letter-spacing: 0.01em;background-color:transparent!important;color:var(--color-white);border:thin solid var(--color-white);margin:1.2em 0 1.6em 0;}
#web-music em a:hover {background-color:var(--color-white)!important;color:var(--color-hardgrey);text-decoration:none;}
em hr {border-bottom: thin solid #eee;}
em u label, em u a {text-transform: uppercase;background: var(--color-white);border: 2px solid var(--color-grey);color: var(--color-grey);border-radius: 40px;width: 256px;margin-top: 38px;}
em u label:hover, em u a:hover {border: 2px solid var(--color-blue);color: var(--color-blue);text-decoration: none;box-shadow: 0 3px 7px rgba(0, 0, 0, .12);}
em u label:active, em u a:active {background-color: rgba(240, 240, 240, .5) ;color: var(--color-link) !important;border: 2px solid var(--color-link);box-shadow: inset 0 3px 5px rgba(0, 0, 0, .12);text-decoration: none;}
p em {border: var(--one-pixel) solid transparent;font-weight: bold;line-height: 24px;font-size: 21px;padding: 0;text-rendering: optimizeLegibility;}
section.cover-justify p {padding: 16px 0 0 0;line-height: 26px;font-size: 15px !important;letter-spacing: .001em}
section.cover-justify h5 {text-align:right;margin:0px!important;}
#info-seo {text-align:center;}

/* Page & Header */
.cover#page-header {background-color: var(--color-black);}
#page-header.work-header {height:72px;background:rgba(252,252,252,1)!important;box-shadow:inset 0 -23px 23px #eeeeee;
	border:none!important;color: #999;overflow: hidden;letter-spacing: 0.012em;text-align: left;padding-top:10px;}
#page-header.work-header > div {	margin: 0 auto;padding-left: 2%;position: relative;width: 100%;max-width: var(--page-size);}
#page-header.work-header h1 {font-weight: lighter; font-size:2em;line-height: 1em; }
#page-header.work-header h1 small {padding-left:12px;letter-spacing: 0.001em;font-weight: lighter}
#phone-fine svg {max-width: 15px;margin-right: 5px;}
#follows #icons a {background: transparent;border-radius: 50%;}
#follows #icons a {width:55px;height:55px;padding-top:12px;margin:0 1% 0 1%;}
#follows #icons a:hover {}
figure em a {border: none;border-bottom;line-height: 0.2em;padding: 12px 4px;}
#textlighting {font-size:23px!important;letter-spacing: .03em!important;padding-bottom:2.1em;
    text-shadow:0 0 2px rgba(255,255,255,.7), 0 0 8px rgba(255,255,255,.5),  0 0 32px rgba(255,255,255,.5) !important;}
/* Portfolio Nav */
#page-nav {border: none;color: var(--color-hardgrey);}
#page-nav a {min-width: 9%;max-height: 100%;}
#page-nav a:hover {border: thin solid rgba(0, 0, 0, .06);background: rgba(0, 0, 0, .02);}
#page-nav a:visited {color: var(--color-grey) ;}
#page-nav div {height: 80px;font-size: 15px;}
.serveis#page-main {padding: 0;}

/* Portfolio Titles */
#layout h3 u, #isotipos h3 u,  #paints h3 u  {font-weight: 100;}
.gallerist #layout h3 {text-align: right;font-size:32px;color: #888;line-height: 1em}
#isotipos {background:#000;min-width:100%;padding:0 2% 6px 6px!important;}
hr.lifting {margin: 0px;height: 1px;}
#glass-front {min-width:100%;background: rgba(12,12,12,.98) ;padding: 0px !important;}

/* Covers */
#glass-front a {color: var(--color-grey);text-decoration: none;margin: 0px;}
#glass-front .cover-links {padding-top: 32px;margin-top: 0px;padding-bottom: 12px;display: block;}
#glass-front .cover-icon {max-width: 45px;height: auto;}
#glass-front .cover-links :hover {opacity:1!important;}
#glass-front a h5:hover {color: var(--color-white);}
#glass-front .cover-icon img {width: 72px;opacity:0.6; margin: 0px;}
#glass-front article, #covers article {border: 0;}
#page #covers article {text-shadow: 1px 1px 3px rgba(0, 0, 0, .12);}
#glass-front h5 {line-height: .1em;font-size:30px;}
#glass-front h4 {margin: 0px;font-size:1.6em;line-height: 1em;letter-spacing: -0.01em;}
#glass-front img {width: 72px;padding:1px;}
#fronters h5 {margin-bottom: 16px!important;}
#fronters h1 {line-height:1em;}
#fronters p {margin: 0px;min-width: 100%;}
#fronters .front-responsive {min-width: 19%;margin-left: 30%;}
#fronters .cover-justify {text-align: right;}
#fronters-brand svg {max-width: 54px;height: 80px;}
#fronters-brand section {padding: 18px 0px 18px 0px;}
#fronters-brand .imagens {width: 100%;padding: 2px;overflow: hidden;border-radius: 36px;}
#fronters-brand h4, #fronters-brand p {letter-spacing: -0.012em;}
#fronters-brand .goldentarget { max-width:600px;width:100%; }
#fronters-brand article a {margin: 0px !important;padding: 0px !important;}
#brander {}
#brander h5 {font-size:1.15em;border-radius:60px;border:thin solid rgba(80,80,80,.25);padding:12px 16px 12px 16px;}
#brander p {text-align:justify;font-size: 1.02em}
#fronters-music svg {max-width: 72px;margin: 16px 0px 18px 0px;}
.next-top {max-width: 72px;max-height: 72px;border-radius: 50%;border: none;background: var(--color-hardgrey) !important;}
div.masked {-webkit-mask-image: url("/hipertextos/brand/logo256.png") ;
display: inline-block;width: 256px;height: 256px; background-image: url("/img/blog.jpg");image-rendering: crisp-edges;background-position: top center;background-attachment: fixed;background-size: cover;background-repeat: no-repeat;}

/* Dialog */
#dialog .icon-cog svg {max-width: 32px !important;margin-left:42px;}
#dialog {max-height: 80%;overflow: hidden;}
#dialog dialog { border: none;border-radius: 17px 17px 17px 17px;}
#dialog header {border: none;padding: 2px;border-radius: 12px 12px 0 0;}
#dialog header h2 svg {width: 72px;margin: 0px 12px 0 0;}
#dialog header h2 {font-size: 1.8em;margin-bottom: 1px;font-weight: lighter;}
#dialog em a {margin:0px!important;border: none;background:none;color: var(--color-hardgrey);text-decoration:none;text-align:left!important;}
img.dialog-svg {width: 100%;height: 128px;}
#dialog header {padding-top: 10px;}
#dialog img.dialog-svg {max-width:100%;padding:26px;height: 235px;margin-left: 0px;float: left;opacity:.5;}
#dialog img.dialog-svg:hover {opacity:1;}
#deep .dialog-ic svg {fill:var(--color-grey)!important ;width: 48px;height: 115px;margin-left: 10px;float: left;margin-right: 30px;}
#deep .dialog-ic svg:hover {color:var(--color-white);fill:var(--color-white);}
#dialog em a {font-size: 2.3em !important;line-height: 2em;width: 100%;background:transparent ;
    margin-bottom: 1px;padding-top:0px;}
#dialog em a:hover  {color: var(--color-black) ;fill: var(--color-black) ;text-decoration: none;}
#dialog header, #dialog dialog label {background: var(--color-black);color: var(--color-grey);}
#map iframe {border-radius:15px!important;}
#map {padding-bottom:0px;}
.rights#dialog dialog label {background: transparent;color: var(--color-hardgrey);}
.rights#dialog header {background: var(--color-yellow);}
.rights#dialog .yellow {color: var(--color-yellow) !important;}
#llicencia {text-align: center;color: var(--color-hardgrey);}
#llicencia img {width: 48px;}
.cc-icon img (width:64px;)

/* Coffee? */
#coffee svg {width: 64px;text-align: center !important;}
#coffee em img {width: 230px;margin-bottom: 32px;}
#coffee {color: var(--color-hardgrey);height: 100%;text-align: center !important;}
#coffee p {text-align: justify;-moz-hyphens: none;-ms-hyphens: none;-webkit-hyphens: none;-o-hyphens: none;hyphens: none;}
#coffee.fronter {background: linear-gradient(white, #e5e5e5);}
#coffee.fronter em label {background: transparent;}
#coffee.fronter em label:hover {background: #eee;}

/* Footer */
#page-footer {background: #222;color: #999;}
#page-footer em small a {border: thin solid #222;}
#web-credits {opacity: .75;background-color: #fafafa;border-bottom: thin solid var(--color-softgrey);border-top: thin solid var(--color-softgrey);}
#web-credits label svg {max-width: 72px;margin: 10px;opacity: .6;border-radius: 50%;}
#web-credits label svg:hover {cursor: pointer !important;opacity: 1;box-shadow: 0 1px 3px rgba(0, 0, 0, .3);}
#page-footer p a {padding:4px;letter-spacing: .032em;font-size: 1.15em;}

/* Classic Gallery */
.listed .img-icon {width: 26px;}
.listed u {margin-left: 12px;}
.listed section {border: none;line-height: 2em;font-size: 0.2em;-webkit-column-count: 3;-moz-column-count: 3;column-count: 3;}
.listed {padding: 0 !important;}
.listed img {margin: 0 !important;padding: 0 !important;}
.listed article {border: none;width: 100%;display: block;display: inline-block;margin: 0 !important;padding: 0 !important;-webkit-column-break-inside: avoid;-moz-column-break-inside: avoid;-moz-page-break-inside: avoid;page-break-inside: avoid;}

/* Web section Gallery */

.web-img h3 {font-size:4.2em;margin-bottom:0px;text-align: center;background: var(--color-soft-grey);
    border-radius:0 0 12px 12px;margin-bottom:8px;
}
a.web-img {text-decoration:none!important;}
a.web-img :hover {background:var(--color-hardgrey);color:var(--color-softgrey);}
#webs img {border-radius:12px 12px 0 0;border:thin solid #eee;}
.linkout  {content: url("/hipertextos/images/go.png");max-width:16px;padding-right:3px;}

/* Go UP button */

em small #go-up {background: transparent ;border:thin solid rgba(100,100,100,.2)!important;padding: 12px;border-radius: 50%;margin-bottom:-15px;}
em small #go-up:hover {background: rgba(0, 0, 0, .3);}

/* Footer fixed */
main {margin-bottom: 270px;z-index: 1;overflow:hidden;background-color: var(--color-white);box-shadow: 0 75px 60px rgba(0, 0, 0, .32);}
#page-footer {position: fixed;box-shadow: inset 0 0 32px rgba(0, 0, 0, .32);bottom: 0px;z-index: 0;width: 100%;max-height: 362px !important;}
#page-footer #follows a {font-weight:400;color:var(--color-hardgrey);
    text-decoration:none!important;font-size:1.1em!important;line-height:.1em;}
#page-footer #follows a b {font-weight:200;letter-spacing: -.05em;}
#page-footer #g-text {font-size:.75em;color:var(--color-hardgrey); }
#autoria {font-size: 16px;border-top:thin solid #333;padding-top:9px;}
#autoria b {font-weight: normal;padding-right:15px;}
#autoria a {color:var(--color-hard-grey);}
#page-footer #autoria a {font-weight: bold;letter-spacing: -0.02em}
#icons a {margin-bottom:-12px!important;}

.text-slider {
		display: block;
		margin: 0 auto 60px;
		padding: 12px 0;
		position: relative;
		text-align: center;
	}
	.text-slider h2 {
		font-size: 60px;
		line-height: 60px;
		margin: 0 auto 60px;
	    letter-spacing: -0.05em;
	}
	.text-slider h2 div span {
		font-size: 80px;
		line-height: 80px;
		text-transform: uppercase;
	}
	.text-slider div {
		display: inline;
	}
	.text-slider span {
		opacity: 0;
		overflow: hidden;
		position: absolute;
		left: 0;
		right: 0;
		-webkit-animation: textSliding 7.5s ease infinite 0s;
		   -moz-animation: textSliding 7.5s ease infinite 0s;
			-ms-animation: textSliding 7.5s ease infinite 0s;
			-o-animation: textSliding 7.5s ease infinite 0s;
				animation: textSliding 7.5s ease infinite 0s;
	}
	.text-slider span:nth-child(2){
		-webkit-animation-delay: 2.5s;
		   -moz-animation-delay: 2.5s;
			-ms-animation-delay: 2.5s;
			-o-animation-delay: 2.5s;
				animation-delay: 2.5s;
	}
	.text-slider span:nth-child(3){
		-webkit-animation-delay: 5s;
		   -moz-animation-delay: 5s;
			-ms-animation-delay: 5s;
			 -o-animation-delay: 5s;
				animation-delay: 5s;
	}
	.text-slider p {
	
	}
	@media screen and (max-width: 1024px) {
		.text-slider h2 {
			font-size: 48px;
		}
	}
	@media screen and (max-width: 768px) {
		.text-slider h2 {
			font-size: 36px;
		}
        .text-slider h2 div span {
			font-size: 45px;
		}
	}
@-webkit-keyframes textSliding{
		0% { opacity: 0; }
		5% { opacity: 0; -webkit-transform: translateY(-50px); }
}
@-webkit-keyframes textSliding{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes textSliding {
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-50px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes textSliding{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes textSliding{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-50px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes textSliding{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-50px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(50px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@media only screen and (orientation: landscape) and (max-width: 1024px) {
    #page-header.cover {padding-top: 32px!important;}
    .cover img {width: 36px !important;margin-bottom: 12px!important;}
    #web-oferta, #glassed {background-position: center!important}
    #directories div {margin-left:36.5%!important;}  
}
@media only screen and (orientation: landscape) and (max-width: 568px) {
    #page-header.cover {padding-top: 12px!important;}
    .cover#page-header h1 {line-height: .25em!important;font-size: 23px!important;}
    .cover#page-header h2 {line-height: .5em!important;font-size: 15px !important;}
    #textlighting {margin-bottom:0px;}
    #coffee p {margin-left:25%!important;max-width:50%;}
    #directories div {margin-left:35%!important;}  
}
@media (max-width: 1366px) {
    #page-header.cover {padding-top: 69px;height:69vh!important;}
    #page-header.work-header {background:rgba(245,245,245,.95)!important;height:6vh!important;padding-top: 5px;}
    #web-music {background-position: 100% 69% !important; }
    .cover-justify {min-width:100%;margin:0px;}
    img.dialog-svg {width: 80px !important;height: 70px;}
    #blured {min-width:90%;margin-left:5%;}
    #coffee .thumb-2 {width: 22% !important;}
    #coffee .pushed-5 {margin-left: 39% !important;}
    #covers {text-rendering: optimizeLegibility;}
    #covers article h4 {font-size: 23px;margin-bottom: 6px;    }
    #covers .cover-justify p {font-size: 16px !important;letter-spacing: 0.001em;max-width: 80%;margin-left: 10%;}
    #covers article p em {font-size: 18px !important;letter-spacing: 0.001em;}
    .thumb-5 {width: 100%;}
    #web-grafics .thumb-6 {width: 70%;margin-left:14.5%;}
    #brander.thumb-6 {width:50%;}
    img.dialog-svg {width: 340px;height: 100px;}
    #deep img.dialog-svg {max-width: 120px;height: 150px;margin-left: 12px;float: left;}
    #deep em a {font-size: 2em !important;line-height: 3em;}
    strong em a {font-size: 16px;}
    aside.thumb-3 {margin-top: 1.em;}
    aside.thumb-3 a {font-size: 18px;}
    aside.thumb-3 a svg {width: 23px;}
    aside.thumb-3 p {margin: 1em 0 1em 0;border-bottom: thin solid #eee;}
}

@media (max-width: 1242px) {
    #page-header.cover {height:69vh;padding-top: 69px;}
    #layout section {padding:4px;}
    #page-header.work-header {height:6vh!important;padding-top: 5px;}
    .cover#page-header h1 {line-height: 1em;font-size: 45px ;font-weight: normal ;}
    .cover#page-header h2 {line-height: 1.2em;font-size: 16px ;}
    img.dialog-svg {width: 140px;height: 100px;}
    #deep img.dialog-svg {max-width: 40px;height: 60px;margin-left: 12px;float: left;}
    #deep em a {font-size: 1.8em !important;line-height: 1.2em;}
    img.front-responsive {width: 320px;margin-top: 60px;}
    #directories div {margin-left:39.4%;}   
}
@media (max-width: 1024px) {
    #page-header.cover {padding-top: 36px;height:69vh;background-size: 100% auto;background-position: fixed !important;}
    #web-music {background-image: url("/img/m-music.jpg")!important;}
	#web-oferta {background-image: url("/img/m-imac.jpg")!important;}
	#glassed {background-image: url("/img/m-imacblur.jpg")!important;}
    #page-header.work-header {background:rgba(245,245,245,.95)!important;height:6vh!important;padding-top: 5px;}
    div.masked {background-image: url("/img/m-golden.jpg");}
    #directories div {margin-left:38.6%;}
    #web-grafics .thumb-6 {width: 100%;margin-left:0px;}
    #covers article h5 {font-size: 21px;margin: 0px;}
    #cover-front {margin-left:10%;width:80%;}    
}

@media (max-width: 800px) {
    #page-header.cover {padding-top: 36px;height:72vh;}
    #page-header.work-header {background:rgba(245,245,245,.95)!important;height:6vh!important;padding-top: 5px;}
    #textlighting {font-size:16px!important;line-height:1.6em;padding-bottom:15px;}
    .cover img {width: 60px;margin-bottom: 1.8em;}
    .cover#page-header h1 {line-height: .5em;font-size: 38px;}
    .cover#page-header h2 {line-height: .75em;font-size: 17px !important;}
    #glass-front .cover-links {padding-top: 0px;margin-top: 0px;padding-bottom: 12px;}
    #glass-front hr {height:0px;margin:0px;}
    #web-oferta {background-size: 100%;background-position: fixed !important;}
    #web-oferta h2 {margin-bottom:0px;}
	#web-body h5 {font-size:16px!important;line-height:1.3em!important;text-align:center ;font-weight: normal; }
    #fronters h2 {font-size:2.1em!important;margin:0px;}
    #fronters h3 {font-size:1.2em;margin:0px;}
    #fronters h5 {font-size:1.1em!important;margin:0px;font-weight: normal ;}
    #web-branding em a, #web-grafics em a, #web-music em a {display:none;}
    #web-grafics h3 {margin-top:-30px;font-size:1.4em;}
    #web-grafics p {font-size:.9em!important;padding-bottom:3em;}
    #web-grafics p b {font-size:1.1em!important;}
    #logotips.thumb-10 {margin:0px;min-width:100%;}
    #logotips .thumb-3 img {border-radius:12px;margin:0px;}
    #covers article h4 {font-size: 26px;line-height: 1.3em;}
    #covers article h5 {font-size: 23px;}
    #covers .cover-justify p {font-size: 12px !important;letter-spacing: 0.005em;line-height: 2.1em;}
    #covers article p em {font-size: 19px !important;letter-spacing: 0.015em;}
    #covers article img {margin-top: 32px;}
    .cover-page .thumb-9, .cover-page .thumb-3 {width: 100%;}
    #dialog .icon-alarm svg {max-width: 16px !important;margin: 0;padding: 0;}
    #dialog dialog p {font-size: 12px;line-height: 1.5em;}
    #dialog header {padding: 12px;border-radius: 6px 6px 0 0;}
    #dialog header h2 svg {width: 16px;margin: 0px 6px 0 0;}
    #dialog header h2 {font-size: 1.25em;margin-bottom: 0px;}
    #dialog header .lead {font-size: 14px;line-height: 1.2em;margin: 0;}
    #dialog div em a {font-size: 10px;line-height: 2.3em;padding: 7px;}
    img.dialog-svg {width: 45px !important;height: 45px;}
    aside.thumb-3 {text-align: center;margin-top: 2.1em;}
    aside.thumb-3 h2 {font-size: 2.6em;color: var(--color-hardgrey)}
    #page-nav a {font-size: 13px;}
    strong em a {font-size: 15px;}
    main {margin-bottom: 360px;}
    .cell-6, .pushed-6 {width: 85%;margin-left: 8% !important;}
    #coffee .thumb-2 {width: 90% !important;}
    #coffee .pushed-5 {margin-left: 5% !important;}
    #icons a {width: 15%;padding: 12px;border-radius: 2px;}
    img.dialog-svg {min-width: 70px;height: 40px;}
    #deep img.dialog-svg {min-width: 20px;height: 70px;margin-left: 3px;float: left;}
    #deep em a {font-size: 1.2em !important;line-height: 2.2em;}
    img.front-responsive {width: 300px;}
    #page {margin-bottom:-90px;}
    #autoria b {padding:0px 60px 0px 60px;}
    #directories div {margin-left:37.5%;}
	#glassed p {font-size:.7em;line-height:1.2em; -webkit-column-count: 1;-moz-column-count: 1;column-count: 1;  }
    #brander {margin-left:10%;min-width:80%;}
    .cover-links h4 {font-weight: lighter ; font-size: .95em!important;letter-spacing: 0.03em!important}
}
@media (max-width: 768px) {
    #page-header.cover {padding-top: 36px;height:54vh;background-size: 100% auto;background-position: fixed !important;}
	#textlighting {font-size:15px!important;line-height:1.5em;padding-bottom:12px;}
    .cover#page-header h1 {line-height: 1em;font-size: 27px ;}
    .cover#page-header h2 {line-height: 1em;font-size: 12px !important;}
    #page-header.work-header {background:rgba(245,245,245,.95)!important;height:5vh!important;padding-top: 5px;}
    #glass-front a.cover-links:after {display:none;visibility: hidden;}
    #glass-front .cover-links {padding-top: 32px;margin-top: 0px;padding-bottom: 12px;}
    #web-music {background-image: url("/img/z-music.jpg")!important;}
	#web-oferta {background-image: url("/img/z-imac.jpg")!important;}
	#glassed {padding:1.1em; background-image: url("/img/z-imacblur.jpg")!important;}
    #glassed p {font-size: .65em;line-height: 1.2em}
	#web-body h5 {font-size:14px!important;line-height:1.3em!important;text-align:center ;font-weight: normal;letter-spacing: 0.018em; }
    #web-body {width:99%; margin-left:.5%;}
    #web-grafics h3 {margin-top:-30px;font-size:1.2em;}
    #fronters {margin:0px;min-width:70%;}
    #fronters h2 {font-size:1.9em!important;}
    #fronters hr {height:12px;}
    #fronters h5 {font-size:.8em!important;font-weight: normal; letter-spacing: .032em}
    #blured {margin: 0px;min-width:100%;}
    .note svg {max-width:64px;}
    #web-music .note {max-width:64px!important;}
    #fronters-music .thumb-3 {min-width:50%;}
    #fronters-music {margin:0px;min-width:100%;}
    #fronters-music span svg {max-width:32px;}
    #fronters-music h4 {font-size:18px;}
    #fronters-music h4 small {font-size:13px; letter-spacing: -0.02em}
    #web-grafics p {font-size: 12px;}
    #covers article {width: 25%;height:160px;}
    #covers article .cover-icon {padding:2px;margin:0px;}
    #covers article h4{padding:0px;margin:0px;font-size:1.1em;line-height: 0.69em}
    #covers article h5 {font-size: 21px;margin: 0px;}
    #cover-front {margin-left:0px;width:100%;}
    #icons a {width: 18%;padding: 17px;}
    #page-footer {max-height: 362px !important;}
    #page-header.cover {}
    #glassed {background-size: 100% auto;background-position: fixed !important;}
    #directories div {margin-left:30%;}
    #g-text {font-size: .69em!important;line-height:1.3em;}
    #autoria {font-size: .5em!important;line-height:1.2em;}
    #autoria a {font-size: 1.2em!important;padding:4px!important;}
    #autoria b {padding:0px;}
    #brander {margin-left:0px;min-width:100%;}
    #coffe em u label {margin:0px!important;}
}
@media (max-width: 320px) {
    #page-header.cover {padding-top: 12px;height:54vh!important;}
    .cover img {width: 42px;margin-bottom: .75em;}
    .cover#page-header h1 {line-height: .5em!important;font-size: 21px !important;}
    .cover#page-header h2 {line-height: .75em;font-size: 12px !important;}
    #page-header.work-header {display:none;}
    #web-grafics h3 {margin-top:-30px;font-size:.92em;}
    #fronters h2 {font-size:2em!important;}
    #covers article .cover-icon {padding:4px;}
    #glass-front  {height:150px!important;overflow:hidden ;}
    #glass-front a {padding:0px!important;}
    #glass-front hr {margin: 12px;height: 1px;}
}