/* BarcelonaCSS */
/* by Acozar/Miralles  ADDING CSS */
/* ------------------------------------------------------------ Resets */
#site-nav, footer, #follows, #follows-big, #icons, #covers, .nav-scroll, #web-credits, #page-header {
text-align: center;}
body {text-align: justify;-moz-hyphens:none;-ms-hyphens:none;-webkit-hyphens:none;-o-hyphens:none;hyphens:none;word-wrap:none;}
p, ul {font-size: 18px;line-height: 27px;}
@keyframes fronter {
    from {
        opacity:0;
    }

    to {
        opacity:100;
    }
}

#page-header.cover {
    background-image: url("/img/home.jpg");image-rendering: crisp-edges;
    background-position: fixed;
    width: 100%;
    animation-name: fronter;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
#page-header.serveis-header {background-image: url("/img/texture/dark_design.png");background-size:46px 29px;background-repeat: repeat;image-rendering: crisp-edges;}
#section-web {background-image: url("/img/web.jpg");background-position:fixed;image-rendering: crisp-edges;}
#section-brand {background-image: url("/img/blog.jpg");background-position:fixed;image-rendering: crisp-edges;}
#section-paint {background-image: url("/img/flower.jpg");background-position:fixed;image-rendering: crisp-edges;}
#section-print {background-image: url("/img/print.jpg");background-position:fixed;image-rendering: crisp-edges;}
.text-left {text-align:left;}
.text-right {text-align:right;}
em hr {border-bottom:thin solid #eee;}	
em u label, em u a {text-transform:uppercase;background:var(--color-white);border:2px solid var(--color-grey);color:var(--color-grey);border-radius:40px;width:256px;margin-top:38px; }
em u label:hover, em u a:hover {border: 2px solid var(--color-blue);color:var(--color-blue); }
p em {border: var(--one-pixel) solid transparent;font-weight: bold;line-height: 24px;font-size: 21px;padding: 0;text-rendering: optimizeLegibility;}
section.cover-justify p {padding: 6px 18px 0 18px;line-height: 23px;font-size: 16px !important;letter-spacing: .15em}
/* Nav */
@keyframes opnav {
    from {
        font-size:1px;
    }

    to {
        font-size:17px;
    }
}
#site-nav {animation-name:opnav;font-size:17px;animation-duration: 1s;animation-timing-function: ease-in-out;}
#site-nav {background: var(--color-soft-black) !important;border-bottom: none;font-size: 17px;color: var(--color-grey);box-shadow: 0 1px 21px rgba(0, 0, 0, .23);}
#site-nav a {font-weight: lighter;min-width: 12%;border: none;letter-spacing: .032em;}
#site-nav a:visited { color: var(--color-grey);text-decoration: none;}
#site-nav a:hover, #site-nav a b:hover { color: #fff !important;background: #000;text-decoration: none;}
#site-nav a b {text-transform: uppercase;font-weight: lighter ;}
#site-nav a b:before {border-bottom: thin solid #252525;content: ' ';display: block;position: absolute;left: 46%;right: 0;width: 8%;padding-bottom: 2px;}
#site-nav a b:after {border-bottom: thin solid #252525;content: ' ';display: block;position: absolute;left: 46%;right: 0;width: 8%;margin-top: -2px;}
#current-nav, #current-nav a:visited, #current-nav:visited {color:#fff !important;}
#site-nav label {color:var(--color-grey);border:thin solid transparent;}
#site-nav label:hover {color:var(--color-soft-grey);border:thin solid #353535;}
.cover h2 { letter-spacing: 0.001em;font-weight: normal; }
.nav-scroll label {font-size: 11px;line-height: 12px;padding: 10px;font-weight: normal;}
.nav-scroll label img {width: 18px;height: 18px;margin-bottom: 8px;}
.nav-scroll label:hover {border:thin solid transparent;}
#coffee h2 {margin:0;}
/* Portfolio Nav */
#page-nav {border:none;color:var(--color-hardgrey);} 
#page-nav a {min-width: 9%;max-height:100%;}
#page-nav a:hover {border:thin solid rgba(0,0,0,.06);background:rgba(0,0,0,.02);}
#page-nav a:visited {color: var(--color-grey) ;}
#page-nav div {height:80px;font-size:15px;}.serveis#page-main {padding:0;}
/* Page & Header */
.cover#page-header  {background-color: var(--color-white);}
.serveis-header {border-bottom:10px solid var(--color-hardgrey);background-color: var(--color-black);color: var(--color-hardgrey);}
.medias#page-header {border-bottom:10px solid var(--color-grey);background-color: var(--color-softgrey);color: var(--color-grey);}
.cover-page #page-header {border-bottom:10px solid var(--color-blue);background-color: var(--color-black);color: var(--color-blue);}
.cover-page #page-main ul {-webkit-column-count: 3;-moz-column-count: 3;column-count: 3;}
.cover-page #page-main {color:var(--color-hardgrey);}
#icons a {border:thin solid var(--color-soft);background: transparent;}
#icons a:hover {border:thin solid var(--color-blue);}
.cover-page aside {border:none;color: var(--color-grey);}
.cover-page  #coffee {  background: var(--color-background);background: -webkit-linear-gradient(red, var(--color-background));background: -moz-linear-gradient(red, var(--color-background)); background: linear-gradient(#eee, var(--color-background));}
figure em a {border:none;border-bottom;line-height:0.2em;padding:12px 4px;}
/* Suscribe */
form .button {border:thin solid currentColor;margin-top:0.6em;}
/* Covers */
#covers {color: var(--color-grey);}
#covers img {width: 16.6666666666%;margin-bottom:1.2em; }
#covers article {border:0;}
#page #covers article {text-shadow:-1px 1px 2px #ddd;}
/* Serveis */
#section-web, #section-brand, #section-paint, #section-print {background-position: top center;background-attachment: fixed;background-size: cover;background-repeat: no-repeat;border:none;overflow: hidden;text-align: center;}
#section-web svg, #section-brand svg, #section-paint svg, #section-print svg {width:64px;}
#resumed-web svg {width:36px;}
#resumed-web {color:var(--color-translucentblack);text-align:center!important;font-size:15px;}
#resumed-web em {padding:1em 0 1em 0;}
#responsive img {width:86%;}
#resumed-paint svg {width:23px;}
#resumed-paint {color:var(--color-translucentwhite);}
#resumed-paint h5 {margin: 0 0 6px 0;}
#resumed-print {color:var(--color-translucentblack);}
#resumed-print h5 {margin: 0 0 8px 0;}
#resumed-print em {padding:12px 0 12px 0;}
#section-brand h4 {margin-bottom:0;}
#section-brand h5 {line-height:1.3em;}
#section-brand .thumb-4 img {max-width:48%;}
#browser-ios svg {width:23px;color:var(--color-translucentblack);margin:0 5px 0 0;}
#section-brand h4{line-height:1.18em;}
img.big-icon {width:64px;padding-top:16px;}
#section-paint {color:var(--color-white);}
/* Coffee? */
#coffee img {max-width:160px;margin-bottom:32px;}
#coffee svg {width:64px;text-align:center!important;}
#coffee  em a svg {width:32px;}
#coffee {color:var(--color-hardgrey);text-align:center!important;}
#coffee p {text-align: justify;-moz-hyphens:none;-ms-hyphens:none;-webkit-hyphens:none;-o-hyphens:none;hyphens:none;}
/* Footer */ 
#page-footer {background:#222;color:#999;}#page-footer em small a {border: thin solid #222;}
#web-credits {border-bottom:thin solid #292929;}
/* Classic Gallery */
.listed .img-icon {width:32px;}
.listed u {margin-left:12px;}
.listed section {	-webkit-column-count: 3;-moz-column-count: 3;column-count: 3;border:none;line-height:2em;font-size:0.2em;}
.imagens img {margin:0!important;padding:0!important;border:none;}
.listed {padding:0!important;}
.listed img {	margin:0!important;padding:0!important;	}
.listed article { border:none;overflow: hidden;width: 100%;display: block;display: inline-block;margin:0!important;padding:0!important;
-webkit-column-break-inside: avoid;-moz-column-break-inside:avoid;-moz-page-break-inside:avoid;page-break-inside: avoid;}
/* Dialog */
#dialog .icon-alarm svg {max-width:23px!important;}
#dialog {max-height:80%;overflow:hidden;}
#dialog dialog {border:none;border-radius:7px 7px 6px 6px;}
#dialog dialog p {text-align:center;color:var(--color-grey);}
#dialog header {border:none;padding:21px;border-radius:6px 6px 0 0;}
#dialog header h2 svg {width:32px;margin:0px 12px 0 0;}
#dialog header h2 {font-size: 2.3em;margin-bottom:6px;}
#dialog header .lead {line-height: 1em;margin-bottom:7px;}
#dialog em a {border:none;color:var(--color-grey);}
img.dialog-svg {width:120px;height:150px;}
#dialog dialog div a {font-size:15px;}
#dialog header {padding-top:0px;}
#dialog header, #dialog dialog label  {background:var(--color-soft-black);color:var(--color-hardgrey);}
/* Posts */
#post-title, #date, #post-share {text-align: center;}
#post-video, #post-download, #post-share, #post-header {border:none;}
.post em u a { padding: 6px;border: 2px solid var(--color-grey);color: var(--color-grey);border-radius: 40px;width: 180px;margin-top: 18px;}
.post em u svg { width: 18px;}
#post-header {border-bottom: 9px solid var(--color-black);}
#post-img img { border-radius: 50%;height: 210px;float: left;margin: 0 23px 26px 0;object-fit: cover;width: 210px;}
#post-video {}
#post-download {}
#post-download p img {max-width:320px;float:left;border-radius:4px;margin:0 18px 12px 0;}
#post-download p em a {	font-size: 15px;line-height: 18px;margin-top:17px;}
#post-download em svg {	font-size: 18px;line-height: 18px;padding: 3px 0 0 0;}
#post-share em a {color:#fff;border-radius:50%;}
#post-share em svg {padding:0px 0px 0px 7px;}
#post-share em a:hover {background:#fff !important;border:thin solid var(--color-link);}
#post-share em a:visited {background-color:var(--color-soft-grey)  !important;}

#tw {background:var(--color-green);}
#fb {background:var(--color-blue);}
#go {background:var(--color-orange);}

/* Simple & List ( em u a ) Links */
.simple em u a,
#layout-simple:checked ~ #layout-result em u a {
    padding: 6px;border: 2px solid var(--color-hardgrey);
    color: var(--color-hardgrey);border-radius: 40px;
    width: 210px;margin-top: 23px;}
.simple em u a :hover,
#layout-simple:checked ~ #layout-result em u a:hover {
    color: var(--color-link);border: 2px solid var(--color-link); 
}
.simple em u svg,
#layout-simple:checked ~ #layout-result em u svg {
    width: 21px;}
.list em u a,
#layout-list:checked ~ #layout-result em u a {
    padding: 3px;font-size:15px;line-height:27px;
    border: 1px solid var(--color-hardgrey);
    color: var(--color-hardgrey);
    border-radius: 40px;
    width: 169px;
    margin-top: 21px;}
.list em u a :hover,
#layout-list:checked ~ #layout-result em u a:hover {
    color: var(--color-link);border: thin solid var(--color-link); 
}
.list em u svg,
#layout-list:checked ~ #layout-result em u svg {
    width: 15px;padding:5px 0 0 0;
}
em small #go-up { background:rgba(0,0,0,.1);padding:15px;border-radius:50%; }
em small #go-up:hover {background:rgba(0,0,0,.3); }

#avatar {margin:2px 15px 0 0;background-color:var(--color-white)!important;border-radius:50%;padding:2px;border:thin solid var(--color-grey);opacity:.7;}

@media (max-width: 1250px) {
   	img.dialog-svg {width:80px!important;height:70px;}
    #covers { text-rendering: optimizeLegibility;}
    #covers article h4{font-size:95%;}
    #covers article h5{font-size:18px;}
    #covers .cover-justify p{font-size:14px!important;letter-spacing: 0.001em;}
    #covers article p em{font-size:15px!important;letter-spacing: 0.001em;}
    #section-web .pushed-6 {}
    #section-web .cell-10 {}
    #section-web .cell-x1 {width: 20%;}
    #responsive img {width:380px;}
    #section-paint .pushed-6 {margin-left:33%;}
    #section-paint .thumb-6 {width:66%;}
    #section-paint h5 {font-size: 19px;}
    #section-paint em {font-size: 14px;}
	#resumed-paint svg {width:23px;}
    #browser-ios .thumb {width: 49.9999999999% !important;}
  	.cover-page #page-main ul {-webkit-column-count: 2;-moz-column-count: 2;column-count: 2;}
    .cover-page p {font-size:16px;line-height:1.8em;}
    .cover-page ul li {font-size:14px;line-height:1.5em;margin-top:5px;padding:0;}
    .thumb-5, .thumb-6 {width: 100%;}
    #coffee .thumb-2 {width: 33.33333%!important;}
    #coffee .pushed-5 {margin-left:33.33333%!important;}
	#section-brand h5 {line-height:1.0em;}
    #resumed-print.cell-6 {width:96%!important;}
    #resumed-print.pushed-6 {margin-left:0;}
    strong em a {font-size: 16px;}
    aside.thumb-3 {margin-top:1.em;}
    aside.thumb-3 a {font-size:18px;}
    aside.thumb-3 a svg {width:23px;}
    aside.thumb-3 p {margin:1em 0 1em 0;border-bottom: thin solid #eee;}
}
@media (max-width: 1242px) {
	#page-header.cover {background-image: url("/img/home_b.jpg");background-position:fixed;}
	#section-web {background-image: url("/img/web_b.jpg");background-position:fixed;}
	#section-brand {background-image: url("/img/blog_b.jpg");background-position:fixed;}
	#section-paint {background-image: url("/img/flower_b.jpg");background-position:fixed;}
	#section-print {background-image: url("/img/print_b.jpg");background-position:fixed;}
}
@media (max-width: 768px) {
    #page-header.cover {background-image: url("/img/home_m.jpg"); background-size:100% auto;background-position:fixed !important; }
    #section-web {background-image: url("/img/texture/h_paper.png");background-size:200px 200px;background-repeat: repeat;}
    #section-brand {background-image: url("/img/texture/yellow_skulls.png");background-size:400px 400px;background-repeat: repeat;}
    #section-paint {background-image: url("/img/texture/dark.png");background-size:180px 180px;background-repeat: repeat;}
    #section-print {background-image: url("/img/texture/white_tree.png");background-size:350px 350px;background-repeat: repeat;}
    #section-web, #section-brand, #section-paint, #section-print {line-height:.6em;}

    .cover#page-header {padding-top:120px;}
    .cover#page-header h1 {line-height:0.8em;font-size:23px ;}
    .cover#page-header h2 {line-height:1.2em;font-size:15px ;}
    .cover-page h4  {text-align:center;}
    .cover-page p {font-size:15px;line-height:1.5em;}
    .cover-page ul li {font-size:12px;line-height:1.3em;margin-top:5px;padding:0;}
    .cover-page strong em a {width:100%;margin-bottom: 5px;}
    #covers article h4{font-size:32px;}
    #covers article h5{font-size:26px;}
    #covers .cover-justify p{font-size:18px!important;letter-spacing: 0.005em;line-height:1.8em;}
    #covers article p em{font-size:19px!important;letter-spacing: 0.015em;}
    #covers article img {margin-top:64px;}
    #browser-ios.thumb {display:none;visibility:hidden;}
	#dialog .icon-alarm svg {max-width:16px!important;margin:0;padding:0;}
	#dialog dialog p {font-size:12px;line-height:1.5em;}
	#dialog header {padding:12px;border-radius:6px 6px 0 0;}
	#dialog header h2 svg {width:16px;margin:0px 6px 0 0;}
	#dialog header h2 {font-size: 1.25em;margin-bottom:0px;}
	#dialog header .lead {font-size:14px;line-height: 1.2em;margin:0;}
	#dialog div em a {font-size:10px;line-height:2.3em;padding:7px;}
   	img.dialog-svg {width:45px!important;height:45px;}
   	#covers article {width: 100%;}
    .cover-page .thumb-9, .cover-page .thumb-3 {width: 100%;}
    aside.thumb-3 {text-align: center;margin-top:2.1em;}
    aside.thumb-3 h2{font-size: 2.6em;color: var(--color-hardgrey) }
    #page-nav a {font-size: 13px;}
    #section-web .cell-x1 {	width: 20%;}
    #section-web .cell-10 {width: 100% !important;margin:0;}
    #resumed-web em, #responsive {margin-top:5px;margin-bottom:5px;padding-bottom: 5px;padding-top: 5px;}
    #resumed-web em svg {max-width:21px;max-height:21px;}
    #resumed-web em {font-size: 10px;line-height:21px;}
    #section-brand h5 {line-height:1.3em;}
    #responsive img {width:256px;}
    #section-paint .pushed-6 {margin-left:8%!important;}
    #section-paint .thumb-6 {width:85%;line-height:1.1em;}
    #resumed-paint svg {display:none;}
    #resumed-print.cell-6 {width:88%!important;font-size: 16px;line-height:28px;}
    .cell-6, .pushed-6 {width:85%;margin-left:8% !important;}
    #coffee .thumb-2 {width: 90%!important;}
    #coffee .pushed-5 {margin-left:5%!important;}
    #diamond img {display:none;}
    strong em a {font-size: 15px;}
}
@media (max-width: 432px) {
    #page-header.cover {background-image: url("/img/home_m.jpg"); background-size:100% auto;background-position:fixed !important; }
}