/* by Isard Miralles  ADDING EXTRA to Serveis - CSS */
/* ------------------------------------------------------------ Resets */

#page-header.serveis-header {background-image: url("/img/texture/dark_design.png");
background-size:46px 29px;background-repeat: repeat;image-rendering: crisp-edges;}

/* Serveis */
#section-web {background-image: url("/img/web.jpg");background-position:fixed;image-rendering: crisp-edges;}
#section-brand {background-image: url("/img/blog.jpg");background-position:fixed;image-rendering: crisp-edges;}
#section-paint {background:fixed;overflow:hidden;background-image: url("/img/texture/asfalt.png");background-size: 466px 349px;background-repeat: repeat;image-rendering: crisp-edges;text-align:center;}
#section-print {background-image: url("/img/print.jpg");background-position:fixed;image-rendering: crisp-edges;background-attachment: fixed;border:none;text-align:center;}
#section-web, #section-brand, #section-print {background-position: top center;background-attachment: fixed;background-size: cover;background-repeat: no-repeat;border:none;overflow: hidden;text-align: center;}
#section-web svg, #section-brand svg, #section-paint svg, #section-print svg {width:64px;}
#resumed-web svg {width:26px;}
#resumed-web {color:var(--color-translucentblack);text-align:center!important;font-size:15px;}
#resumed-web em {padding:1em 0 1em 0;}
#responsive img {width:86%;}
#resumed-paint svg {width:23px;}
#resumed-paint {color:var(--color-translucentwhite);}
#resumed-paint h5 {margin: 0 0 6px 0;}
#resumed-print {color:var(--color-translucentblack);}
#resumed-print h5 {margin: 0 0 8px 0;}
#resumed-print em {padding:12px 0 12px 0;}
#section-brand h4 {margin-bottom:0;}
#section-brand h5 {line-height:1.3em;}
#section-brand .thumb-4 img {max-width:48%;}
#browser-ios svg {width:23px;color:var(--color-translucentblack);margin:0 5px 0 0;}
#section-brand h4{line-height:1.18em;}
img.big-icon {width:64px;padding-top:16px;}
#section-paint {color:var(--color-white);}

/* Animacions propies */

#diamond {padding-left:6%;}
@keyframes diamond {
    0% {background-image: url(/hipertextos/svg/diamond-1.svg);background-repeat: none ;border:none;}
    20% {background-image: url(/hipertextos/svg/diamond-1.svg);background-repeat: none ;border:none;}
    40% {background-image: url(/hipertextos/svg/diamond-3.svg);background-repeat: none ;border:none;}
    60% {background-image: url(/hipertextos/svg/diamond-5.svg);background-repeat: none ;border:none;}
    80% {background-image: url(/hipertextos/svg/diamond-4.svg);background-repeat: none ;border:none;}
    100% {background-image: url(/hipertextos/svg/diamond-1.svg);background-repeat: none ;border:none;}
}
#diamond-base {width:290px;height:290px;margin-left:6%;
	background-image: url(/hipertextos/svg/diamond-1.svg)no-repeat top left;background-size: contain;
	animation-name: diamond;animation-iteration-count: infinite;
    animation-duration: 23s;-webkit-transition: -webkit-transform 1.2s; /* Safari */
    transition: transform 1.2s;
}
@keyframes diamond-fill {
    0% {color:#000;fill:#000;}
    50% {color:#eee;fill:#eee;}
    100% {color:#cc0000;fill:#cc0000;}
}
#diamond-base-fill {width:290px;height:290px;margin-left:6%;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' x='0' y='0' viewBox='0 0 33 33' xml:space='preserve' enable-background='new 0 0 33 33'><path d='M16.5 30.5c-0.1 0-0.3-0.1-0.4-0.2l-16-19C0 11.1 0 10.9 0.1 10.7l6-8c0.1-0.1 0.2-0.2 0.4-0.2h20c0.2 0 0.3 0.1 0.4 0.2l6 8c0.1 0.2 0.1 0.4 0 0.6l-16 19C16.8 30.4 16.6 30.5 16.5 30.5zM1.1 11L16.5 29.2l15.4-18.2L26.3 3.5H6.8L1.1 11zM32.5 11.5h-32C0.2 11.5 0 11.3 0 11s0.2-0.5 0.5-0.5h32c0.3 0 0.5 0.2 0.5 0.5S32.8 11.5 32.5 11.5zM16.5 30.5c0 0-0.1 0-0.1 0 -0.3-0.1-0.4-0.4-0.3-0.6l6-19c0.1-0.3 0.4-0.4 0.6-0.3 0.3 0.1 0.4 0.4 0.3 0.6l-6 19C16.9 30.4 16.7 30.5 16.5 30.5zM16.5 30.5c-0.2 0-0.4-0.1-0.5-0.3l-6-19c-0.1-0.3 0.1-0.5 0.3-0.6 0.3-0.1 0.5 0.1 0.6 0.3l6 19c0.1 0.3-0.1 0.5-0.3 0.6C16.6 30.5 16.6 30.5 16.5 30.5zM10.5 11.5c-0.2 0-0.4-0.1-0.4-0.3l-4-8C5.9 3 6 2.7 6.3 2.6 6.5 2.4 6.8 2.5 6.9 2.8l4 8c0.1 0.2 0 0.5-0.2 0.7C10.7 11.5 10.6 11.5 10.5 11.5zM10.5 11.5c-0.1 0-0.2 0-0.3-0.1 -0.2-0.2-0.3-0.5-0.1-0.7l6-8c0.2-0.2 0.5-0.3 0.7-0.1 0.2 0.2 0.3 0.5 0.1 0.7l-6 8C10.8 11.4 10.7 11.5 10.5 11.5zM22.5 11.5c-0.2 0-0.3-0.1-0.4-0.2l-6-8c-0.2-0.2-0.1-0.5 0.1-0.7 0.2-0.2 0.5-0.1 0.7 0.1l6 8c0.2 0.2 0.1 0.5-0.1 0.7C22.7 11.5 22.6 11.5 22.5 11.5zM22.5 11.5c-0.1 0-0.2 0-0.2-0.1 -0.2-0.1-0.3-0.4-0.2-0.7l4-8c0.1-0.2 0.4-0.3 0.7-0.2 0.2 0.1 0.3 0.4 0.2 0.7l-4 8C22.9 11.4 22.7 11.5 22.5 11.5z' /></svg>";
	background-size: contain;
	animation-name: diamond-fill;animation-iteration-count: infinite;
	animation-duration: 23s;-webkit-transition: -webkit-transform 1.2s; /* Safari */
	transition: transform 1.2s;
}
#flower {padding-left:6%;width:290px;height:290px;}
@keyframes petals {
    0% {-ms-transform: rotate(0deg);-webkit-transform: rotate(0deg); transform: rotate(0deg);}
    50% {-ms-transform: rotate(180deg);-webkit-transform: rotate(180deg); transform: rotate(180deg);}
    100% {-ms-transform: rotate(360deg);-webkit-transform: rotate(360deg); transform: rotate(360deg);}
}
#flower-base {width:290px;height:290px;margin-left:6%;
	background-image: url(/hipertextos/svg/petals.svg)no-repeat top left;background-size: contain;
	animation-name: diamond;animation-iteration-count: infinite;
    animation-duration: 23s;-webkit-transition: -webkit-transform 1.2s; /* Safari */
    transition: transform 1.2s;
}
@media (max-width: 1250px) {
    #section-web .pushed-6 {}
    #section-web .cell-10 {}
    #section-web .cell-x1 {width: 20%;}
    #responsive img {width:380px;}
    #section-paint .pushed-6 {margin-left:33%;}
    #section-paint .thumb-6 {width:66%;}
    #section-paint h5 {font-size: 19px;}
    #section-paint em {font-size: 14px;}
	#resumed-paint svg {width:23px;}
    #browser-ios .thumb {width: 49.9999999999% !important;}
	#section-brand h5 {line-height:1.0em;}
    #resumed-print.cell-6 {width:96%!important;}
    #resumed-print.pushed-6 {margin-left:0;}
}
@media (max-width: 1242px) {
	#section-web {background-image: url("/img/web_b.jpg");background-position:fixed;}
	#section-brand {background-image: url("/img/blog_b.jpg");background-position:fixed;}
	#section-print {background-image: url("/img/print_b.jpg");background-position:fixed;}
}
@media (max-width: 768px) {
    #section-web {background-image: url("/img/texture/h_paper.png");background-size:200px 200px;background-repeat: repeat;}
    #section-brand {background-image: url("/img/texture/yellow_skulls.png");background-size:400px 400px;background-repeat: repeat;}
    #section-print {background-image: url("/img/texture/white_tree.png");background-size:350px 350px;background-repeat: repeat;}
    #section-web, #section-brand, #section-paint, #section-print {line-height:.6em;}
    #browser-ios.thumb {display:none;visibility:hidden;}
    #section-web .cell-x1 {	width: 20%;}
    #section-web .cell-10 {width: 100% !important;margin:0;}
    #resumed-web em, #responsive {margin-top:5px;margin-bottom:5px;padding-bottom: 5px;padding-top: 5px;}
    #resumed-web em svg {max-width:21px;max-height:21px;}
    #resumed-web em {font-size: 10px;line-height:21px;}
    #section-brand h5 {line-height:1.3em;}
    #responsive img {width:256px;}
    #section-paint .pushed-6 {margin-left:8%!important;}
    #section-paint .thumb-6 {width:85%;line-height:1.1em;}
    #resumed-paint svg {display:none;}
    #resumed-print.cell-6 {width:88%!important;font-size: 16px;line-height:28px;}
    #diamond img {display:none;}
    main {
    margin-bottom: 360px;
	}
    #icons a {width:30%;}
}

@media (max-width: 432px) {

}