/* by Isard Miralles  ADDING EXTRA to CARTA - CSS */

#page-header.carta-header {background-image: url("/hipertextos/brand/carta.jpg");font-family:'Lato', sans-serif; text-transform: uppercase; border:none;height: 260px;padding-top:80px;background-position: center;background-attachment: fixed;background-size: cover;background-repeat: no-repeat;
    border:none;color: #fafafa;letter-spacing: .2em;overflow: hidden;text-align: center;}
#page-nav div{height:90px;}
#page-nav a img {width:69px;height:69px;opacity:.69;}
#page-nav a:hover {background:var(--color-soft);}
img.icon {width:15px;margin-left:5px;margin-right:5px;}
.legends p {font-size:15px;}

#foot-cover.cover {background-image: url("/hipertextos/brand/carta.jpg");background-position: top center;background-attachment: fixed;background-size: cover;background-repeat: no-repeat;}
h6.title {text-align:left;font-size:.75em;margin-bottom:-32px;color:var(--color-grey); }
#rollitos-cart, #pures-cart, #cremes-cart, #amanides-cart, #xips-cart, #postres-cart, #begudes-cart {text-align: left;}
#rollitos-cart h4, #pures-cart h4, #cremes-cart h4, #amanides-cart h4, #xips-cart h4, #postres-cart h4, #begudes-cart h4 {margin-top:-10px;letter-spacing: -0.032em;}
#rollitos-cart p, #pures-cart p, #cremes-cart p, #amanides-cart p, #xips-cart p, #postres-cart p, #begudes-cart p {margin-top:-35px;}
#begudes-cart h5, #begudes-cart h6 {text-align: center;}
button {background-color:transparent ;background-image: url(/hipertextos/brand/hexagonblack.png);background-repeat:no-repeat  ;background-size:100px;width:100px;height:100px;border:none!important;
    color:var(--color-white);min-height:100px;font-size:30px;letter-spacing: 0.06em;font-weight: lighter }
#menu h2, #menu h3 {margin:0;}
.menu-hex {background-color:transparent ;background-image: url(/hipertextos/brand/hexagonblack.png);background-repeat:no-repeat;background-size:250px;width:250px;height:250px;border:none!important;
padding-left:8px;padding-top:6px;font-size:2.5em;margin-top: 40px;}

@media (max-width: 1250px) {
    #rollitos h4.headline {font-size:1.6em;}
    #rollitos p {font-size:18px ;}
}
@media (max-width: 1242px) {
    #rollitos h4.headline {font-size:1.4em;}
    #rollitos p {font-size:16px ;}
	button {background-size:90px;width:90px;height:90px;min-width:90px;
    min-height:90px;font-size:26px;letter-spacing: 0.06em;}
    .thumb-8 {width:58.3333333333%;}
    .thumb-1 {max-width:16.6666666666%;}
}
@media (max-width: 768px) {
    #page-header.carta-header {
    	background-image: url("/hipertextos/brand/carta_mcover.jpg");background-size: top auto;background-position:fixed !important;}
    #foot-cover .cover {
    	background-image: url("/hipertextos/brand/carta_m.jpg");background-size:100% auto;background-position:fixed !important;}
    #page-header.carta-header { height: 180px;padding-top:60px;}
    #foot-cover.cover {font-size: 18px;}
    #foot-cover.cover h5 {margin-bottom: 0px}
    .legends p {font-size: 12px;}
    #page-nav div{height:69px;}
	#page-nav a img {width:52px;height:52px;}
	button {background-size:80px;width:80px;height:80px;min-width:80px;
    min-height:80px;font-size:26px;letter-spacing: 0.06em;}
    #rollitos h4.headline {font-size:1.0em;}
    #rollitos-cart p, #pures-cart p, #cremes-cart p, #amanides-cart p, #postres-cart p {
        font-size:13px ;line-height:1.8em;}
    .thumb-3 {width:70%;}
    .thumb-8 {width:70%;margin-top:-30px;}
    .thumb-1 {width:20%;margin-top:-30px;}
    h6.title {display:none;visibility: hidden ;}
    #salsa .thumb-6 {width:100%;margin-bottom:32px;}
    #salsa p {font-size: 17px;}
    #salsa h6 {font-size:32px;margin-bottom:8px;}
    #menu .thumb-6, #begudes .thumb-6 {width:100%;}
    #menu .thumb-6, #begudes .thumb-6 {width:100%;}
    #begudes h5, #begudes h6 {line-height:1.2em;padding:0px;}
    #begudes h5 {margin-top:15px;}
    #begudes-cart p {font-size:15px ;line-height:1.5em;padding-top:12px;padding-bottom:6px;}
}
@media (max-width: 432px) {

}