/* Soviet CSS helpers */
/* by Acozar */

/* ------------------------------------------------------------ Position */

.position-absolute,
.position-absolute-relative,
.position-fixed,
.position-fixed-relative,
.position-sticky,
.position-sticky-relative {
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
}
.position-absolute,
.position-absolute-relative {
	position: absolute;
}
.position-fixed,
.position-fixed-relative {
	position: fixed;
}
.position-relative {
	position: relative;
}
.position-sticky,
.position-sticky-relative {
	box-shadow: 0 0 2px rgba(0,0,0,.3);
	position: sticky; 
	position: -webkit-sticky; 

}
@media (max-width: 767px) {
	.position-absolute-relative,
	.position-fixed-relative,
	.position-sticky-relative {
		position: relative
	}
}

/* ------------------------------------------------------------ Extras */

/* Show/Hide */

.show:after,
.hide:after,
.menu:before,
.prev:before,
.next:after {
	color: inherit;
	content:'';
	display: inline-block;
	font-size:1.5em;
	margin: 0 0 0 13px;
	vertical-align: middle;
}
.show:after {
	border-top: .25em solid currentColor;
	border-right: .25em solid transparent;
	border-left: .25em solid transparent;
}
.hide:after {
	content:'\2297';
}

/* Prev/Next */

.prev:before {
	content:'';
	margin: 0 13px 0 0;
	border-right: 13px solid currentColor;
	border-bottom: 13px solid transparent;
	border-top: 13px solid transparent;
}
.next:after {
	border-left: 13px solid currentColor;
	border-bottom: 13px solid transparent;
	border-top: 13px solid transparent;
}

/* ------------------------------------------------------------ Grids */

/* Cell & Thumb */

[class*='cell'], 
[class*='thumb'],
.cell, 
.thumb {
	display: block;
	float: left;
	height: auto;
	width: 100%;
}

/* 1/12 (Default) */

.cell-1, 
.thumb-1, 
.col-12 .cell, 
.col-12 .thumb {
	width: 8.3333333333%;
}
.cell-2, 
.thumb-2, 
.col-6 .cell, 
.col-6 .thumb {
	width: 16.6666666666%;
}
.cell-3, 
.thumb-3, 
.col-4 .cell, 
.col-4 .thumb {
	width: 24.9999999999%;
}
.cell-4, 
.thumb-4, 
.col-3 .cell, 
.col-3 .thumb {
	width: 33.3333333333%;
}
.cell-5,
.thumb-5 {
	width: 41.6666666666%;
}
.cell-6, 
.thumb-6, 
.col-2 .cell, 
.col-2 .thumb {
	width: 49.9999999999%;
}
.cell-7,
.thumb-7 {
	width: 58.3333333333%;
}
.cell-8,
.thumb-8 {
	width: 66.6666666666%;
}
.cell-9,
.thumb-9 {
	width: 74.9999999999%;
}
.cell-10,
.thumb-10 {
	width: 83.3333333333%;
}
.cell-11,
.thumb-11 {
	width: 91.66666666%;
}
.cell-12,
.thumb-12 {
	width: 100%;
}

/* Golden */

.col-gr .cell-primary {
	width: 61.80%;
}
.col-gr .cell-secondary {
	width: 38.20%;
}

/* 1/10 */

.cell-x1, 
.thumb-x1, 
.col-10 .cell, 
.col-10 .thumb {
	width: 10%;
}
.cell-x2, 
.thumb-x2, 
.col-5 .cell, 
.col-5 .thumb {
	width: 20%;
}
.cell-x3,
.thumb-x3 {
	width: 30%;
}
.cell-x4,
.thumb-x4 {
	width: 40%;
}
.cell-x5,
.thumb-x5 {
	width: 50%;
}
.cell-x6,
.thumb-x6 {
	width: 60%;
}
.cell-x7,
.thumb-x7 {
	width: 70%;
}
.cell-x8,
.thumb-x8 {
	width: 80%;
}
.cell-x9,
.thumb-x9 {
	width: 90%;
}

/* 1/8 */

.cell-e,
.thumb-e, 
.col-e .cell, 
.col-e .thumb {
	width: 12.499999999%;
}

/* Offset */

.pushed-1 {
	margin-left: 8.3333333333%;
}
.pushed-2 {
	margin-left: 16.6666666666%;
}
.pushed-3 {
	margin-left: 24.9999999999%;
}
.pushed-4 {
	margin-left: 33.3333333333%;
}
.pushed-5 {
	margin-left: 41.6666666666%;
}
.pushed-6 {
	margin-left: 49.9999999999%;
}
.pushed-7 {
	margin-left: 58.3333333333%;
}
.pushed-8 {
	margin-left: 66.6666666666%;
}
.pushed-9 {
	margin-left: 74.9999999999%;
}
.pushed-10 {
	margin-left: 83.3333333333%;
}
.pushed-11 {
	margin-left: 91.66666666%;
}

/* Magazine columns (dividing one box in columns with column-count attribute) */

[class*='columns'] {
	display: block;
	margin: 0;
	width: 100%;
} 
.columns-2 {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
} 
.columns-3 {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
} 
.columns-4 {
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
} 
.no-columns {
	-webkit-column-span: all;
	-moz-column-span: all;
	column-span: all;
}
@media (max-width: 768px) {
	.columns-blocked {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-span: all;
		-moz-column-span: all;
		column-span: all;
	}
}

/* Levels (fixing heights for a vertical grid) */

.level, [class*='level'] {
	display: block;
	height: auto;
	overflow: hidden;
	width: auto;
}
.level-1 {
	height: 1em;
}
.level-2 {
	height: 2em;
}
.level-3 {
	height: 3em;
}
.level-4 {
	height: 4em;
}
.level-5 {
	height: 5em;
}
.level-6 {
	height: 6em;
}
.level-7 {
	height: 7em;
}
.level-8 {
	height: 8em;
}
.level-9 {
	height: 9em;
}
.level-10 {
	height: 10em;
}
.level-11 {
	height: 11em;
}
.level-12 {
	height: 12em;
}
.level-13 {
	height: 13em;
}
.level-14 {
	height: 14em;
}
.level-15 {
	height: 15em;
}
.level-16 {
	height: 16em;
}
.level-17 {
	height: 17em;
}
.level-18 {
	height: 18em;
}
.level-19 {
	height: 9em;
}
.level-20 {
	height: 20em;
}
@media (max-width: 767px) {
	.level-blocked {
		height: auto;
	}
}


/* ------------------------------------------------------------ Layouts */

[class*='layout'] header {
	border-color: transparent;
}

/* Gallery */

.layout-gallery article {
	border: none;
	clear: none; 
	float: left; 
	margin: 0 1% 2em; 
	padding: 0; 
	width: 22.9999999999%; 
}
.layout-gallery article > div {
	display: block;
	height: 12em;
	margin: 1em;
	overflow: hidden;
}
.layout-gallery article > div img {
	display: block;
	height: 12em !important;
	margin: 0 auto;
	width: auto !important;

}
.layout-gallery article > header { 
	height: 4em;
	overflow: hidden;
	text-align: center; 
}
.layout-gallery.gutter article > div,
.layout-gallery.gutter article > header {
	margin: 1em;
}	

@media (max-width: 1200px) {
	.layout-gallery article { 
		width: 31.3333333333%;
	}
}
@media (max-width: 969px) {
	.layout-gallery article { 
		width: 47.9999999999%;
	}
}
@media (max-width: 480px) {
	.layout-gallery article {
		float: none; 
		margin: 0 1% 4em; 
		width: 98%; 
	}
}

/* Blog */

.layout-blog {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
}
.layout-blog article {
	border-color: currentColor;
	margin: 0 1% 4em; 
	width: 98%; 
}


/* ------------------------------------------------------------ Font Stacks */

/* Elegant Style */

.elegant, 
.elegant blockquote:after, 
.elegant blockquote:before {
	font-family: Baskerville, "Baskerville Old Face", "Goudy Old Style", Garamond, "Times New Roman", serif;
	letter-spacing: .1em;
}
.elegant ol li { 
	list-style-type: upper-roman; 
}
.elegant ul li { 
	list-style-type: square; 
}

/* Funny Style */

.funny, 
.funny blockquote:after, 
.funny blockquote:before {
	font-family: Chalkboard, Casual, 'Comic Sans MS', Verdana, sans-serif;
	letter-spacing: .1em;
}

/* Gothik Style */

.gothik, 
.gothik blockquote:after, 
.gothik blockquote:before {
 	font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

/* Hard Style */

.hard, 
.hard blockquote:after, 
.hard blockquote:before {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
	font-size: 1.25em;
	letter-spacing: .05em;
}

/* Modern Style */

.modern, 
.modern blockquote:after, 
.modern blockquote:before {
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.modern ul li { 
	list-style-type: circle; 
}

/* Monospace Style */

.monospace, 
.monospace blockquote:after, 
.monospace blockquote:before {
  	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
.monospace ul li { 
	list-style-type: square; 
}

/* Thin Style */

.thin,
.thin h1,
.thin h2,
.thin h3,
.thin h4,
.thin h5,
.thin h6,
.thin p,
.thin blockquote:after, 
.thin blockquote:before {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 100; 
	letter-spacing: .1em;
}
.thin ul li { 
	list-style-type: circle; 
}

/* Techno Style */

.techno, 
.techno blockquote:after, 
.techno blockquote:before {
  	font-family: "Exo", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}
.techno ul li { 
	list-style-type: square; 
}

/* Typewriter Style */

.typewriter, 
.typewriter blockquote:after, 
.typewriter blockquote:before {
  	font-family: 'Special Elite', Times New Roman, serif;
}


/* ------------------------------------------------------------ Colors */

/* Colors */

.color-soft-yellow {
	color: #FFEE99;
	background-color: #FFEE99;
	border-color: #FFEE99;
	fill: #FFEE99;
	stroke: #FFEE99;
}
.color-yellow {
	color: #F7CA18;
	background-color: #F7CA18;
	border-color: #F7CA18;
	fill: #F7CA18;
	stroke: #F7CA18;
}
.color-soft-amber {
	color: #F5AB35;
	background-color: #F5AB35;
	border-color: #F5AB35;
	fill: #F5AB35;
	stroke: #F5AB35;
}
.color-amber {
	color: #EB9532;
	background-color: #EB9532;
	border-color: #EB9532;
	fill: #EB9532;
	stroke: #EB9532;
}
.color-soft-orange {
	color: #E87E04;
	background-color: #E87E04;
	border-color: #E87E04;
	fill: #E87E04;
	stroke: #E87E04;
}
.color-orange {
	color: #F9690E;
	background-color: #F9690E;
	border-color: #F9690E;
	fill: #F9690E;
	stroke: #F9690E;
}
.color-soft-red {
	color: #EA6666;
	background-color: #EA6666;
	border-color: #EA6666;
	fill: #EA6666;
	stroke: #EA6666;
}
.color-red {
	color: #EE0000;
	background-color: #EE0000;
	border-color: #EE0000;
	fill: #EE0000;
	stroke: #EE0000;
}
.color-soft-granate {
	color: #D64541;
	background-color: #D64541;
	border-color: #D64541;
	fill: #D64541;
	stroke: #D64541;
}
.color-granate {
	color: #96281B;
	background-color: #96281B;
	border-color: #96281B;
	fill: #96281B;
	stroke: #96281B;
}
.color-soft-brown {
	color: #944019;
	background-color: #944019;
	border-color: #944019;
	fill: #944019;
	stroke: #944019;
}
.color-brown {
	color: #5B2B14;
	background-color: #5B2B14;
	border-color: #5B2B14;
	fill: #5B2B14;
	stroke: #5B2B14;
}
.color-soft-pink {
	color: #FFC0CB;
	background-color: #FFC0CB;
	border-color: #FFC0CB;
	fill: #FFC0CB;
	stroke: #FFC0CB;
}
.color-pink {
	color: #FFB6C1;
	background-color: #FFB6C1;
	border-color: #FFB6C1;
	fill: #FFB6C1;
	stroke: #FFB6C1;
}
.color-soft-magenta {
	color: #FF77FC;
	background-color: #FF77FC;
	border-color: #FF77FC;
	fill: #FF77FC;
	stroke: #FF77FC;
}
.color-magenta {
	color: #FF00FF;
	background-color: #FF00FF;
	border-color: #FF00FF;
	fill: #FF00FF;
	stroke: #FF00FF;
}
.color-soft-violet {
	color: #A46DBB;
	background-color: #A46DBB;
	border-color: #A46DBB;
	fill: #A46DBB;
	stroke: #A46DBB;
}
.color-violet {
	color: #8844a5;
	background-color: #8844a5;
	border-color: #8844a5;
	fill: #8844a5;
	stroke: #8844a5;
}
.color-soft-sky {
	color: #C5EFF7;
	background-color: #C5EFF7;
	border-color: #C5EFF7;
	fill: #C5EFF7;
	stroke: #C5EFF7;
}
.color-sky {
	color: #89C4F4;
	background-color: #89C4F4;
	border-color: #89C4F4;
	fill: #89C4F4;
	stroke: #89C4F4;
}
.color-soft-blue {
	color: #408EBE;
	background-color: #408EBE;
	border-color: #408EBE;
	fill: #408EBE;
	stroke: #408EBE;
}
.color-blue {
	color: #006DAB;
	background-color: #006DAB;
	border-color: #006DAB;
	fill: #006DAB;
	stroke: #006DAB;
}
.color-soft-green {
	color: #65C38E;
	background-color: #65C38E;
	border-color: #65C38E;
	fill: #65C38E;
	stroke: #65C38E;
}
.color-green {
	color: #3AB16C;
	background-color: #3AB16C;
	border-color: #3AB16C;
	fill: #3AB16C;
	stroke: #3AB16C;
}
.color-soft-olive {
	color: #6d8764;
	background-color: #6d8764;
	border-color: #6d8764;
	fill: #6d8764;
	stroke: #6d8764;
}
.color-olive {
	color: #3E4C39;
	background-color: #3E4C39;
	border-color: #3E4C39;
	fill: #3E4C39;
	stroke: #3E4C39;
}
.color-soft-turquoise {
	color: #34C3A7;
	background-color: #34C3A7;
	border-color: #34C3A7;
	fill: #34C3A7;
	stroke: #34C3A7;
}
.color-turquoise {
	color: #00AF8B;
	background-color: #00AF8B;
	border-color: #00AF8B;
	fill: #00AF8B;
	stroke: #00AF8B;
}
.color-soft-asphalt {
	color: #7895B5;
	background-color: #7895B5;
	border-color: #7895B5;
	fill: #7895B5;
	stroke: #7895B5;
}
.color-asphalt {
	color: #2C3E50;
	background-color: #2C3E50;
	border-color: #2C3E50;
	fill: #2C3E50;
	stroke: #2C3E50;
}
.color-black {
	color: #000;
	background-color: #000;
	border-color: #000;
	fill: #000;
	stroke: #000;
}
.color-hard-grey {
	color: #333333;
	background-color: #333333;
	border-color: #333333;
	fill: #333333;
	stroke: #333333;
}
.color-grey {
	color: #666666;
	background-color: #666666;
	border-color: #666666;
	fill: #666666;
	stroke: #666666;
}
.color-soft-grey {
	color: #d5d5d5;
	background-color: #d5d5d5;
	border-color: #d5d5d5;
	fill: #d5d5d5;
	stroke: #d5d5d5;
}
.color-soft {
	color: #E6ECED;
	background-color: #E6ECED;
	border-color: #E6ECED;
	fill: #E6ECED;
	stroke: #E6ECED;
}
.color-white {
	color: #ffffff;
	background-color: #ffffff;
	border-color: #ffffff;
	fill: #ffffff;
	stroke: #ffffff;
}


/* Color styles */

.color-positive {
	background-color: transparent !important;
	border-width: thin !important;
	fill: transparent !important;
}
.color-negative {
	color: #ffffff !important;
	border-color: transparent !important;
	fill: #ffffff !important;
}
.color-text {
	background: transparent !important;
	border-color: transparent !important;
}


/* Color resets */

.color-yang {
	background-color: #ffffff !important;
	border: none;
	color: #000000 !important;
	fill: #000000 !important;
	stroke: transparent !important;
}
.color-yin {
	color: #000000 !important;
	border: none;
	color: #ffffff !important;
	fill: #ffffff !important;
	stroke: transparent !important;
}
