<span itemprop="author" itemscope itemtype="http://schema.org/Person">
    <meta itemprop="name" content="Joseph Hendrix" />
    <span itemprop="alumniOf" itemscope itemtype="http://schema.org/CollegeOrUniversity">
        <meta itemprop="name" content="Wright State University" />
    </span>
    <span itemprop="alumniOf" itemscope itemtype="http://schema.org/CollegeOrUniversity">
        <meta itemprop="name" content="Sinclair Community College" />
    </span>
    <span itemprop="alumniOf" itemscope itemtype="http://schema.org/HighSchool">
        <meta itemprop="name" content="Xenia High School" />
    </span>
</span>
