<!-- opengraph tags from opengraph.html -->
<meta property="fb:admins" content="1274573288"/>
<meta property="fb:app_id" content="{{ site.fb-app-id }}"/>
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:type" content="blog" />
<meta property="article:author" content="https://www.facebook.com/joseph.hendrix.5" />
{% for tag in page.tags %}<meta property="article:tag" content="{{ tag | replace:'_',' ' }}" />{% endfor %}
{% for keyword in page.keywords %}<meta property="article:tag" content="{{ keyword }}" />{% endfor %}
<meta property="article:published_time" content="{% if page.date %}{{ page.date | date: '%Y-%m-%d' }}{% else %}{{ site.time | date: '%Y-%m-%d' }}{% endif %}" />
<meta property="og:image" content="{{ site.url }}{% if page.image %}{{ page.image }}{% else %}/images/covers/index-cover.png{% endif %}" />
<meta property="og:url" content="{{ site.url }}{% unless page.url == '/index.html' %}{{ page.url }}{% endunless %}" />
<meta property="og:title" content="{% if page.layout == 'tag' %}Check out the latest {{ page.title | xml_escape }} posts on {{ site.name }}{% elsif page.title %}{{ page.title | xml_escape }}{% else %}{{ site.name }}{% endif %}" />
<meta name="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | xml_escape }}{% else %}{{ site.description }}{% endif %}" />
