<!-- schema.org itemprop stuff from schema.html -->
<meta itemprop="url" content="{% if page.url == "/index.html" %}{{ site.url }}{% else %}{{ site.url }}{{ page.url }}{% endif %}" />

{% if layout.isPost %}
    <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="{% if page.url == "/index.html" %}{{ site.url }}{% else %}{{ site.url }}{{ page.url }}{% endif %}"/>
    {% include metadata/author.html %}
    {% include metadata/publisher.html %}
    <span itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
      <meta itemprop="url" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.avatar }}{% endif %}">
      <meta itemprop="width" content="800">
      <meta itemprop="height" content="800">
    </span>
{% endif %}

{% for tag in page.tags %}<meta itemprop="keywords" content="{{ tag | replace:'_',' ' }}" />{% endfor %}
{% for keyword in page.keywords %}<meta itemprop="keywords" content="{{ keyword }}" />{% endfor %}
{% unless page.tags or page.keywords %}{% for tag in site.tags %}<meta itemprop="keywords" content="{{ tag[0] }}" />{% endfor %}{% endunless %}
