<!-- schema.org itemprop stuff from schema.html -->
<meta itemprop="url" content="{% if page.url == "/index.html" %}{{ site.url }}{% else %}{{ site.url }}{{ page.url }}{% endif %}" />

<meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="{% if page.url == "/index.html" %}{{ site.url }}{% else %}{{ site.url }}{{ page.url }}{% endif %}"/>
{% include metadata/author.html %}
{% include metadata/publisher.html %}
<span itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
<meta itemprop="url" content="{{ site.url }}{% if page.image %}{{ page.image }}{% else %}/images/covers/index-cover.png{% endif %}">
<meta itemprop="width" content="800">
<meta itemprop="height" content="800">
</span>

{% for tag in page.tags %}<meta itemprop="keywords" content="{{ tag | replace:'_',' ' }}" />{% endfor %}
{% for keyword in page.keywords %}<meta itemprop="keywords" content="{{ keyword }}" />{% endfor %}
