doctype html
html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='Some description')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel="stylesheet", href="css/style.css")
	//- Hello Hello!
	body
		canvas.zdog-canvas(width="640" height="960")
		//- script(src='https://unpkg.com/zdog@1/dist/zdog.dist.min.js')
		script(src='js/zdog.dist.min.js')

		script(src='js/happy.js')