Package: cc.cu.iosrepo.bioprotect
Depends: firmware (>= 7.0), mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.2)
Name: BioProtect
Version: 1.5-129
Architecture: iphoneos-arm
Description: Apps ေတြကို Password ဒါမွမဟုတ္ လက္ေဗြနဲ႕ပိတ္မယ္.
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=bioprotectDp
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=bioprotectDp
Installed-Size: 913
Maintainer: IT STAR <itstar4tech@gmail.com>
Author: Elias Limneos <iphone@limneos.net>
Section: Tweaks
dev: limneos
Tag: cydia::commercial, purpose::extension, ios7support::1, ios8support::1
Icon: file:///Library/PreferenceBundles/BioProtectPrefs.bundle/Icon.png
