{
	CFBundleDisplayName = "Safari D+";
	"CFBundleDevelopmentRegion" = en;
	CFBundleExecutable = SafariDownloader;
	CFBundleIdentifier = "com.ouraigua.safaridownloaderplus";
	"CFBundleInfoDictionaryVersion" = "6.0";
	CFBundlePackageType = APPL;
	CFBundleSignature = "????";
	CFBundleVersion = "1.1";
	UIPrerenderedIcon = YES;
	CFBundleIconFile = "icon.png";
	CFBundleIconFiles = (
		"Icon.png",
		AppIcon29x29,
		AppIcon50x50,
		AppIcon57x57,
		AppIcon72x72,
	);
	CFBundleIcons = {
		CFBundlePrimaryIcon = {
			CFBundleIconFiles = (
				AppIcon29x29,
				AppIcon40x40,
				AppIcon50x50,
				AppIcon57x57,
				AppIcon60x60,
				AppIcon72x72,
				AppIcon76x76,
			);
			UIPrerenderedIcon = YES;
		};
	};
	UIDeviceFamily = (
		1,
		2,
	);
	UILaunchImages = (
		{
			"UILaunchImageMinimumOSVersion" = "8.0";
			UILaunchImageName = Default;
			"UILaunchImageOrientation" = Portrait;
			UILaunchImageSize = "{320, 480}";
		},
		{
			"UILaunchImageMinimumOSVersion" = "8.0";
			UILaunchImageName = Default;
			"UILaunchImageOrientation" = Landscape;
			UILaunchImageSize = "{320, 480}";
		},
		{
			"UILaunchImageMinimumOSVersion" = "8.0";
			UILaunchImageName = "Default-568h";
			"UILaunchImageOrientation" = Portrait;
			UILaunchImageSize = "{320, 568}";
		},
		{
			"UILaunchImageMinimumOSVersion" = "8.0";
			UILaunchImageName = "Default-568h";
			"UILaunchImageOrientation" = Landscape;
			UILaunchImageSize = "{320, 568}";
		},
		{
			"UILaunchImageMinimumOSVersion" = "8.0";
			UILaunchImageName = "Default-667h";
			"UILaunchImageOrientation" = Portrait;
			UILaunchImageSize = "{375, 667}";
		},
		{
			"UILaunchImageMinimumOSVersion" = "8.0";
			UILaunchImageName = "Default-667h";
			"UILaunchImageOrientation" = Landscape;
			UILaunchImageSize = "{375, 667}";
		},
		{
			"UILaunchImageMinimumOSVersion" = "8.0";
			UILaunchImageName = "Default-736h";
			"UILaunchImageOrientation" = Portrait;
			UILaunchImageSize = "{414, 736}";
		},
		{
			"UILaunchImageMinimumOSVersion" = "8.0";
			UILaunchImageName = "Default-736h";
			"UILaunchImageOrientation" = Landscape;
			UILaunchImageSize = "{414, 736}";
		},
		{
			"UILaunchImageMinimumOSVersion" = "8.0";
			UILaunchImageName = "Default-Portrait";
			"UILaunchImageOrientation" = Portrait;
			UILaunchImageSize = "{768, 1024}";
		},
		{
			"UILaunchImageMinimumOSVersion" = "8.0";
			UILaunchImageName = "Default-Landscape";
			"UILaunchImageOrientation" = Landscape;
			UILaunchImageSize = "{768, 1024}";
		},
	);
	UIStatusBarStyle = "UIStatusBarStyleLightContent";
	"UIViewControllerBasedStatusBarAppearance" = NO;
	UIBackgroundModes = (
		audio,
	);
	"UISupportedInterfaceOrientations" = (
		"UIInterfaceOrientationPortrait",
		"UIInterfaceOrientationPortraitUpsideDown",
		"UIInterfaceOrientationLandscapeLeft",
		"UIInterfaceOrientationLandscapeRight",
	);
	"UISupportedInterfaceOrientations~ipad" = (
		"UIInterfaceOrientationPortrait",
		"UIInterfaceOrientationPortraitUpsideDown",
		"UIInterfaceOrientationLandscapeLeft",
		"UIInterfaceOrientationLandscapeRight",
	);
	CFBundleURLTypes = (
		{
			CFBundleURLName = "com.ouraigua.safaridownloaderplus";
			CFBundleURLSchemes = (
				safaridownloader,
			);
		},
	);
	UIFileSharingEnabled = NO;
	"CFBundleDocumentTypes" = (
		{
			CFBundleTypeName = "MPEG4 Audio";
			LSHandlerRank = Alternate;
			LSItemContentTypes = (
				"public.audio",
				"public.aiff-audio",
				"public.mpeg-4-audio",
			);
		},
		{
			CFBundleTypeName = "MPEG4 Audio (Ringtone)";
			LSHandlerRank = Alternate;
			LSItemContentTypes = (
				"com.apple.m4r",
			);
		},
		{
			CFBundleTypeName = "MPEG2 Audio";
			LSHandlerRank = Alternate;
			LSItemContentTypes = (
				"public.mp3",
			);
		},
		{
			CFBundleTypeName = "AIFF Audio";
			LSHandlerRank = Alternate;
			LSItemContentTypes = (
				"public.aifc-audio",
				"public.aiff-audio",
			);
		},
		{
			CFBundleTypeName = "Apple Core Audio";
			LSHandlerRank = Alternate;
			LSItemContentTypes = (
				"com.apple.coreaudio-\U200bformat",
			);
		},
		{
			CFBundleTypeName = "Microsoft WAV";
			LSHandlerRank = Alternate;
			LSItemContentTypes = (
				"com.microsoft.waveform-\U200baudio",
			);
		},
		{
			CFBundleTypeName = AAC;
			LSHandlerRank = Alternate;
			LSItemContentTypes = (
				"org.chiariglione.mpeg.aac",
			);
		},
		{
			CFBundleTypeName = Image;
			LSHandlerRank = Alternate;
			LSItemContentTypes = (
				"public.image",
			);
		},
		{
			CFBundleTypeName = JPEG;
			LSHandlerRank = Alternate;
			LSItemContentTypes = (
				"public.jpeg",
				"public.jpeg-2000",
			);
		},
		{
			CFBundleTypeName = GIF;
			LSHandlerRank = Alternate;
			LSItemContentTypes = (
				"com.compuserve.gif",
			);
		},
		{
			CFBundleTypeName = "Windows Bitmap Image";
			LSHandlerRank = Alternate;
			LSItemContentTypes = (
				"com.microsoft.bmp",
			);
		},
		{
			CFBundleTypeName = "Windows Icon Image";
			LSHandlerRank = Alternate;
			LSItemContentTypes = (
				"com.microsoft.ico",
			);
		},
		{
			CFBundleTypeName = PNG;
			LSHandlerRank = Alternate;
			LSItemContentTypes = (
				"public.png",
			);
		},
		{
			CFBundleTypeName = "X-Bitmap";
			LSHandlerRank = Alternate;
			LSItemContentTypes = (
				"public.xbitmap-image",
			);
		},
		{
			CFBundleTypeName = Movie;
			LSHandlerRank = Alternate;
			LSItemContentTypes = (
				"public.movie",
				"com.apple.quicktime-movie",
				"public.mpeg-4",
				"public.3gpp",
				"public.3gpp2",
			);
		},
		{
			CFBundleTypeName = Video;
			LSHandlerRank = Alternate;
			LSItemContentTypes = (
				"public.video",
			);
		},
	);
}