/* Hero */
.hero {
  background-color: var(--light-gray);
  margin-bottom: 40px;
  padding: 56px 0 32px 0;

  @media only screen and (max-width: $desktop) {
    margin: 0px 0px 32px 0px;
    padding: 0px 0px 40px 0px;
    .row {
      flex-direction: column-reverse;
    }
  }

}

  // adjusted for subsections
  .hero-2 {
    background-color: var(--light-gray);
    margin-bottom: 40px;
    padding: 80px 0 32px 0;

    @media only screen and (max-width: $desktop) {
      padding: 116px 0 32px 0;
    }
  }

.hero__inner {
  @media only screen and (max-width: $desktop) {
    margin-top: -40px;
  }
  .hero__title {
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 1.2;
    color: var(--heading-font-color);

    @media only screen and (max-width: 1140px) {
      font-size: 60px;
    }

    @media only screen and (max-width: $desktop) {
      font-size: 50px;
    }

    @media only screen and (max-width: $tablet) {
      margin-bottom: 16px;
      font-size: 40px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 32px;
    }
  }

  .hero__description {
    margin-bottom: 0;
    font-size: 24px;
    color: var(--text-alt-color);

    @media only screen and (max-width: $desktop) {
      font-size: inherit;
    }
  }
}