/* Hero */
.hero {
  background-color: #fafafa;
  margin-bottom: 40px;
  padding: 56px 0 32px 0;
  // background: rgb(240,240,240);
  // background: -moz-linear-gradient(0deg, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 50%);
  // background: -webkit-linear-gradient(0deg, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 50%);
  // background: linear-gradient(0deg, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 50%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0f0f0",endColorstr="#ffffff",GradientType=1); 

  @media only screen and (max-width: $desktop) {
    margin: 0px 0px 32px 0px;
    padding: 0px 0px 40px 0px;
    .row {
      flex-direction: column-reverse;
    }
  }

}

  // adjusted for subsections
  .hero-2 {
    background-color: #fafafa;
    margin-bottom: 40px;
    padding: 112px 0 32px 0;

    @media only screen and (max-width: $desktop) {
      padding: 116px 0 32px 0;
    }

  }

  .hero-2 .hero__title {
    margin-bottom: 0px !important;
  }

.hero__inner {
  @media only screen and (max-width: $desktop) {
    margin-top: -40px;
  }
  .hero__title {
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 1.2;
    color: var(--heading-font-color);

    @media only screen and (max-width: 1140px) {
      font-size: 60px;
    }

    @media only screen and (max-width: $desktop) {
      font-size: 50px;
    }

    @media only screen and (max-width: $tablet) {
      margin-bottom: 16px;
      font-size: 40px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 32px;
    }
  }

  .hero__description {
    margin-bottom: 0;
    font-size: 24px;
    color: var(--text-alt-color);

    @media only screen and (max-width: $desktop) {
      font-size: inherit;
    }
  }
}