		#animateTest {
			text-align: center;
			width: 15em;
			margin: 1em auto;
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			-o-backface-visibility: hidden;
			backface-visibility: hidden;
			-webkit-animation-duration: 1s;
			-webkit-animation-delay: .2s;
			-webkit-animation-timing-function: ease;
			-webkit-animation-fill-mode: both;
			-moz-animation-duration: 1s;
			-moz-animation-delay: .2s;
			-moz-animation-timing-function: ease;
			-moz-animation-fill-mode: both;
			-ms-animation-duration: 1s;
			-ms-animation-delay: .2s;
			-ms-animation-timing-function: ease;
			-ms-animation-fill-mode: both;
			-o-animation-duration: 1s;
			-o-animation-delay: .2s;
			-o-animation-timing-function: ease;
			-o-animation-fill-mode: both;
			animation-duration: 1s;
			animation-delay: .2s;
			animation-timing-function: ease;
			animation-fill-mode: both;
		}
		#animateTest button { cursor: text; }