.page {text-align:center;}
.img {width:100%;padding:none;margin:none;height:100%;}
.layout {}
#footer {}
.button-centered .squared {width:12%;}
a.button:hover, a.button:focus {background-color:#fafafa !important;color:#555 !important;}
.foot {opacity:0.8;font-size:1.2em;}
.header-cover {	padding:12% 0 0;height: 55em;
	background-position: top center;
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
	border:none;}

@media (max-width: 1366px) {
}
@media (max-width: 800px) {
}
@media (max-width: 767px) {
}
@media (max-width: 550px) {

}