body {
text-align: justify;
-moz-hyphens:none;
 -ms-hyphens:none;
 -webkit-hyphens:none;
 -o-hyphens:none;
 hyphens:none;
/* otros valores: auto & none */
 word-wrap:none;
 }
header {
	text-align:center;
}
.bigger h1{font-size:2.3em;}
h1 {font-family: 'Cinzel Decorative', Helvetica, Arial;}
h2 {font-family: 'Voltaire', Helvetica, Arial;letter-spacing: 0.12em;}
h3 {font-family: 'Voltaire', Helvetica, Arial;letter-spacing: 0.08em;}
h4 {font-family: 'Abel', Helvetica, Arial; }
h5 {font-family: 'Six Caps', sans-serif;}
h6 {font-family: 'Oswald', sans-serif;}

h3 {background:transparent !important;stroke:transparent !important;text-transform:uppercase;
color:#fe9;background-color:#fe9;border-color:#fe9;fill:#fe9;stroke:#fe9;}
.absolute {position:absolute;text-align:center;width:100%;}

.content .lead {font-family: 'Abel', Helvetica, Arial;}
a {text-transform:uppercase;font-family: 'Abel', Helvetica, Arial;text-decoration:none!important;}
.uppercased  {text-transform: uppercase;}

nav a {font-family: 'Oswald', Helvetica, Arial !important;letter-spacing: 0.18em;}
nav {height:5.8em;padding:0.7%;	z-index: 1000;}
nav {background:transparent;text-align:center!important;}
nav .navlink, nav .home {text-transform: uppercase;}
nav .navlink {margin:0 8px 0 8px;min-width:6.0em;}
.sticky {  position: -webkit-sticky; position: sticky; top: 0;}
.nav-sticky { letter-spacing: .12em; position: -webkit-sticky; position: sticky;top: 0;font-size:1.0em;border-bottom:1px solid #222!important;}
nav a:hover {color:#aaa;}
.home  {font-family:'Cinzel Decorative', Helvetica, Arial !important;font-size:2.1em;line-height:0.2em;letter-spacing: .001em !important;}

.covers {margin:none; padding:none;width:100%;height:100%;}
.full-cover {
	background-position: top center;
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
	border:none;
}
.header-up {
	background-position: top center;
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
	border:none;
}
.header-fine {
	background-position: top center;
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
	border:none;
	height: 12em!important;padding:1px 0 0;
	box-shadow:inset 1px -6px 16px rgba(0,0,0,.06);
}
.header-article {
	padding-top: 5em;height: 25em;
	background-position: top center;
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
	border:none;
}
.fiximg {
	position: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
	border:none;
	z-index: 100;
}
.bio {line-height:1.7em;font-family:'Voltaire', Helvetica, Arial; font-size:1.5em;}
.suscribe {font-family:'Oswald', sans-serif, Helvetica, Arial;}
.bio p {color:#fff !important;}
#footer nav {border:none;}
.sibling-content div{border-radius: .5em;position:absolute;}
.moreinfo {margin:0;padding:0;}
.prev-sib {float:left;}
.next-sib {float:right;}
.img-sibling {width:92px;	height: auto;border-radius:0 0 .25em .25em;}
.txt-sibling {color:#666 !important;display:block;background:#fafafa;border-radius:.25em .25em 0 0;}
prev.img-sibling {float:left;}
next.txt-sibling {}
next.img-sibling {float:right;}
.medias {letter-spacing: .1em;}
.biobuttons a{line-height:1.2em;font-size:1.8em;}
.article-thumb {margin-bottom:0px!important;padding-bottom:0px!important;}
h5.article-title, .article-title .icon {margin-top:0px!important;padding-top:0px!important;}
h1.article-title {font-family: 'Six Caps', sans-serif;}
.section-blank {border:none !important;}
#viewer {margin:6%!important;}

.youtube {margin-bottom:-36px;z-index:10000;}

article.post {border-top:thin solid #f1f1f1;border-bottom:thin solid #ddd;border-left:none;border-right:none;}
.post-title {letter-spacing: .001em;text-transform: uppercase;font-size:4.8em;}
.ical h1, .ical h2 {margin:0.4em;font-family:'Oswald', sans-serif, Helvetica, Arial;}
.ical h1 {line-height:0.5em;font-size:6.9em;}
.ical h2 {line-height:0.9em;letter-spacing: 0.01em;}
.ical-front {padding-top:1.75em;}
.ical-front h4 {font-family:'Oswald', sans-serif, Helvetica, Arial;line-height:0.1em;font-size:2.9em;margin:0.7em;}
.ical-front .month {line-height:0.1em;font-size:0.95em;letter-spacing: 0.06em;}

.round {border-radius:5.0em;padding:2% 5% 2% 5%;}
.underline-hover a{text-decoration:none;}
.underline-hover a:hover {text-decoration: underline !important;color:#eee;}
.underlined-hover a{text-decoration:none;border:none;}
.underlined-hover a:hover {text-decoration: underline !important;border:1px solid #eee;}
.foot-post {
	margin:0;padding:0;border:none;
	font-size:0.9em;}
.views {
	text-align:center;
	background:#eee !important;
	border-top:thin solid #eee;
}
.views ul {	

}
.views span.icon {font-size:2.0em;display:block;}
.overr:hover{color:#a46dbb;
}
.over a {text-decoration:none!important;}

.corpus {}
.corpus img{max-width:50%;height:auto;padding-right:1%;}

.mosaic-imagens {	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;}
.imagens {
}
.imagens img {
	margin-top: 0;
	margin-bottom:0;
	max-height:100%;
	padding:0;

}

/* Listed */ 

.listed {	}
.listed article { 
	border-bottom: 1px solid #d5d5d5;
	padding-top:1.2em;
	overflow: hidden;
	width: auto;
	font-size:1.8em;
    display: block;
    display: inline-block;
    margin: 1em;
    padding: 0;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside:avoid;
    -moz-page-break-inside:avoid;
    page-break-inside: avoid;
	
}
.listed .article-lead { 
	
}
.listed .article-title { 
	margin: 0 0 0 0.01em;letter-spacing: .1em;
	text-transform: uppercase;
}
.listed .article-date {
	font-size: .75em;
	margin: 0 0 0 1em;
	color:#555;
}

/* END */
	
/* TIPOS */
.cinzel {
font-family:'Cinzel Decorative', Helvetica, Arial;}
.oswald {
font-family: 'Oswald', sans-serif;}
.sixcaps {
font-family: 'Six Caps', sans-serif;
}

.share-page {
    text-align: center;
    background: $secondary-color;
    color: $light-color;
    padding: 1.2em 15px;
    border-radius: 5px;
    margin: 1.5 * $spacing-unit 0;

    a {
        font-weight: 700;
        color: #fff;
        margin-left: 10px;

        &:hover {
            border-bottom: 1px dashed #fff;
        }
    }
}

@media (max-width: 1920px) {
}
@media (max-width: 1600px) {
	.bio {line-height:1.4em; font-size:1.3em;}
}
@media (max-width: 1300px) {
	.header-cover {padding:0;margin:0;}
	.repertori  {font-size:0.8em;}
	.bio {line-height:1.3em; font-size:1.2em;}
}
@media (max-width: 1000px) {
	nav .navlink {margin:0 6px 0 6px;font-size: .80em;}
	nav {height:4.6em;padding:0;}
	.header-cover {max-height:42em;padding:0;margin:0;}
	.repertori  {font-size:0.65em;}
	h6 {line-height:1.2em !important;font-size:1.0em !important;}
}
@media (max-width: 767px) {
	.nav-sticky a {
		display: inline;
		display: inline-block;
		width: auto;
	}
	nav {height:3.2em;}
	nav .navlink {margin:0 5px 0 5px;font-size: .40em;}
	.home {font-size: .9em;}
	.header-cover {max-height:32em;}
	.repertori  {font-size:0.55em;}
	.bio {line-height:1.32em; font-size:1.1em;}
}
@media (max-width: 512px) {
}
@media (max-width: 450px) {
	.next, .prev {display:none;visibility:hidden;}
	.thin {font-weight: bold!important;}
	.soft-nav {font-size: 7px;}
}

a.footlink:hover, a.footlink:active {
	color:#fff;
}
.round {border-radius:5.0em;padding:2% 5% 2% 5%;}
#footer a, #footer p {border:none;font-family: 'Oswald', sans-serif!important;letter-spacing: 0.05em;font-size:0.9em;}
#footer h4 a{font-family:'Cinzel Decorative', Helvetica, Arial !important;text-transform: revert;}
#footer {border:none;}
#footer .foot {margin-top:0px;}
#footer a {text-decoration:none !important;border:none;font-weight:bold;}
#footer a:hover {text-decoration:underline !important;}
