.site-info {
  float: left;
  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
  .site-name {
    margin: 0;
    font-size: 1.75rem;
    letter-spacing: 1.75px;
  }
  .site-description {
    margin: -3px 0 0 0;
    font-size: 0.75rem;
    font-weight: 300;
    @include mobile {
      margin: 3px 0;
    }
  }
}