.tags {
  padding-left: 0;
}

.tags-header {
  background: $blue;
  display: inline-block;
  padding: 1rem;
  color: white;
  box-shadow: 1px 1px 1px $gray;
  margin-bottom: 2rem;
}

.tag-list {
  margin: 1rem;
}

.tag {
  list-style-type: none;
  display: inline-block;
  background-color: $light-gray;
  border-radius: 3px;
  padding: 1px 15px;

  a {
    text-decoration: none;
    color: $gray;
  }

  &:hover {
    cursor: pointer;
    background-color: darken($light-gray, 5%)
  }
}
