<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/screen.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/components.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding-about.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/helpers.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/anime.css" />    
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
	<link href="https://fonts.googleapis.com/css?family=Voltaire" rel="stylesheet">

    {% include favicons.html %}

  </head>
  <body>
	<!-- Page content -->
	<div class="page cover-page" id="page">
	{% include partials/navigation/nav.html %}
		<header id="page-header" class="about-cover anm-moveFromTop delay-200">
			<div>
				<h1 class="anm-moveFromBottomFade delay-300">{{ page.title }}</h1>
				<div id="contacto">
					<em><a href="tel:+34{{ site.phone1 }}"><b>+34</b> {{ site.phone1 }}</a></em>
					<em><a href="tel:+34{{ site.phone2 }}"><b>+34</b> {{ site.phone2 }}</a></em>
					<em><a href="mailto:{{ site.footer-links.email }}">{{ site.footer-links.email }}</a></em>
				</div>
			</div>
		</header>
		<main id="page-main" class="anm-fadeIn delay-900 slow">
			<div>
				<section id="info-about" class="anm-fadeIn delay-1000">
					<div id="info">
						<div class="hexagon" class="anm-moveFromTopFade delay-1500">Bio</div>
					</div>
					<h5>{{ site.description }}</h5>
					<div class="anm-moveFromBottomFade delay-1500">
						{{ site.bio }}
					</div>
					<div id="contracta">
						<em class="thumb anm-scaleUp delay-1500 slow"><u><label for="modal-two">Contratación</label></u></em>
					</div>
					<hr>
				</section>
				<hr>									
			</div>
			{% include partials/credits.html %}
		</main>
		{% include partials/footer.html %}
	</div><!-- /#page -->
	
		<!-- Out of page
		================================================== -->	
    {% include partials/dialog.html %}  
    {% include partials/rights.html %}  

    <!-- Scripts
    ================================================== -->
  	<script src="{{ site.baseurl }}/hipertextos/js/jquery.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/anime.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/icons.js"></script>
    {% include analytics.html %}
  </body>
</html>
