---
layout: default
---

<article class="page">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="f9689183-07b7-4aa1-a6d2-28fa4098e29c" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
  <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="a7cfe5fa-a3a5-4814-bb1b-8e99a7ae2fb0" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
  <iframe src="_includes/842a8526-4df2-4063-bf02-97b5f7769cd5.pdf" width="50%" height="250px" type="application/p">
    </iframe>
  <a href="https://verified.elearnsecurity.com/certificates/8d6f3bdb-7c74-4457-a835-ff7626bb2815" target="_blank" rel="noopener noreferrer"> EJPT </a>

</article>
