<!DOCTYPE html>
<html lang="ca-ES">
  <head>
    <meta name="encoding" charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
	<link rel="canonical" href="http://isardmiralles.com/contacte"/>
    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/screen.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/components.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/helpers.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding-about.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/anime.css" />    
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    {% include favicons.html %}
	<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-WXMBJZW');</script>
	<!-- End Google Tag Manager -->

  </head>

  <body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXMBJZW"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<!-- Page content -->
	<div class="page cover-page" id="page">
	{% include partials/navigation/nav-about.html %}
		<header id="page-header" class="about-cover anm-moveFromTop">
			<div>
				<h1 class="anm-moveFromBottomFade delay-100">{{ page.title }}</h1>
			</div>
		</header>
		<main id="page-main">
			<div>
				<section class="thumb-9 anm-moveFromBottomFade delay-200">
					<h1 class="anm-scaleUpCenter delay-400">
					<img src="https://avatars0.githubusercontent.com/u/9498876?s=400&u=aee7e89c69bf3dee9903bc85ec6aa33985148325&v=4" id="avatar" class="anm-scaleUp delay-400" rel="Avatar de Isard Miralles">
					Isard Miralles</h1>
					{{ content }}
					<br>
						<h4 class="anm-scaleUp delay-400"><a href="mailto:isardmt@gmail.com">isardmt@gmail.com</a></h4>
					<strong>
						<em class="anm-scaleUp delay-600"><a href="tel:+34 658973617"><i class="icon-mobile"></i>658973617</a></em>
						<em class="anm-scaleUp delay-700"><a href="https://www.facebook.com/{{ site.footer-links.facebook }}" target="blank"><i class="icon-facebook"></i> Isard Miralles</a></em>
						<em class="anm-scaleUp delay-800"><a href="https://www.twitter.com/{{ site.footer-links.twitter }}" target="blank"><i class="icon-twitter"></i> @isardmt</a></em>
					</strong>
					<br>
				</section>
				<aside class="thumb-3 anm-moveFromRightFade delay-1000">
					<h2>Links</h2>
					<figure>
						<p>Últims treballs</p>
						<em><a href="http://www.oldsteam.com" target="blank"><i class="icon-cloud-upload"></i>OldSteam.com</a></em><br>
						<em><a href="http://www.bonrollo.com" target="blank"><i class="icon-cloud-upload"></i>Bonrollo.com</a></em><br>
						<em><a href="http://www.debillie.net" target="blank"><i class="icon-cloud-upload"></i>debillie.net</a></em><br>
						<em><a href="http://www.videosmanguis.net" target="blank"><i class="icon-cloud-upload"></i>VideosManguis.net</a></em><br>
						<br>
						<p>Enllaços Gratuïts</p>
						<em><a href="https://isardmt.github.io/brushes/"><i class="icon-cloud-download"></i>Ps Brushes</a></em><br>
					</figure>
				</aside>
				<hr>									
			</div>
			{% include partials/credits.html %}
    		{% include partials/coffee.html %}   		
		</main>
		{% include partials/footer.html %}
	</div><!-- /#page -->
	
		<!-- Out of page
		================================================== -->	
    {% include partials/dialog.html %}  
    {% include partials/rights.html %}  

    <!-- Scripts
    ================================================== -->
  	<script src="{{ site.baseurl }}/hipertextos/js/jquery.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/anime.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/icons.js"></script>
    {% include analytics.html %}
  </body>
</html>
