---
layout: default
---

{% assign post = page %}

<article class="post">

  <div class="date">
    Updated on {{ post.date | date: "%e %B %Y" }}
  </div>
  
  {% if post.category %}
      {% for site_category in site.data.categories %}
          {% if site_category.slug == post.category %}
              {% assign category = site_category %}
          {% endif %}
      {% endfor %}
      {% if category %}
          {% capture category_content %} in <span class="label" style="/*background-color:{{ category.color }}*/"><a href="{{ site.baseurl }}/cat/{{ category.slug }}/">{{ category.name }}</a></span>{% endcapture %}
      {% endif %}
  {% else %}
      {% assign category_content = 'in no particular category' %}
  {% endif %}
  
  <p id="post-meta">Posted {{ category_content }}</p>
  
  <h1>{{ post.title }}{% if post.generic %} – {{ post.generic }}{% endif %}</h1>

  <div class="entry">
  
    {% if post.description %}
      <blockquote>{{ post.description }}</blockquote>
    {% endif %}
    
    {% if post.authors %}
      <p>
        <b>Authors</b>: 
        {{ post.authors }}
      </p>
    {% endif %}
    
    <p>
      <b>Links</b>: 
      {% if post.web %}<a href="{{ post.web }}">Web</a>{% endif %} 
      {% if post.github %}<a href="{{ post.github }}">Github</a>{% endif %} 
      {% if post.launchpad %}<a href="{{ post.launchpad }}">Launchpad</a>{% endif %}
    </p>

    {% if post.screenshot %}
      <h3 id="screenshots">Screenshots</h3>
      <img src="{{ post.screenshot }}"/>
    {% endif %}
    
    {% if post.package %}
      <h3 id="installation">Installation</h3>
      {% if post.repository %}
        <b>Behold!</b> Third-party repositories are usually not verified by others. Follow these instructions at your own risk and only if you trust the owner of the repository / developer of the software.
      {% endif %}
    <pre><code>{% if post.repository %}    sudo apt-add-repository {{ post.repository }}
    sudo apt-get update{% endif %}  
    sudo apt-get install {{ post.package }}</code></pre>{% endif %}
    
    {{ content }}
    
  </div>

  {% include disqus.html disqus_identifier=post.disqus_identifier %}
</article>
