---
layout: default
---

<article class="post">
  <h1>{{ page.title }}{% if page.generic %} – {{ page.generic }}{% endif %}</h1>

  <div class="entry">
  
    {% if page.description %}
      <blockquote>{{ page.description }}</blockquote>
    {% endif %}
    
    {% if page.authors %}
      <b>Authors</b>: {{ page.authors }}
    {% endif %}
    
    <b>Links</b>: 
    {% if page.web %}[Web]({{ page.web }}){% endif %} 
    {% if page.github %}[Github]({{ page.github }}){% endif %} 
    {% if page.launchpad %}[Launchpad]({{ page.launchpad }}){% endif %}

    {% if page.screenshot %}
      <h3 id="screenshots">Screenshots</h3>
      <img src="{{ page.screenshot }}"/>
    {% endif %}
    
    {% if page.package %}
      <h3 id="installation">Installation</h3>
      {% if page.repository %}
        <b>Behold!</b> Third-party repositories are usually not verified by others. Follow these instructions at your own risk and only if you trust the owner of the repository / developer of the software.
      {% endif %}
    <pre><code>{% if page.repository %}    sudo apt-add-repository {{ page.repository }}
    sudo apt-get update{% endif %}  
    sudo apt-get install {{ page.package }}</code></pre>{% endif %}
    
    {{ content }}
    
  </div>

  <div class="date">
    Updated on {{ page.date | date: "%e %B %Y" }}
  </div>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>
