{% include head.html %}
{% include sidebar.html %}

<!-- main -->
<main>
    <!-- content -->
    <section class="content">
        {{content}}
    </section>
    <!-- /content -->

    <!-- sidebar -->
    <aside>
        <!-- mod-widget toc -->
        <div class="mod-post-toc">
        </div>
        <!-- /mod-widget toc -->
    </aside>
    <!-- /sidebar -->

</main>
<!-- /main -->

<!-- JS loading toc -->
<script type="text/javascript" src="{{ "/js/toc.js" | prepend: site.baseurl }}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('.mod-post-toc').toc();
    });
</script>
<!-- /JS loading toc -->

{% include footer.html %}
