---
layout: default
meta: 
	<link rel='stylesheet' href='{{ site.baseurl }}/fullcalendar/fullcalendar.min.css' />
	<link rel='stylesheet' href='{{ site.baseurl }}/fullcalendar/fullcalendar.print.min.css' media='print' />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" href='{{ site.baseurl }}/assets/lib/bootstrap.min.css' />
	<script src='{{ site.baseurl }}/fullcalendar/fullcalendar.min.js'></script>
	<script src='{{ site.baseurl }}/fullcalendar/gcal.min.js'></script>
	<script src='{{ site.baseurl }}/assets/js/calendar.js'></script>
---

    <article class="page">
        <h1>{{ page.title }}</h1>
        <div class="entry">
          {{ content }}
        </div>
    </article>
