---
layout: default
---

<div class="posts">
  
  <p>Displaying posts in the category "{{ page.category }}"</p>  
  
  <p>
    All categories: 
    {% for category in site.data.categories %}

      <a href="{{ site.baseurl }}/cat/{{ category.slug }}">{{ category.name }}</a>{% if forloop.last == false %}, {% endif %}

    {% endfor %}
  </p>
  
  {% if site.categories[page.category] %}
    {% for post in site.categories[page.category] %}

      {% include loop.html %}

    {% endfor %}
  {% else %}
      <p>There are no posts for this category.</p>
  {% endif %}

</div>