---
layout: default
---
<div class="categories">
    <h1 class="h1 category-title">
      Topic:&nbsp;{{ page.category-name }}/
    </h1>
    <div class="posts">
      {% for post in site.categories[page.category-name] %}
        <div class="post py3">
          <p class="post-meta">
        {% if site.date_format %}
            {{ post.date | date: site.date_format }}
        {% else %}
            {{ post.date | date: "%b %-d, %Y" }}
        {% endif %}
        </p>
          <a href="{{ post.url | relative_url }}" class="post-link">
            <h3 class="h1 post-title">
              {{ post.title }}
            </h3>
          </a>
          <span class="post-summary">
              {{ post.excerpt }}
          </span>
        </div>
    </div>
</div>
