---
layout: default
---

<h1>{{ page.category | capitalize }}</h1>

{% for category in site.categories %}
  {% if category[0] == page.category %}
    {% assign posts = category[1] %}
  {% endif %}
{% endfor %}

<div class="posts">
  {% for post in posts %}
    <article class="post">

      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
        <div class="date">
          {{ post.date | date: "%B %e, %Y" }}
        </div>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
