---
layout: default
---

<div class="row">
  <div class="col-md-2">
    <!-- Add conditional (on front page) with personal information (freelance) -->
    <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
    <!-- Subscribe mailing list -->
  </div>
  <div id="content" class="mx-auto col-lg-8">
    {{ content }}
  </div>
  <div class="col-md-2">
    <div class="sidebar_profile">
      <img src="/assets/images/profile_pic_2.jpg">
      <p>
      <h3 style="margin: -15px 0 7px 0;">Dorian Brown</h3>
        The big brown dog jumped over the lazy red fox.

        Some more stuff here about data and the world. Great text, the best!
      </p>
      <a href="asdf">Read More</a>
      <p>
        <i class="fab far fa-envelope"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-github"></i>
        <i class="fab fa-stack-overflow"></i>  
        <i class="fab fa-instagram"></i>
      </p>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
    </div>
  </div>
</div>
