<style>
img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
</style>
            <div class="row centered">
            <p align="middle"><small><h3><strong>Hi, :)</strong></h3> My name is Ezequiel, I'm a Mobile Developer (iOS). I love to make things and use technology to solve problems and improve people's lives. Feel free to be in touch :) </small></p>         
            <figure>
    <img src="https://raw.githubusercontent.com/ezefranca/ezefranca.github.io/master/images/1521556197860039.jpg" align="middle" alt="https://raw.githubusercontent.com/ezefranca/ezefranca.github.io/master/images/1521556197860039.jpg" class="shrinkToFit">
    <figcaption>
        <p style="color:gray;"><small><i>Me in front of famous Steve Jobs Garage BY ACCIDENT, It's prohibited. (I jumped from the car and I did not see where it was going 🙃)
</small></i></p>
                </figcaption>
</figure>
            </div>
<form method="POST" action="http://formspree.io/ezequiel.ifsp@gmail.com">
  <input type="email" name="email" placeholder="Your email">
  <textarea name="message" placeholder="Your message"></textarea>
  <button type="submit">Send</button>
</form>
