{% include head.html %}
{% include sidebar.html %}

<!-- main -->
<main>

  <!-- content -->
  <section class="content">
    {{content}}
  </section>
  <!-- /content -->

  <!-- sidebar -->
  <aside>

    <!-- mod-widget recent-articles -->
    <div class="mod-widget recent-articles">
        <h4>Recent Articles</h4>
        <ul>
            {% for post in site.posts limit: 5 %}
            <li>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </li>
            <p class="date">{{ post.date | date_to_long_string }}</p>
            {% endfor %}
        </ul>
    </div>
    <!-- /mod-widget recent-articles -->

  </aside>
  <!-- /sidebar -->

</main>
<!-- /main -->

{% include footer.html %}
