{% include head.html %}
{% include header.html %}

    <!-- Main -->
    <main>

        <!-- Content -->
        <section class="content">
        {{content}}
        </section> <!-- End Content -->

        <!-- Sidebar -->
        <aside>

            <!-- Widget: About me -->
            <div class="mod-widget">
                <h4>About Me</h4>
                <p>
                    I went from architect to full-time web developer.
                    Want to know more about my story?</br>
                    <a href="http://teamtreehouse.com/stories/miriam-tocino" target="_blank">Check this out!</a>
                </p>

                <!-- mod-social-media-list -->
                {% include social-media-list.html %}
                <!-- /mod-social-media-list -->

            </div> <!-- End Widget: About me -->

            <!-- Widget: Recent Writings -->
            <div class="mod-widget">
                <h4>Recent Articles</h4>
                <ul>
                    {% for post in site.posts limit: 5 %}
                    <li>
                        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                    </li>
                    <p class="date">{{ post.date | date_to_long_string }}</p>
                    {% endfor %}
                </ul>
            </div> <!-- End Widget: Recent Writings -->

        </aside> <!-- End Sidebar -->

    </main> <!-- End Main -->

{% include footer.html %}