---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{%- include head.html -%}
<body>
        {%- include header.html -%}
        <div class="container-fluid">
            {{ content }}
        </div>
         <div class="col-lg-12" id="newsletter_footer">
               {%- include blog_newsletter.html -%}
         </div>
        {%- include footer.html -%}
     <script>
            var options = {
                classname: 'progressline',
                id: 'my-id'
            };
            var nanobar = new Nanobar( options );
            nanobar.go( 30 );
            nanobar.go( 76 );
            nanobar.go(100);
        </script>

   <div hidden id="snipcart" data-api-key="Y2I1NTAyNWYtMTNkMy00ODg0LWE4NDItNTZhYzUxNzJkZTI5NjM3MDI4NTUzNzYyMjQ4NzU0"></div>
   <script src="https://cdn.snipcart.com/themes/v3.0.0-beta.3/default/snipcart.js" defer></script>
   <script src="{{site.url}}{{site.baseurl}}/assets/js/mode-switcher.js"></script>
   <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
      <!-- what's new -->
       <script>
        var OlvyConfig = {
          organisation: "{{site.olvy_organization}}",
          target: "#olvy-target",
          type: "{{site.olvy_widget_type}}",
          view: {
            showSearch: true,
            compact: true,
            showHeader: true, /* only applies when widget type is embed. you cannot hide header for modal and sidebar widgets */
            showUnreadIndicator: true,
            unreadIndicatorColor: "#FF8528FF",
            unreadIndicatorPosition: "top-right"
          }
        };
      </script>
      <script type="text/javascript" src="https://app.olvy.co/script.js" defer="defer"></script>
    </body>
</html>