<!DOCTYPE html>
<html lang="ca-ES">
  <head>
    <meta name="encoding" charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
	<link rel="canonical" href="https://isardmiralles.com/portfolio"/>
	
    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/style.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/hipertextos/styles/sheetslider.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/anime.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/css/lightbox.min.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    {% include favicons.html %}
	
	<style type="text/css">
		.preload {display: none;}
	</style>

  	{% if page.parallax %}
	<img class="preload" src="/img/portfoli.jpg" width="1920" height="943">
  	{% endif %}

  </head>

  <body>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXMBJZW"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<!-- Page content -->
	<div class="page gallerist" id="page">
  	{% include partials/navigation/nav-section.html %}  	
      {{ content }}
    {% include partials/footer.html %}
	</div>

    <!-- Scripts
    ================================================== -->
  	<script src="{{ site.baseurl }}/hipertextos/js/jquery.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/sheetslider.min.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/icons.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/anime.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/lightbox.min.js"></script>
    {% include analytics.html %}
  </body>
</html>
