---
layout: default
---

<main class="main column_large_8 column_large_push_2 clearfix">
  
  
  {% for category in site.categories %}
  <section class="category ">
    <header class="clearfix">
      <h2>بازی های {{ category | first }}</h2>
      <button>ادامه بیشتر از دسته بندی</button>
    </header>
    <div class="row">
      <div class="column_large_8">
        <div class="news">
          <figure>
            <img src="{{ site.url }}/assets/img/{{ category.last[0].img_name }}" alt="">
            <figcaption>
              <h2>
                {{category.last[0].title}}
              </h2>
              <p>
                {{ category.last[0].excerpt }}
              </p>
              <a href="{{ site.url }}/{{ category.last[0].url }}"> ادامه مطلب</a>

            </figcaption>

          </figure>
        </div>
      </div>
      <div class="column_large_4">
        {%- if category.last[1] -%}
        <div class="column_large_12">
          <div class="news hast_margin">
            <figure>
              <img src="{{ site.url }}/assets/img/{{ category.last[1].img_name }}" alt="">
              <figcaption>
                <h2>
                  {{category.last[1].title}}
                </h2>
                <p>
                  {{ category.last[1].excerpt }}
                </p>
                <a href="{{ site.url }}/{{ category.last[1].url }}"> ادامه مطلب</a>

              </figcaption>

            </figure>
          </div>
        </div>
        {%- endif -%}
        {%- if category.last[2] -%}
        <div class="column_large_12">
          <div class="news ">
            <figure>
              <img src="{{ site.url }}/assets/img/{{ category.last[2].img_name }}" alt="">
              <figcaption>
                <h2>
                  {{category.last[2].title}}
                </h2>
                <p>
                  {{ category.last[2].excerpt }}
                </p>
                <a href="{{ site.url }}/{{ category.last[2].url }}"> ادامه مطلب</a>

              </figcaption>

            </figure>
          </div>
        </div>
        {%- endif -%}
      </div>
    </div>

  </section>
  {% endfor %}


  <section class="all_news">
    <div class="row">
      {%- for post in site.posts | offset: 6 -%}
      <div class="column_large_4">
        <figure class="news_box">
          <div class="img">
            <img src="{{ site.url }}/assets/img/{{ post.img_name }}" alt="">
          </div>

          <span class="tag">{{post.tags}}</span>
          <figcaption>
            <h2>{{post.title}}</h2>
            <span class="time">{{post.date | date_to_long_string  }}</span>
            <p>
              {{post.excerpt}}
            </p>
            <a href="{{ site.url }}/{{post.url}}" class="readmore">ادامه مطلب</a>
          </figcaption>
        </figure>
      </div>
      {%- endfor -%}

    </div>
    <!-- <div class="loadmore">
      <a href="">محتوای بیشتر</a>
    </div> -->
  </section>
</main>