<!DOCTYPE html>
<html lang="en">

{% include header.html %}

<body class="homepage">
<main>
    
<!-- 'main holder' -->
<div class="container d-flex">   

{% include nav.html %}

{% include brandmarketingscene.html %}


</div>  
<!--end 'main holder' -->

</main>

{% include mainjs.html %}

  
<script src="{{%20site.baseurl%20}}/js/monstera_leaves.js" type="text/javascript"> </script>

<script src="{{%20site.baseurl%20}}/js/item_info.js" type="text/javascript"> </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"> </script>
  
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/MorphSVGPlugin.min.js"> </script>
  
<script src="{{%20site.baseurl%20}}/js/airplant.js" type="text/javascript"> </script>



</body>
</html>