---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
  {% if post.layout != "page" %}
    <article class="post">    
      
      <header>
        <h1 id="{{ post.title }}">{{ post.title }}</h1>
        {% if post.generic %}<p>{{ post.generic }}</p>{% endif %}
      </header>      
    
      <div class="entry">
        {% if post.layout == 'app' %}
		  {% include app_teaser.html %}
        {% else %}
          {{ post.content}}
        {% endif %}
      </div>
      
      <p>
        <div class="date">
          Updated on {{ post.date | date: "%e %B %Y" }}
        </div>
        {% if post.package %}
          <a href="{{ site.baseurl }}{{ post.url }}">
            Read more...
          </a>
        {% endif %}
      </p>
      
    </article>
  {% endif %}
  {% endfor %}
</div>