---
layout: base
---

{% include header.html type="issue" %}
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <style>
    #map{ height: 150px }
  </style>

<div class="container" role="main">
  <div class="row"> <div class="col-md-12"><h2>{{page.issue.title}}</h2> </div> </div>
  <div class="row"> <div class="col-md-4">Descrizione:</div> <div class="col-md-8"> {{page.issue.data.descrizione}}</div> </div>

  {% if page.issue.data.tel != blank %}
  <div class="row"> <div class="col-md-4">Telefono:</div> <div class="col-md-8"> {{page.issue.data.tel}}</div> </div>
  {% endif %}
  {% if page.issue.data.email != blank %}
  <div class="row"> <div class="col-md-4">Email:</div> <div class="col-md-8"> <a href="mailto:{{page.issue.data.email}}">{{page.issue.data.email}}</a></div> </div>
  {% endif %}

  {% if page.issue.image != blank %}
  <div class="row"> <div class="col-md-4">Immagine:</div> <div class="col-md-8"> <img alt="immagine" src="{{page.issue.image}}"></img> </div> </div>
  {% endif %}
  {% if page.issue.data.link != blank %}
  <div class="row"> <div class="col-md-4">Link Fonte:</div> <div class="col-md-8"> <a href="{{page.issue.data.link}}">{{page.issue.data.link}}</a></div> </div>
  {% endif %}

  {% if page.issue.data.indirizzo != blank %}
  <div class="row"> <div class="col-md-4">Indirizzo:</div> <div class="col-md-8"> {{page.issue.data.indirizzo}}</div> </div>
  {% endif %}

  {% if page.issue.lat != blank %}
  <div class="row"> <div class="col-md-4">latitudine:</div> <div class="col-md-8"> {{page.issue.lat}} </div> </div>
  <div class="row"> <div class="col-md-4">longitudine:</div> <div class="col-md-8"> {{page.issue.lon}} </div> </div>
  <div class="row"> <div class="col-md-4">Mappa:</div><div class="col-md-4"> <div id="map"></div> </div> </div>
  {% endif %}

  <div class="row"> <div class="col-md-4">Link Segnalazione:</div> <div class="col-md-8"> <a href="{{page.issue.url}}">{{page.issue.url}}</a></div> </div>
  <div class="row"> <div class="col-md-4">Creato:</div> <div class="col-md-8"> {{page.issue.created_at}} </div> </div>
  <div class="row"> <div class="col-md-4">Aggiornato:</div> <div class="col-md-8"> {{page.issue.updated_at}} </div> </div>

  {% include social-share.html %}

    <div class="disqus-comments">
      {% include disqus.html %}
    </div>

</div>

<script>

// initialize the map
var map = L.map('map').setView([{{page.issue.lat}}, {{page.issue.lon}}], 16);

// create the tile layer with correct attribution
var osmUrl='http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';
var osmAttrib='&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, Tiles courtesy of <a href="http://hot.openstreetmap.org/" target="_blank">Humanitarian OpenStreetMap Team</a>';
var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 19, attribution: osmAttrib});

map.addLayer(osm);

var marker = L.marker([{{page.issue.lat}}, {{page.issue.lon}}]).addTo(map);


</script>
