---
layout: base
---

{% include header.html type="page" %}
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <style>
    #map{ height: 150px }
  </style>

<div class="container" role="main">
  <div class="row"> <div class="col-md-4">Titolo:</div> <div class="col-md-8"> {{page.title}} </div> </div>
  <div class="row"> <div class="col-md-4">Url:</div> <div class="col-md-8"> <a href="{{page.issue.url}}">{{page.issue.url}}</a></div> </div>
  <div class="row"> <div class="col-md-4">id:</div> <div class="col-md-8"> {{page.issue.id}} </div> </div>
  <div class="row"> <div class="col-md-4">created:</div> <div class="col-md-8"> {{page.issue.created_at}} </div> </div>
  <div class="row"> <div class="col-md-4">updated:</div> <div class="col-md-8"> {{page.issue.updated_at}} </div> </div>
  <div class="row"> <div class="col-md-4">lat:</div> <div class="col-md-8"> {{page.issue.lat}} </div> </div>
  <div class="row"> <div class="col-md-4">lon:</div> <div class="col-md-8"> {{page.issue.lon}} </div> </div>
  <div class="row"> <div class="col-md-4">Mappina:</div><div class="col-md-4"> <div id="map"></div> </div> </div>
  <div class="row"> <div class="col-md-4">label:</div> <div class="col-md-8"> {{page.issue.labels}} </div> </div>
  <div class="row"> <div class="col-md-4">milestone:</div> <div class="col-md-8"> {{page.issue.milestone}} </div> </div>
  {% if page.issue.image %}
  <div class="row"> <div class="col-md-4">image:</div> <div class="col-md-8"> <img alt="immagine" src="{{page.issue.image}}"></img> </div> </div>
  {% endif %}
  {% if page.issue.data.link %}
  <div class="row"> <div class="col-md-4">link:</div> <div class="col-md-8"> <a href="{{page.issue.data.link}}">{{page.issue.data.link}}</a></div> </div>
  {% endif %}
  <div class="row"> <div class="col-md-12">{{page.issue.data}}</div></div>

</div>
<script>

// initialize the map
var map = L.map('map').setView([{{page.issue.lat}}, {{page.issue.lon}}], 12);

// create the tile layer with correct attribution
var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 12, attribution: osmAttrib});		

map.addLayer(osm);

var marker = L.marker([{{page.issue.lat}}, {{page.issue.lon}}]).addTo(map);


</script>
