<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content="{{ site.blog.title }}">
  <meta name="author" content="{{ site.author.name }}">
  <meta name="keywords" content="{{ page.title }}, {{ site.blog.name }}, {{ page.title }} - {{ site.blog.name }}">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.blog.title }}{% endif %} - {{ site.blog.name }}</title>
  <link rel="icon" href="/res/img/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/res/img/favicon.ico" type="image/x-icon">
  <link rel="canonical" href="{{ site.blog.url }}{{ page.url }}">
  <link rel="stylesheet" href="/res/css/public.css">
  <link rel="stylesheet" href="/res/css/life.css">
  {% include tongji.html %}
</head>
<body>
  <div class="main">
    <div class="title">{{ page.title }}</div>
    {% if page.meta != false %}<div class="post-info"><i class="fa fa-clock-o"></i>&nbsp;{{ page.date | date: "%Y" }}-{{ page.date | date: "%m" }}-{{ page.date | date: "%d" }}</div>{% endif %}
    <div class="content">
    {{ content }}
    </div>
    {% if page.duoshuo == true %}{% include duoshuo.html %}{% endif %}
  </div>
  <div id="top"><a id="rocket" href="javascript:;" title="返回顶部"><i></i></a></div>
  <script src="/res/js/light.js"></script>
  {% if page.math == true %}<script src="http://cdn.bootcss.com/mathjax/2.4.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script><script>MathJax.Hub.Config({tex2jax:{inlineMath: [['\[','\]']],displayMath: [['$$','$$']]}});</script>{% endif %}
</body>
</html>