    <meta property="og:site_name" content="janusznowak.github.io" />
    <meta property="og:type" content="blog" />
    <meta property="og:title" content="{{ site.name }}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:image" content="{% if page.picture %}{{ page.picture }}{% else %}{{ site.avatar }}{% endif %}" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@JNowwwak">
    <meta name="twitter:url" content="{{ page.url }}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:creator" content="@JNowwwak">
    <meta name="twitter:image:src" content="{% if page.picture %}{{ page.picture }}{% else %}{{ site.avatar }}{% endif %}">
    <link href="//fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
