---
layout: default
---
<article class="page">
  <div class="entry">
  	<h2>Talks</h2>
  	<section class="talks">
										<article>
  	<p>I love learn and share knowledge, because of this I attended a lot of meetups and conferences as watcher, and most recently, as speaker too. </p>
    <p>All my presentations (mostly in portuguese) are available at my <a href="http://speckerdeck.com/ezefranca" class="button">speakerdeck profile</a> </p>
</article>
</section>

  </div>


  <div class="entry">
  <section id="vegan" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Veganism</h2>
									<p> I am vegan since since the beginning of 2017 after one moment of clear thinking. I had the courage and the decancy to confront the hard truth - I was participating in needless acts of violence against animals for the sake of my own pleasure and convenience. <br>
									</p>
									<br>
									<p> I invite you to watch the videos down below and make your choice.</p>
									<section class="features">
										<article>
											<a href="#" class="image"><iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/NvM7C9LlFaU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe></a>
											<h3 class="major">Why Vegan?</h3>
											<p>A non-graphic short film about reasons to choose veganism.</p>
									
										</article>
										<article>
											<a href="#" class="image"><iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/QKWKUU0XQ8U?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe></a>
											<h3 class="major">Peter Dinklage (Tyrion): Face Your Food</h3>
											<p>"Game of Thrones" actor and longtime vegetarian Peter Dinklage narrates "Face Your Food," revealing the ugly truth about that meal on your table and how it got there.</p>
									
										</article>
										<article>
											<a href="#" class="image"><iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/WfGMYdalClU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe></a>
											<h3 class="major">MAN</h3>
											<p>Animation created in Flash and After Effects looking at mans relationship with the natural world.</p>
										
										</article>
										<article>
											<a href="#" class="image"><iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/Xk8bqOLzAzg?rel=0&amp;showinfo=0&amp;yt:cc=on" frameborder="0" allowfullscreen=""></iframe></a>
											<h3 class="major">Earthlings (Documentary)</h3>
											<p>EARTHLINGS is a feature-length documentary about humankind's absolute economic dependence on animals raised as pets, food, clothing, entertainment and scientific research. Using hidden cameras and never-before-seen footage, EARTHLINGS chronicles the day-to-day practices at some of the largest industries in the world, all of which rely entirely on animals for profit.</p>
											
										</article>
									</section>
									<ul class="actions">
										<li><a href="http://www.challenge22.com/challenge22" class="button">Challenge accepted</a></li>
									</ul>
								</div>
							</section>
  </div>
</article>

    <div class="wrapper-footer">
      <div class="container">
         
      </div>
    </div>
