---
layout: default
---
<article class="page">
	  <div class="entry">
  	<h2>Links</h2>
  	<section class="press">
									
  	<p>Links, posts, press, videos etc about me or projects when I worked (mostly in portuguese)</p>
    <ul>
	<li><a href="http://www.mobiletime.com.br/14/12/2017/mudanca-de-dolar-para-real-na-app-store-e-bem-recebida-por-desenvolvedores-nacionais/482925/news.aspx" class="button">(12/2017) Mudança de Dólar para Real na App Store é bem recebida por desenvolvedores nacionais</a></li>
    	<li><a href="http://www.rankmyapp.com.br/blog/grandes-empresas-adaptaram-se-ao-mobile/" class="button">(11/2017) Como grandes empresas adaptaram-se ao mobile</a></li>
	<li><a href="https://imasters.com.br/desenvolvimento/cobertura-da-intercon-2017-parte-02/?trace=1519021197&source=single" class="button">(10/2017) Cobertura do InterCon 2017 – Parte 02</a></li>
	<li><a href="http://www.direitoenegocios.com/newsdino/?title=grupo-impacta-realiza-o-evento-voltado-ao-mercado-de-mobiles&releaseid=128233&partnerid=102" class="button">(05/2017) Grupo Impacta realiza o evento voltado ao mercado de mobiles</a></li>
	<li><a href="https://tecnoblog.net/198930/curso-ios-swift-android-html5-quaddro/" class="button">(05/2016) Crie aplicativos no maior centro de treinamento mobile da América Latina</a></li> 
	<li><a href="http://www.meioemensagem.com.br/home/midia/2016/04/13/app-que-transforma-noticia-em-animacao-vence-hackathon-da-globo.html" class="button">(05/2016) App que transforma notícia em GIF vence hackathon da Globo</a></li>
    <li><a href="http://www.timaissimples.com.br/2016/04/angelhacknaibm/">(04/2016) #AngelHackSP – o dia em que dormi dentro da IBM</a></li>
    <li><a href="http://g1.globo.com/minas-gerais/videos/t/todos-os-videos/v/unifei-em-itajuba-mg-recebe-o-evento-startup-weekend-versao-maker/4432555/">(08/2015) Unifei, em Itajubá (MG), recebe o evento Startup Weekend Versão Maker</a></li>
    <li><a href="http://idgnow.com.br/ti-pessoal/2015/02/08/campus-party-2015-termina-e-premia-projetos-para-internet-das-coisas/">(02/2015) Campus Party 2015 termina e premia projetos para Internet das Coisas</a></li>
    <li><a href="https://twitter.com/telefonicabr/status/564209268988334081">(02/2015) Telefonica Brasil - Twitter</a></li>
    <li><a href="https://itforum365.com.br/tecnologia/internet-das-coisas/app-hora-do-remedio-conectado-a-wearable-ganha-hackathon-na-campus-party">(02/2015) App ‘Hora do Remédio’ conectado à wearable ganha hackathon na Campus Party</a></li>
    <li><a href="https://www.youtube.com/watch?v=L41iN9mmlk4&feature=youtu.be&t=19m16s">(10/2014) Programa Ideias & Invenções - MIX TV N° 08</a></li>
    <li><a href="http://blog.jovempan.uol.com.br/technews/noticias/maratona-hacker-premia-ideias-inovadoras-para-a-industria/" class="button">(09/2014) Maratona Hacker Premia ideias inovadoras para a indústria </a></li>
    <li><a href="http://www.fiesp.com.br/noticias/depois-de-maratona-de-24h-hackathon-divulga-vencedores-de-sua-terceira-edicao/">(09/2014) Depois de maratona de 24h, Hackathon/Fiesp divulga vencedores de sua terceira edição</a></li>
    <li><a href="https://hackathonbrasil.com.br/home/blog/magalhaes-junior-explica-como-a-equipe-polimoto-desenvolveu-um-dos-aplicativos-vencedores-do-hackathonfiesp/">(09/2014) A Equipe PoliMoto desenvolveu um dos aplicativos vencedores do Hackathon/Fiesp</a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
        </ul> 
</section>

  </div>
	
  <div class="entry">
  	<h2>Talks</h2>
  	<section class="talks">
										<article>
  	<p>I love learn and share knowledge, because of this I attended a lot of meetups and conferences as watcher, and most recently, as speaker too. </p>
    <p>All my presentations (mostly in portuguese) are available at my <a href="https://speakerdeck.com/ezefranca" class="button">speakerdeck profile</a> </p>
</article>
</section>

  </div>


  <div class="entry">
  <section id="vegan" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">Veganism</h2>
									<p> I am vegan since since the beginning of 2017 after one moment of clear thinking. I had the courage and the decancy to confront the hard truth - I was participating in needless acts of violence against animals for the sake of my own pleasure and convenience. <br>
									</p>
									<br>
									<p> I invite you to watch the videos down below and make your choice.</p>
									<section class="features">
										<article>
											<a href="#" class="image"><iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/NvM7C9LlFaU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe></a>
											<h3 class="major">Why Vegan?</h3>
											<p>A non-graphic short film about reasons to choose veganism.</p>
									
										</article>
										<article>
											<a href="#" class="image"><iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/QKWKUU0XQ8U?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe></a>
											<h3 class="major">Peter Dinklage (Tyrion): Face Your Food</h3>
											<p>"Game of Thrones" actor and longtime vegetarian Peter Dinklage narrates "Face Your Food," revealing the ugly truth about that meal on your table and how it got there.</p>
									
										</article>
										<article>
											<a href="#" class="image"><iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/WfGMYdalClU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe></a>
											<h3 class="major">MAN</h3>
											<p>Animation created in Flash and After Effects looking at mans relationship with the natural world.</p>
										
										</article>
										<article>
											<a href="#" class="image"><iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/Xk8bqOLzAzg?rel=0&amp;showinfo=0&amp;yt:cc=on" frameborder="0" allowfullscreen=""></iframe></a>
											<h3 class="major">Earthlings (Documentary)</h3>
											<p>EARTHLINGS is a feature-length documentary about humankind's absolute economic dependence on animals raised as pets, food, clothing, entertainment and scientific research. Using hidden cameras and never-before-seen footage, EARTHLINGS chronicles the day-to-day practices at some of the largest industries in the world, all of which rely entirely on animals for profit.</p>
											
										</article>
									</section>
									<ul class="actions">
										<li><a href="http://www.challenge22.com/challenge22" class="button">Challenge accepted</a></li>
									</ul>
								</div>
							</section>
  </div>
</article>

<div><article>
	<h2>My Vegan's stuffs</h2>
 <p>I love to eat and cook, this album shows vegans plates, some made by me :)</p>
<a data-flickr-embed="true" data-header="true" data-footer="true"  href="https://www.flickr.com/photos/ezequielfranca/albums/72157665881073859" title="Vegan"><img src="https://farm5.staticflickr.com/4453/26393894219_8d55ab2eef.jpg" width="500" height="500" alt="Vegan"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
</article></div>
    <div class="wrapper-footer">
      <div class="container">
         
      </div>
    </div>
