{% include header.html %}

<div class="container">

  <div class="main-template">



	<div class="cell border-box-sizing text_cell rendered">
		<div class="prompt input_prompt">
		</div>
			<div class="inner_cell">
			<div class="text_cell_render border-box-sizing rendered_html">
			<h1>{{page.title}}</h1>
			<p>This page is part of a 2 part tutorial on how to implement a recurrent neural network model. You can find the links to the pages of this tutorial here:</p>
			<ul>
				<li><a href="{% post_url 2015-09-27-rnn_implementation_part01 %}">Part 1: Linear recurrent neural network</a></li>
				<li><a href="{% post_url 2015-09-27-rnn_implementation_part02 %}">Part 2: Binary addition with a non-linear RNN</a></li>
			</ul>
			</div>
		</div>
	</div>
    {{ content }}
  </div>

</div><!-- /.container -->

<div class="container">

  <div class="main-template">
  <hr>
    {% include post_social_media.html %}
  </div>

</div><!-- /.container -->

{% include footer.html %}