{% include header.html %}

<div class="container">

  <div class="main-template">



	<div class="cell border-box-sizing text_cell rendered">
		<div class="prompt input_prompt">
		</div>
			<div class="inner_cell">
			<div class="text_cell_render border-box-sizing rendered_html">
			<h1>{{page.title}}</h1>
			<p>This page is part of a 5 (+2) parts tutorial on how to implement a simple neural network model. You can find the links to the rest of the tutorial here:</p>
			<ul>
				<li><a href="{% post_url 2015-06-10-neural_network_implementation_part01 %}">Part 1: Linear regression</a></li>
				<li><a href="{% post_url 2015-06-10-neural_network_implementation_intermezzo01 %}">Intermezzo 1: Logistic classification function</a></li>
				<li><a href="{% post_url 2015-06-10-neural_network_implementation_part02 %}">Part 2: Logistic regression (classification)</a></li>
				<li><a href="{% post_url 2015-06-10-neural_network_implementation_part03 %}">Part 3: Hidden layer</a></li>
				<li><a href="{% post_url 2015-06-10-neural_network_implementation_intermezzo02 %}">Intermezzo 2: Softmax classification function</a></li>
				<li><a href="{% post_url 2015-06-10-neural_network_implementation_part04 %}">Part 4: Vectorization</a></li>
				<li><a href="{% post_url 2015-08-02-neural_network_implementation_part05 %}">Part 5: Generalization of multiple layers</a></li>
			</ul>
			</div>
		</div>
	</div>
    {{ content }}
  </div>

</div><!-- /.container -->

<div class="container">

  <div class="main-template">
  <hr>
    {% include post_social_media.html %}
  </div>

</div><!-- /.container -->

{% include footer.html %}