---
layout: default
---

<div class="page">

  <aside class="alternate-page-template__aside">
    <img src="{{site.url | append: page.feature_image }}" class="alternate-page-template__feature-image">
    <h3>Contact</h3>
    <a href="mailto:{{ page.contact_email }}">{{ page.contact_email }}</a>
  </aside>

  {{ content }}

  <hr>
  <h2>Latest Posts</h2>
  <hr>
  <div class="posts alternate-page-template__posts">
    {% for post in site.posts limit:5%}
    <div class="post">
      <h3 class="post-title">
        <a href="{{ site.baseurl }}/{{ post.url }}">
          {{ post.title }}
        </a>
      </h1>

      <span class="post-date">
        {{ post.date | date_to_string }}
        {% if post.tags != empty %}
        |
        {% for tag in post.tags %}
        <a class="codinfox-tag-mark" href="/tags/#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
        {% endif %}
      </span>

      <p>{{ post.excerpt | remove: '<p>' | remove: '</p>' | truncatewords: 35 }}</p>
      <a href="{{ site.baseurl }}/{{ post.url }}">Full Post...</a>
    </div>
    {% endfor %}
  </div>

</div>
