---
layout: default
---

<nav class="pagination">
<a href="{{ page.postUrl }}">Page 1</a>{% for pageNumber in (2..page.pages) %}<a href="{{ page.postUrl }}page{{ pageNumber }}">Page {{ pageNumber }}</a>{% endfor %}
</nav>

{% for post in site.posts %}{% if post.url == page.postUrl %}
<article class="post">
  <h1 itemprop="headline" class="post-header">{% if post.facebook_post %}<i class="svg-icon facebook social_post"></i>{% elsif post.linkedin_post %}<i class="svg-icon linkedin social_post"></i>{% elsif post.tags contains 'family tree' %}<img src="/images/Family-Tree-icon-40.png" class="social_post" />{% elsif post.tags contains 'html5' %}<img src="/images/HTML5_Logo.svg" class="social_post" style="width: 40px; height: 40px;" />{% endif %}{{ post.title }}</h1>
  
  <hr />
  <div>
    <span itemprop="datePublished" content="{{ post.date | date: "%Y-%m-%d" }}" class="date">{{ post.date | date: "%B %e, %Y" }}</span>
    <meta itemprop="dateModified" content="{% if post.updated %}{{ post.updated }}{% else %}{{ post.date | date: "%Y-%m-%d" }}{% endif %}" />
    <nav class="tags">
      {% assign tags = post.tags | sort %}{% for tag in tags %}<a href="/tags/{{ tag | replace:' ','_' }}/">{{ tag }}</a>{% unless forloop.last %}|{% endunless %}{% endfor %}
    </nav>
  </div>
  <hr />
  
  {% include affiliate-disclosure.html %}

  <div itemprop="articleBody" class="entry{% if post.twitter_post %} twitter-post{% endif %}{% if post.facebook_post %} facebook-post{% endif %}">
    {{ content }}
  </div>
  
</article>

<div class="my-amazon-ad">
  <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&storeId=hendrixjoseph-20&adInstanceId=aea89b6a-ed7e-42a8-a49d-808769b988c9"></script>
</div>

{% endif %}{% endfor %}
