---
layout: default
comments: true
---

  	{% include partials/navigation/nav-article.html %}
		<div id="back-header" class="img-bolo anm-fadeIn delay-600 extra-slow" style="background-image: url('../{{ page.img }}');">
		</div>
		<header id="post-header" class="img-bolo anm-moveFromTop delay-100">
				<h1 id="post-title" class="anm-moveFromBottomFade delay-300">{{ page.title }}</h1>
		</header>
    <main id="page-main">
		<div>
			<article id="page-date" class="post anm-fadeIn delay-600">
				<div id="entry">
					<figure id="post-date">
						<h1>{{ page.day }}</h1>
						<h5>{{ page.month }}</h5>
					</figure>
					<figure id="date-img" class="thumb-4 pushed-2">
						<a href="../{{ page.img }}" data-lightbox="roadtrip"><img src="../{{ page.img }}" alt="Ampliació del cartell de Old Steam"></a>
					</figure>
					<div id="post-info" class="thumb-6">
						<p>Dia: <b>{{ page.day }}</b><br>
						Mes: <b>{{ page.month }}</b><br>
						Any: <b>{{ page.year }}</b><br>
						Hora: <b>{{ page.hora }}</b><br>
						local: <b>{{ page.local }}</b><br>
						Ciutat: <b>{{ page.city }}</b><br>
						Preu: <b>{{ page.price }}</b><br>
						</p>
					</div>
					<hr>
				</div>
		    		<div id="post-content">{{ content }}</div>
				<em><hr></em>
				<aside id="post-share">
					{% include share.html %}
				</aside>
				<div id="date">
    				<p>Publicat el {{ page.date | date: "%e %B , %Y" }}</p>
  				</div>
				<em><hr></em>
					<div>
						<h3><u>Comentaris</u></h3>
						{% include disqus.html %}
					</div>
  					<hr>
			</article>
		</div>
	</main>

