---
layout: default
---

<article class="post">
  <h1 style="background-color: white; border-top: 1px solid rgb(238, 238, 238); color: #1d8229; font-family: Roboto; font-size: 20px; font-stretch: normal; font-variant-east-asian: normal; font-variant-numeric: normal; font-weight: 500; letter-spacing: -0.35px; line-height: normal; margin: 10px 0px; padding: 10px 0px; position: relative; text-align: center; text-transform: uppercase; transition: 0.4s;">{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  
  <!--start button -->
    <div class="svg-wrapper">
      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
          <a href="/"><span class="spot"></span>Home Page</a>
        </div>
      </svg>
    </div>
 <!--End button -->

  {% include disqus.html %}
</article>
