<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/screen.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/components.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/helpers.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
	<!-- Page content -->
	<div class="page" id="page">
  	{% include partials/navigation/nav-section.html %}
	{% include partials/header-serveis.html %}
		<nav id="page-nav" class="nav-scroll">
			<div>
				<a href="#section-web" title="Text">Web</a>
				<a href="#section-brand" title="Forms">Branding</a>
				<a href="#section-paint" title="Tables">Gràfics</a>
				<a href="#section-print" title="Navigation">Imprimir</a>
			 </div>
		</nav>
  	<main id="page-main" class="serveis">
		<section id="resumed">
			<hr>
			<em class="cell-x2"><i class="icon-html5"></i><br>Assesoría</em>
			<em class="cell-x2"><i class="icon-html5"></i><br>Branding</em>
			<em class="cell-x2"><i class="icon-pacman"></i><br>Logos</em>
			<em class="cell-x2"><i class="icon-brushes"></i><br>Disseny Gràfic</em>
			<em class="cell-x2"><i class="icon-html5"></i><br>Disseny Web</em>
			<div class="cell-x2"><i class="icon-html5"></i><br>Redisseny Web</div>
			<div class="cell-x2"><i class="icon-html5"></i><br>Posicionament SEO i SEM</div>
			<div class="cell-x2"><i class="icon-html5"></i><br>Xarxes Socials</div>
			<div class="cell-x2"><i class="icon-html5"></i><br>Blog Coorporatiu</div>
			<div class="cell-x2"><i class="icon-html5"></i><br>Matte Painting</div>
			<hr>
		</section>
		<section id="section-web" style="background-image: url('{{ site.baseurl }}/img/web.jpg');">
			<hr>
			<i class="icon-html5"></i>
			<h2>Disseny Web</h2>
			<h4><small>HTML5 & CSS3</small></h4>
			<div>
				<div class="cell-6 text-left pushed-6">
					<h5>Un Disseny exclusiu per a cada projecte.<br>
					Mola un montón, no t'ho perdis que me se lo quitan de las manos broder, que me se lo quitaaan!<br>
					tu mismo</h5>
				<hr>
					<strong>
						<i class="icon-mobile"></i>
						<i class="icon-tablet"></i>	
						<i class="icon-screen"></i>	
					</strong>
					<h2><small>100% Responsive</small></h2>
				</div>
			</div>
			<hr>
		</section>
		<section id="section-brand" style="background-image: url('{{ site.baseurl }}/img/blog.jpg');">
			<hr>
			<i class="icon-build"></i>
			<h2>Branding</h2>
			<h4><small>Imatge Coorporativa</small></h4>
			<div>
				<h5>Creació de Marca Identitaria. Mola un montón, no t'ho perdis que me se lo quitan de las manos broder</h5>
			</div>
			<hr>
		</section>
		<section id="section-paint" style="background-image: url('{{ site.baseurl }}/img/thumb.jpg');">
			<hr>
			<i class="icon-film"></i>
			<h2>Matte Painting</h2>
			<h4><small>Ilustració & retoc fotogràfic</small></h4>
			<div>
				<h5>Creacions amb Photoshop que molen un montón, no t'ho perdis que me se lo quitan de las manos broder</h5>
			</div>
			<hr>
		</section>
		<section id="section-print" style="background-image: url('{{ site.baseurl }}/img/about2.jpg');">
			<hr>
			<i class="icon-file"></i>
			<h2>Imprimir</h2>
			<h4><small>Treballs per a imprempta</small></h4>
			<div>
				<h5>Treballs per a impressió que molen un montón, no t'ho perdis que me se lo quitan de las manos broder</h5>
			</div>
			<hr>
		</section>	      		
	</main>
    {% include partials/footer.html %}
	</div>

    <!-- Scripts
    ================================================== -->
  	<script src="{{ site.baseurl }}/hipertextos/js/jquery.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/icons.js"></script>
    {% include analytics.html %}
  </body>
</html>
