<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/screen.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/components.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/helpers.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/hipertextos/styles/adding.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
	<!-- Page content -->
	<div class="page" id="page">
  	{% include partials/navigation/nav-section.html %}
	{% include partials/header-serveis.html %}
		<nav id="page-nav" class="nav-scroll">
			<div>
				<a href="#section-web" title="Text">Web</a>
				<a href="#section-brand" title="Forms">Branding</a>
				<a href="#section-paint" title="Tables">Gràfics</a>
				<a href="#section-print" title="Navigation">Imprimir</a>
			 </div>
		</nav>
  	<main id="page-main" class="serveis">
		<section id="section-web" style="background-image: url('{{ site.baseurl }}/img/web.jpg');">
			<hr>
			<i class="icon-html5"></i>
			<h2>Disseny Web</h2>
			<h4><small>HTML5 & CSS3</small></h4>
			<div>
				<div class="cell-6 pushed-6 text-left">
					<h4>Un Disseny exclusiu per a cada projecte.<br>
					Sense Plantilles.</h5>
					<div class="thumb-5">
						<ul>
							<li><b>100% Autogestionable</b></li>
							<li><b>Sense manteniment</b></li>
							<li><b>Posicionament SEO</b></li>
							<li><b>Hosting Gratuït</b></li>
							<li><b>100% responsive</b></li>
						</ul>
						<div id="browsers-ios" class="thumb">
							<em><i class="icon-apple"></i></em>
							<em><i class="icon-android"></i></em>
							<em><i class="icon-windows"></i></em>
							<em><i class="icon-safari"></i></em>
							<em><i class="icon-chrome"></i></em>
							<em><i class="icon-firefox"></i></em>
							<em><i class="icon-opera"></i></em>
							<em><i class="icon-IE"></i></em>
						</div>
					</div>
					<div class="thumb-6">
						<img src="{{ site.baseurl }}/img/responsive.png">
					</div>
					<div class="thumb">
							<h6><a href="xxx">Contactar »</a></h6>
					</div>
				</div>
			</div>
			<div class="thumb-10 pushed-1">
				<section id="resumed-web">
					<em class="cell-x1"><i class="icon-support"></i><br>Assesoría</em>
					<em class="cell-x1"><i class="icon-star"></i><br>Branding</em>
					<em class="cell-x1"><i class="icon-key"></i><br>Logos</em>
					<em class="cell-x1"><i class="icon-lab"></i><br>Disseny</em>
					<em class="cell-x1"><i class="icon-html5"></i><br>Edició Web</em>
					<em class="cell-x1"><i class="icon-landingpage"></i><br>Redisseny Web</em>
					<em class="cell-x1"><i class="icon-target"></i><br>SEO i SEM</em>
					<em class="cell-x1"><i class="icon-share2"></i><br>Xarxes</em>
					<em class="cell-x1"><i class="icon-tag"></i><br>Blog</em>
					<em class="cell-x1"><i class="icon-play"></i><br>Video</em>
				</section>
			</div>
		</section>
		<section id="section-brand" style="background-image: url('{{ site.baseurl }}/img/blog.jpg');">
			<hr>
			<i class="icon-build"></i>
			<h2>Branding</h2>
			<h4><small>Imatge Coorporativa</small></h4>
		<div>
			<div class="thumb-6 text-right">
				<h4>Briefing Creatiu<br>
				Disseny Vectorial<br>
				Xarxes Socials<br>
				Fulls d'estil<br>
				Tipografíes<br>
				Papeleria<br>
				Targetes</h4>
				<h6><a href="xxx">Contactar »</a></h6>
			</div>
		</div>
			<hr>
		</section>
		<section id="section-paint" style="background-image: url('{{ site.baseurl }}/img/thumb.jpg');">
			<hr>
			<i class="icon-film"></i>
			<h2>Matte Painting</h2>
			<h4><small>Ilustració & retoc fotogràfic</small></h4>
			<div>
				<h5>Creacions amb Photoshop que molen un montón, no t'ho perdis que me se lo quitan de las manos broder</h5>
			</div>
			<hr>
		</section>
		<section id="section-print" style="background-image: url('{{ site.baseurl }}/img/about2.jpg');">
			<hr>
			<i class="icon-file"></i>
			<h2>Imprimir</h2>
			<h4><small>Treballs per a imprempta</small></h4>
			<div>
				<h5>Treballs per a impressió que molen un montón, no t'ho perdis que me se lo quitan de las manos broder</h5>
			</div>
			<hr>
		</section>
		<section id="resumed">
			<hr>
			<em class="cell-x1"><i class="icon-support"></i><br>Assesoría</em>
			<em class="cell-x1"><i class="icon-star"></i><br>Branding</em>
			<em class="cell-x1"><i class="icon-rocket"></i><br>Logos</em>
			<em class="cell-x1"><i class="icon-lab"></i><br>Disseny Gràfic</em>
			<em class="cell-x1"><i class="icon-html5"></i><br>Disseny Web</em>
			<em class="cell-x1"><i class="icon-briefcase"></i><br>Redisseny Web</em>
			<em class="cell-x1"><i class="icon-target"></i><br>SEO i SEM</em>
			<em class="cell-x1"><i class="icon-bullhorn"></i><br>Xarxes Socials</em>
			<em class="cell-x1"><i class="icon-bell"></i><br>Blog Coorporatiu</em>
			<em class="cell-x1"><i class="icon-film"></i><br>Matte Painting</em>
			<hr>
		</section>     		
	</main>
    {% include partials/footer.html %}
	</div>

    <!-- Scripts
    ================================================== -->
  	<script src="{{ site.baseurl }}/hipertextos/js/jquery.js"></script>
  	<script src="{{ site.baseurl }}/hipertextos/js/icons.js"></script>
    {% include analytics.html %}
  </body>
</html>
