---
layout: default
---

<div class="posts">
  
  <p>Displaying posts with the tag "{{ page.tag }}"</p>  
  
  <p>
    All tags: 
    {% for tag in site.tags %}

      <a href="{{ site.baseurl }}/tag/{{ tag.slug }}">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}

    {% endfor %}
  </p>
  
  {% if site.tags[page.tag] %}
    {% for post in site.tags[page.tag] %}

      {% include loop.html %}

    {% endfor %}
  {% else %}
      <p>There are no posts for with this tag.</p>
  {% endif %}

</div>