---
layout: default
javascripts: [/js/social.js]
jquery: true
noindex: true
---

<hr />
  <nav class="tags" style="float: none; text-align: center;">
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
      {% capture page_name %}/tags/{{ tag[0] | replace: ' ', '_' }}/{% endcapture %}
      <a href="{{ page_name }}" 
        {% if forloop.first or page.title == tag[0] %}
          class="{% if page.title == tag[0] %}selected{% endif %} {% if forloop.first %}first{% endif %}"
        {% endif %}>
        {{ tag[0] }}
      </a>{% unless forloop.last %}|{% endunless %}
    {% endfor %}
  </nav>
<hr />

{% include posts.html onlytags=page.title %}

{% include navbar.html %}