---
layout: default
---
<div class="cover">

<h1>{{ page.title }}</h1>
{% if page.intro %}
    <p>{{ page.intro }}</p>
{% endif %}

</div>
<div class="entry">
	{{ content }}


<h3>Designing for Meaning</h3>

<blockquote class="salmon">“People are tired of innovation, and they're waiting for meaningful objects. 
<br />Things you get attached to.” 
<br /><br /><i>Hella Jongerius</i></blockquote>

<p>Although I learned a lot from the previous keynotes, the talk that emotionally affected me the most did not come from any of the trendy virtual or augmented reality presentations, but from one of the smaller breakout sessions. Amir Berbic’s recreation of his father’s brand design for their Serbian refugee camp almost made me cry. It was a history lesson that I feel still resonates in today’s world. And it showcased great classic design work that stands the test of time.</p>

<p><img src="../images/wds/berbic.jpg" alt="Amir Berbic, Sahara, Sarajevo Olympics"></p>

<p>It made me think that the greatest stories need not be epic or grand. It can just be as simple as a touching monument of a son to his father. I thought that it was a lovely way to preserve a memory. The preservation of memories had also come up in the only workshop that I had attended. The title of the workshop, “Designing Communications for Collective City Building”, caught my eye because it was related to my current field and one that I wanted to learn more about.</p>

<p><img src="../images/wds/desiredlines.jpg" alt="Desired Lines - Vicki Long and Kerala Woods"></p>

<p>The moderators, Vicki Long and Kerala Woods, run a website and podcast called DesiredLines which connects stories between various city-builders. The workshop itself was an exercise of relational design. Our first activity was to write our city and what we were curious about it on a card. The tables in the room had a theme assigned to them. We then placed our cards on the theme table where it belonged. Then we we sat with the tables whose theme we were the most familiar with.</p>

<p>It was highly productive since there was somebody who asked about farmers markets and they were able to get good tips from another attendee. My question “where to meet locals in Salzburg” was answered by a salsa teacher. It was funny because my Latino classmates have been trying to get me to go to a salsa night in Salzburg.</p>


<div class="fullwidth" style="background: url(../images/wds/citememoire.gif) no-repeat center center fixed;  -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; height: 600px; padding-top: 200px; margin-bottom: 20px;">
<p style="color: white;">I myself tried to answer one of the more difficult questions of “how do we view the memories in a city.” I described my personal experience of Montreal where I had noticed that there were Cite Memoire video projections all over the city. I thought it was a good use of technology, despite a travel buddy telling me she thought it was cheesy.</p>
</div>

<p>Unless you were particularly extroverted, it was quite difficult to talk to people at the actual conference. The afterparties were much more conducive for making connections. They were held at a stylish hidden bar, La Voute, French for “the vault”, inside a historic bank building. I came there with two architects and Luisa Ji, who ran a civic innovation startup. We walked past Montreal’s famous plaza, where one of the architects pointed out the four different architectural styles of that square. </p>

<p>
<img src="../images/wds/placedarmes.jpg" alt="Place d'Armes">
<img src="../images/wds/lavoute.jpg" alt="La Voute"></p>

<p>
<span class="sidenote"><a href="https://www.mattandnat.com" target="_blank"><img src="../images/wds/mattandnat.jpg" alt="Matt and Nat">Matt and Nat Vegan Leather Backpacks</a><br><br>
<a href="https://www.modavie.com/" target="_blank"><img src="../images/wds/modavie.jpg" alt="Modavie">Modavie Jazz bar</a><br>
</span>
Luisa and I were both interested in the communication of data. I told her that I was interested in artificial intelligence and she advised me to look up Element AI who I ended up meeting later. After the conference, when I was looking for a particular bag at Boulevard Saint Laurent, a familiar face popped up and called my name. It was Vicki! Was it by coincidence or design? There must be something in the way this city was arranged, for the two of us to choose our free day to go to the same place. </p>

<p>On Luisa’s advice, I had written to Jean-Philippe, the lead designer of <a href="" target="_blank">Element AI</a> to have a coffee with him. I asked him what were the most important skills a designer should have in the age of AI. I expected him to say something like learning how the algorithms worked but to my surprise, he told me <strong>“humility and empathy.”</strong> Perhaps that is the way forward for the design discipline.</p>

<h3>Will Design fix the problems that Design caused?</h3>

<blockquote>“But must design save the world?<br />Clearly, the very idea implies an arrogance equalled only in the banking sphere.<br /> One discipline cannot save the world.”
<br /><br /><i>Henk Oosterling</i></blockquote>

<p>
<span class="sidenote"><a href="https://www.shapr.co" target="_blank"><img src="../images/wds/shapr.png" alt="Shapr"><br>Luisa recommends Shapr for networking</a><br>
</span>

Meeting other similar minded people like Vicki, Luisa and Jean-Philippe, made me feel quite optimistic about the success of the World Design Declaration that was signed. Good design facilitates meaningful experiences to be shared by people. Design is evolving as something more than just the enjoyment of certain individuals such as its creator.</p>

<p>Ego will destroy a designer. Those who design for their own whims and selfish aesthetic purposes are destined for the past. You can spot a designer who thinks like this if they idolize Howard Roark, the hero of the polarizing Ayn Rand novel, <i>The Fountainhead</i>. Roark is an architect who believes in individualist values above everything else. He thinks that all other architects are conformists and that his talent is misunderstood by society. A major event in the novel is when he blows up a building because the owners strayed from his original design. This assumes that a work is the creation of only one person, however, this completely disregards the other people involved in the process of the construction of the building.</p>

<p>Disaster can happen when designers think that their vision is the only one to be followed and when they don’t listen to consultants or team members. For example, Frank Gehry, a world-renowned architect, designed the Peter B. Lewis building at a business school in Cleveland. Although the structure itself was widely considered to be iconic and inspiring, it was far from perfect. The year that it opened, there was a record snowfall. The sloping shapes of the roof allowed giant stalactites of ice to form on its edges which was a danger to students. Barriers were erected so that students wouldn’t walk near hazardous areas of the building.<sup>1</sup> </p>

<p><img src="../images/wds/gehry.jpg" alt="Peter B. Lewis, Frank Gehry"></p>

<p>Aside from the problems of the exterior, the building also lacked an auditorium. Its biggest room could only hold a maximum of 60. Students also complained about the building’s asymmetry which could lead to students getting lost and stressed in their first weeks of class.<sup>2</sup></p>

<p>New collaborative forms of design are rising such as geodesign, one emerging discipline that my Spatial Analysis professor told me about. Geodesign is a systematic process of measuring, modeling, interpreting, designing, evaluating, and making decisions for the design of built and natural environments. The design framework that Carl Steinitz proposes<sup>3</sup> can be molded and applied to serve other design disciplines such as designing network architectures or the whole internet itself. This is the new paradigm for how we will build a <i>gesamtkunstwerk</i>. </p>

<p><img src="../images/wds/geodesignframework.jpg" alt="Geodesign Framework, Carl Steinitz"></p>

<p>Oosterling concludes, “Relational design gives us then the opportunity to go beyond hyperconsumerism and individualism. What will design become in the twenty-first century? Design, which like art finds itself at a loss thanks to its smashing success, faces the task this century of developing itself as a living discourse. Relational design is the overture to a creative lifestyle whose cornerstones will be ecopolitical sustainability and geopolitical responsibility… The transformation of that throwaway culture into an ecopolitical design culture seems to me to be a precondition if people are to continue to live together.” </p>

<p>The notion of “good design for a better world” is not new. This politico-aesthetic
discourse was elaborated in pre-WW2 magazines like Wendingen and De Stijl<sup>4</sup>.
However, the acceleration of technological advances has made the stakes even higher. It is not surprising that designers are becoming more political as Fast Company has predicted. The World Design Summit is not alone this year in tackling the question of how design can save the world. The What Design Can Do conference is also joined by the Design Commons in Helsinki and the EDIT festival in Toronto. Hopefully, there will be even more in the future.</p>

<p>Design can save the world but not by itself. Designers aren’t dictators, rather they are mediators. We must be open-minded enough to work together not only with other professionals beyond our field but with everyone in the world. As Don Norman says “we are all designers” and design is relational by definition.</p>

<h3>References</h3>
<p>1. Capps, K. (2013). “When Buildings Attack” <i>New Yorker</i>. 
	Accessed from <a href="http://nymag.com/news/intelligencer/buildings-attack-2013-9/" target="_blank">http://nymag.com/news/intelligencer/buildings-attack-2013-9/</a> 
<br><br>
2. Litt, S. (2012). "Now 10 years old, the Peter B. Lewis Building is quietly transforming business education at CWRU" <i>Cleveland Blog</i>. Accessed from <a href="http://blog.cleveland.com/architecture/2012/11/the_10-year_old_peter_b_lewis.html" target="_blank">http://blog.cleveland.com/architecture/2012/11/the_10-year_old_peter_b_lewis.html</a> 
<br><br>
3. Wheeler, C. (2012). "A Conversation with Carl Steinitz" <i>ArcWatch: GIS News, Views, and Insights</i>. Accessed from <a href="http://www.esri.com/news/arcwatch/0412/a-conversation-with-carl-steinitz.html" target="_blank">http://www.esri.com/news/arcwatch/0412/a-conversation-with-carl-steinitz.html</a> 
<br><br>
4. Fairs, M. (2017). "Can designers save the world?" <i>Dezeen</i>. Accessed from <a href="https://www.dezeen.com/2017/10/02/marcus-fairs-dutch-design-week-opinion-good-design-bad-world/" target="_blank">https://www.dezeen.com/2017/10/02/marcus-fairs-dutch-design-week-opinion-good-design-bad-world/</a>
<br>

</p>

<p><i>Stay tuned for my next post about Science Fiction Reality coming soon!</i><br><br> <a href="https://twitter.com/hailmika" target="_blank" alt="Twitter hailmika">Follow me on Twitter</a> or <a href="https://www.facebook.com/hailmika/" target="_blank" alt="Facebook hailmika">like my Facebook page</a> to subscribe for updates.</p>


	<div class="date">
	Written on {{ page.date | date: "%B %e, %Y" }}
	</div>

	<div class="social">
		<span class='st_facebook_hcount' displayText='Facebook'></span>
		<span class='st_twitter_hcount' displayText='Tweet'></span>
		<span class='st_tumblr_hcount' displayText='Tumblr'></span>
		<span class='st_pinterest_hcount' displayText='Pinterest'></span>
	</div>

	<div id="disqus_thread">
	{% include disqus.html disqus_identifier=page.disqus_identifier %}
	</div>

</div>