---
layout: default
---

add pagination previous/next buttons here

<section class="card">
  <h1>Global Thinking Site Refresh</h1>
  <p>During the summer and fall semester of 2014, I was employed as a co-op by Global Thinking, an awesome creative agency in Washington DC. My major project was to refresh the entire company site. I was the sole developer of this project working cooperatively with one of Global's designers and project managers. For comparison, the image below shows <a href="http://globalthinking.com">globalthinking.com</a> before the refresh:</p>

  <figure style="width:80%;padding-left:10px;padding-right:10px;border:1px solid red;margin:0 auto;">
    <img src="/images/gtsite_old.jpg" alt="Old Globalthinking Site">
  </figure>

  <p style="text-align:center;">Here is what the current site looks like. NOTE: this is still a work in progress.</p>

  <figure style="width:80%;padding-left:10px;padding-right:10px;border:1px solid red;margin:0 auto;">
    <img src="/images/gtsite_new.jpg" alt="Old Globalthinking Site">
  </figure>
</section>
