---
layout: default
---

<section class="card">
  <h1>Global Thinking Site Refresh</h1>
  <p>During the summer and fall semesters of 2014, I was employed as a co-op by Global Thinking, an awesome creative agency in Washington DC. My major project was to refresh the entire company site. I was the sole developer of this project working cooperatively with one of Global's designers and project managers. For comparison, the image below shows <a href="http://globalthinking.com">globalthinking.com</a> before the refresh:</p>

  <figure>
    <img src="/images/gtsite_old.jpg" alt="Old Globalthinking Site">
  </figure>

  <p class="caption">Initial home page completion: </p>

  <figure>
    <img src="/images/gtsite_new.jpg" alt="Old Globalthinking Site">
  </figure>
</section>

<section class="change-case clearfix">
	<div id="prev">
		<div class="case-wrapper">
			<!--<a class="icon-prev" href="#"></a>-->
			<div class="prev-wrapper">
        <a href="#">
					<p>Project Name</p>
					<p class="change-case-txt">Previous Project</p>
				</a>
			</div>
		</div>
	</div>

  <div id="push"></div>

	<div id="next">
		<div class="case-wrapper">
			<!--<a class="icon-next" href="#"></a>-->
			<div class="next-wrapper clearfix">
				<a href="/work/motleyfool" title="Next Project">
					<p>Motley Fool Referral</p>
					<p class="change-case-txt">Next Project</p>
				</a>
			</div>
		</div>
	</div>
</section>
