/*------------------------------------*\
    FOOTER
\*------------------------------------*/

.main-footer {

    // S
    @include breakpoint($breakpoint-s) {
        @include layout($s-layout);
        @include container(full);

        border-top: 2px solid $gray-darker;
        padding-top: 20px;
        margin-top: 40px;
        text-align: center;

        .impressum {
            a {
                margin: 10px;
                font-weight: 500;

                &:hover { font-weight: 500; }
            }
        }
    };

    // M
    @include breakpoint($breakpoint-m) {
        @include layout($m-layout);
    };

    // L
    @include breakpoint($breakpoint-l) {
        @include layout($l-layout);
        @include container(full);

        text-align: left;

        .copyright { float: left; }

        .impressum {
            float: right;

            a { margin: 0 0 0 20px; }
        }
    };
}