/*------------------------------------*\
    #MAIN-HEADER
\*------------------------------------*/

.main-header {

    // S
    @include breakpoint($breakpoint-nav-s) {
        @include layout($s-layout);
        @include container(full);

        border-bottom: 2px solid $gray-darker;
        padding-bottom: em(20px);

        .logo {
            text-align: center;


            h1 { font-size: 27px; }
        }

        .main-nav {

            text-align: center;
            padding-top: 20px;

            a {
                margin-left: 15px;
                text-transform: uppercase;
                font-weight: 500;

                &:hover, &.current {
                    border-bottom: 2px solid $color-primary;
                    color: $color-primary;
                }
            }
        }
    };

    // M
    @include breakpoint($breakpoint-m) {
        @include layout($m-layout);
    };

    // L
    @include breakpoint($breakpoint-nav-l) {
        @include layout($l-layout);
        @include container(full);

        .logo {
            float: left;
            text-align: left;
        }

        .main-nav {
            float: right;

            text-align: right;
            padding-top: 35px;
        }
    };
}