/*------------------------------------*\
    MAIN-SIDEBAR
\*------------------------------------*/

.main-sidebar {

    // S
    @include breakpoint($breakpoint-s) {
        @include layout($s-layout);
        @include container(full);
        padding: 1.2em 1.8em;
        background-color: $gray-lighter;
        text-align: center;

        .logo {
            text-align: center;
            h1 { font-size: em(27px); }
        }

        .about-me {
            h4 {
                font-weight: 500;
                border-bottom: 1px solid $gray;
                padding-bottom: .5em;
            }
        }

        nav {
            .nav__item {
                display: inline-block;
                list-style: none;

                a {
                    margin-left: em(5px);
                    margin-right: em(5px);
                    text-transform: uppercase;
                    font-weight: 500;

                    &:hover, &.current {
                        border-bottom: 2px solid $color-primary;
                        color: $color-primary;
                    }
                }
            }
        }
    };

    // M
    @include breakpoint($breakpoint-m) {
        @include layout($m-layout);
    };

    // L
    @include breakpoint($breakpoint-l) {
        @include layout($l-layout);
        @include span(3);
        padding: 1.2em 1.8em;
        height: 100%;
        position: fixed;
        text-align: left;

        .logo {
            text-align: left;
            h1 {
                font-size: em(27px);
                padding-bottom: 1em;
            }
        }

        nav {
            padding-top: 0;
            .nav__item {
                display: block;
                text-align: left;
                margin-left: 0;
                margin-bottom: .25em;

                a {
                    margin-left: 0;
                }
            }
        }
    };
}