/*------------------------------------*\
    MAIN
\*------------------------------------*/

main {

    // S
    @include breakpoint($breakpoint-s) {
        @include layout($s-layout);
        @include container(full);
        padding: 2em 1.8em 0 1.8em;
        min-height: 100%;
        margin-bottom: -100px;

        &:after {
            content: "";
            display: block;
            height: 100px;
        }
    };

    // M
    @include breakpoint($breakpoint-m) {
        @include layout($m-layout);
    };

    // L
    @include breakpoint($breakpoint-l) {
        @include layout($l-layout);
        @include span(9 at 4);
        padding: 3em 2em;
    };
}