{% if include.params.article %}
  {% assign article = include.params.article %}
{% endif %}

{% if include.params.lang %}
  {% assign lang = include.params.lang %}
{% else %}
  {% assign lang = lang | default: site.lang | default: "en" %}
{% endif %}

{% assign words = article | number_of_words %}

{% if lang != "en" %}
  {% assign words = words
    | times: 0.6
    | round %}
  {% assign words = article
    | strip_html
    | strip_newlines
    | size
    | times: 0.4
    | plus: words
    | round %}
{% endif %}

{% assign return = words %}
