/*------------------------------------*\
    BASE
\*------------------------------------*/

// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing
* {
    @include box-sizing(border-box);
}
*:before,
*:after {
    @include box-sizing(border-box);
}

// Body reset
// -------------------------

html, body {
    height: 100%;
}

body {
    background: $body-bg;
    font-family: $font-family--primary;
    font-size: $base__font-size;
    line-height: $base__line-height;
    color: $text-color;
    font-weight: $text-weight;
    overflow-x: hidden;
    position: relative;
    background: transparent url("../../images/tile-graphpaper.jpg") 50% 0;
}

// Reset fonts for relevant elements
// -------------------------

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

// Links
// -------------------------

a {
    color: $link-color; text-decoration: none; font-weight: 700;
    @include transition(150ms);

    &:hover,
    &:focus {
        color: $link-hover-color;
        text-decoration: none;
    }

    &:focus {
        @include tab-focus();
    }
}

// Horizontal rules
// -------------------------

hr {
    border: 0;
    clear: both;
    width: 100%;
    height: 1px;
    border-top: 1px solid $hr-border;
    margin-top: $line-height-computed;
    margin-bottom: $line-height-computed;
}

// Browse Happy
// -------------------------

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Images
// -------------------------

img {
    width:100%;
    height:100%;
    display:block;
}

// Lists
// -------------------------

ul {
    padding-left: 0;
}

// Selection
// -------------------------

::selection {
    background: $color-primary;
    color: $white;
}

// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;

    small,
    .small {
        font-weight: 400;
        line-height: 1;
        color: $headings-small-color;
        display: inline-block;
    }
}

h1, .h1,
h2, .h2,
h3, .h3 {
    margin-top: $line-height-computed;
    margin-bottom: ($line-height-computed / 2);

    small,
    .small {
        font-size: 65%;
    }

    span {
        font-weight: 400;
    }
}
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: ($line-height-computed / 2);
    margin-bottom: ($line-height-computed / 2);

    small,
    .small {
        font-size: 75%;
    }
}

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

// Body text
// -------------------------

p { margin: 0 0 ($line-height-computed / 2); }

// Emphasis & misc
// -------------------------

strong {
    font-weight: 700;
    color: $link-color;
}
em { font-style: italic; }

// Blockquotes
// -------------------------

blockquote {
    padding: ($line-height-computed / 2) $line-height-computed;
    margin: 15px 0;
    font-size: $blockquote-font-size;
    border-left: 5px solid $blockquote-border-color;

    p,
    ul,
    ol {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

// Quotes
// -------------------------

blockquote:before,
blockquote:after {
    content: "";
}

// Tables
// -------------------------

table {
    background-color: $table-bg;
}
th {
    text-align: left;
}

// Baseline styles

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: $line-height-computed;
    // Cells
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding: $table-cell-padding;
                line-height: $base__line-height;
                vertical-align: top;
                border-top: 1px solid $table-border-color;
            }
        }
    }
    // Bottom align for column headings
    > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid $table-border-color;
    }
    // Remove top border from thead by default
    > caption + thead,
    > colgroup + thead,
    > thead:first-child {
        > tr:first-child {
            > th,
            > td {
                border-top: 0;
            }
        }
    }
    // Account for multiple tbody instances
    > tbody + tbody {
        border-top: 2px solid $table-border-color;
    }

    // Nesting
    .table {
        background-color: $body-bg;
    }

    > thead {
        background-color: $gray-lighter;
    }
}

table {
    border: 1px solid $table-border-color;
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                border: 1px solid $table-border-color;
            }
        }
    }
    > thead > tr {
        > th,
        > td {
            border-bottom-width: 2px;
        }
    }
}

// Code
// -------------------------

pre, pre code, pre kbd, pre samp {
    color: $white;
}

pre {
    background-color: $gray-darker;
    padding: 10px;
}

p code {
    background-color: $gray-lighter;
    padding: 0 .5em;
}

code {
    white-space: pre;
    word-wrap: normal;
    overflow: auto;
}

.highlight {
    pre {
        overflow-x: scroll;

        code {
            /* Line Number */
            .lineno {
                border-right: 2px solid $gray;
                padding-right: 5px;
                color: $gray;
            }
            .hll { background-color: #49483e }
            .c { color: $color-primary } /* Comment */
            .err { color: #960050; background-color: #1e0010 } /* Error */
            .k { color: #66d9ef } /* Keyword */
            .l { color: #ae81ff } /* Literal */
            .n { color: #f8f8f2 } /* Name */
            .o { color: #f92672 } /* Operator */
            .p { color: #f8f8f2 } /* Punctuation */
            .cm { color: $gray } /* Comment.Multiline */
            .cp { color: $gray } /* Comment.Preproc */
            .c1 { color: $color-primary } /* Comment.Single */
            .cs { color: $gray } /* Comment.Special */
            .ge { font-style: italic } /* Generic.Emph */
            .gs { font-weight: bold } /* Generic.Strong */
            .kc { color: #66d9ef } /* Keyword.Constant */
            .kd { color: #66d9ef } /* Keyword.Declaration */
            .kn { color: #f92672 } /* Keyword.Namespace */
            .kp { color: #66d9ef } /* Keyword.Pseudo */
            .kr { color: #66d9ef } /* Keyword.Reserved */
            .kt { color: #66d9ef } /* Keyword.Type */
            .ld { color: #e6db74 } /* Literal.Date */
            .m { color: #ae81ff } /* Literal.Number */
            .s { color: #e6db74 } /* Literal.String */
            .na { color: #a6e22e } /* Name.Attribute */
            .nb { color: #f8f8f2 } /* Name.Builtin */
            .nc { color: #a6e22e } /* Name.Class */
            .no { color: #66d9ef } /* Name.Constant */
            .nd { color: #a6e22e } /* Name.Decorator */
            .ni { color: #f8f8f2 } /* Name.Entity */
            .ne { color: #a6e22e } /* Name.Exception */
            .nf { color: #a6e22e } /* Name.Function */
            .nl { color: #f8f8f2 } /* Name.Label */
            .nn { color: #f8f8f2 } /* Name.Namespace */
            .nx { color: #a6e22e } /* Name.Other */
            .py { color: #f8f8f2 } /* Name.Property */
            .nt { color: #f92672 } /* Name.Tag */
            .nv { color: #f8f8f2 } /* Name.Variable */
            .ow { color: #f92672 } /* Operator.Word */
            .w { color: #f8f8f2 } /* Text.Whitespace */
            .mf { color: #ae81ff } /* Literal.Number.Float */
            .mh { color: #ae81ff } /* Literal.Number.Hex */
            .mi { color: #ae81ff } /* Literal.Number.Integer */
            .mo { color: #ae81ff } /* Literal.Number.Oct */
            .sb { color: #e6db74 } /* Literal.String.Backtick */
            .sc { color: #e6db74 } /* Literal.String.Char */
            .sd { color: #e6db74 } /* Literal.String.Doc */
            .s2 { color: #e6db74 } /* Literal.String.Double */
            .se { color: #ae81ff } /* Literal.String.Escape */
            .sh { color: #e6db74 } /* Literal.String.Heredoc */
            .si { color: #e6db74 } /* Literal.String.Interpol */
            .sx { color: #e6db74 } /* Literal.String.Other */
            .sr { color: #e6db74 } /* Literal.String.Regex */
            .s1 { color: #e6db74 } /* Literal.String.Single */
            .ss { color: #e6db74 } /* Literal.String.Symbol */
            .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
            .vc { color: #f8f8f2 } /* Name.Variable.Class */
            .vg { color: #f8f8f2 } /* Name.Variable.Global */
            .vi { color: #f8f8f2 } /* Name.Variable.Instance */
            .il { color: #ae81ff } /* Literal.Number.Integer.Long */

            .gh { } /* Generic Heading & Diff Header */
            .gu { color: $gray; } /* Generic.Subheading & Diff Unified/Comment? */
            .gd { color: #f92672; } /* Generic.Deleted & Diff Deleted */
            .gi { color: #a6e22e; } /* Generic.Inserted & Diff Inserted */
        }
    }
}

// Mark
// -------------------------

mark {
    background-color: $color-primary;
    color: $white;
}
