/* leny/kouto-swiss
 *
 * /src/stylus/styles.sty - Main stylesheet
 *
 * coded by leny@flatLand!
 * started at 07/12/2016
 */

// 0. Imports
@import "kouto-swiss"

// 1. Settings - global variables
@import "settings/*"

// 2. Tools - mixins, functions & tools
@import "tools/*"

// 3. Generic - reset
normalize()
box-sizing-reset()

// 4. Base - raw elements
@import "base/*"

// 5. Objects - cosmetic-free design patterns
@import "objects/*"

// 6. Components - designed components
@import "components/*"

// 7. Trumps - helpers & overrides
// @import "trumps/*"
