/* leny/kouto-swiss
 *
 * /src/stylys/objects/documentation.styl - Documentation object
 *
 * coded by leny@flatLand!
 * started at 26/12/2016
 */

.documentation
    padding 0 1rem

+media-query( screen, min-width 960px )
    .documentation
        clear fix
        padding 0
        .content
            width 70rem
            float left
