/* leny/kouto-swiss
 *
 * /src/stylus/objects/wrapper.styl - Wrapper object
 *
 * coded by leny@flatLand!
 * started at 26/12/2016
 */

.wrapper
    // …

+media-query( screen, min-width 960px )
    .wrapper
        width 92rem
        margin 0 auto
